<div class="mod_header">
    <div style="display: flex; height: 200px; background-color: silver">
        <div>
            <img src="/wiki/assets/imgs/test.jpg">
        </div>
        <div style="margin-left: 40px; display: flex; flex-direction: column; height: 100%">
            <h3>这是一本测试的书籍</h3>
            <div style="display: flex;">
                <div>
                    <div>作者：李宇</div>
                    <div>页数：145</div>
                    <div>阅读：12345</div>
                    <div>收藏：2345</div>
                </div>
                <div style="align-self: flex-end; margin-left: 20px">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-link"></span></button>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-star-empty"></span></button>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-phone"></span></button>
                </div>
            </div>
            <div style="align-self: flex-end;">
                <a>开始阅读</a>
            </div>
        </div>
    </div>


    <div style="margin-top: 20px">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Introduction" data-toggle="tab">介绍</a></li>
            <li><a href="#Comment" data-toggle="tab">评论</a></li>
        </ul>
        <div class="tab-content" style="height: 300px; border: 1px solid silver">
            <div class="tab-pane fade in active" id="Introduction">
                <p>测试书籍</p>
            </div>
            <div class="tab-pane fade" id="Comment">
                <p>评论</p>
            </div>
        </div>
    </div>

    <div>
        <h4>更多推荐</h4>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>

            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>

            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>


            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>

            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>

            <div>
                <div>
                    <img src="/wiki/assets/imgs/test.jpg">
                </div>
                <h5>这是一本测试书籍</h5>
            </div>
        </div>
    </div>
</div>
