<div ng-controller="gameSiteCtrl">
    <!--背景-->
    <div  style="position: relative">
        <div style="z-index: -1; position: absolute;">
            <img src="/wiki/assets/imgs/3DGameBG.jpg" class="img-responsive" >
        </div>
    </div>

    <!--头部-->
    <div style="position: relative;">
        <img src="/wiki/assets/imgs/3DGameHead.jpg" class="img-responsive">
        <div style="position: absolute; left: 820px; top: 360px;">
            <button class="btn" style="width: 135px; height: 85px; border-radius: 18px; background-color: rgb(37,69,255); border: 0px; font-size: 21px; color: white">
                比赛规则
            </button>
            <button class="btn" ng-click="goWorksApplyPage()" style="width: 135px; height: 85px; border-radius: 18px; background-color: rgb(132,37,255); margin-left: 20px; border: 0px;font-size: 21px; color: white">
                我要投稿
            </button>
        </div>
    </div>

    <div style="background-color: rgb(255,167,157)">
        <div class="row" style="height: 220px">
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; background-color: rgb(255,180,0); display: flex; justify-content: center">
                        <div style="align-self: center; color: white">
                            <div style="text-align: center; font-size: 20px">
                                投稿期
                            </div>
                            <div style="text-align: center; font-size: 20px">
                                12.1-12.30
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; background-color: rgb(43,194,226); display: flex; justify-content: center">
                        <div style="align-self: center; color: white">
                            <div style="text-align: center; font-size: 20px">
                                评选期
                            </div>
                            <div style="text-align: center; font-size: 20px">
                                1.1-1.10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; background-color: rgb(233,69,131); display: flex; justify-content: center">
                        <div style="align-self: center; color: white">
                            <div style="text-align: center; font-size: 20px">
                                公布结果
                            </div>
                            <div style="text-align: center; font-size: 20px">
                                1.12
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row" style="height: 220px">
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; display: flex; justify-content: center; align-items: center">
                        <div style="font-size: 36px">
                            <div style="text-align: center; color: red">{{statics.memberCount}}</div>
                            <div style="font-size: 24px">参赛作者</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; display: flex; justify-content: center; align-items: center">
                        <div style="font-size: 36px">
                            <div style="text-align: center; color: red">{{statics.worksCount}}</div>
                            <div style="font-size: 24px">参赛作品</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height: 100%">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%">
                    <div style="border-radius: 50%; width: 156px; height: 156px; display: flex; justify-content: center; align-items: center">
                        <div style="font-size: 36px;">
                            <div style="text-align: center; color: red">{{statics.upgradeWorksCount}}</div>
                            <div style="font-size: 24px">入围作品</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 最近更新 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">入围作品</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllUpgradeList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getUpgradelList(upgradeParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px;" ng-repeat="site in upgradeObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getUpgradelList(upgradeParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <!-- 最新上传 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">最新上传</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllLatestList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getLatestList(latestParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px;" ng-repeat="site in latestObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!latestObj.siteList || latestObj.siteList.length < 4" style="height: 280px; width: 100%"></div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getLatestList(latestParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <!-- 全部作品 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">全部作品</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllAllSiteList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getAllSiteList(allSiteParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px" ng-repeat="site in allSiteObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getAllSiteList(allSiteParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <div>
        <img src="/wiki/assets/imgs/3DGameJudges.png" class="img-responsive">
        <div class="row" style="padding-bottom: 80px">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-4" ng-repeat="user in judgeObj.userList">
                        <div style="display: flex; align-items: center; padding: 10px 0px">
                            <img ng-src="{{user.portrait || '/wiki/assets/imgs/ManPortrait.jpg'}}" class="img-circle" style="height: 60px">
                            <div style="margin-left: 12px">
                                <div style="font-size: 18px">{{user.username}}</div>
                                <div style="font-size: 12px">{{user.desc}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <img src="/wiki/assets/imgs/3DGameRule.jpg" class="img-responsive">
    </div>
</div>
