<!--大赛规则介绍-->
<wiki-block path="/background/default" background-image="url(\'/wiki/assets/imgs/3DGameBG.jpg\')"></wiki-block>
<wiki-block path="header/gameHeader"></wiki-block>
<wiki-block path="game/gamedate" contribute-date="12.1-12.30" vote-date="1.1-1.10" result-date="1.12"></wiki-block>
<wiki-block path="statics/gameStatics"></wiki-block>
<wiki-block path="works/workslist" title="入围作品" type="upgrade"></wiki-block>
<wiki-block path="works/workslist" title="最新上传" type="latestNew" page-size="6"></wiki-block>
<wiki-block path="works/workslist" title="全部作品" type="all"></wiki-block>
<wiki-block path="user/userlist" title="评委成员" type="judge"></wiki-block>
<div class="container"><img src="/wiki/assets/imgs/3DGameRule.jpg" class="img-responsive"></div>
