<!-- [/background/default]({"color":"rgb(255,244,216)", "imageUrl":"/wiki/assets/imgs/3DGameBG.jpg"}) -->
<!-- [/header/gameHeader]({}) -->
<!-- [/game/gamedate]({"contributeDate":"12.1-12.30","voteDate":"1.1-1.10", "resultDate":"1.12"}) -->
<!-- [/statics/gameStatics]({}) -->
<!-- [/works/workslist]({"title":"入围作品", "type":"upgrade"}) -->
<!-- [/works/workslist]({"title":"最新上传", "type":"latestNew", "pageSize":6}) -->
<!-- [/works/workslist]({"title":"全部作品", "type":"all"}) -->
<!-- [/user/userlist]({"title":"评委成员", "type":"judge"}) -->

<!--大赛规则介绍-->
<div>
    <img src="/wiki/assets/imgs/3DGameRule.jpg" class="img-responsive">
</div>