<wiki-block path="/background/default" background-color="rgb(255,244,216)"></wiki-block>
<wiki-block path="header/organizationHeader"></wiki-block>
<wiki-block path="statics/organizationStatics"></wiki-block>
<wiki-block path="works/workslist" title="最近更新" type="latestUpdate"></wiki-block>
<wiki-block path="works/workslist" title="热门精选" type="hot" page-size="6"></wiki-block>
<wiki-block path="works/workslist" title="全部作品" type="all"></wiki-block>
<wiki-block path="user/userlist" title="成员信息" type="all"></wiki-block>