<div ng-controller="organizationSiteCtrl" style="background-color: rgb(255,244,216);">
    <div style="position: relative; height: 552px">
        <img src="/wiki/assets/imgs/OrgHeaderBackground.jpg" class="img-responsive">
        <div style="position: absolute; top: 350px; left: 120px;">
            <div style="font-size: 24px; color: rgb(101,130,190)">
                <div>
                    位置 {{userinfo.location}}
                </div>
                <div>
                    成立于 {{siteinfo.createDate}}
                </div>
            </div>
        </div>
        <div style="position: absolute; top: 145px;left: 425px; width: 275px">
            <img ng-src="{{ siteinfo.logoUrl || '/wiki/assets/imgs/OrgLogo.jpg'}}" class="img-circle img-responsive">
        </div>

        <div style="position: absolute; top: 465px; width:100%; display: flex; justify-content: center;font-size: 22px">
            {{siteinfo.desc}}
        </div>

        <div style="position: absolute; left: 765px; top: 340px;">
            <button ng-click="memberApply()" style="background: none; border-radius: 50%" class="btn"><img src='/wiki/assets/imgs/AddUser.jpg' class="img-circle" style="width: 100px; height: 100px"></button>
        </div>
    </div>


    <div style="background-color: rgb(246,221,199); height: 140px; font-size: 30px">
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div>
                <div style="text-align: center; color: red">{{statics.worksCount}}</div>
                <div >全部成员</div>
            </div>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div >
                <div style="text-align: center; color: red">{{statics.weekRenewalCount}}</div>
                <div>本周更新</div>
            </div>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div>
                <div style="text-align: center; color: red">{{statics.memberCount}}</div>
                <div>全部作品</div>
            </div>
        </div>
    </div>


    <!-- 最近更新 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">最近更新</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllRenewalList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getRenewalList(renewalParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px;" ng-repeat="site in renewalObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getRenewalList(renewalParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <!-- 我的收藏 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">热门精选</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllHotWorksList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getRenewalList(hotWorksParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px;" ng-repeat="site in hotWorksObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!hotWorksObj.siteList || hotWorksObj.siteList.length < 4" style="height: 280px; width: 100%"></div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getRenewalList(hotWorksParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <!-- 全部作品 -->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center; height: 90px">
            <div style="font-size: 30px">全部作品</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllAllSiteList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"  style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getAllSiteList(allSiteParams.page-1)"><img src="/wiki/assets/imgs/worksPrev.png"></a>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" style="position: relative; height: 280px" ng-repeat="site in allSiteObj.siteList">
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" class="img-responsive" style="width: 305px; height: 205px;">
                    <div style="position: absolute; top: 125px; left: 15%; width: 70%;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 70px; padding-top: 15px; padding-left: 24px">
                            <div style="font-size: 18px; color: white;">{{site.name}}</div>
                            <div style="font-size: 10px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"50px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 115px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1" style="display: flex; align-items: center; height: 205px; justify-content: center;">
            <a class="btn" style="height: 100%; display: flex;align-items: center" ng-click="getAllSiteList(allSiteParams.page+1)"><img src="/wiki/assets/imgs/worksNext.png"></a>
        </div>
    </div>

    <!--c成员信息-->
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10" style="display: flex; justify-content: space-between; align-items: center;height: 90px">
            <div style="font-size: 30px">成员信息</div>
            <div style="font-size: 18px; align-self: flex-end">
                <a ng-click="goAllUserList()">更多</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 80px">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-4" ng-repeat="user in userObj.userList">
                    <div style="display: flex; align-items: center; padding: 10px 0px">
                        <img ng-src="{{user.portrait || '/wiki/assets/imgs/ManPortrait.jpg'}}" class="img-circle" style="height: 60px">
                        <div style="margin-left: 12px">
                            <div style="font-size: 18px">{{user.username}}</div>
                            <div style="font-size: 12px">{{user.desc}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
