```@wiki/js/personalHeader
{
"moduleKind":"header2",
"displayBgImg":"http://keepwork.com/wiki/js/mod/wiki/assets/imgs/blog_header_banner.jpg",
"displayName":"ParaCraft小组",
"location":"深圳",
"info":"成立于2017.4.19",
"introduce":"这里是一段描述介绍小组的文字，内容自定义。介绍自己的小组成员或者是邀请新成员加入小组等等。"
}
```
```@wiki/js/personalStatics
{
"moduleKind":"statics2",
"methods":[
{
"name":"组织管理",
"link":"http://keepwork.com"
},
{
"name":"作品管理",
"link":"http://keepwork.com"
},
{
"name":"提交作品",
"link":"http://keepwork.com"
},
{
"name":"申请加入",
"link":"http://keepwork.com"
}
]
}
```
```@wiki/js/workslist
{
"moduleKind":"workslist2",
"pageSize":4,
"title":"推荐作品"
}
```
```@wiki/js/workslist
{
"moduleKind":"workslist2",
"pageSize":8,
"title":"全部作品"
}
```
```@wiki/js/orgTeam
```