<div ng-controller="organizationSiteCtrl" style="width: 1920px;background-color: rgb(255,244,216);">
    <div style=" height: 905px; position: relative">
        <img src="/wiki/assets/imgs/OrgHeaderBackground.jpg">
        <div style="position: absolute; top: 580px; left: 200px;">
            <div style="font-size: 40px; color: rgb(101,130,190)">
                <div>
                    位置 {{userinfo.location}}
                </div>
                <div>
                    成立于 {{siteinfo.createDate}}
                </div>
            </div>
        </div>
        <div style="position: absolute; top: 250px;left: 720px">
            <img ng-src="{{ siteinfo.logoUrl || '/wiki/assets/imgs/OrgLogo.jpg'}}" class="img-circle">
        </div>

        <div style="position: absolute; top: 765px; width:100%; display: flex; justify-content: center;font-size: 36px">
            {{siteinfo.desc}}
        </div>

        <div style="position: absolute; left: 1255px; top: 560px">
            <!--a ng-click="memberApply()"><img src='/wiki/assets/imgs/AddUser.jpg' class="img-circle" style="width: 160px; height: 160px"></a-->
			<button ng-click="memberApply()" style="background: none; border-radius: 50%" class="btn"><img src='/wiki/assets/imgs/AddUser.jpg' class="img-circle" style="width: 160px; height: 160px"></button>
        </div>
    </div>


    <div style="background-color: rgb(246,221,199); height: 230px; font-size: 50px">
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div>
                <div style="text-align: center; color: red">{{statics.allWorksCount}}</div>
                <div >全部成员</div>
            </div>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div >
                <div style="text-align: center; color: red">{{statics.weekRenewalCount}}</div>
                <div>本周更新</div>
            </div>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center; height: 100%; align-items: center">
            <div>
                <div style="text-align: center; color: red">{{statics.allMemberCount}}</div>
                <div>全部作品</div>
            </div>
        </div>
    </div>


    <!-- 最近更新 -->
    <div>
        <div style="height: 145px; margin:0px 130px; display: flex; justify-content: space-between; align-items: center">
            <div style="font-size: 50px">最近更新</div>
            <div style="font-size: 30px; align-self: flex-end">
                <a>更多</a>
            </div>
        </div>
        <div style="height: 460px; display: flex; margin-top: 20px">
            <div style="display: flex; align-items: center; height: 340px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksPrev.png"></a>
            </div>
            <div style="width: 1660px;height: 100%;">
                <div style="position: relative; display: inline-block; height: 460px" ng-repeat="site in renewalObj.siteList" ng-style='{"margin-left": $index % 3 == 0 ? "0px": "65px"}'>
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" style="width: 505px; height: 340px;">
                    <div style="position: absolute; top: 215px; left: 85px; width: 345px; height: 190px;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 110px; padding-top: 25px; padding-left: 40px">
                            <div style="font-size: 29px; color: white;">{{site.name}}</div>
                            <div style="font-size: 18px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"80px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 190px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; border-bottom: 2px solid silver"></div>
            </div>
            <div style="display: flex; align-items: center; height: 340px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksNext.png"></a>
            </div>
        </div>
    </div>

    <!-- 我的收藏 -->
    <div>
        <div style="height: 145px; margin:0px 130px; display: flex; justify-content: space-between; align-items: center">
            <div style="font-size: 50px">热门精选</div>
            <div style="font-size: 30px; align-self: flex-end">
                <a>更多</a>
            </div>
        </div>
        <div style="height: 960px; display: flex; margin-top: 20px">
            <div style="display: flex; align-items: center; height: 840px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksPrev.png"></a>
            </div>
            <div style="width: 1660px;height: 100%;">
                <div style="position: relative; display: inline-block; height: 460px" ng-repeat="site in hotWorksObj.siteList" ng-style='{"margin-left": $index % 3 == 0 ? "0px": "65px"}'>
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" style="width: 505px; height: 340px;">
                    <div style="position: absolute; top: 215px; left: 85px; width: 345px; height: 190px;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 110px; padding-top: 25px; padding-left: 40px">
                            <div style="font-size: 29px; color: white;">{{site.name}}</div>
                            <div style="font-size: 18px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"80px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 190px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; border-bottom: 2px solid silver"></div>
            </div>
            <div style="display: flex; align-items: center; height: 840px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksNext.png"></a>
            </div>
        </div>
    </div>

    <!-- 全部作品 -->
    <div>
        <div style="height: 145px; margin:0px 130px; display: flex; justify-content: space-between; align-items: center">
            <div style="font-size: 50px">全部作品</div>
            <div style="font-size: 30px; align-self: flex-end">
                <a>更多</a>
            </div>
        </div>
        <div style="height: 460px; display: flex; margin-top: 20px">
            <div style="display: flex; align-items: center; height: 340px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksPrev.png"></a>
            </div>
            <div style="width: 1660px;height: 100%;">
                <div style="position: relative; display: inline-block; height: 460px" ng-repeat="site in allSiteObj.siteList" ng-style='{"margin-left": $index % 3 == 0 ? "0px": "65px"}'>
                    <img ng-src="{{site.logoUrl || '/wiki/assets/imgs/test.jpg'}}" style="width: 505px; height: 340px;">
                    <div style="position: absolute; top: 215px; left: 85px; width: 345px; height: 190px;background-color: rgba(0,0,0,0.3);">
                        <div style="height: 110px; padding-top: 25px; padding-left: 40px">
                            <div style="font-size: 29px; color: white;">{{site.name}}</div>
                            <div style="font-size: 18px; color: rgb(200,219,0);;">导演：{{site.username}}</div>
                        </div>
                        <div ng-style={"height":"80px","background-color":getRandomColor($index),"display":"flex","align-items":"center"}>
                            <img src="/wiki/assets/imgs/lover.png" style="margin-left: 190px">
                            <span style="font-size: 25px; margin-left: 10px; color: white;">{{site.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; border-bottom: 2px solid silver"></div>
            </div>
            <div style="display: flex; align-items: center; height: 340px; justify-content: center; width: 130px">
                <a class="btn" style="height: 100%; display: flex;align-items: center"><img src="/wiki/assets/imgs/worksNext.png"></a>
            </div>
        </div>
    </div>


    <div style="margin: 0px 130px">
        <div style="height: 145px; display: flex; justify-content: space-between; align-items: center">
            <div style="font-size: 50px">成员信息</div>
            <div style="font-size: 30px; align-self: flex-end">
                <a>更多</a>
            </div>
        </div>
        <div style="padding-bottom: 120px">
            <div style="display: inline-block; align-items: center; width: 550px; margin: 15px 0px; position: relative;" ng-repeat="user in userList">
                <div ng-show="$index % 3 == 0" style="position: absolute; width:1660px;top:-15px; border-top: 1px solid silver"></div>
                <div style="display: flex; align-items: center">
                    <img ng-src="{{user.portrait || '/wiki/assets/imgs/ManPortrait.jpg'}}" class="img-circle" style="height: 100px">
                    <div style="margin-left: 20px">
                        <div style="font-size: 31px">{{user.username}}</div>
                        <div style="font-size: 18px">{{user.desc}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
