assets.log
log.txt
.idea/
database/
database
log/
obj/
Properties/
*.out
*.log
.vs/
*.user
*.ffs_gui
*.ffs_db
*.rp
*.suo
rls/
test/
www_build/
/packages
*.secret
Run.bat

npl_packages/
start.bat
