<div ng-controller="entriesController" class="height: 100%; display: flex; flex-direction:column;">

    <style scoped>
        ul {
            list-style: none;
        }

        ul,
        li {
            padding: 0;
            margin: 0;
        }

        .modal-body {
            padding: 50px;
        }

        .modal-body {
            overflow: hidden;
        }

        .entr-list,
        .box-list,
        .box-item {
            height: 400px !important;
            padding: 0;
        }

        .list-item,
        .entri-item {
            cursor: pointer;
        }

        .list-item {
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .list-item:hover {
            box-shadow: 4px 4px 4px #d0d0d0;
        }

        .list-item:not(:first-child) {
            /* transform: translate(0, -25px);
            -ms-transform: translate(0, -25px);
            -moz-transform: translate(0, -25px);
            -webkit-transform: translate(0, -25px);
            -o-transform: translate(0, -25px); */
        }

        .box-item,
        .list-item {
            border: 1px solid #bebebe;
        }

        .select {
            padding-left: 0;
            padding-right: 5px;
        }

        .entri-list {
            overflow: auto;
            /* height: 365px; */
        }

        .entri-item {
            min-height: 28px;
            padding: 4px;
            line-height: 28px;
        }
        /* 居中 */

        .entri-item::after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }

        .entri-item:hover {
            background-color: #f0f0f0;
        }

        .entri-txt {
            float: left;
        }

        .action-btn-group {
            float: right;
            display: none;
        }

        .action-btn {
            line-height: 28px;
            font-size: 20px;
        }

        /* 选中时的颜色 */
        .active {
            background-color: #bbffff;
        }

        .box {
            padding-right: 0;
        }

        .add-new-box,
        .add-new-entri {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .add-new-box {
            z-index: 100;
        }

        .add-new-box>input {
            width: 100%;
            border-radius: 0;
        }

        .add-new-box button,
        .add-new-entri button {
            border: none;
            border-radius: 0;
        }

        .add-new-box button {
            width: 50%;
        }

        .add-new-entri button {
            width: 100%;
            border-top: 1px solid #adadad;
        }

        .add-new-box button:first-of-type {
            border-right: 1px solid #adadad;
        }
    </style>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">类别</h4>
    </div>
    <div class="modal-body">
        <div class="select col-xs-2">
            <ul class="select-list">
                <li class="list-item" ng-repeat="item in entries track by $index" ng-click="action.removeEntri($index)">{{item.type}}</li>
            </ul>
        </div>

        <div class="box col-xs-10">
            <div class="swiper-container" id="boxSwiper">
                <ul class="box-list swiper-wrapper">
                    <li class="box-item col-xs-6 swiper-slide" ng-repeat="idx in range track by $index">
                        <ul class="entri-list">
                            <li class="entri-item" ng-click="action.selectItem($event, item, idx)" ng-repeat="item in entries_list[idx] track by $index ">
                                <span class="entri-txt">{{item.type}}</span>
                                <div class="action-btn-group">

                                    <!-- 这里要修改，改成haschilder -->
                                    <span ng-if="!entries_list[idx + 1].length" class="action-btn glyphicon glyphicon-remove-circle" ng-click="action.delItem(idx, item)"></span>
                                    <span ng-if="entries_list[idx + 1].length" class="action-btn glyphicon glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </li>
                        </ul>

                        <!-- <div class="add-new-box" ng-show="boxVisible[idx]">
                            <input class="form-control" type="text" name="" value="" placeholder="请输入词条" maxlength="100" ng-model="addItemCache[idx]">
                            <div>
                                <button class="btn btn-default col-xs-6" ng-click="action.showAddBox(idx, false, true, $event)">取消</button>
                                <button class="btn btn-default col-xs-6" ng-click="action.addItem(idx, $event)">确定</button>
                            </div>
                        </div> -->

                        <!-- <div class="add-new-entri" ng-click="action.showAddBox(idx, true, false, $event)">
                            <button class="btn btn-default col-xs-6"> + 新增词条</button>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">取消</button>
        <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal" ng-click="save()" ng-class="{'edit-disable': action.edit}">确定</button>
    </div>
</div>