<style>
    .user-activities .empty-box {
        border: 1px solid #F2F2F2;
        margin: 20px 0 24px;
    }

    .user-activities .active-row {
        height: 80px;
        line-height: 80px;
    }

    .user-activities .active-row-box {
        border: 1px solid #F2F2F2;
        padding: 0 5px;
        margin: 20px 0 24px;
    }

    .user-activities .active-row>img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-activities .activity-footer {
        text-align: center;
    }

    .user-activities .btn-primary {
        width: 420px;
        max-width: 100%;
        height: 32px;
        line-height: 32px;
        padding: 0;
        background-color: #7FC4FF;
        color: #FFF;
        font-size: 16px;
        border: none;
        border-radius: 16px;
        margin: 18px 0;
    }

    .user-activities .glyphicon-menu-down {
        -webkit-text-stroke: 1px #7FC4FF;
    }

    @media(max-width: 768px) {
        .user-activities {
            border-top: 6px solid #f2f2f2;
            padding-top: 20px;
        }

        .user-activities .active-row-box {
            margin: 10px 0 20px;
            border: none;
            padding: 0;
        }
        
        .user-activities .active-row {
            height: 50px;
            line-height: 50px;
        }

        .user-activities .active-row>img {
            width: 36px;
            height: 36px;
        }
    }
</style>
<div class="user-activities clearfix" ng-controller="activitiesCtrl" ng-hide="trendsList.length <=0 && !isSelf">
    <h4 class="title" translate="活动">
    </h4>
    <div class="empty-box" ng-hide="trendsCount>0">
        <span class="iconfont icon-kongbaiyemian"></span>
        <p translate="暂无相关内容..."></p>
    </div>
    <div ng-show="trendsCount>0" class="active-row-box col-xs-12">
        <div class="col-xs-12 active-row" ng-repeat="x in trendsList">
            <img ng-src="{{userinfo.portrait || imgsPath+'default_portrait.png'}}" alt="">{{x.desc}}
            <span class="pull-right hidden-xs">{{x.updateDate}}</span>
        </div>
        <div class="activity-footer col-xs-12">
            <div class="btn btn-primary" disabled ng-click="loadActivity()">
                {{ "更多" | translate }}
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
        </div>
    </div>
</div>