<style>
    .control-bar {
        color: #3977AD;
        text-align: center;
        outline: 1px solid #3977AD;
        margin-top: 20px;
        font-size: 16px;
        line-height: 1;
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #FFF;
    }

    .control-bar img {
        width: 35px;
        margin-right: 10px;
    }

    .control-bar .item-container {
        display: inline-block;
    }

    .control-bar .item {
        float: left;
        margin-right: 80px;
    }

    .control-bar .item:last-child {
        margin-right: 0;
    }

    @media(max-width: 768px) {
        .control-bar {
            font-size: 14px;
            padding: 11px 0;
        }

        .control-bar .item {
            margin-right: 30px;
        }

        .control-bar img {
            width: 16px;
            margin-right: 0;
            vertical-align: bottom;
        }
    }
</style>
<style>
    .user-main-content {
        border: 1px solid #DCDCDC;
        margin: 20px auto 13px;
        padding: 0;
        background-color: #FFF;
    }

    .user-main-content .nav-tabs {
        text-align: center;
        border-bottom: none;
        border-bottom: 1px solid #DDD;
        height: 62px;
    }

    .user-main-content .nav-tabs ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .user-main-content .nav-tabs ul>li {
        float: left;
        font-size: 16px;
        color: #3977AD;
        width: 90px;
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
    }

    .user-main-content .nav-tabs ul>li.active {
        background-color: #3977AD;
        color: #FFF;
        cursor: default;
    }

    .user-main-content .content {
        padding: 40px 100px 0;
    }

    .user-main-content h4.title {
        margin: 0;
        border-left: 4px solid #3977AD;
        padding-left: 10px;
    }

    .user-main-content h4.title .iconfont {
        color: #3977AD;
        font-size: 20px;
        line-height: 1;
        margin-left: 20px;
    }

    .user-main-content h4.title .iconfont.icon-fanhui {
        font-weight: normal;
        font-size: 26px;
    }

    .user-main-content .editing-toolbar .iconfont {
        font-size: 24px;
        margin-left: 5px;
        color: #3977AD;
        cursor: pointer;
        line-height: 1;
    }

    .user-main-content .editing-toolbar .iconfont[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
    }

    @media(max-width:768px) {
        .user-main-content {
            border: none;
        }

        .user-main-content .content {
            padding: 15px 0 0;
        }

        .user-main-content h4.title {
            margin: 0 15px;
        }

        .user-main-content .editing-toolbar {
            white-space: nowrap;
        }
        
        .user-main-content .editing-toolbar .iconfont {
            margin-left: -5px;
        }
    }
</style>
<div ng-controller="profileControlCtrl">
    <div class="control-bar container clearfix" ng-show="isSelf">
        <div class="item-container">
            <a class="item" href="/wiki/user_center?userCenterContentType=newWebsite" target="_blank">
                <img ng-src="{{imgsPath + 'icon/wiki_new_site.png'}}" alt="">
                <span translate="新建网站">
                </span>
            </a>
            <a class="item" href="/wiki/user_center?userCenterContentType=websiteManager" target="_blank">
                <img ng-src="{{imgsPath + 'icon/wiki_site_manage.png'}}" alt="">
                <span translate="网站管理">
                </span>
            </a>
            <a class="item" href="/wiki/wikieditor" target="_blank">
                <img ng-src="{{imgsPath + 'icon/wiki_editor.png'}}" alt="">
                <span translate="页面编辑器">
                </span>
            </a>
        </div>
    </div>
    <div class="container user-main-content">
        <div class="nav nav-tabs">
            <ul class="clearfix control-tabs-ul">
                <li class="control-tabs-li" ng-class="{true:'active'}[showType === 'profile']" ng-click="tabTo('profile', $event)">{{'个人信息' | translate}}</li>
                <li class="control-tabs-li" ng-class="{true:'active'}[showType === 'site']" ng-click="tabTo('site', $event)">{{"网站" | translate}}</li>
                <li class="control-tabs-li" ng-class="{true:'active'}[showType === 'contact']" ng-click="tabTo('contact', $event)">{{'社交' | translate}}</li>
            </ul>
        </div>
        <div class="content" id="profileMain">

        </div>
    </div>
</div>