<style>
    .user-experience .ellipsis-1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-experience .experiences-list {
        padding: 12px 20px;
        border: 1px solid #F2F2F2;
        font-size: 16px;
        color: #666;
        margin: 24px 0 43px;
    }

    .user-experience table {
        margin: 0;
        border: none;
    }

    .user-experience table>tbody>tr>td {
        border: none;
        height: 32px;
        line-height: 32px;
        padding: 0;
    }

    .user-experience td.title {
        width: 30%;
    }

    .user-experience td.link {
        width: 50%;
        padding: 0 5px;
    }

    .user-experience td.time {
        width: 20%;
        font-size: 14px;
        color: #999;
    }

    .user-experience .editing-experiences td.title {
        width: 24%;
    }

    .user-experience .editing-experiences td.link {
        width: 39%;
    }

    .user-experience .editing-experiences td.time {
        width: 19%;
    }

    .user-experience .editing-experiences td.editing-toolbar {
        width: 18%;
        text-align: right;
    }

    @media(max-width: 768px) {
        .user-experience {
            border-top: 6px solid #f2f2f2;
            padding-top: 20px;
        }
        .user-experience table {
            table-layout: fixed;
        }

        .user-experience .experiences-list {
            margin: 10px 0 20px;
            border: none;
            padding: 0 15px;
        }

        .user-experience td.title{
            width: 100%;
        }

        .user-experience td.time {
            text-align: right;
            width: 150px;
            font-size: 12px;
        }
    }
</style>
<div class="user-experience" ng-controller="experienceCtrl" ng-hide="experiences.length <=0 && !isSelf">
    <h4 class="title">
        {{"经历" | translate}}
        <span class="pull-right" ng-show="isSelf">
            <i class="iconfont icon-tianjia" ng-click="showExperienceModal()" ng-hide="editing && experiences.length > 0"></i>
            <i class="iconfont" ng-show="experiences.length > 0" ng-class="{true:'icon-fanhui', false:'icon-bianji'}[editing]" ng-click="editExperience()"></i>
        </span>
    </h4>
    <div class="experiences-list">
        <div class="empty-to-edit" ng-hide="experiences.length>0">
            <p>
                <span>{{"empty_content" | translate}}</span>
                <i class="iconfont icon-tianjia" ng-click="showExperienceModal()"></i>
            </p>
        </div>
        <table ng-show="experiences.length>0" ng-class="{true:'editing-experiences'}[editing]">
            <tr class="experience-item" ng-repeat="experience in experiences track by $index" ng-show="experience">
                <td class="title ellipsis-1">{{experience.title}}</td>
                <td class="link ellipsis-1 hidden-xs">{{experience.link}}</td>
                <td class="time ellipsis-1">{{experience.startDate+"至"+experience.endDate}}</td>
                <td class="editing-toolbar" ng-show="editing && isSelf">
                    <span class="iconfont icon-shezhi" title="{{'设置' | translate}}" ng-click="setExperience($index)"></span>
                    <span class="iconfont icon-shangyi" ng-disabled="$index == 0" title="{{'上移' | translate}}" ng-click="shiftUp($index)"></span>
                    <span class="iconfont icon-xiayi" ng-disabled="$index + 1 == experiences.length" title="{{'下移' | translate}}" ng-click="shiftDown($index)"></span>
                    <span class="iconfont icon-shanchu1" title="{{'删除' | translate}}" ng-click="deleteExperience($index)"></span>
                </td>
            </tr>
        </table>
    </div>

    <div class="add-experience-modal modal-parent"></div>
</div>