<style>
    .follow-users .empty-box {
        border: 1px solid #F2F2F2;
        margin: 9px;
    }

    .follow-users .follow-users-list {
        margin: 15px -9px 31px;
    }

    .follow-users .follow-users-item {
        padding: 9px;
    }

    .follow-users .follow-users-item .inner-box {
        display: flex;
        padding: 25px 15px 20px 36px;
        border: 1px solid #F2F2F2;
    }

    .follow-users .follow-users-item .inner-box>img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 16px;
    }

    .follow-users .follow-user-detail{
        min-width: 0;
    }

    .follow-users .btn-followed {
        padding: 0;
        font-size: 14px;
        border: 1px solid #999;
        width: 68px;
        height: 28px;
        line-height: 28px;
        color: #999;
        margin-top: 15px;
        cursor: initial;
        cursor: pointer;
    }

    .follow-users .btn-followed:active {
        box-shadow: none;
    }

    .follow-users .btn-followed.active {
        border: 1px solid #3977AD;
        color: #3977AD;
        box-shadow: none;
    }

    .follow-users h4 {
        margin: 0 0 10px;
    }

    .follow-users h4>a {
        color: #333;
    }

    .follow-users h4>a:hover {
        color: #3977AD;
    }

    .follow-users p.location {
        color: #999;
        font-weight: lighter;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media(max-width: 768px){
        .follow-users .follow-users-item .inner-box{
            padding: 0 15px;
            border: none;
        }
    }
</style>
<div class="follow-users" ng-controller="followsUserCtrl" ng-hide="followUserList.length <=0 && !isSelf">
    <h4 class="title">
        {{"关注的作者" | translate}}
    </h4>
    <div class="follow-users-list clearfix">
        <div class="empty-box" ng-hide="followUserList.length > 0">
            <span class="iconfont icon-kongbaiyemian"></span>
            <p translate="暂无相关内容..."></p>
        </div>
        <div class="follow-users-item col-sm-4" ng-repeat="followUser in followUserList track by $index" ng-show="followUserList.length > 0 && followUser.userinfo">
            <div class="inner-box">
                <img ng-src="{{followUser.userinfo.portrait || getImageUrl('default_portrait.png',imgsPath)}}">
                <div class="follow-user-detail">
                    <h4>
                        <a ng-href="{{'/' + followUser.userinfo.username}}">{{followUser.userinfo.displayName || followUser.userinfo.username}}</a>
                    </h4>
                    <p class="location" title="{{followUser.userinfo.location || '未知地点'}}">
                        <i class="iconfont icon-shiliangzhinengduixiang"></i>
                        {{followUser.userinfo.location || ("未知地点" | translate)}}
                    </p>
                    <div class="btn btn-followed" ng-show="isSelf" ng-class="{true:'active'}[followUser.concerned == false]" ng-click="toggleFollowUser(followUser)">{{((followUser.concerned == false) ? '继续关注' : '已关注') | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>