<style>
    .user-skills {
        padding-bottom: 47px;
    }

    .user-skills .empty-to-edit {
        border: 1px solid #F2F2F2;
        margin: 20px 0 0;
    }

    .user-skills .skill-radar {
        min-height: 235px;
        border-left: 1px solid #F2F2F2;
    }

    .user-skills ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .user-skills .main-skill {
        border: 1px solid #F2F2F2;
        padding: 15px 0 20px 20px;
        margin-top: 20px;
    }

    .user-skills .v-skill-ul {
        padding-right: 73px;
        border-right: 1px solid #F2F2F2;
    }

    .user-skills .v-li {
        margin: 10px 0;
        color: #666;
        height: 36px;
    }

    .user-skills span.title {
        padding: 7px 29px;
        background-color: #E0F1FF;
        display: inline-block;
        border-radius: 36px;
        font-size: 16px;
    }

    .user-skills span.level {
        background-color: #e0f1ff;
        width: 24px;
        height: 32px;
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        line-height: 27px;
        position: relative;
        top: -3px;
    }

    .user-skills span.level:before {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: none;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 6px solid #FFF;
    }

    .user-skills span.icon-icondianzan {
        width: 36px;
        height: 36px;
        background-color: #e0f1ff;
        color: #999;
        border-radius: 50%;
        text-align: center;
        line-height: 36px;
        font-size: 20px;
        cursor: pointer;
    }

    .user-skills span.icon-icondianzan.active {
        color: #FE7532;
    }

    .user-skills .other-skill {
        border: 1px solid #F2F2F2;
        padding: 30px 20px 20px;
        margin-bottom: 47px;
    }

    .user-skills .h-li {
        float: left;
        margin-right: 50px;
        color: #666;
    }

    .user-skills .h-li span.title {
        background-color: #E4E4E4;
        padding: 7px 26px;
        margin-right: 20px;
    }

    .user-skills .h-li span.icon-icondianzan {
        border-radius: 0;
        width: auto;
        background-color: transparent;
    }

    .user-skills .other-skill-footer {
        text-align: center;
    }

    .user-skills .btn-primary {
        width: 420px;
        max-width: 100%;
        height: 32px;
        line-height: 32px;
        padding: 0;
        background-color: #7FC4FF;
        color: #FFF;
        font-size: 16px;
        border: none;
        border-radius: 16px;
        margin-top: 30px;
    }

    .user-skills .glyphicon-menu-down {
        -webkit-text-stroke: 1px #7FC4FF;
    }

    .user-skills .editing-skill {
        border: 1px solid #F2F2F2;
        margin-top: 20px;
    }

    .user-skills .editing-v-skill-ul {
        padding: 15px 20px 28px;
    }

    .user-skills .sub-skill .title {
        background-color: #E4E4E4;
    }

    @media(max-width: 768px) {
        .user-skills {
            padding-bottom: 20px;
            border-top: 6px solid #f2f2f2;
            padding-top: 20px;
        }
        .user-skills .main-skill {
            border: none;
            padding: 0 15px;
            margin-top: 10px;
        }

        .user-skills .other-skill {
            margin-bottom: 0;
            border: none;
            border-top: 1px solid #F2F2F2;
            padding: 0 15px;
        }

        .user-skills .v-skill-ul {
            border: none;
            padding-right: 0;
        }

        .user-skills .h-li {
            float: unset;
            margin-right: 0;
            margin: 10px 0;
        }

        .user-skills .btn-primary {
            margin-top: 0;
        }

        .user-skills .editing-v-skill-ul {
            padding: 0 15px;
        }

        .user-skills .h-li span.icon-icondianzan {
            width: 36px;
            height: 36px;
            background-color: #E4E4E4;
            border-radius: 50%;
        }
    }
</style>
<div class="user-skills" ng-controller="skillCtrl" ng-hide="skills.length <=0 && !isSelf">
    <h4 class="title">
        {{"技能" | translate}}
        <span class="pull-right" ng-show="isSelf">
            <i class="iconfont icon-tianjia" ng-click="showSkillModal()" ng-hide="editing && skills.length > 0"></i>
            <i class="iconfont" ng-show="skills.length > 0" ng-class="{true:'icon-fanhui', false:'icon-bianji'}[editing]" ng-click="editSkill()"></i>
        </span>
    </h4>
    <div class="empty-to-edit" ng-hide="skills.length>0">
        <p>
            <span>{{"empty_content" | translate}}</span>
            <i class="iconfont icon-tianjia" ng-click="showSkillModal()"></i>
        </p>
    </div>
    <div class="main-skill clearfix" ng-show="skills.length>0 && !editing || !isSelf">
        <ul class="col-sm-6 v-skill-ul">
            <li class="clearfix v-li" ng-repeat="skill in skills | limitTo: 5 track by $index">
                <span class="title">{{skill.title}}</span>
                <span class="level">{{skill.level}}</span>
                <span class="pull-right iconfont icon-icondianzan" title="{{(!skillsDetail[skill.title].liked ? '点赞':'取消点赞') | translate}}"
                    ng-class="{false:'active'}[!skillsDetail[skill.title].liked]" ng-click="likeSkill(skill)"></span>
            </li>
        </ul>
        <div class="col-sm-6 skill-radar hidden-xs" id="skillRadar">
        </div>
    </div>
    <div class="other-skill" ng-show="skills.length > 5 && !editing">
        <ul class="h-skill-ul clearfix">
            <li class="clearfix h-li" ng-repeat="skill in skills | limitTo: (5 - skills.length) track by $index">
                <span class="title">{{skill.title}}</span>
                <span class="pull-right iconfont icon-icondianzan" title="{{(!skillsDetail[skill.title].liked ? '点赞':'取消点赞') | translate}}"
                    ng-class="{false:'active'}[!skillsDetail[skill.title].liked]" ng-click="likeSkill(skill)"></span>
            </li>
        </ul>
        <div class="other-skill-footer">
            <div class="btn btn-primary" disabled ng-click="loadMoreSkills()">
                {{ "更多" | translate }}
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
        </div>
    </div>
    <div class="editing-skill" ng-show="editing && isSelf">
        <ul class="v-skill-ul editing-v-skill-ul">
            <li class="clearfix v-li" ng-class="{true:'sub-skill'}[$index >4]" ng-repeat="skill in skills track by $index">
                <span class="title">{{skill.title}}</span>
                <span class="pull-right editing-toolbar">
                    <span class="iconfont icon-shezhi" title="{{'设置' | translate}}" ng-click="setSkill($index)"></span>
                    <span class="iconfont icon-shangyi" ng-disabled="$index == 0" title="{{'上移' | translate}}" ng-click="shiftUp($index)"></span>
                    <span class="iconfont icon-xiayi" ng-disabled="$index + 1 == skills.length" title="{{'下移' | translate}}" ng-click="shiftDown($index)"></span>
                    <span class="iconfont icon-shanchu1" title="{{'删除' | translate}}" ng-click="deleteSkill($index)"></span>
                </span>
            </li>
        </ul>
    </div>

    <div class="add-skill-modal modal-parent"></div>
</div>