<div ng-if="params.design.text == 'style1'">
    <div class="app-wikiblock-fullwidth" ng-class="{{$ctrl.theme.main_site_color}}">
        <div class="app-wikiblock-text">
            <div style="padding:5px;float:left;"><adi-img params="{{$ctrl.params.icon}}" theme="{{$ctrl.theme}}"></adi-img></div>
            <div style="padding:5px;float:left;"><adi-label params="{{$ctrl.params.label}}" theme="{{$ctrl.theme}}"></adi-label></div>
            <div style="float:left;padding:5px">
                <adi-menu params="{{$ctrl.params.menu}}" theme="{{$ctrl.theme}}"></adi-menu>
            </div>
        </div>
    </div>
</div>
<div ng-if="params.design.text == 'style2'">
    <div class="app-wikiblock-fullwidth" ng-class="{{$ctrl.theme.main_site_color}}">
        <div class="app-wikiblock-text">
            <div style="padding:5px;float:left;"><adi-img params="{{$ctrl.params.icon}}" theme="{{$ctrl.theme}}"></adi-img></div>
            <div style="padding:5px;float:left;"><adi-label params="{{$ctrl.params.label}}" theme="{{$ctrl.theme}}"></adi-label></div>
            <div style="float:right;padding:5px">
                <adi-menu params="{{$ctrl.params.menu}}" theme="{{$ctrl.theme}}"></adi-menu>
            </div>
        </div>
    </div>
</div>
