<!-- <div ng-controller="headerController"
     ng-class="{true : 'clear-pointer', false : 'clear'}[editorMode]">
    <div ng-if="params.design.text == 'left' && !params.menu_menu.is_mod_hide">
        <editor-mode>
            <adi-menu menu="params.menu_menu" bgcolor="color-11"></adi-menu>
        </editor-mode>
    </div>

    <div ng-if="params.design.text == 'right'  && !params.menu_menu.is_mod_hide">
        <div class="menu menu-right">
            <adi-menu menu="params.menu_menu"></adi-menu>
        </div>
    </div>
</div> -->

<adi-header>
    <div ng-if="params.design.text == 'style1'">
        <div class="app-wikiblock-fullwidth" ng-class="{{theme.main_site_color}}">
            <div class="app-wikiblock-text">
                <div style="padding:5px;float:left;"><adi-img params="{{params.icon}}" ></adi-img></div>
                <div style="padding:5px;float:left;"><adi-label params="{{params.label}}" ></adi-label></div>
                <div style="float:left;padding:5px">
                    <adi-menu params="{{params.menu}}" ></adi-menu>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="params.design.text == 'style2'">
        <div class="app-wikiblock-fullwidth" ng-class="{{theme.main_site_color}}">
            <div class="app-wikiblock-text">
                <div style="padding:5px;float:left;"><adi-img params="{{params.icon}}" ></adi-img></div>
                <div style="padding:5px;float:left;"><adi-label params="{{params.label}}" ></adi-label></div>
                <div style="float:right;padding:5px">
                    <adi-menu params="{{params.menu}}" ></adi-menu>
                </div>
            </div>
        </div>
    </div>
</adi-header>