<style>
    .photo-clear-pointer a{
        cursor : default;
    }
    .photo-clear a {
        color: black;
    }
    .photo-img {
        height: 800px;
        position: absolute;
        top:40%;
        transform: translateY(-50%)
    }
    .photo-container1 {
        width:100%;
        height:600px;
        overflow: hidden;
        position: relative;
    }
    .photo-container2 {
        width:100%;
        height:800px;
        overflow: hidden;
        position: relative;
    }
</style>
<div ng-controller="photoController">
    <div class="photo-container1" ng-if="params.design.text === 'style1'">
        <a href="{{editorMode ? '' : params.media_img.href}}">
            <img class="photo-img photo1" ng-src="{{params.media_img.text}}" alt="宽幅图片">
        </a>
    </div>
    <div class="photo-container2" ng-if="params.design.text === 'style2'">
        <a href="{{editorMode ? '' : params.media_img.href}}">
            <img class="photo-img photo2" ng-src="{{params.media_img.text}}" alt="宽幅图片">
        </a>
    </div>
</div>