<style>
    .project-mod a{
        color: black;
    }

    /* style1 css */
    .project-mod .style1 .picture-one{
        padding-top: 30px;
        text-align: center;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
    }
    .project-mod .style1 .picture-one span a{
        white-space: pre-wrap;
    }
    .project-mod .style1 .picture-body .picture-img{
        float: left;
        width:490px;
        height:701px;
        text-align: center;
        line-height: 250px;
    }
    .project-mod .style1 .picture-body .projectImg{
        width:490px;
        height:701px;
    }
    .project-mod .style1 .picture-body .picture-img img{
        width:100%;
    }
    .project-mod .style1 .picture-body .picture-span{
        margin-left: 70px;
        float: left;
    }
    .project-mod .style1 .picture-body .picture-span{
        word-wrap:break-word;
        text-align: left;
    }
    .project-mod .style1 .picture-body .picture-span .span-one > span{
        display: block;
        width: 576px;
        margin-bottom: 46px;
    }
    .project-mod .style1 .picture-body .picture-span > h1{
        width: 576px;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 31px;
    }
    .project-mod .style1 .picture-body .picture-span > h2{
        width: 576px;
        height: 33px;
        margin-top: 15px;
        margin-bottom: 40px;
        font-weight: normal;
    }
    .style1 .picture-body .picture-btn{
        float: right;
        clear: both;
    }
    
    /* style1 css 伪类 */

    .project-mod .style1 .picture-span h1 a:link,.project-mod .style1 .picture-span h1 a:visited , 
    .project-mod .style1 .picture-span h1 a:hover,.project-mod .style1 .picture-span h1 a:active {
        color: black;
    }
    .project-mod .style1 .picture-span h2 a:link,.project-mod .style1 .picture-span h2 a:visited , 
    .project-mod .style1 .picture-span h2 a:hover,.project-mod .style1 .picture-span h2 a:active {
        color: rgb(0, 0, 0);
    }
    .project-mod .style1 .picture-span span a:link,.project-mod .style1 .picture-span span a:visited ,
    .project-mod .style1 .picture-span span a:hover,.project-mod .style1 .picture-span span a:active {
        color: black;
    }
    
    /* style2 css */
    .project-mod .style2 .project-body{
        margin-top:30px;
        margin-bottom: 40px;
    }
    .project-mod .style2 .project-image{
        float: right;
        width:562px;
        height:701px;
    }
    .project-mod .style2 .project-spans{
        float: left;
        width: 555px;
        height: auto;
    }
    .project-mod .style2 .project-spans > h1 ,.project-mod .style2 .project-spans > h2 ,.project-mod .style2 .project-spans div{
        float: left;
        writing-mode: tb-rl;
    }
    .project-mod .style2 .project-spans > h1{
        margin-top: 0;
        margin-right: 10px;
        font-size: 45px;
        width: 49px;
        height: 540px;
    }
    .project-mod .style2 .project-spans > h2{
        margin-top: 0;
        margin-right: 30px;
        font-size: 24px;
        width: 33px;
        height: 540px;
    }
    .project-mod .style2 .project-spans > div{
        display: block;
        margin: 0;
        width: 300px;
        height: 645px;
        font-size: 14px;
        overflow: hidden;
        overflow-x: auto;
        float: right;
        margin-right: 60px;
    }
    .project-mod .style2 .project-image a div{
        width:562px;
        height:701px;
    }
    .project-mod .style2 .project-btn{
        float: left;
        margin-left: 410px;
        margin-top: -34px;
    }

    /* style2 css 伪类 */
    .project-mod .style2 .project-spans h1 a{
        color: black;
    }
    .project-mod .style2 .project-spans h2 a{
        color: black;
    }
    .project-mod .style2 .project-spans div a{
        color: black;
    }

    /* style3 css */
    .project-mod .style3 .picture-one{
        padding-top: 30px;
        text-align: center;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
    }
    .project-mod .style3 .picture-body .picture-img{
        float: right;
        width:490px;
    }
    .project-mod .style3 .picture-body .picture-body img{
        width: 100%;
    }
    .project-mod .style3 .picture-body .picture-span{
        margin-right: 70px;
        float: left;
        word-wrap:break-word;
        text-align: left;
    }
    .project-mod .style3 .picture-body .picture-span > h1{
        width: 576px;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 31px;
    }
    .project-mod .style3 .picture-body .picture-span > h2{
        width: 576px;
        height: 33px;
        margin-top: 15px;
        margin-bottom: 40px;
        font-weight: normal;
    }
    .project-mod .style3 .picture-body .picture-span .span-one > span{
        display: block;
        width: 576px;
        margin-bottom: 46px;
    }
    .project-mod .style3 .picture-body .picture-span .span-one > span a{
        white-space: pre-wrap;
    }
    
    /* style3 css 伪类 */
    .project-mod .style3 .picture-span h1 a{
        color: black;
    }
    .project-mod .style3 .picture-span h2 a{
        color: black;
    }
    .project-mod .style3 .picture-span span a{
        color: black;
    }

    .project-clear-pointer, .project-clear-pointer a{
        cursor : default !important;
    }
    /* style4 css */
    .project-mod .style4 .stitching-span{
        text-align: center;
    }
    .project-mod .style4 a{
        color: black;
    }
    .project-mod .style4 .stitching-span > h2{
        margin-top: 0;
        font-size: 32px;
    }
    .project-mod .style4 .stitching-span > h3{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
    }
    .project-mod .style4 .stitching-span span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
    }
    
/* style5 css */
    .project-mod .style5 .stitching-span{
        text-align: center;
    }
    .project-mod .style5 a{
        color: black;
    }
    .project-mod .style5 .stitching-span h2{
        margin-top: 30px;
        font-size: 32px;
    }
    .project-mod .style5 .stitching-span h3{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
    }
    .project-mod .style5 .stitching-span span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
    }
</style>

<div ng-controller="mixPositionController" ng-class="{true : 'project-clear-pointer'}[editorMode]" class="project-mod">

    <!-- style1 -->
    <div ng-if='params.design.text=="style1"' class="style1">
        <div class="picture-one container">
            <div class="picture-body clearfix">
                <div class="picture-img">
                    <div ng-hide="params.image_picture.is_mod_hide">
                        <a ng-if="editorMode"
                        ng-click="viewEditorClick(params.image_picture, $event)"
                        href="javascript:void(0)">
                            <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
                        </a>
                        <a ng-if="!editorMode"
                        ng-class="{true : 'project-clear-pointer'}[params.image_picture.href.length == 0]"
                        target="{{params.image_picture.target ? params.image_picture.target : '_blank' }}"
                        ng-href="{{params.image_picture.href}}"
                        ng-class="{true : 'project-clear-pointer'}[params.image_picture.href.length == 0]">
                            <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
                        </a>
                    </div>
                </div>
                <div class="picture-span">
                    <h1>
                        <a ng-if="editorMode"
                           ng-hide="params.link_headline.is_mod_hide"
                           ng-click="viewEditorClick(params.link_headline, $event)"
                           href="{{params.link_headline.href}}">
                            {{params.link_headline.text}}
                        </a>
                        <a ng-if="!editorMode"
                           ng-hide="params.link_headline.is_mod_hide"
                           ng-class="{true : 'project-clear-pointer'}[params.link_headline.href.length == 0]"
                           target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}"
                           ng-href="{{params.link_headline.href}}">
                            {{params.link_headline.text}}
                        </a>
                    </h1>
                    <h2>
                        <a ng-if="editorMode"
                           ng-hide="params.link_sublink.is_mod_hide"
                           ng-click="viewEditorClick(params.link_sublink, $event)"
                           href="javascript:void(0)">
                            {{params.link_sublink.text}}
                        </a>
                        <a ng-if="!editorMode"
                           ng-hide="params.link_sublink.is_mod_hide"
                           target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}"
                           ng-href="{{params.link_sublink.href}}"
                           ng-class="{true : 'project-clear-pointer'}[params.link_sublink.href.length == 0]">
                            {{params.link_sublink.text}}
                        </a>
                    </h2>
                    <div class="span-one">
                        <span>
                            <a ng-if="editorMode"
                               ng-hide="params.multiText_desc.is_mod_hide"
                               ng-click="viewEditorClick(params.multiText_desc, $event)"
                               href="javascript:void(0)"
                               ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                            <a ng-if="!editorMode"
                               ng-hide="params.multiText_desc.is_mod_hide"
                               target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}"
                               ng-href="{{params.multiText_desc.href}}"
                               ng-class="{true : 'project-clear-pointer'}[params.multiText_desc.href.length == 0]"
                               ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                        </span>
                        <div ng-hide="params.link_more.is_mod_hide" class="picture-btn">
                            <a ng-if="editorMode"
                               class="btn btn-primary"
                               style="color:rgb(255, 255, 255);"
                               ng-click="viewEditorClick(params.link_more, $event)"
                               href="javascript:void(0)">
                                {{params.link_more.text}}
                            </a>
                            <a ng-if="!editorMode"
                               target="{{params.link_more.target ? params.link_more.target : '_blank'}}"
                               class="btn btn-primary"
                               style="color:rgb(255, 255, 255);"
                               ng-class="{true : 'project-clear-pointer'}[params.link_more.href.length == 0]"
                               ng-href="{{params.link_more.href}}">
                                {{params.link_more.text}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- style2 -->
    <div ng-if='params.design.text=="style2"' class="style2">
        <div class="project-body container">
            <div class="clearfix">
                <div class="project-spans">
                    <h1>
                        <div ng-hide="params.link_headline.is_mod_hide">
                            <a ng-if="editorMode"
                                ng-click="viewEditorClick(params.link_headline, $event)"
                                href="javascript:void(0)">
                                {{params.link_headline.text}}
                            </a>
                            <a ng-if="!editorMode"
                                target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}"
                                ng-class="{true : 'project-clear-pointer'}[params.link_headline.href.length == 0]"
                                ng-href="{{params.link_headline.href}}">
                                {{params.link_headline.text}}
                            </a>
                        </div>
                    </h1>
                    <h2>
                        <div ng-hide="params.link_sublink.is_mod_hide">
                            <a ng-if="editorMode"
                                ng-click="viewEditorClick(params.link_sublink, $event)"
                                href="javascript:void(0)">
                                {{params.link_sublink.text}}
                            </a>
                            <a ng-if="!editorMode"
                                target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}"
                                ng-class="{true : 'project-clear-pointer'}[params.link_sublink.href.length == 0]"
                                ng-href="{{params.link_sublink.href}}">
                                {{params.link_sublink.text}}
                            </a>
                        </div>
                    </h2>
                    <div ng-hide="params.multiText_desc.is_mod_hide">
                        <a ng-if="editorMode"
                           href="javascript:void(0)"
                           ng-click="viewEditorClick(params.multiText_desc, $event)"
                           ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                        <a ng-if="!editorMode"
                           target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}"
                           ng-class="{true : 'project-clear-pointer'}[params.multiText_desc.href.length == 0]"
                           ng-href="{{params.multiText_desc.href}}" ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                    </div>
                </div>
                <div class="project-image">
                    <div ng-hide="params.image_picture.is_mod_hide">
                        <a ng-if="editorMode"
                           ng-click="viewEditorClick(params.image_picture, $event)"
                           href="javascript:void(0)">
                            <div ng-style="setImgBackground(getImagePictureText(params.image_picture.text))"></div>
                        </a>
                        <a ng-if="!editorMode"
                           target="{{params.image_picture.target ? params.image_picture.target : '_blank'}}"
                           ng-class="{true:'project-clear-pointer'}[params.image_picture.href.length == 0]"
                           ng-href="{{params.image_picture.href}}">
                            <div ng-style="setImgBackground(getImagePictureText(params.image_picture.text))"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-hide="params.link_more.is_mod_hide">
                <a ng-if="editorMode"
                   class="btn btn-primary project-btn"
                   ng-click="viewEditorClick(params.link_more, $event)"
                   style="color:rgb(255, 255, 255);"
                   href="javascript:void(0)">
                    {{params.link_more.text}}
                </a>
                <a ng-if="!editorMode"
                   class="btn btn-primary project-btn"
                   style="color:rgb(255, 255, 255);"
                   target="{{params.link_more.target ? params.link_more.target : '_blank'}}"
                   ng-class="{true : 'project-clear-pointer'}[params.link_more.href.length == 0]"
                   ng-href="{{params.link_more.href}}">
                    {{params.link_more.text}}
                </a>
            </div>
        </div>
    </div>

    <!-- style3 -->
    <div ng-if='params.design.text=="style3"' class="style3">
        <div class="picture-one container">
            <div class="picture-body clearfix">
                <div class="picture-img">
                    <a ng-if="editorMode"
                       ng-hide="params.image_picture.is_mod_hide"
                       ng-click="viewEditorClick(params.image_picture, $event)"
                       href="javascript:void(0)">
                        <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
                    </a>
                    <a ng-if="!editorMode"
                       ng-hide="params.image_picture.is_mod_hide"
                       target="{{params.image_picture.target ? params.image_picture.target : '_blank' }}"
                       ng-href="{{params.image_picture.href}}"
                       ng-class="{true : 'project-clear-pointer'}[params.image_picture.href.length == 0]">
                        <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
                    </a>
                </div>
                <div class="picture-span">
                    <h1>
                        <div ng-hide="params.link_headline.is_mod_hide">
                            <a ng-if="editorMode"
                               ng-click="viewEditorClick(params.link_headline, $event)"
                               href="{{params.link_headline.href}}">
                                {{params.link_headline.text}}
                            </a>
                            <a ng-if="!editorMode"
                               target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}"
                               ng-class="{true : 'project-clear-pointer'}[params.link_headline.href.length == 0]"
                               ng-href="{{params.link_headline.href}}">
                                {{params.link_headline.text}}
                            </a>
                        </div>
                    </h1>
                    <h2>
                        <div ng-hide="params.link_sublink.is_mod_hide">
                            <a ng-if="editorMode"
                               ng-click="viewEditorClick(params.link_sublink, $event)"
                               href="javascript:void(0)">
                                {{params.link_sublink.text}}
                            </a>
                            <a ng-if="!editorMode"
                               target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}"
                               ng-class="{true : 'project-clear-pointer'}[params.link_sublink.href.length == 0]"
                               ng-href="{{params.link_sublink.href}}">
                                {{params.link_sublink.text}}
                            </a>
                        </div>
                    </h2>
                    <div class="span-one">
                        <span>
                            <a ng-if="editorMode"
                                ng-hide="params.multiText_desc.is_mod_hide"
                                ng-click="viewEditorClick(params.multiText_desc, $event)"
                                href="javascript:void(0)"
                                ng-click="viewEditorClick(params.multiText_desc, $event)"
                                ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                            <a ng-if="!editorMode"
                                ng-hide="params.multiText_desc.is_mod_hide"
                                target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}"
                                ng-href="{{params.multiText_desc.href}}"
                                ng-class="{true : 'project-clear-pointer'}[params.multiText_desc.href.length == 0]"
                                ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                        </span>
                        <div ng-hide="params.link_more.is_mod_hide" class="picture-btn">
                            <a ng-if="editorMode"
                               class="btn btn-primary"
                               style="color:rgb(255, 255, 255);"
                               ng-click="viewEditorClick(params.link_more, $event)"
                               href="javascript:void(0)">
                                {{params.link_more.text}}
                            </a>
                            <a ng-if="!editorMode"
                               target="{{params.link_more.target ? params.link_more.target : '_blank'}}"
                               class="btn btn-primary"
                               style="color:rgb(255, 255, 255);"
                               ng-class="{true : 'project-clear-pointer'}[params.link_more.href.length == 0]"
                               ng-href="{{params.link_more.href}}">
                                {{params.link_more.text}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if='params.design.text=="style4"' class="style4 container">

        <div class="stitching-span">
            <h2>
                <a ng-if="editorMode"
                   ng-hide="params.link_headline.is_mod_hide"
                   ng-click="viewEditorClick(params.link_headline, $event)"
                   href="javascript:void(0)">
                {{params.link_headline.text}}</a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_headline.is_mod_hide"
                   ng-class="{true : 'clear-pointer'}[params.link_headline.href.length == 0]"
                   target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}"
                   ng-href="{{params.link_headline.href}}">
                {{params.link_headline.text}}</a>
            </h2>
            <h3>
                <a ng-if="editorMode"
                   ng-hide="params.link_sublink.is_mod_hide"
                   ng-click="viewEditorClick(params.link_sublink, $event)"
                   href="javascript:void(0)">
                {{params.link_sublink.text}}</a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_sublink.is_mod_hide"
                   ng-class="{true : 'clear-pointer'}[params.link_sublink.href.length == 0]"
                   target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}"
                   ng-href="{{params.link_sublink.href}}">
                {{params.link_sublink.text}}</a>
            </h3>
            <span>
                <a ng-if="editorMode"
                   ng-hide="params.multiText_desc.is_mod_hide"
                   ng-click="viewEditorClick(params.multiText_desc, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_desc.is_mod_hide"
                   target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}"
                   ng-href="{{params.multiText_desc.href}}"
                   ng-class="{true : 'clear-pointer'}[params.multiText_desc.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
            </span>
        </div>
        <div class="stitching-img">
            <a ng-if="editorMode"
               ng-hide="params.image_picture.is_mod_hide"
               ng-click="viewEditorClick(params.image_picture, $event)"
               href="javascript:void(0)">
               <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
            </a>
            <a ng-if="!editorMode"
               ng-hide="params.image_picture.is_mod_hide"
               ng-class="{true : 'clear-pointer'}[params.image_picture.href.length == 0]"
               target="{{params.image_picture.target ? params.image_picture.target : '_blank' }}"
               ng-href="{{params.image_picture.href}}"
               ng-class="{true : 'clear-pointer'}[params.image_picture.href.length == 0]">
               <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
            </a>
        </div>

    </div>

    <div ng-if='params.design.text=="style5"' class="style5 container">

        <div class="stitching-img">
            <a ng-if="editorMode"
               ng-hide="params.image_picture.is_mod_hide"
               ng-click="viewEditorClick(params.image_picture, $event)"
               href="javascript:void(0)">
               <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
            </a>
            <a ng-if="!editorMode"
               ng-hide="params.image_picture.is_mod_hide"
               ng-class="{true : 'clear-pointer'}[params.image_picture.href.length == 0]"
               target="{{params.image_picture.target ? params.image_picture.target : '_blank' }}"
               ng-href="{{params.image_picture.href}}"
               ng-class="{true : 'clear-pointer'}[params.image_picture.href.length == 0]">
               <img ng-src="{{getImagePictureText(params.image_picture.text)}}">
            </a>
        </div>
        <div class="stitching-span">
            <h2>
                <a ng-if="editorMode"
                   ng-hide="params.link_headline.is_mod_hide"
                   ng-click="viewEditorClick(params.link_headline, $event)"
                   href="javascript:void(0)">
                {{params.link_headline.text}}</a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_headline.is_mod_hide"
                   ng-class="{true : 'clear-pointer'}[params.link_headline.href.length == 0]"
                   target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}"
                   ng-href="{{params.link_headline.href}}">
                {{params.link_headline.text}}</a>
            </h2>
            <h3>
                <a ng-if="editorMode"
                   ng-hide="params.link_sublink.is_mod_hide"
                   ng-click="viewEditorClick(params.link_sublink, $event)"
                   href="javascript:void(0)">
                {{params.link_sublink.text}}</a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_sublink.is_mod_hide"
                   ng-class="{true : 'clear-pointer'}[params.link_sublink.href.length == 0]"
                   target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}"
                   ng-href="{{params.link_sublink.href}}">
                {{params.link_sublink.text}}</a>
            </h3>
            <span>
                <a ng-if="editorMode"
                    ng-hide="params.multiText_desc.is_mod_hide"
                    ng-click="viewEditorClick(params.multiText_desc, $event)"
                    href="javascript:void(0)"
                    ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_desc.is_mod_hide"
                   target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}"
                   ng-href="{{params.multiText_desc.href}}"
                   ng-class="{true : 'clear-pointer'}[params.multiText_desc.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_desc.text)"></a>
            </span>
        </div>

    </div>
</div>