<style>
    .mix-layer{
        margin: 0;
        padding: 0;
    }
    .clear-pointer, .clear-pointer a{
        cursor : default !important;
    }
    
    /* style1 css */
    .mix-layer .style1{

    }

    /* style2 css */

    
    /* style3 css */


    /* style4 css */


    /* style5 css */


    /* style6 css */
    .mix-layer .style6 a{
        color: aliceblue;
    }
    .mix-layer .style6 .mix-body{
        width: 1140px;
        height: 669.9px;
    }
    .mix-layer .style6 .mix-body .mix-div{
        float: right;
        text-align: right;
    }
    .mix-layer .style6 .mix-body .mix-div > h2{
        font-size: 32px;
    }
    .mix-layer .style6 .mix-body .mix-div > h3{
        font-size: 24px;
    }
    .mix-layer .style6 .mix-body .mix-div > span{
        word-wrap:break-word;
        white-space: pre-wrap;
    }
    .mix-layer .style6 .mix-body .mix-div > span a{
        font-size: 16px;
    }

    /* style7 css */


    /* style8 css */


    /* style9 css */


</style>

<div ng-controller="mix_layerController" class="mix-layer" ng-class="{true:'clear-pointer'}[editorMode]">

    <!-- style1 html -->
    <div ng-if='params.design.text=="style1"' class="style1 container">

    </div>


    <!-- style2 html -->

    <div ng-if='params.design.text=="style2"' class="style2">

    </div>

    <!-- style3 html -->
    <div ng-if='params.design.text=="style3"' class="style3">

    </div>

    <!-- style4 html -->
    <div ng-if='params.design.text=="style4"' class="style4">

    </div>

    <!-- style5 html -->
    <div ng-if='params.design.text=="style5"' class="style5">

    </div>

    <!-- style6 html -->
    <div ng-if='params.design.text=="style6"' class="style6 container">
            <!-- <div>1062.9 624.6</div> -->
        <div ng-style="mixLaer" class="mix-body">
            <div class="mix-div">
                <h2>
                    <a ng-if="editorMode"
                       ng-hide="params.link_title.is_mod_hide"
                       ng-click="viewEditorClick(params.link_title, $event)"
                       href="{{params.link_title.href}}">
                        {{params.link_title.text}}
                    </a>
                    <a ng-if="!editorMode"
                       ng-hide="params.link_title.is_mod_hide"
                       ng-class="{true : 'project-clear-pointer'}[params.link_title.href.length == 0]"
                       target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                       ng-href="{{params.link_title.href}}">
                        {{params.link_title.text}}
                    </a>
                </h2>
                <h3>
                    <a ng-if="editorMode"
                       ng-hide="params.link_subtitle.is_mod_hide"
                       ng-click="viewEditorClick(params.link_subtitle, $event)"
                       href="{{params.link_subtitle.href}}">
                        {{params.link_subtitle.text}}
                    </a>
                    <a ng-if="!editorMode"
                       ng-hide="params.link_subtitle.is_mod_hide"
                       ng-class="{true : 'project-clear-pointer'}[params.link_subtitle.href.length == 0]"
                       target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                       ng-href="{{params.link_subtitle.href}}">
                        {{params.link_subtitle.text}}
                    </a>
                </h3>
                <span>
                    <a ng-if="editorMode"
                       ng-click="viewEditorClick(params.multiText_content, $event)"
                       href="javascript::void(0)">
                        {{params.multiText_content.text}}
                    </a>
                    <a ng-if="!editorMode"
                       ng-class="{true : 'project-clear-pointer'}[params.multiText_content.href.length == 0]"
                       target="{{params.multiText_content.target ? params.multiText_content.target : '_blank' }}"
                       ng-href="{{params.multiText_content.href}}"
                       ng-class="{true : 'project-clear-pointer'}[params.multiText_content.href.length == 0]">
                        {{params.multiText_content.text}}
                    </a>
                </span>
            </div>
        </div>
    </div>

    <!-- style7 html -->
    <div ng-if='params.design.text=="style7"' class="style7">

    </div>

    <!-- style8 html -->
    <div ng-if='params.design.text=="style8"' class="style8">

    </div>

    <!-- style9 html -->
    <div ng-if='params.design.text=="style9"' class="style9">

    </div>

</div>