<style>
    .mix-clear-pointer, .mix-clear-pointer a{
        cursor : default !important;
    }
    
    .mix-a-color a{
        color: black !important;
    }
    /* style1 css */
    .mix-layer .style1 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style1 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style1 .mix-div{
        float: left;
        text-align: left;
        margin-left: 60px;
        margin-right: 60px;
    }
    .mix-layer .style1 .mix-div > h2{
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style1 .mix-div > h3{
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
        height: 25px;
    }
    .mix-layer .style1 .mix-div > span{
        display: block;
        word-wrap: break-word;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
    }
    .mix-layer .style1 .mix-div > span a{
        font-size: 16px;
    }

    /* style2 css */
    .mix-layer .style2 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style2 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style2 .mix-div{
        text-align: center;
        width: 100%;
        float: left;
    }
    .mix-layer .style2 .mix-div > h2{
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style2 .mix-div > h3{
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
        height: 25px;
    }
    .mix-layer .style2 .mix-div > span{
        display: block;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style2 .mix-div > span a{
        font-size: 16px;
    }
    
    /* style3 css */
    .mix-layer .style3 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style3 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style3 .mix-div{
        float: right;
        text-align: right;
        margin-right: 60px;
        margin-left: 60px;
    }
    .mix-layer .style3 .mix-div > h2{
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style3 .mix-div > h3{
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
        height: 25px;
    }
    .mix-layer .style3 .mix-div > span{
        display: block;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style3 .mix-div > span a{
        font-size: 16px;
    }

    /* style4 css */
     .mix-layer .style4 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style4 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style4 .mix-div{
        float: left;
        text-align: left;
        margin-left: 60px;
        margin-right: 60px;
    }
    .mix-layer .style4 .mix-div > h2{
        font-size: 32px;
        margin-top: 200px;
        margin-bottom: 10px;
        min-height: 33px;
    }
    .mix-layer .style4 .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 25px;
    }
    .mix-layer .style4 .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style4 .mix-div > span a{
        font-size: 16px;
    } 

    @media (max-width: 768px) {
        .mix-layer .style4 .mix-div{
            margin-left: 20px;
            margin-right: 20px;
        }
        .mix-layer .style4 .mix-div > span{
            white-space: normal;
        }
        .mix-layer .style4 .mix-div > span a{
            font-size: 13px;
        }

        .mix-layer .style4 .mix-div > h2{
            margin-top: 50px;
            margin-bottom: 10px;
            font-size: 22px;
        }
    }

    /* style5 css */
     .mix-layer .style5 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style5 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style5 .mix-div{
        text-align: center;
        width: 100%;
        float: left;
    }
    .mix-layer .style5 .mix-div > h2{
        font-size: 32px;
        margin-top:200px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style5 .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        height: 25px;
    }
    .mix-layer .style5 .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
        margin-right: 60px;
        margin-left: 60px;
    }
    .mix-layer .style5 .mix-div > span a{
        font-size: 16px;
    } 

    /* style6 css */
    .mix-layer .style6 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style6 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style6 .mix-div{
        float: right;
        text-align: right;
        margin-right: 60px;
        margin-left: 60px;
    }
    .mix-layer .style6 .mix-div > h2{
        font-size: 32px;
        margin-top: 200px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style6 .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        height: 25px;
    }
    .mix-layer .style6 .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style6 .mix-div > span a{
        font-size: 16px;
    }

    /* style7 css */
    .mix-layer .style7 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style7 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style7 .mix-div{
        float: left;
        text-align: left;
        margin-left: 60px;
        margin-right: 60px;
    }
    .mix-layer .style7 .mix-div > h2{
        font-size: 32px;
        margin-top: 300px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style7 .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        height: 25px;
    }
    .mix-layer .style7 .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style7 .mix-div > span a{
        font-size: 16px;
    }

    /* style8 css */
    .mix-layer .style8 .mix a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style8 .mix{
        width: 100%;
    }
    .mix-layer .style8 .mix .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style8 .mix .mix-div{
        text-align: center;
        width: 100%;
        float: left;
    }
    .mix-layer .style8 .mix .mix-div > h2{
        font-size: 32px;
        margin-top: 300px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style8 .mix .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        height: 25px;
    }
    .mix-layer .style8 .mix .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style8 .mix .mix-div > span a{
        font-size: 16px;
    }

    /* style9 css */
    .mix-layer .style9 a{
        color: rgb(255, 255, 255);
    }
    .mix-layer .style9 .mix-img{
        width: 100%;
        height: 694px;
        background-size: cover;
        background-position: center;
    }
    .mix-layer .style9 .mix-div{
        float: right;
        text-align: right;
        margin-right: 60px;
        margin-left: 60px;
    }
    .mix-layer .style9 .mix-div > h2{
        font-size: 32px;
        margin-top: 300px;
        margin-bottom: 10px;
        height: 33px;
    }
    .mix-layer .style9 .mix-div > h3{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        height: 25px;
    }
    .mix-layer .style9 .mix-div > span{
        display: block;
        word-wrap:break-word;
        white-space: pre-wrap;
        overflow: hidden;
    }
    .mix-layer .style9 .mix-div > span a{
        font-size: 16px;
    }

</style>

<div ng-controller="mix_layerController" class="mix-layer" ng-class="{true:'mix-clear-pointer'}[editorMode]">

    <!-- style1 html -->
    <div ng-if='params.design.text=="style1"' ng-class="{true:'container'}[!editorMode]" class="style1 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   ng-style="mixFontColor"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-style="mixFontColor"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   ng-style="mixFontColor"
                   href="javascript:void(0)">
                        {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-style="mixFontColor"
                   ng-href="{{params.link_subtitle.href}}">
                        {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-style="mixFontColor"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style2 html -->    
    <div ng-if='params.design.text=="style2"'  ng-class="{true:'container'}[!editorMode]"  class="style2 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                    ng-hide="params.link_title.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.link_title, $event)"
                    href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                    ng-hide="params.link_title.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                    target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                    ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                    ng-hide="params.link_subtitle.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.link_subtitle, $event)"
                    href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                    ng-hide="params.link_subtitle.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                    target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                    ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                    ng-hide="params.multiText_content.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.multiText_content, $event)"
                    href="javascript:void(0)"
                    ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                    ng-hide="params.multiText_content.is_mod_hide"
                    target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                    ng-href="{{params.multiText_content.href}}"
                    ng-style="mixFontColor"
                    ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                    ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
            ng-hide="params.media_img.is_mod_hide"
            ng-click="viewEditorClick(params.media_img, $event)"
            href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
            ng-hide="params.media_img.is_mod_hide"
            ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
            target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
            ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>
    
    <!-- style3 html -->
    <div ng-if='params.design.text=="style3"'  ng-class="{true:'container'}[!editorMode]"  class="style3 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-style="mixFontColor"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style4 html -->
    <div ng-if='params.design.text=="style4"' class="style4 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   ng-style="mixFontColor"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-style="mixFontColor"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   ng-style="mixFontColor"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-style="mixFontColor"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   ng-style="mixFontColor"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-style="mixFontColor"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style5 html -->
    <div ng-if='params.design.text=="style5"' ng-class="{true:'container'}[!editorMode]" class="style5 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   ng-style="mixFontColor"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style6 html -->
    <div ng-if='params.design.text=="style6"' ng-class="{true:'container'}[!editorMode]" class="style6 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   ng-style="mixFontColor"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style7 html -->
    <div ng-if='params.design.text=="style7"' ng-class="{true:'container'}[!editorMode]" class="style7 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   ng-style="mixFontColor"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>  
    </div>

    <!-- style8 html -->
    <div ng-if='params.design.text=="style8"' ng-class="{true:'container'}[!editorMode]" class="style8 clearfix">
        <div class="mix">
            <div class="mix-div" id="{{divHeight}}">
                <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                    <a ng-if="editorMode"
                    ng-hide="params.link_title.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.link_title, $event)"
                    href="javascript:void(0)">
                        {{params.link_title.text}}
                    </a>
                    <a ng-if="!editorMode"
                    ng-hide="params.link_title.is_mod_hide"
                    ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                    target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                    ng-href="{{params.link_title.href}}">
                        {{params.link_title.text}}
                    </a>
                </h2>
                <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                    <a ng-if="editorMode"
                    ng-hide="params.link_subtitle.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.link_subtitle, $event)"
                    href="javascript:void(0)">
                        {{params.link_subtitle.text}}
                    </a>
                    <a ng-if="!editorMode"
                    ng-hide="params.link_subtitle.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                    target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                    ng-href="{{params.link_subtitle.href}}">
                        {{params.link_subtitle.text}}
                    </a>
                </h3>
                <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                    <a ng-if="editorMode"
                    ng-hide="params.multiText_content.is_mod_hide"
                    ng-style="mixFontColor"
                    ng-click="viewEditorClick(params.multiText_content, $event)"
                    href="javascript:void(0)"
                    ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                    <a ng-if="!editorMode"
                    ng-hide="params.multiText_content.is_mod_hide"
                    target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                    ng-href="{{params.multiText_content.href}}"
                    ng-style="mixFontColor"
                    ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                    ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                </span>
            </div> 
            <a ng-if="editorMode"
            ng-hide="params.media_img.is_mod_hide"
            ng-click="viewEditorClick(params.media_img, $event)"
            href="javascript:void(0)">
                <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
                </div>  
            </a>
            <a ng-if="!editorMode"
            ng-hide="params.media_img.is_mod_hide"
            ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
            target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
            ng-href="{{params.media_img.href}}">
                <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
                </div>  
            </a>
        </div>  
    </div>

    <!-- style9 html -->
    <div ng-if='params.design.text=="style9"' ng-class="{true:'container'}[!editorMode]" class="style9 clearfix">
        <div class="mix-div" id="{{divHeight}}">
            <h2 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_title, $event)"
                   href="javascript:void(0)">
                    {{params.link_title.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_title.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_title.href.length == 0]"
                   target="{{params.link_title.target ? params.link_title.target : '_blank'}}"
                   ng-href="{{params.link_title.href}}">
                    {{params.link_title.text}}
                </a>
            </h2>
            <h3 ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.link_subtitle, $event)"
                   href="javascript:void(0)">
                    {{params.link_subtitle.text}}
                </a>
                <a ng-if="!editorMode"
                   ng-hide="params.link_subtitle.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-class="{true : 'mix-clear-pointer'}[params.link_subtitle.href.length == 0]"
                   target="{{params.link_subtitle.target ? params.link_subtitle.target : '_blank'}}"
                   ng-href="{{params.link_subtitle.href}}">
                    {{params.link_subtitle.text}}
                </a>
            </h3>
            <span ng-class="{true:'mix-a-color'}[params.media_img.is_mod_hide]">
                <a ng-if="editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   ng-click="viewEditorClick(params.multiText_content, $event)"
                   href="javascript:void(0)"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
                <a ng-if="!editorMode"
                   ng-hide="params.multiText_content.is_mod_hide"
                   ng-style="mixFontColor"
                   target="{{params.multiText_content.target ? params.multiText_content.target : '_blank'}}"
                   ng-href="{{params.multiText_content.href}}"
                   ng-class="{true : 'mix-clear-pointer'}[params.multiText_content.href.length == 0]"
                   ng-bind-html="subMarkdownRender(params.multiText_content.text)"></a>
            </span>
        </div> 
        <a ng-if="editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-click="viewEditorClick(params.media_img, $event)"
           href="javascript:void(0)">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a>
        <a ng-if="!editorMode"
           ng-hide="params.media_img.is_mod_hide"
           ng-class="{true : 'mix-clear-pointer'}[params.media_img.href.length == 0]"
           target="{{params.media_img.target ? params.media_img.target : '_blank'}}"
           ng-href="{{params.media_img.href}}">
            <div ng-style="setImgBackground(params.media_img.text)" id="{{imgHeight}}" class="mix-img">
            </div>  
        </a> 
    </div>
</div>