<style>
    @media (min-width:1025px) {
        .paracraft {
            width: 1000px;
            margin: 0 auto;
            margin-top: 40px;
        }
    }
    .world3D{
        display: flex;
        background-color: #F9F9F9;
        box-shadow: 0 0 5px 0 rgba(44,62,80,.35);
        padding:0;
        position: relative;
    }
    .world3D h4{
        margin-top:0;
    }
    @media (min-width:769px) {
        .world3D .img>img{
            width: 300px;
            height: 200px;
        }
    }
    .world3D .text{
        max-height: 200px;
        padding: 20px;
    }
    .world3D .inner p{
        line-height: 40px;
    }
    .world3D .inner .col-xs-6{
        padding-left:0;
    }
    .world3D .inner .col-xs-12{
        margin-bottom: 25px;
        padding:0;
    }
    .world3D .inner .icon{
        vertical-align: text-bottom;
        font-size: 17px;
        margin-right: 10px;
        width: 24px;
        height: 17px;
    }
    .world3D .inner .glyphicon-star{
        color: #FD3265;
    }
    .world3D .inner .info{
        color: #666;
    }
    .world3D .info{
        font-size: 12px;
        font-weight: normal;
        color: #999;
    }
    .world3D .btn-default{
        background-color: transparent;
        border:1px solid #656565;
    }
    .world3D .mask{
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        background-color: rgba(0,0,0,.3);
    }
    .world3D .model-main{
        position: absolute;
        background-color: #FFF;
        width: 390px;
        left: 50%;
        align-self: center;
        transform: translate(-195px,0);
        padding: 20px 58px 30px;
        text-align: center;
    }
    .world3D .model-main .close-icon{
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .world3D .model-main .btn-default{
        font-size: 16px;
        padding: 8px 37px;
        border: 1px solid #3977AD;
        color: #333;
    }
    .world3D .model-main p{
        line-height: 30px;
    }
    /* style2 css */
    .world4D{
        width: 1190px;
        margin: 0 auto;
    }
    .world4D .world-head .world-div1 .worldName , .world4D .world-head .world-div1 .useName{
        float: left;
        margin-right: 30px;
    }
    .world4D .world-head .world-div2 .worldBtn{
        float:right;
        width: 150px;
        margin-left: 30px;
        text-align: center;
    } 
    .world4D .world-head .world-div2 .worldBtn img {
        float: left;
        margin-top:6.2px;
        margin-left: 15px;
    }
    .world4D .world-body .world-img2 , .world4D .world-body .world-text{
        float: left;
    }
    .world-img2{
        float: left;
        height: 314px;
        width: 431px;
        overflow: hidden;
    }
    .world-img2 img{
        height: 100%;
        /* max-width: unset;
        position: relative;
        left: -50%;
        top: -50%; */
    }
    .world4D .world-body .world-text{
        width: 720px;
        height: 275px;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
        margin-left: 30px;
        font-size: 18px;
    }
    .world-btn2{
        text-align: center;
    }
    .world-btn2 span{
        display: inline-block;
        margin-top: 1px
    }
    .world-span1{
        color: #999;
    }
    .world-span2{
        color: #999;
    }
    /* style3 css */
    .world5D{
        margin: 0 auto;
        width: 1040px;
    }
    .world-img3{
        float: left;
        height: 314px;
        width: 431px;
        overflow: hidden;
    }
    .world-img3 img{
        height: 100%;
        /* position: relative;
        left: -50%;
        top: -50%; */
    }
    .world-text3{
        float:left;
        margin-left: 30px;
    }
    .world-btn3{
        width: 150px;
        float: left;
        margin-right: 30px;
    }
    .world-btn3 img{
        float: left;
        margin-top:6.2px;
        margin-left: 15px;
    }
    .worldName2{
        margin-top:0;
    }
    .worldUse2{
        margin-top: 5px;
    }
    .world-work2{
        margin-top: 15px;
        height:197.73px;
        width: 560px;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
        
    }
    .world-work-span1{
        font-size: 20px;
        color: #999;
    }
    .world-work-span2{
        color: #999;
    }

    /* @media css */
    @media (max-width: 992px) {
        .world3D .inner{
            padding-right:0;
        }
    }
    @media (max-width: 768px){
        .world3D{
            display: block;
        }
        .world3D .img{
            text-align: center;
        }
    }
</style>
<div ng-controller="paracraftWorldController">
    <div ng-if='params.design.text=="style1"' class="world3D">
        <div ng-hide="params.logoUrl.is_mod_hide" class="img">
            <img ng-src="{{getImageUrl(params.logoUrl) || imgsPath + '3DWorld.jpg'}}" alt="">
        </div>
        <div class="text">
            <h4 ng-hide="params.worldName.is_mod_hide">{{params.worldName.text}}<p ng-hide="params.updateDate.is_mod_hide" class="info pull-right">{{params.updateDate.text + " 版本：" + params.version.text}}</p></h4>
            <div class="inner clearfix">
                <p ng-hide="params.username.is_mod_hide">作者：{{params.username.text}}</p>
                <div class="col-xs-12">
                    <div class="col-xs-6 info"><img ng-src="{{imgsPath + 'icon/world3D_eye.png'}}" class="icon" alt="">浏览量 {{viewTimes}}</div>
                    <div ng-hide="params.filesTotals.is_mod_hide" class="col-xs-6 info" ng-bind="'大小' + getSize(params.filesTotals.text)"></div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6" ng-hide="params.worldUrl.is_mod_hide"><a class="btn btn-block btn-default" href="{{params.worldUrl.text}}" target="_blank">下载</a></div>
                    <div class="col-xs-6"><a class="btn btn-block btn-primary" ng-click="checkEngine()">进入</a></div>
                </div>
            </div>
        </div>
        <div class="mask" ng-show="showModal" ng-click="closeModal()"></div>
        <div class="model-main" ng-show="showModal">
            <button type="button" class="close close-icon"><span aria-hidden="true" ng-click="closeModal()">&times;</span></button>
            <p>如果您的设备没有自动使用Paracraft启动3D世界，请安装Paracraft</p>
            <div class="btn btn-lg btn-default" ng-click="clickDownload()">点击下载</div>
        </div>
    </div>
    <div ng-if='params.design.text=="style2"'>
        <div class="world4D">
            <div class="world-head clearfix">
                <div class="world-div1">
                    <h2 ng-hide="params.worldName.is_mod_hide" class="worldName"><a>{{params.worldName.text}}</a></h2>
                    <h3 ng-hide="params.username.is_mod_hide" class="useName">作者：{{params.username.text}}</h3>
                </div>
                <div class="world-div2">
                    <div class="worldBtn"><a class="btn btn-block btn-primary world-btn2" ng-click="checkEngine()">进入</a></div>
                    <div ng-hide="params.worldUrl.is_mod_hide" class="worldBtn">
                        <img src="{{params.btnLogo.text}}" alt="">
                        <a class="btn btn-block btn-default world-btn2" href="{{params.worldUrl.text}}" target="_blank">
                            下载
                        </a>
                    </div>
                </div>
            </div>
            <div class="world-body clearfix">
                <div ng-hide="params.logoUrl.is_mod_hide" class="world-img2">
                    <img ng-src="{{getImageUrl(params.logoUrl) || imgsPath + 'paracraftWorld.png'}}" alt="">
                </div>
                <div ng-hide="params.desc.is_mod_hide" class="world-text">
                    <span class="world-span1">作品简介：</span><br>
                        <span class="world-span2" ng-if="params.desc.text.length == 0">
                            从来都记忆模糊，记不得都去了哪些地方，看了哪些风景，遇到哪些人。尽管同学说，去<br>
                            旅行不在于记忆，而在于当时餐，午餐，晚餐。或许吃得不好，可是却依旧为对方擦去嘴角<br>
                            的油渍。风景如何，其实并不重要。于记忆，而在于当时餐，午餐，晚餐。或许吃得不<br>
                            好，可是却依旧为对方擦去嘴角的油渍。风景如何，其实并不重要。于记忆，而在于当时<br>
                            餐，午餐，晚餐。或许吃得不好，可是却依旧为对方擦去嘴角的油渍。风景如何，其实并<br>
                            不重要。于记忆，而在于当时餐，午餐，晚餐。或许吃得不好，可是却依旧为对方擦去嘴<br>
                            角的油渍。风景如何，其实并不重要。吃得不好，可是却依旧为对方擦去嘴角的油渍。风<br>
                            景如何，其实并不重要。晚餐。或许吃得不好，可是却依旧为对方擦去嘴角的油渍。风景<br>
                            如何，其实并不重要。于记忆，而在于当时餐，午餐，晚餐。或许吃得不好，可是却依旧<br>
                            为对方擦去嘴角的油渍。风景如何，其实并不重要。
                        </span>
                        <span ng-if="params.desc.text.length > 0">{{params.desc.text}}</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if='params.design.text=="style3"'>
        <div class="world5D clearfix">
            <div ng-hide="params.logoUrl.is_mod_hide" class="world-img3">
                <img ng-src="{{getImageUrl(params.logoUrl) || imgsPath + 'paracraftWorld.png'}}" alt="">
            </div>
            <div class="world-text3">
                <div class="clearfix">
                    <h2 ng-hide="params.worldName.is_mod_hide" class="worldName2"><a>{{params.worldName.text}}</a></h2>
                    <h3 ng-hide="params.username.is_mod_hide" class="worldUse2">作者：{{params.username.text}}</h3>
                </div>
                <div ng-hide="params.desc.is_mod_hide" class="world-work2">
                    <span class="world-work-span1">作品简介：</span><br>
                    <span ng-if="params.desc.text.length == 0" class="world-work-span2">
                        从来都记忆模糊，记不得都去了哪些地方，看了哪些风景，遇到哪些人。尽管同学说，去<br>
                        旅行不在于记忆，而在于当时餐，午餐，晚餐。或许吃得不好，可是却依旧为对方擦去嘴角<br>
                        的油渍。风景如何，其实并不重要。
                    </span>
                    <span ng-if="params.desc.text.length > 0">{{params.desc.text}}</span>
                </div>
                <div ng-hide="params.worldUrl.is_mod_hide" class="world-btn3">
                    <img src="{{params.btnLogo.text}}" alt="">
                    <a class="btn btn-block btn-default" href="{{params.worldUrl.text}}" target="_blank">
                        下载
                    </a>
                </div>
                <div class="world-btn3"><a class="btn btn-block btn-primary" ng-click="checkEngine()">进入</a></div>
            </div>
        </div>
    </div>
</div>