<style>
    .photo-clear-pointer a{
        cursor : default;
    }
    .photo-body{
        width: 100%;
        height:600px;
    }
    .photo-body img{
        width:100%;
        height:100%;
        overflow: hidden;
    }
</style>
<div ng-controller="photoController">
    <div ng-class="{true:'photo-clear-pointer'}[editorMode]" ng-if='params.design.text=="style1"'>
        <div class="photo-body">
            <a ng-if="!editorMode" href="{{params.media_photo.href}}"><img ng-src="{{params.media_photo.text}}"></a>
            <a ng-if="editorMode" href="javascript::void(0)"><img ng-src="{{params.media_photo.text}}"></a>
        </div>
    </div>
</div>