<style>
    /* style1 css */
    *{
        padding: 0;
        margin: 0;
    }
    .picture-one{
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        max-width: 1196px;
    }
    .picture-body .picture-img{
        float: left;
        max-width:520px;
        max-height:701px;
        text-align: center;
        line-height: 250px;
        background: rgb(227, 224, 224);
    }
    .picture-body .picture-img img{
        width:100%;
        height:100%;
        overflow: hidden;
    }
    .picture-body .picture-span{
        margin-left: 70px;
        float: left;
        margin-top: -30px;
    }
    .picture-span{
        max-width:576px;
        word-wrap:break-word;
        text-align: left;
    }
    .picture-span h1{
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .picture-span h2{
        margin: 0;
    }
    .picture-btn{
        float: right;
        clear:both;
        margin-top: 30px;
    }
    /* style1 css 伪类 */
    .picture-span h1 a:link  , .picture-span h1 a:visited , 
    .picture-span h1 a:hover , .picture-span h1 a:active {
        color: black;
    }
    .picture-span h2 a:link  , .picture-span h2 a:visited , 
    .picture-span h2 a:hover , .picture-span h2 a:active {
        color: rgb(0, 0, 0);
    }
    .picture-span span a:link  , .picture-span span a:visited ,
    .picture-span span a:hover , .picture-span span a:active {
        color: black;
    }
    /* style2 css */
    .picture-two{
        padding-top: 30px;
        margin: 0 auto;
        max-width: 1196px;
    }
    .picture-spans{
        max-width: 700px;
        height: 648.61px;
        word-wrap:break-word;
        float: left;
        writing-mode:tb-rl;
    }
    .picture-spans span , .picture-spans h1 , .picture-spans h2{
        margin-right: 50px;
    }
    .picture-spans h1 , .picture-spans h2{
        margin-top: 0;
    }
    .picture-imgs{
        float: left;
        max-width:520px;
        max-height:701px;
        text-align: center;
        line-height: 250px;
        background: rgb(227, 224, 224);
        margin-left: 70px;
    }
    .picture-imgs img{
        width:100%;
        height:100%;
        overflow: hidden; 
    }
    .picture-btn2{
        float: left;
        margin-top: 30px;
        margin-left: 280px;
    }
    /* style2 css 伪类 */
    .picture-spans h1 a:link  , .picture-spans h1 a:visited , 
    .picture-spans h1 a:hover , .picture-spans h1 a:active {
        color: black;
    }
    .picture-spans h2 a:link  , .picture-spans h2 a:visited , 
    .picture-spans h2 a:hover , .picture-spans h2 a:active {
        color: rgb(0, 0, 0);
    }
    .picture-spans span a:link  , .picture-spans span a:visited ,
    .picture-spans span a:hover , .picture-spans span a:active {
        color: black;
    }
</style>

<div ng-controller="pictureTextController">

    <!-- style1 -->

    <div ng-if='params.design.text=="style1"'>
        <div class="picture-one">
            <div class="picture-body clearfix">
                <div ng-if="!params.pictureTextImg.is_show" class="picture-img">
                    <div ng-if="params.pictureTextImg.text.length == 0">YOUR PICTURE</div>
                    <a target="_blank" href="{{params.pictureTextImg.href}}"><img ng-if="params.pictureTextImg.text.length > 0" src="{{params.pictureTextImg.text}}"></a>
                </div>
                <div class="picture-span">
                    <h2 ng-if="!params.hTwo.is_show"><a target="_blank" href="{{params.hTwo.href}}">{{params.hTwo.text}}</a></h2>
                    <h1 ng-if="!params.hOne.is_show"><a target="_blank" href="{{params.hOne.href}}">{{params.hOne.text}}</a></h1>
                    <div class="span-one" >
                        <span ng-if="!params.spanOne.is_show || params.spanOne.text.length == 0">
                            <a target="_blank" href="{{params.spanOne.href}}">
                                &nbsp;&nbsp;&nbsp;&nbsp;一个人去旅行，而且是去故乡的山水间徜徉。
                                临行之前，面对太多的疑问和不解：为何是一个人？
                                也有善意的提醒：何不去远方！
                                昆明呀——赶一个花海；三亚呀——赴一个蓝天碧海。
                                只是微笑地固执自己的坚持，不做任何解释。
                                没有人明白，这一次是一个告别，或者一个永远的告别，以后我会去到很多很繁华或苍凉，辽远或偏僻的地方，而会常常想起这一次的旅行，想起那座山，那个城，那些人……
                                <br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;有时我们选择改变，并非经过深思熟虑，而更像是听见了天地间冥冥中的呼唤，呼唤你前往另一个地方，过上另一种生活。
                                你并不一定会从此拥有更美好的人生，可你仍然感谢天地和人世所带来的这些变化和发生。
                                不然你大概会一直好奇和不甘吧——家门前的那条小路，到底通向了什么样的远方呢？。
                                <br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;对于旅行，从来都记忆模糊。
                                记不得都去了哪些地方，看了哪些风景，遇到哪些人。
                                尽管同学说，去旅行不在于记忆，而在于当时的那份心情。
                                可是旅行的彼时那刻我的心情一直是好的吗？一直有记日记的习惯，可是，旅行回来，都懒得写日记来记录，可见内心底对旅行是多么的淡漠。
                                如果可以，我真想和你一直旅行。
                                或许是某个未开发的荒凉小岛，或许是某座闻名遐迩的文化古城。我们可以沿途用镜头记录彼此的笑脸，和属于我们的风景。
                                一起吃早餐，午餐，晚餐。或许吃得不好，可是却依旧为对方擦去嘴角的油渍。风景如何，其实并不重要。
                                重要的是，你在我的身边。
                            </a>
                        </span>
                        <span ng-if="!params.spanOne.is_show || params.spanOne.text.length > 0"><a target="_blank" href="{{params.spanOne.href}}">{{params.spanOne.text}}</a></span>
                        <div ng-if="!params.btn.is_show" class="picture-btn">
                            <a target="_blank" class="btn btn-primary" href="{{params.btn.href}}" role="button">{{params.btn.text}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- style2 -->

    <div ng-if='params.design.text=="style2"'>
        <div class="picture-two">
            <div class="picture-two-body clearfix">
                <div ng-if="!params.spanOne.is_show" class="picture-spans">
                    <span ng-if="params.spanOne.text.length == 0">
                        <a target="_blank" href="{{params.spanOne.href}}">
                            &nbsp;&nbsp;&nbsp;&nbsp;一个人去旅行，而且是去故乡的山水间徜徉。
                            临行之前，面对太多的疑问和不解：为何是一个人？
                            也有善意的提醒：何不去远方！
                            昆明呀——赶一个花海；三亚呀——赴一个蓝天碧海。
                            只是微笑地固执自己的坚持，不做任何解释。
                            没有人明白，这一次是一个告别，或者一个永远的告别，以后我会去到很多很繁华或苍凉，辽远或偏僻的地方，而会常常想起这一次的旅行，想起那座山，那个城，那些人……
                            <br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;有时我们选择改变，并非经过深思熟虑，而更像是听见了天地间冥冥中的呼唤，呼唤你前往另一个地方，过上另一种生活。
                            你并不一定会从此拥有更美好的人生，可你仍然感谢天地和人世所带来的这些变化和发生。
                            不然你大概会一直好奇和不甘吧——家门前的那条小路，到底通向了什么样的远方呢？要的是，你在我的身边。
                        </a>
                    </span>
                    <span ng-if="params.spanOne.text.length > 0"><a href="{{params.spanOne.href}}">{{params.spanOne.text}}</a></span>
                    <h2 ng-if="!params.hTwo.is_show"><a target="_blank" href="{{params.hTwo.href}}">{{params.hTwo.text}}</a></h2>
                    <h1 ng-if="!params.hOne.is_show"><a target="_blank" href="{{params.hOne.href}}">{{params.hOne.text}}</a></h1>
                </div>
                <div ng-if="!params.pictureTextImg.is_show" class="picture-imgs">
                    <div ng-if="params.pictureTextImg.text.length == 0">YOUR PICTURE</div>
                    <a target="_blank" href="{{params.pictureTextImg.href}}"><img ng-if="params.pictureTextImg.text.length > 0" src="{{params.pictureTextImg.text}}"></a>
                </div>
            </div>
            <div ng-if="!params.btn.is_show" class="picture-btn2">
                <a target="_blank" class="btn btn-primary" href="{{params.btn.href}}" role="button">{{params.btn.text}}</a>
            </div>
        </div>
    </div>
</div>