<style>
    /* style1 css */
    *{
        padding: 0;
        margin: 0;
    }
    .picture-one{
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        max-width: 1196px;
    }
    .picture-body .picture-img{
        float: left;
        max-width:490px;
        max-height:701px;
        text-align: center;
        line-height: 250px;
        background: rgb(227, 224, 224);
    }
    .picture-body .picture-img img{
        width:100%;
        height:100%;
        overflow: hidden;
    }
    .picture-body .picture-span{
        margin-left: 70px;
        float: left;
        margin-top: -30px;
    }
    .picture-span{
        max-width:576px;
        word-wrap:break-word;
        text-align: left;
    }
    .picture-span h1{
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .picture-span h2{
        margin: 0;
    }
    .picture-btn{
        float: right;
        clear:both;
        margin-top: 30px;
    }
    /* style1 css 伪类 */
    .picture-span h1 a:link  , .picture-span h1 a:visited , 
    .picture-span h1 a:hover , .picture-span h1 a:active {
        color: black;
    }
    .picture-span h2 a:link  , .picture-span h2 a:visited , 
    .picture-span h2 a:hover , .picture-span h2 a:active {
        color: rgb(0, 0, 0);
    }
    .picture-span span a:link  , .picture-span span a:visited ,
    .picture-span span a:hover , .picture-span span a:active {
        color: black;
    }
    /* style2 css */
    .picture-two{
        padding-top: 30px;
        margin: 0 auto;
        max-width: 1196px;
    }
    .picture-two-body{
        width: 1070px;
        margin: 0 auto;
    }
    .picture-spans{
        width: 480px;
        height: 585px;
    }
    .picture-spans span , .picture-spans h1 , .picture-spans h2{
        margin-left: 43px;
        writing-mode: tb-rl;
        display: block;
        float: right;
        overflow: hidden;
        word-wrap:break-word;
    }
    .picture-spans h1 , .picture-spans h2{
        margin-top: 0;
    }
    .picture-spans span{
        max-width: 220px;
        overflow: hidden;
    }
    .picture-spans h1{
        max-width: 100px;
    }
    .picture-spans h2{
        max-width: 25px;
    }
    .style2-picture-img{
        float: left;
        max-width:520px;
        max-height:701px;
        text-align: center;
        line-height: 250px;
        background: rgb(227, 224, 224);
        margin-left: 70px;
    }
    .style2-picture-img img{
        width:100%;
        height:100%;
        overflow: hidden; 
    }
    .picture-btn2{
        float: right;
        margin-top: 30px;
    }
    /* style2 css 伪类 */
    .picture-spans h1 a:link  , .picture-spans h1 a:visited , 
    .picture-spans h1 a:hover , .picture-spans h1 a:active {
        color: black;
    }
    .picture-spans h2 a:link  , .picture-spans h2 a:visited , 
    .picture-spans h2 a:hover , .picture-spans h2 a:active {
        color: rgb(0, 0, 0);
    }
    .picture-spans span a:link  , .picture-spans span a:visited ,
    .picture-spans span a:hover , .picture-spans span a:active {
        color: black;
    }

    .clear-pointer a{
        cursor : default;
    }
</style>

<div ng-controller="pictureTextController" ng-class="{true : 'clear-pointer'}[editorMode]">

    <!-- style1 -->
    <div ng-if='params.design.text=="style1"'>
        <div class="picture-one">
            <div class="picture-body clearfix">
                <div ng-hide="params.image_picture.is_mod_hide" class="picture-img">
                    <div ng-if="params.image_picture.text.length == 0">YOUR PICTURE</div>
                    <a ng-if="editorMode && params.image_picture.text.length > 0" ng-click="viewEditorClick(params.image_picture, $event)" href="javascript::void(0)"><img ng-src="{{params.image_picture.text}}"></a>
                    <a ng-if="!editorMode && params.image_picture.text.length > 0" target="{{params.image_picture.target ? params.image_picture.target : '_blank' }}" ng-href="{{params.image_picture.href}}"><img ng-src="{{params.image_picture.text}}"></a>
                </div>
                <div class="picture-span">
                    <h2 ng-hide="params.link_sublink.is_mod_hide">
                        <a ng-if="editorMode" ng-click="viewEditorClick(params.link_sublink, $event)" href="javascript::void(0)">{{params.link_sublink.text}}</a>
                        <a ng-if="!editorMode" target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}" ng-href="{{params.link_sublink.href}}">{{params.link_sublink.text}}</a>
                    </h2>
                    <h1 ng-hide="params.link_headline.is_mod_hide">
                        <a ng-if="editorMode" ng-click="viewEditorClick(params.link_headline, $event)" href="{{params.link_headline.href}}">{{params.link_headline.text}}</a>
                        <a ng-if="!editorMode" target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}" ng-href="{{params.link_headline.href}}">{{params.link_headline.text}}</a>
                    </h1>
                    <div class="span-one">
                        <span ng-hide="params.multiText_desc.is_mod_hide">
                            <span>
                                <a ng-if="editorMode" ng-click="viewEditorClick(params.multiText_desc, $event)" href="javascript::void(0)" ng-bind-html="params.multiText_desc.text"></a>
                                <a ng-if="!editorMode" target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}" ng-href="{{params.multiText_desc.href}}" ng-bind-html="params.multiText_desc.text"></a>
                            </span>
                        </span>
                        <div ng-hide="params.link_more.is_mod_hide" class="picture-btn">
                            <a ng-if="editorMode" class="btn btn-primary" ng-click="viewEditorClick(params.link_more, $event)" href="javascript::void(0)">{{params.link_more.text}}</a>
                            <a ng-if="!editorMode" target="{{params.link_more.target ? params.link_more.target : '_blank'}}" class="btn btn-primary" ng-href="{{params.link_more.href}}">{{params.link_more.text}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- style2 -->
    <div ng-if='params.design.text=="style2"'>
        <div class="picture-two">
            <div class="picture-two-body clearfix">
                <div class="clearfix pull-left">
                    <div ng-hide="params.multiText_desc.is_mod_hide" class="picture-spans">
                        <span>
                            <a ng-if="editorMode" ng-click="viewEditorClick(params.multiText_desc, $event)" href="javascript::void(0)" ng-bind-html="params.multiText_desc.text"></a>
                            <a ng-if="!editorMode" target="{{params.multiText_desc.target ? params.multiText_desc.target : '_blank'}}" ng-href="{{params.multiText_desc.href}}" ng-bind-html="params.multiText_desc.text"></a>
                        </span>
    
                        <h2 ng-hide="params.link_sublink.is_mod_hide">
                            <a ng-if="editorMode" ng-click="viewEditorClick(params.link_sublink, $event)"  href="javascript::void(0)">{{params.link_sublink.text}}</a>
                            <a ng-if="!editorMode" target="{{params.link_sublink.target ? params.link_sublink.target : '_blank'}}" ng-href="{{params.link_sublink.href}}">{{params.link_sublink.text}}</a>
                        </h2>
                        <h1 ng-hide="params.link_headline.is_mod_hide">
                            <a ng-if="editorMode" ng-click="viewEditorClick(params.link_headline, $event)" href="javascript::void(0)">{{params.link_headline.text}}</a>
                            <a ng-if="!editorMode" target="{{params.link_headline.target ? params.link_headline.target : '_blank'}}" ng-href="{{params.link_headline.href}}">{{params.link_headline.text}}</a>
                        </h1>
                    </div>
                    <div ng-hide="params.link_more.is_mod_hide" class="picture-btn2">
                        <a ng-if="editorMode" ng-click="viewEditorClick(params.link_more, $event)" class="btn btn-primary" href="javascript::void(0)">{{params.link_more.text}}</a>
                        <a ng-if="!editorMode" target="{{params.link_more.target ? params.link_more.target : '_blank'}}" class="btn btn-primary" ng-href="{{params.link_more.href}}">{{params.link_more.text}}</a>
                    </div>
                </div>
                <div ng-hide="params.image_picture.is_mod_hide" class="style2-picture-img">
                    <div ng-if="params.image_picture.text.length == 0">YOUR PICTURE</div>
                    <a ng-if="editorMode && params.image_picture.text.length > 0" ng-click="viewEditorClick(params.image_picture, $event)"  href="javascript::void(0)"><img src="{{params.image_picture.text}}"></a>
                    <a ng-if="!editorMode && params.image_picture.text.length > 0"  target="{{params.image_picture.target ? params.image_picture.target : '_blank'}}" ng-href="{{params.image_picture.href}}"><img src="{{params.image_picture.text}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>