<style>
    /* style1 css */
    *{
        padding: 0;
        margin: 0;
    }
    .picture-one{
        width:100%;
        height: auto;
        padding-left: 80px;
        padding-right: 80px;
    }
    .picture-head{
        width: 100%;
    }
    .picture-body{
        width:100%;
        height:250px;
    }
    .picture-body .picture-img{
        float: left;
        width:400px;
        height:250px;
        text-align: center;
        line-height: 250px;
        background: rgb(227, 224, 224);
    }
    .picture-body .picture-img img{
        width:100%;
        height:100%;
        overflow: hidden;
    }
    .picture-body .picture-span{
        margin-left: 10px;
        float: left;
    }
    .picture-btn{
        float: right;
    }
    /* style2 css */

</style>

<div ng-controller="pictureTextController">
    <div ng-if='params.design.text=="style1"'>
        <div class="picture-one clearfix">
            <div class="picture-body">
                <div class="picture-img">
                    <div ng-if="params.pictureTextImg.text.length == 0">YOUR PICTURE</div>
                    <img ng-if="params.pictureTextImg.text.length > 0" src="{{params.pictureTextImg.text}}">
                </div>
                <div class="picture-span">
                    <span>{{params.spanOne.text}}</span>
                </div>
            </div>
            <div class="picture-btn">
                <a class="btn btn-primary" href="{{params.btn.href}}" role="button">{{params.btn.text}}</a>
            </div>
        </div>
    </div>
    <div ng-if='params.design.text=="style2"'>
            
    </div>

</div>