<style>
    .textContainerLeft{
        text-align: left;
        width: 100%;
    }
    .textContainerCenter{
        text-align: center;
        width: 100%;
    }
    .textTitle{
        font-weight: bold;
        font-size: 32px;
        width: 100%
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: inherit;
        border: none;
    }
    .textContent {
        font-size: 14px;
        line-height: 30px;
        text-indent: 28px;
    }
    .clear-pointer a{
        cursor: default !important;
    }
    .textTitle > a {
        color: black;
    }
</style>

<div ng-controller="textController">
    <div class="container">
        <div class="textContainerLeft" ng-if="params.design.text == 'left'" ng-class="{true:'clear-pointer'}[editorMode]">
            <h1 class='textTitle' ng-click="viewEditorClick(params.title, $event)"><a target="{{params.title.target ? params.title.target : '_blank'}}" href="#">{{params.title.text}}</a></h1>
            <div class='textContent' ng-click="viewEditorClick(params.multiText_desc, $event)" ng-bind-html="params.multiText_desc.text"></div>
        </div>
        <div class="textContainerCenter" ng-if="params.design.text == 'center'" ng-class="{true:'clear-pointer'}[editorMode]">
            <h1 class='textTitle' ng-click="viewEditorClick(params.title, $event)"><a target="{{params.title.target ? params.title.target : 'false'}}" href="#">{{params.title.text}}</a></h1>
            <div class='textContent' ng-click="viewEditorClick(params.multiText_desc, $event)" ng-bind-html="params.multiText_desc.text"></div>
        </div>
    </div>
</div>