<style>
    /* style1 css */
    .title-mod{
        width: 100%;
        height: 150px;
        padding: 0;
        margin: 0px;
    }
    .title-mod .title-mod-img, .title-mod .title-mod-head{
        float: left;
    }
    .title-mod .title-mod-head{
        margin-top:32px;
    }
    .title-mod .title-mod-img{
        line-height: 108px;
        font-size: 20px;
        text-align: center;
        margin-left: 100px;
        margin-top: 20px;
        width: 89px;
        height: 89px;
    }
    .title-mod .title-mod-img img{
        width:100%;
        height:100%;
        overflow: hidden;
    }
    .title-mod .title-mod-head .h1{
        width: 600px;
        height: 26px;
        padding: 0;
        margin-left: 10px;
        font-size: 25px;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
    }
    .title-mod .title-mod-head .h2{
        width: 600px;
        height: 16px;
        font-size: 15px;
        color: rgb(196, 191, 191); 
        margin-left: 10px;
        margin-top: -10px;
        -webkit-line-clamp: 1;  
        overflow: hidden;  
        display: -webkit-box;  
        -webkit-box-orient: vertical;  
        white-space: normal; 
    }

    .title-clear-pointer a{
        cursor: default !important;
    }

    /* style1 css 伪类 */
    .h1 a:link  , .h1 a:visited ,
    .h1 a:hover , .h1 a:active{
        color: black;
    }
    .h2 a:link  , .h2 a:visited ,
    .h2 a:hover , .h2 a:active{
        color: rgb(196, 191, 191); 
    }

    /* style2 css */
    .title-mod2{
        width: 100%;
        height: 180px;
        padding-top: 30px;
        margin: 0px;
    }
    .title-mod2 .title-mod2-img-two{
        width:89px;
        height:89px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }
    .title-mod-head2{
        padding-top: 10px;
    }
    .title-mod2 .title-mod-head2 .h-one{
        text-align: center;
        margin: 0 auto;
        font-size: 25px;
    }
    .title-mod2 .title-mod-head2 .h-two{
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
        color: rgb(196, 191, 191); 
    }
    
    /* style2 css 伪类 */
    .h-one a:link  , .h-one a:visited ,
    .h-one a:hover , .h-one a:active{
        color: black;
    }
    .h-two a:link  , .h-two a:visited ,
    .h-two a:hover , .h-two a:active{
        color: rgb(196, 191, 191); 
    }
</style>
<div ng-controller="titleController">
    <div ng-class="{true:'title-clear-pointer'}[editorMode]" ng-if='params.design.text=="style1"'>
        <div class="title-mod container">
            <div class="title-mod-img" ng-hide="params.media_img.is_mod_hide">
                <div ng-if="params.media_img.text.length == 0">YOUR LOGO</div>
                <a ng-if="editorMode" href="javascript::void(0)">
                    <img ng-if="params.media_img.text.length > 0" src="{{params.media_img.text}}">
                </a>
                <a ng-if="!editorMode" ng-href="{{params.media_img.href}}">
                    <img ng-if="params.media_img.text.length > 0" src="{{params.media_img.text}}">
                </a>
            </div>
            <div class="title-mod-head">
                <h1 class="h1" ng-hide="params.link_title.is_mod_hide">
                    <a ng-if="editorMode" href="javascript::void(0)">{{params.link_title.text}}</a>
                    <a ng-if="!editorMode" ng-href="{{params.link_title.href}}">{{params.link_title.text}}</a>
                </h1>
                <h2 class="h2" ng-hide="params.link_subtitle.is_mod_hide">
                    <a ng-if="editorMode" href="javascript::void(0)">{{params.link_subtitle.text}}</a>
                    <a ng-if="!editorMode" ng-href="{{params.link_subtitle.href}}">{{params.link_subtitle.text}}</a>
                </h2>
            </div>
        </div>
    </div>
    <div ng-if='params.design.text=="style2"'>
        <div ng-class="{false:'title-clear-pointer'}[titleClass]" class="title-mod2 container">
            <div class="title-mod2-img-two" ng-hide="params.media_img.is_mod_hide">
                <div ng-if="params.media_img.text.length == 0">YOUR LOGO</div>
                <a ng-if="editorMode" href="javascript::void(0)">
                    <img ng-if="params.media_img.text.length > 0" src="{{params.media_img.text}}">
                </a>
                <a ng-if="!editorMode" ng-href="{{params.media_img.href}}">
                    <img ng-if="params.media_img.text.length > 0" src="{{params.media_img.text}}">
                </a>
            </div>
            <div class="title-mod-head2">
                <h1 class="h-one" ng-hide="params.link_title.is_mod_hide">
                    <a ng-if="editorMode" href="javascript::void(0)">{{params.link_title.text}}</a>
                    <a ng-if="!editorMode" ng-href="{{params.link_title.href}}">{{params.link_title.text}}</a>
                </h1>
                <h2 class="h-two" ng-hide="params.link_subtitle.is_mod_hide">
                    <a ng-if="editorMode" href="javascript::void(0)">{{params.link_subtitle.text}}</a>
                    <a ng-if="!editorMode" ng-href="{{params.link_subtitle.href}}">{{params.link_subtitle.text}}</a>
                </h2>
            </div>
        </div>
    </div>
</div>