<style>
    .ads{
        text-align: center;
        color: #FFF;
        position: relative;
    }
    .ads h1{
        margin: 65px 0 20px;
    }
    .ads h2{
        font-weight: lighter;
    }
    .ads h4{
        color: #71A3CE;
    }
    .banner-bg{
        width: 100%;
        height: 510px;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        background-color: #2F4B73;
    }
    .banner-bg > img{
        height: 100%;
        position: absolute;
        top:0;
        object-fit: contain;
    }
    .banner-bg > img.left-banner-bg{
        left: 0;
    }
    .banner-bg > img.right-banner-bg{
        right: 0;
    }
    .ads .recomment{
        display: inline-block;
        width: 100%;
    }
    .ads .apps{
        margin: 60px auto 55px;
        display: flex;
        max-width: 1200px;
        overflow-x: auto;
    }
    .ads .app-item{
        margin: 0 10px;
        min-width: 280px;
        width: 25%;

    }
    .ads .app-item h4 > a{
        color: #83b5e1;
    }
    .ads .app-item h4 > a:hover{
        color: #9AC5EC;
    }
    .ads .show{
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;
        color: #FFF;
        box-shadow: 0 5px 10px rgba(9,34,59,.47);
    }
    .ads .show > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .ads .app-detail{
        position: absolute;
        left: 0;
        top: 35px;
        right: 0;
    }
    .ads .app-detail > img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .35);
    }
    .ads .app-info{
        color: #FFF;
        font-size: 18px;
        margin:5px 0 0;
    }
    .apps-affix{
        padding-top: 40px;
    }
    .apps-affix .affix-ctrl{
        position: relative;
    }
    .apps-affix.active .affix-ctrl{
        position: fixed;
        top: 52px;
    }
    .sidebar-nav{
        padding-right: 40px;
    }
    .sidebar-nav .classes{
        margin-top: 52px;
    }
    .sidebar-nav .btn-primary{
        padding: 12px 0;
        font-size: 16px;
        width: 180px;
        max-width: 100%;
    }
    .sidebar-nav ul.class-treeview{
        padding: 0;
        margin: 0 0 50px 0;
    }
    .class-treeview > li.treeview-item{
        list-style: none;
        font-size: 14px;
        color: #666;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
    }
    .class-treeview > li.treeview-item > i.glyphicon{
        color: #989898;
    }
    .class-treeview > li.treeview-item:hover, .class-treeview > li.treeview-item.active{
        color: #3977AD;
    }
    .class-treeview > li.treeview-item:hover > i.glyphicon, .class-treeview > li.treeview-item.active > i.glyphicon{
        color: #3977AD;
    }
    .class-apps{
        border-left: 1px solid #DCDCDC;
        padding-left: 40px;
    }
    .class-apps h3{
        margin-top: 0;
    }
    .class-apps .info{
        font-size: 16px;
        color: #999;
    }
    .class-apps .class-app-item{
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 0 60px 0 0;
        margin: 30px 0 60px;
    }
    .class-apps .class-app-item > .app-logo{
        margin-right: 20px;
        background-color: #DCDCDC;
        width: 80px;
        height:80px;
        border-radius: 10px;
    }
    .class-apps .class-app-item > .app-logo > img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .class-apps .class-app-item > .app-detail{
        flex: 1;
    }
    .class-apps .class-app-item > .app-detail > p{
        color: #666;
        margin: 10px 0 0;
    }
    @media (max-width: 768px) {
        .class-apps{
            padding: 0;
            border-left: none;
        }
        .class-apps .class-app-item{
            padding-right: 0;
        }
    }
</style>

<div ng-controller="appsController">
    <div class="ads">
        <div class="banner-bg">
            <img ng-src="{{getImageUrl('wiki_banner_left.png', imgsPath)}}" class="left-banner-bg">
            <img ng-src="{{getImageUrl('wiki_banner_right.png', imgsPath)}}" class="right-banner-bg">
        </div>
        <div class="recomment">
            <h1>KeepWork应用中心</h1>
            <h2>让你的网站更加生动的创作工具与网络服务</h2>
            <div class="apps clearfix">
                <div class="app-item" ng-repeat="item in recommentApps">
                    <div class="show" ng-style="{'background-color': item.bgColor}">
                        <a href="{{item.siteUrl}}" class="app-detail">
                            <img ng-src="{{item.logoUrl}}" alt="">
                            <p class="app-info">{{item.name}}</p>
                        </a>
                    </div>
                    <h4><a href="{{item.siteUrl}}">{{item.title}}</a></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container apps-affix" id="affix">
        <div class="col-sm-3 sidebar-nav hidden-xs">
            <div class="affix-ctrl">
                <div class="search">
                    <h4>搜索应用中心</h4>
                    <input id="searchBox" ng-model="searchText" class="form-control" type="text" placeholder="输入名字或描述">
                </div>
                <div class="classes">
                    <h4>分类</h4>
                    <ul class="class-treeview">
                        <li class="treeview-item" ng-class="{true:'active'}[activeItemId == item.targetId]" ng-repeat="item in classApps" ng-click="goPart($event, item)">
                            <i class="glyphicon glyphicon-play"></i>
                            {{item.classes}}
                        </li>
                    </ul>
                    <a href="https://github.com/tatfook/wikicraft/issues/415" class="btn btn-primary">申请提交应用</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9 class-apps">
            <div class="class-item clearfix" ng-repeat="item in classApps">
                <h3 id="{{item.targetId}}">{{item.classes}}</h3>
                <p class="info">{{item.info}}</p>
                <div class="class-app-item col-md-6" ng-repeat="app in item.apps">
                    <div class="app-logo">
                        <img ng-show="app.logoUrl" ng-src="{{app.logoUrl}}" alt="{{app.name}}">
                    </div>
                    <div class="app-detail">
                        <a href="{{app.siteUrl}}">{{app.name}}</a>
                        <p>{{app.details}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
