<style>
    .searchbar{
        position: relative;
    }
    .searchbar .glyphicon-search {
        position: absolute;
        right: 12px;
        top: 8px;
    }
    .bigfile-modal .modal-body{
        padding: 0;
    }
    .bigfile-modal .nav-tabs{
        padding:10px 15px 0;
    }
    .bigfile-modal .btn-primary, .bigfile-modal .btn-danger{
        padding: 6px 20px;
        font-size: 16px;
        margin-left: 15px;
    }
    .bigfile-modal .operation label{
        font-size: 14px;
        font-weight: normal;
        vertical-align: middle;
    }
    .bigfile-modal .time{
        margin-bottom: 0;
        padding-top: 16px;
        font-size: 14px;
    }
    .bigfile-modal .tab-pane {
        padding: 30px 40px;
        font-size: 16px;
        max-height: 600px;
        overflow-y: auto;
    }
    .bigfile-modal .form-inline{
        padding: 0 0 30px;
        border-bottom: 1px solid #DCDCDC;
    }
    .bigfile-modal .form-inline .form-control{
        width: 360px;
        padding: 8px 15px;
    }
    .bigfile-modal .form-inline .input-group{
        margin-right: 15px;
    }
    .bigfile-modal .search-zone{
        padding: 20px 0 10px;
        display: flex;
        align-items: center;
    }
    .bigfile-modal .search-zone > span{
        flex: 1;
    }
    .bigfile-modal .only-search{
        padding: 10px 0;
    }
    .bigfile-modal .table{
        text-align: center;
        font-size: 14px;
        table-layout: fixed;
    }
    .bigfile-modal .table > thead{
        background-color: #B1D4F3;
        font-size: 14px;
        font-weight: bold;
    }
    .bigfile-modal .table tr > td{
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bigfile-modal .table tr > td[contenteditable]{
        text-overflow: unset;
    }
    .bigfile-modal .table tr > td[contenteditable=true]{
        overflow-x: scroll;
    }
    .bigfile-modal .table tr > td[contenteditable=true]::-webkit-scrollbar{
        display: none;
    }
    .bigfile-modal .table .checkbox-column{
        width: 50px;
    }
    .bigfile-modal .table .size-column{
        width: 80px;
    }
    .bigfile-modal .table .type-column{
        width: 100px;
    }
    .bigfile-modal .table .date-column{
        width: 155px;
    }
    .bigfile-modal .table .operate-column{
        width: 160px;
    }
    .bigfile-modal .table .operate-column > span, .bigfile-modal .table .operate-column > a {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #D3EAFF;
        line-height: 36px;
        cursor: pointer;
    }
    .bigfile-modal .table-box{
        height: 320px;
        overflow-y: scroll;
        margin-bottom: 20px;
        border: 1px solid #DCDCDC;
    }
    .bigfile-modal .table-box .checkbox-column{
        border-left-color: transparent;
    }
    .bigfile-modal .thead-table{
        margin-bottom: 0;
    }
    .bigfile-modal .thead-table td.operate-column{
        width: 237px;
    }
    .bigfile-modal .insert-table.thead-table td.operate-column{
        width: 177px;
    }
    .bigfile-modal .insert-table-box {
        height: 211px;
        overflow-y: scroll;
        margin-bottom: 20px;
        border:1px solid #DCDCDC;
    }
    .bigfile-modal .insert-table-box .checkbox-column{
        border-left-color: transparent;
    }
    .bigfile-modal .manage-table .operate-column{
        width: 220px;
        font-size: 0;
        -webkit-text-size-adjust: none;
    }
    .bigfile-modal .manage-table .operate-column > span,
    .bigfile-modal .insert-table .operate-column > span,
    .bigfile-modal .manage-table .operate-column > a,
    .bigfile-modal .insert-table .operate-column > a{
        margin: 0 5px;
    }
    .bigfile-modal .manage-table thead .operate-column{
        font-size: 14px;
    }
    .bigfile-modal .file-progress{
        border: 1px solid #3977AD;
        width: 100%;
        height: 412px;
        overflow-y: auto;
        margin-top: 20px;
    }
    .bigfile-modal .upload-info{
        text-align: center;
        line-height: 410px;
        font-size: 18px;
        color: #666;
        margin-bottom: 0;
    }
    .bigfile-modal .process-li {
        padding: 10px 0;
    }
    .bigfile-modal .process-li .progress {
        display: inline-block;
        margin-bottom: -5px;
        width: 220px;
        position: relative;
        background-color: #B4BBC6;
        border-radius: 10px;
        box-shadow: none;
    }
    .bigfile-modal .process-li .progress-bar{
        background-color: #43A8FF;
    }
    .bigfile-modal .process-li .progress-bar.warning-bar{
        background-color: #F97B00;
    }
    .bigfile-modal .process-li .progress-bar.danger-bar{
        background-color: #FF1E02;
    }
    .bigfile-modal .process-li .info{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        color: #FFF;
    }
    .bigfile-modal .file-group-item{
        display: flex;
        padding: 0 70px 0 40px;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #DCDCDC;
    }
    .bigfile-modal .file-group-item .left-col{
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .bigfile-modal .file-group-item .right-col {
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-left: 20px;
    }
    .bigfile-modal .file-group-item .right-col > span:first-child{
        margin-right: 20px;
    }
    .bigfile-modal .file-group-item .progress{
        display: inline-block;
        width: 200px;
        margin: 0 10px;
        height: 12px;
        border-radius: 0;
    }
    .bigfile-modal .file-group-item .progress-bar{
        background-color: #43A8FF;
    }
    .bigfile-modal .file-group-item .text-danger{
        position: absolute;
        right: 18px;
    }
    .bigfile-modal .file-group-item .iconfont{
        margin-right: 5px;
    }
    .bigfile-modal .manage-table .iconfont, .bigfile-modal .insert-table .iconfont{
        color: #929292;
        line-height: 17px;
        position: relative;
        left: -4px;
        vertical-align: middle;
        display: inline-block;
        width: 0;
    }
    .bigfile-modal .manage-table .icon-paixuright, .bigfile-modal .insert-table .icon-paixuright{
        position: relative;
        left: -7px;
    }
    .bigfile-modal .manage-table .iconfont.active, .bigfile-modal .insert-table .iconfont.active{
        color: #3977AD;
    }
    .bigfile-modal .order-column{
        cursor: pointer;
    }
    .bigfile-modal .empty-box{
        text-align: center;
        color: #999;
        font-size: 16px;
        margin-top: 14px;
    }
    .bigfile-modal .empty-box .iconfont{
        font-size: 145px;
        line-height:1;
        width: auto;
    }
    p.dialog-info-title{
        font-size: 20px;
        text-align: left;
        padding-left: 60px;
    }
    p.dialog-info{
        text-align: left;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 60px;
        line-height: 1.5;
    }
    .dialog-info > .text-success{
        color: #51CB00;
        font-size: 12px;
    }
</style>
<style>
    .bigfile-content{
        background-color: #FFF;
    }
    .bigfile-content .modal-header{
        display: none;
    }
</style>
<style>
        @media(max-width:768px) {
        .bigfile-modal .tab-pane {
            padding: 15px;
            position: relative;
        }
        .bigfile-modal .table-box {
            height: 305px;
        }
        .bigfile-modal .btn-primary {
            padding: 6px 12px;
            font-size: 14px;
        }
        .bigfile-modal .form-inline {
            padding-bottom: 15px;
        }
        .bigfile-modal .form-inline .input-group {
            margin-right: 0;
        }
        .bigfile-modal .form-inline .form-control {
            width: 100%;
        }
        .bigfile-modal .form-inline .btn-primary {
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .bigfile-modal .tab-pane>p {
            height: 36px;
            line-height: 36px;
        }
        .bigfile-modal .search-zone {
            display: block;
            padding: 10px 0;
        }
        .bigfile-modal .file-progress {
            height: 391px;
        }
        .bigfile-modal .upload-info {
            line-height: 389px;
        }
        .bigfile-modal .file-group-item {
            padding: 0 15px;
        }
        .bigfile-modal .table .operate-column,
        .bigfile-modal .insert-table.thead-table td.operate-column {
            width: 78px;
        }
        .bigfile-modal .insert-table-box .checkbox-column,
        .bigfile-modal .table .checkbox-column {
            width: 37px;
        }
        .bigfile-modal .table .type-column{
            width: 85px;
            padding: 4px 0;
        }
        .bigfile-modal .manage-table .operate-column>span,
        .bigfile-modal .manage-table .operate-column>a,
        .bigfile-modal .table .operate-column>span,
        .bigfile-modal .table .operate-column>a {
            margin: 0 1px;
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
        .bigfile-modal .manage-table .operate-column>span>img,
        .bigfile-modal .table .operate-column>span>img {
            width: 20px;
            height: 20px;
        }
        .bigfile-modal .manage-table .operate-column,
        .bigfile-modal .thead-table td.operate-column {
            width: 143px;
        }
        .bigfile-modal .table tr>td {
            padding: 4px;
        }
        .bigfile-modal .file-group-item .text-danger {
            top: 0;
        }
        }
</style>
<div ng-controller="bigfileController">
    <div class="bigfile-modal" ng-class="{true: 'bigfile-content'}[!isModal]">
        <div class="modal-header">
            {{ "网盘功能" | translate }}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs clearfix" role="tablist">
                <li role="presentation" ng-show="isModal" class="active">
                    <a href="#insert" aria-controls="insert" role="tab" data-toggle="tab" translate="插入文件"></a>
                </li>
                <li role="presentation" ng-class="{true:'active'}[!isModal]">
                    <a href="#fileManage" aria-controls="fileManage" role="tab" data-toggle="tab" translate="网盘管理"></a>
                </li>
                <li role="presentation">
                    <a id="activeUpload" href="#uploadFile" aria-controls="uploadFile" role="tab" data-toggle="tab" ng-click="initQiniu()" translate="上传文件"></a>
                </li>
                <li class="pull-right process-li">
                    {{"当前使用：" | translate}}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                             ng-class = "{'warning-bar': ((storeInfo.total - storeInfo.unUsed) / storeInfo.total) >= 0.7, 'danger-bar': ((storeInfo.total - storeInfo.unUsed) / storeInfo.total) >= 0.9}"
                             aria-valuenow="{{(storeInfo.total - storeInfo.unUsed) / storeInfo.total * 100}}"
                             ng-style="{'width': (storeInfo.total - storeInfo.unUsed)/storeInfo.total*100+'%'}">
                        </div>
                        <div class="info">
                            <span>{{storeInfo.unUsed | number:2}}GB {{"可用" | translate}}</span>
                            <span>{{"总共" | translate}} {{storeInfo.total | number:2}}GB</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active clearfix" role="tabpanel" ng-show="isModal" id="insert">
                    <p translate="输入已有url地址："></p>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="http://" ng-model="insertUrl">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedType}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-click="selectedType = '图片'"><a translate="图片"></a></li>
                                        <li ng-click="selectedType = '视频'"><a translate="视频"></a></li>
                                        <li ng-click="selectedType = '其它'"><a translate="其它"></a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div>
                            <button class="btn btn-primary" ng-click="insertFilesUrl()" translate="插 入"></button>
                            <span class="text-danger" ng-show="insertFileUrlErr">{{insertFileUrlErr}}</span>
                        </div>
                    </form>
                    <div class="search-zone clearfix">
                        <span class="hidden-xs" translate="或者在我的大文件中选择："></span>
                        <div class="searchbar pull-right">
                            <input type="text" class="form-control" placeholder="{{ '搜索我的网盘' | translate }}" ng-model="searchName">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                    <table class="table insert-table thead-table">
                        <thead>
                            <tr>
                                <td class="checkbox-column" translate="多选"></td>
                                <td class="file-column order-column" ng-click="changeOrder('filename')">{{ "文件名" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'filename' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'filename' && order.reverse == true]"></span>
                                </td>
                                <td class="type-column order-column" ng-click="changeOrder('file.type')">{{ "文件类型" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'file.type' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'file.type' && order.reverse == true]"></span>
                                </td>
                                <td class="size-column order-column hidden-xs" ng-click="changeOrder('file.size')">{{ "大小" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'file.size' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'file.size' && order.reverse == true]"></span>
                                </td>
                                <td class="type-column order-column hidden-xs" ng-click="changeOrder('file.type')">{{ "审核状态" | translate }}
                                </td>
                                <td class="date-column order-column hidden-xs" ng-click="changeOrder('updateDate')">{{ "更新时间" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'updateDate' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'updateDate' && order.reverse == true]"></span>
                                </td>
                                <td class="operate-column" translate="操作"></td>
                            </tr>
                        </thead>
                    </table>
                    <div class="insert-table insert-table-box">
                        <div class="empty-box" ng-hide="filelist.length > 0 && filesCount > 0">
                            <span class="iconfont icon-kongbaiyemian"></span>
                            <p translate="暂无相关内容..."></p>
                        </div>
                        <table class="table" ng-show="filelist.length > 0">
                            <tbody>
                                <tr ng-repeat="file in filelist | filter:{filename:searchName} | orderBy: order.expression: order.reverse" ng-hide="file.isDelete">
                                    <td class="checkbox-column"><input type="checkbox" ng-model="file.checkedIndex" ng-true-value="{{$index}}" ng-disabled="!file.checked || file.checked==2"></td>
                                    <td class="file-column" title="{{file.filename}}">{{file.filename}}</td>
                                    <td class="type-column" title="{{file.file.type}}">{{file.filename.substring(file.filename.lastIndexOf("."))}}</td>
                                    <td class="size-column hidden-xs" title="{{file.filesize || sizeTransfer(file)}}">
                                        {{file.filesize || sizeTransfer(file)}}
                                    </td>
                                    <td class="type-column hidden-xs" title="{{file.status | translate}}" ng-init="getFileStatus(file)">{{file.status | translate}}</td>
                                    <td class="date-column hidden-xs" title="{{file.updateDate}}">{{file.updateDate}}</td>
                                    <td class="operate-column">
                                        <span title="{{'拷贝链接' | translate}}" ng-click="insertBigfileUrl(file)"><img ng-src="{{getImageUrl('icon/wiki_bigfile_paste.png', imgsPath)}}" alt=""></span>
                                        <span title="{{'插入' | translate}}" ng-click="insertFile(file)"><img ng-src="{{getImageUrl('icon/wiki_insert.png', imgsPath)}}" alt=""></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary pull-right" ng-click="insertFiles()" translate="插入选中"></button>
                </div>
                <div class="tab-pane clearfix" ng-class="{true:'active'}[!isModal]" role="tabpanel" id="fileManage">
                    <div class="only-search clearfix">
                        <div class="searchbar pull-right">
                            <input type="text" class="form-control" placeholder="{{ '搜索我的网盘' | translate }}" ng-model="searchName">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                    <table class="table manage-table thead-table">
                        <thead>
                            <tr>
                                <td class="checkbox-column" translate="多选"></td>
                                <td class="file-column order-column" ng-click="changeOrder('filename')">{{ "文件名" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'filename' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'filename' && order.reverse == true]"></span>
                                </td>
                                <td class="type-column order-column hidden-xs" ng-click="changeOrder('file.type')">{{ "文件类型" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'file.type' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'file.type' && order.reverse == true]"></span>
                                </td>
                                <td class="size-column order-column hidden-xs" ng-click="changeOrder('file.size')">{{ "大小" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'file.size' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'file.size' && order.reverse == true]"></span>
                                </td>
                                <td class="type-column order-column hidden-xs" ng-click="changeOrder('file.type')">{{ "审核状态" | translate }}
                                </td>
                                <td class="date-column order-column hidden-xs" ng-click="changeOrder('updateDate')">{{ "更新时间" | translate }}
                                    <span class="iconfont icon-paixuleft" ng-class="{true: 'active'}[order.expression == 'updateDate' && order.reverse == false]"></span>
                                    <span class="iconfont icon-paixuright" ng-class="{true: 'active'}[order.expression == 'updateDate' && order.reverse == true]"></span>
                                </td>
                                <td class="operate-column" translate="操作"></td>
                            </tr>
                        </thead>
                    </table>
                    <div class="manage-table table-box">
                        <div class="empty-box" ng-hide="filelist.length > 0 && filesCount > 0">
                            <span class="iconfont icon-kongbaiyemian"></span>
                            <p translate="暂无相关内容..."></p>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="file in filelist | filter:{filename:searchName} | orderBy: order.expression: order.reverse" ng-hide="file.isDelete">
                                    <td class="checkbox-column">
                                        <input type="checkbox" ng-model="file.isSelected" ng-change="judgeSelectAll(file)">
                                    </td>
                                    <td id="{{file.file._id}}" class="file-column" title="{{file.filename}}">{{file.filename}}</td>
                                    <td class="type-column hidden-xs" title="{{file.file.type}}">{{file.filename.substring(file.filename.lastIndexOf("."))}}</td>
                                    <td class="size-column hidden-xs" title="{{file.filesize || sizeTransfer(file)}}">
                                        {{file.filesize || sizeTransfer(file)}}
                                    </td>
                                    <td class="type-column hidden-xs" title="{{file.status}}" ng-init="getFileStatus(file)">{{file.status}}</td>
                                    <td class="date-column hidden-xs" title="{{file.updateDate}}">{{file.updateDate}}</td>
                                    <td class="operate-column">
                                        <span title="更新" ng-click="updateFile(file)"><img ng-src="{{getImageUrl('icon/wiki_upload.png', imgsPath)}}" alt=""></span>
                                        <span title="重命名" ng-click="renameFile(file)"><img ng-src="{{getImageUrl('icon/wiki_edit_file.png', imgsPath)}}" alt=""></span>
                                        <span title="下载" ng-click="downloadFile(file)"><img ng-src="{{getImageUrl('icon/wiki_download.png', imgsPath)}}" alt=""></span>
                                        <!--<a ng-href="{{file.file.download_url}}" target="_blank"><img ng-src="{{getImageUrl('icon/wiki_download.png', imgsPath)}}" alt=""></a>-->
                                        <span title="删除" ng-click="deleteFile(file)"><img ng-src="{{getImageUrl('icon/wiki_delete.png', imgsPath)}}" alt=""></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="operation clearfix">
                        <div class="pull-left">
                            <input id="selectAll" ng-change="selectAll()" ng-model="isSelectAll" type="checkbox">
                            <label for="selectAll" translate="全选"></label>
                        </div>
                        <button class="btn btn-danger pull-right" ng-click="deleteFiles()" translate="删除选中"></button>
                        <button class="btn btn-primary pull-right" ng-click="downloadFiles()" translate="下载选中"></button>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="uploadFile">
                    <h3 ng-show="updatingFile && updatingFile.filename && !startUpdating">{{ "选择" | translate }}{{updatingFile.filename}}{{ "的更新文件" | translate }}</h3>
                    <h3 ng-show="startUpdating && !finishUploading">{{ "正在更新" | translate }}{{updatingFile.filename}}</h3>
                    <div class="clearfix">
                        <button id="selectFileInput" ng-disabled="(startUpdating && !finishUploading) || isUidErr" class="btn btn-primary file-input-btn" translate="选中本地文件"></button>
                        <span class="text-danger" ng-show="isUidErr" translate="出错了，请稍后重试"></span>
                        <p class="pull-right time" ng-hide="!uploadingFiles || uploadingFiles.length  < 1">
                            <span class="preview-time">
                                {{"预估完成时间" | translate}}:{{finishTime || translate("等待计算")}} ({{ '剩余' | translate }} {{remainTime}})
                            </span>
                        </p>
                    </div>
                    <div id="dropFile" class="file-progress">
                        <p ng-show="!uploadingFiles || uploadingFiles.length  < 1" class="upload-info">
                            <img ng-src="{{getImageUrl('icon/wiki_upload_file.png', imgsPath)}}" alt="">
                            {{ "也可将上传的文件拖拽到此" | translate }}
                        </p>
                        <div class="file-group" ng-show="uploadingFiles">
                            <div class="file-group-item" ng-repeat="file in uploadingFiles" ng-hide="file.isDelete">
                                <div class="left-col">
                                    <span class="iconfont" ng-class="getIconClass(file)"></span>{{file.name}}
                                </div>
                                <div class="right-col">
                                    <span ng-show="file.status == 2" class="hidden-xs">{{file.waitTime}} </span>
                                    <span>
                                        {{(file.size * file.percent/100/1024/1024/1024 > 0.1) ? (file.size * file.percent/100/1024/1024/1024 | number:2)+"GB" :
                                        (file.size * file.percent/100/1024/1024 > 0.1) ? (file.size * file.percent/100/1024/1024 | number:2) + "MB" : ((file.size * file.percent/100/1024 | number:2) + "KB")}}
                                        /
                                        {{(file.size/1024/1024/1024 > 0.1) ? (file.size/1024/1024/1024 | number:2)+"GB" :
                                        (file.size/1024/1024 > 0.1) ? (file.size/1024/1024 | number:2) + "MB" : ((file.size/1024 | number:2) + "KB")}}
                                    </span>
                                    <div class="progress hidden-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{file.percent}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': file.percent+'%'}">
                                            <span class="sr-only">{{file.pervent}}% Complete</span>
                                        </div>
                                    </div>
                                    <span ng-show="file.status == 4 || file.backStatus == 'failed'" class="text-danger" title="{{file.errTip}}" translate="上传失败"></span>
                                    <span ng-click="stopUpload(file, $index)" ng-show="file.backStatus != 'success'" class="glyphicon glyphicon-remove"></span>
                                    <span ng-show="file.status == 5 && file.backStatus == 'success'" class="text-success glyphicon glyphicon-ok"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>