<style>
    .data-source {
        padding: 15px 80px;
    }
    .data-source h4{
        margin: 30px 0 20px;
    }
    .data-source .form-group-md .control-label {
        width: 111px;
        padding: 7px 0 0 15px;
        font-size: 16px;
        font-weight: normal;
    }
    .data-source .form-group-md select.form-control,.data-source .form-group-md input.form-control {
        height: 42px;
        line-height: 42px;
    }
    .bottom-boder{
        border-bottom:1px solid #DCDCDC;
    }
    .data-source .btn-submit{
        text-align: center;
    }
    .data-source .btn-primary{
        padding:10px 45px;
    }
    .data-source table{
        table-layout: fixed;
    }
    .data-source .table>tbody>tr>td, .data-source .table>tbody>tr>th, .data-source .table>tfoot>tr>td, .data-source .table>tfoot>tr>th, .data-source .table>thead>tr>td, .data-source .table>thead>tr>th{
        text-align: center;
        vertical-align: middle;
        -ms-word-wrap:break-word;
        word-wrap:break-word;
    }
    .data-source .set-width{
        width: 130px;
    }
</style>
<div ng-controller="dataSourceController">
    <div class="col-md-10 panel main-content">
        <div class="panel-heading" translate="数据源配置"></div>
        <div class="panel-body data-source bottom-boder">
            <form role="form" class="form-horizontal">
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="默认数据源："></label>
                    <div class="col-xs-7">
                        <select class="form-control" ng-model="defaultDataSourceName" ng-change="changeDefaultDataSource()">
                            <option ng-repeat="x in dataSourceList" value="{{x.name}}">{{(x.name || '内置gitlab') | translate}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <h4 translate="已配置的数据源"></h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th translate="数据源名"></th>
                    <th translate="类型"></th>
                    <th>apiBaseUrl</th>
                    <th>rawBaseUrl</th>
                    <th>Token</th>
                    <th translate="状态"></th>
                    <th class="set-width" translate="操作"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in dataSourceList" ng-hide="x.isDelete">
                    <td>{{x.name | translate}}</td>
                    <td>{{x.type}}</td>
                    <td>{{x.apiBaseUrl}}</td>
                    <td>{{x.rawBaseUrl}}</td>
                    <td>{{x.dataSourceToken}}</td>
                    <td>{{x.dataSourceUserId ? translate("有效") : translate("无效")}}</td>
                    <td>
                        <div>
                            <a class="btn" ng-click="clickModifyDataSource(x)" translate="修改"></a>
                            <a class="btn" ng-click="clickDeleteDataSource(x)" translate="删除"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body data-source">
            <h4 translate="增改数据源"></h4>
            <form role="form" class="form-horizontal">
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="数据源类型："></label>
                    <div class="col-xs-7">
                        <select class="form-control" ng-model="newDataSource.type">
                            <option ng-repeat="x in dataSourceTypeList" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="数据源名:"></label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.name" type="text" class="form-control" placeholder="github">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">ApiBaseUrl:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.apiBaseUrl" type="text" class="form-control" placeholder="https://api.github.com">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">RawBaseUrl:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.rawBaseUrl" type="text" class="form-control" placeholder="https://raw.githubusercontent.com">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">Token:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.dataSourceToken" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group form-group-md btn-submit">
                    <button class="btn btn-primary" ng-click="clickNewDataSource()" translate="提交"></button>
                    <span style="color: red">{{errMsg}}</span>
                </div>
            </form>
        </div>
    </div>
</div>
