 <!--Created by Karlwu on 2016-11-11-->
 <style>
     .newpage-modal .col-md-6:last-child{
         border-left:1px solid #DCDCDC;
     }
     /*.newpage-modal .treeview .list-group-item:first-child{*/
         /*background-color: #3977AD;*/
         /*color: #FFF;*/
     /*}*/
 </style>
<div>
    <form name="pageForm" ng-submit="website_new()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">新建页</h4>
    </div>
    <div class="modal-body newpage-modal">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div id="newPageTreeId"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- NAME -->
                    <div class="form-group">
                        <label>页面名</label>
                        <input type="text" name="name" class="form-control" ng-model="websitePage.pagename" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn"  data-dismiss="modal">取消</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
        <span style="color: red; padding-right: 10px">{{errInfo}}</span>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary btn-fill">确定</button>
    </div>
    </form>
</div>
