<style>
    .modal-header{
        border-bottom: none;
    }
</style>
<!--Created by Karlwu on 2016-11-12-->
<div>
    <form name="tableForm" role="form" ng-submit="table_insert()" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" translate="插入表格"></h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="rows" translate="行数"></label>
                    <input id="rows" type="number" class="form-control" name="rows" ng-model="table.rows" min="1">
                </div>
                <div class="form-group col-xs-12">
                    <label for="cols" translate="列数"></label>
                    <input id="cols" type="number" class="form-control" name="cols" ng-model="table.cols" min="1">
                </div>
                <div class="form-group col-xs-12">
                    <label translate="对齐方式"></label>
                    <label class="checkbox-inline">
                        <input type="radio" name="alignment" ng-model="table.alignment" ng-value="0">{{ "默认" | translate }}
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="alignment" ng-model="table.alignment" ng-value="1">{{ "左对齐" | translate }}
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="alignment" ng-model="table.alignment" ng-value="2">{{ "居中" | translate }}
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="alignment" ng-model="table.alignment" ng-value="3">{{ "右对齐" | translate }}
                    </label>
                </div>
                <!--<label>-->
                    <!--<input type="checkbox" ng-model="table.head" ng-true-value="1" ng-false-value="0">表头-->
                <!--</label>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span style="color: red; padding-right: 10px">{{errInfo}}</span>
        <button type="submit" class="btn btn-primary btn-fill" translate="确定"></button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" translate="取消"></button>
    </div>
    </form>
</div>
