<!--Created by Karlwu on 2016-11-12-->
<div>
    <form name="linkForm" role="form" ng-submit="link_insert()" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">插入链接</h4>
    </div>
    <div class="modal-body">
        <div >
            <div class="row">
                <div class="form-group span12" style="padding: 0 15px;">
                    <label for="url">链接</label>
                    <ui-select wiki-ui-select ng-model="selected" id="url" name="url" on-select="urlSelected($item, $model)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.url"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by $index">
                            <span ng-bind="item.url"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-fill">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
    </div>
    </form>
</div>
