<style>
    .setting-form .form-control{
        margin-bottom: 0;
    }
    .setting-form .labels-box{
        height: 130px;
        background-color: #F9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .setting-form .add-label{
        padding-left: 0;
        margin-bottom: 25px;
    }
    .setting-form .label-selected{
        color: #3977AD;
        background-color: #DBDBDB;
        float: left;
        margin: 5px;
        padding: 6px 18px;
        font-size: 16px;
    }
    .labels-box{
        height: 130px;
        background-color: #F9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .setting-form .labels-common-used{
        min-height: 165px;
        background-color: #f9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .setting-form .labels-common-used span{
        margin: 5px 0;
        text-align: center;
        display: inline-block;
        min-width: 30%;
        font-size: 16px;
        color: #3977AD;
        cursor: pointer;
    }
    .setting-form .user-domain{
        line-height: 32px;
    }
    .setting-form .form-group:last-child{
        text-align: center;
    }
    .setting-form .btn-primary{
        padding: 10px 52px;
        font-size: 16px;
    }
</style>

<div ng-controller="editWebsiteController" class="container">
    <div class="col-md-10 panel main-content">
        <div class="panel-heading">
            网站设置
        </div>
        <div class="panel-body">
            <form class="form-horizontal setting-form" role="form">
                <div class="form-group sr-only">
                    <legend>网站设置</legend>
                </div>
                <div class="form-group">
                    <label for="webName" class="col-sm-2 control-label">站点名称：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="webName" ng-model="website.name" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">独立域名</label>
                    <div class="col-sm-5 user-domain">
                        {{website.domain + 'paracraft.wiki'}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="cname" class="col-sm-2 control-label">Cname转发</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="cname" ng-model="website.domain">
                    </div>
                </div>
                <div class="form-group">
                    <label for="intro" class="col-sm-2 control-label">网站介绍：</label>
                    <div class="col-sm-5">
                        <textarea id="intro" rows="6" ng-model="website.desc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">本站标签</label>
                    <div class="col-sm-5">
                        <div class="col-sm-8 add-label">
                            <input type="text" class="col-sm-8 form-control" ng-model="tag">
                        </div>
                        <div class="col-sm-4 btn btn-primary" ng-click="addTag(tag)">添加</div>
                        <div class="col-sm-12 labels-box">
                            <div ng-repeat="tag in tags" class="label-selected">{{tag}}<span ng-click="removeTag(tag)" class="glyphicon glyphicon-remove text-danger"></span></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <p>常用标签：</p>
                        <div class="labels-common-used">
                            <span ng-click="addTag(tag)" ng-repeat="tag in commonTags">{{tag}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="githubDataSource" class="col-sm-2 control-label">github独立数据源</label>
                    <div class="col-sm-5">
                        <input id='githubDataSource' type="text" class="form-control" ng-model="website.githubRepoName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-click="modifyWebsite()" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

