<style>
    footer{
        background-color: #FAFAFA;
        height: 100px;
        /*line-height: 100px;*/
        text-align: center;
        padding-top: 30px;
    }
    footer .copyright-info span{
        margin:0 25px;
        padding: 0 5px 5px;
        color: #999;
        font-weight:normal;
    }
    footer a{
        margin: 0 25px;
        padding: 0 5px 5px;
        color: #3977ad;
        white-space: nowrap;
        border-bottom: 2px solid transparent;
    }
    footer a:not(.language-selector):focus,
    footer a:not(.language-selector):hover {
        text-decoration: none;
        border-bottom: 2px solid #3977AD;
    }
    footer .logo{
        cursor: pointer;
    }
    footer .logo:hover{
        color: #3977AD;
    }
    .modal textarea{
        height: 120px;
    }
    .modal .control-label{
        padding-right: 0;
        text-align: left;
    }
    @media (max-width: 992px) {
        footer a{
            margin: 0 10px;
        }
    }
    @media (max-width: 768px) {
        footer{
            line-height: 30px;
            height: auto;
            padding: 10px 0;
        }
        footer p{
            word-break: keep-all;
        }
        footer a, footer span{
            font-size: 12px;
            margin: 0;
        }
        footer .links{
            padding-left: 76px;
            text-align: left;
        }
    }
    footer .container .links-group {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        flex-wrap: wrap;
    }
    footer .language-selector {
        user-select: none;
        
    }
    footer .language-selector .dropdown-menu::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        margin: auto;
        transform-origin: center;
        transform: rotate(45deg);
        background: white;
    }
    footer .language-selector .dropdown-menu {
        min-width: auto;
        border-radius: 0;
        border: 0;
        color: initial;
        margin: 0 0 10px;
        padding: 0;
    }
    footer .language-selector .dropdown-item {
        padding: 5px;
        text-align: center;
        position: relative;
        z-index: 2;
        padding: 6px 10px;
    }
    footer .language-selector .dropdown-item:hover {
        background: #f1f1f1;
    }
    footer .language-selector .iconfont {
        color: #EC1E1E;
        position: relative;
        top: 1px;
    }
</style>

<div ng-controller="footerController">
    <footer>
        <div class="container">
            <div class="links-group">
                <a href="http://keepwork.com/official/open" target="_blank" translate="开放平台"></a>
                <a href="http://keepwork.com/official/company/joinus" target="_blank" translate="加入我们"></a>
                <a ng-click="goStatics()" translate="网站统计"></a>
                <a href="http://keepwork.com/intro/keepwork/changelog" target="_blank" translate="更新信息"></a>
                <a href="https://github.com/tatfook/wikicraft/issues" target="_blank" translate="问题反馈"></a>
                <a data-toggle="modal" data-target="#complaintsModal" translate="投诉本页"></a>
                <a href="https://github.com/LiXizhi/NPLRuntime/wiki/" title="{{'更新时间: ' + serverUpdateTime}}" target="_blank">Powered By NPL</a>
                <a class="dropup language-selector">
                    <i class="iconfont icon-yuyan"></i>
                    <span
                        type="button"
                        class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        translate="LANGUAGE_LABEL"
                    />
                    <div class="dropdown-menu">
                        <div class="dropdown-item" href="javascript:;" ng-click="translationUse('zh-cn')" translate="BUTTON_LANG_CN" ></div>
                        <div class="dropdown-item" href="javascript:;" ng-click="translationUse('en')" translate="BUTTON_LANG_EN"></div>
                    </div>
                </a>
            </div>
            <p>
                <span translate="粤ICP备14002196号-2"></span>
                <span class="logo" ng-click="goHomePage()">© Tatfook</span>
            </p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal " id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" translate="问题反馈"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="feedback" class="control-label col-xs-2" translate="反馈内容："></label>
                            <textarea id="feedback" class="col-xs-8"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" translate="提交"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate="取消"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal " id="complaintsModal" tabindex="-1" role="dialog" aria-labelledby="complaintsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" translate="投诉"></h4>
                </div>
                <div class="modal-body">
                    <p translate="你将要投诉的是#username#发布的#url#"></p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="feedback" class="control-label col-xs-2" translate="投诉原因："></label>
                            <textarea id="complains" class="col-xs-8"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" translate="提交"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate="取消"></button>
                </div>
            </div>
        </div>
    </div>
</div>
