<style>
    a {
        color: #666;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
    }
    h4 a.title {
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }
    h4 a.title:focus, h4 a.title:hover {
        color: #3977AD;
        text-decoration: none;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, a:focus, a:hover {
        color: #3977AD;
        text-decoration: none;
    }
    .btn-primary {
        background-color: #3977AD;
        border: 1px solid #3977AD;
        color: #FFF;
    }
    .btn-primary:active, .navbar-default .navbar-nav a.btn-primary:active {
        background-color: #2F6391;
        border: 1px solid #2F6391;
        color: #FFF;
    }
    .btn-primary:hover, .navbar-default .navbar-nav a.btn-primary:hover {
        background-color: #4187C2;
        border: 1px solid #4187C2;
        color: #FFF;
    }
    .btn-primary:focus, .navbar-default .navbar-nav a.btn-primary:focus {
        background-color: #2F6391;
        border: 1px solid #2F6391;
        color: #FFF;
    }
    .form-control {
        height: 40px;
    }
    .row {
        padding: 30px 0;
    }
    .row img {
        width: 100%;
    }
    .info {
        font-size: 12px;
        color: #666;
    }
    .visible-hidden {
        visibility: hidden;
    }
    .hover-slide:hover {
        transform: translate3d(0, -3px, 0);
        transition: all .2s linear;
    }
    .web-info {
        position: absolute;
        bottom: -38px;
        width: 100%;
        height: 28px;
        background-color: #FFF;
        border-radius: 4px;
        line-height: 27px;
        color: #333;
        padding-left: 12px;;
    }
    .banner .form-group {
        position: relative;
    }
    .banner {
        height: 538px;
        padding: 150px 0;
        align-items: center;
        color: #FFF;
        display: flex;
    }
    .banner .message{
        display: flex;
        margin-top: 40px;
        max-width: 37em;
        min-width: 340px;
        box-shadow: 0px 4px 10px rgba(19, 61, 112, .8);
    }
    .banner .left-col{
        background-color: rgba(119, 206, 248, .8);
        padding: 0 15px;
    }
    .banner .right-col{
        background-color: rgba(98, 176, 216, .8);
        flex: 1;
        padding: 0 15px;
    }
    .banner>img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 538px;
        object-fit: cover;
        left:0;
        top:52px;
    }
    .banner .col-md-4 {
        /*padding-bottom: 170px;*/
    }
    /*.banner .col-md-3 {*/
        /*background-color: rgba(255, 255, 255, .5);*/
        /*padding: 55px 30px;*/
        /*box-shadow: 0px 4px 30px 0px rgba(19, 61, 112, .30);*/
    /*}*/
    .banner .btn-primary {
        margin-top: 60px;
    }
    .banner h1 {
        /*margin-bottom: 50px;*/
        font-size: 38px;
        white-space:nowrap;
    }
    .banner h2{
        font-size: 36px;
        margin-bottom: 50px;
    }
    .crausel-banner img{
        min-width: 100%;
    }
    .icon-box {
        width: 50px;
        height: 50px;
        display: inline-block;
        background-color: #3977AD;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
    }
    .paracraft {
        display: flex;
        align-items: center;
    }
    .paracraft h4 {
        margin-bottom: 0;
        line-height: 60px;
    }
    .paracraft .col-md-3 {
        z-index: 1;
    }
    .paracraft .col-md-3 img {
        max-width: 100%;
        width: 370px;
        box-shadow: 0 2px 10px 0 rgba(29, 47, 66, .35);
    }
    .paracraft .col-md-3 p {
        margin-bottom: 0;
        line-height: 37px;
    }
    .paracraft .btn {
        margin-top: 60px;
        width: 65%;
    }
    .works .pull-right.info {
        cursor: pointer;
    }
    .works .text {
        background-color: #FAFAFA;
        padding: 10px 20px;
        box-shadow: 0px 1px 3px 0px rgba(44, 62, 80, .35);
    }
    .hover-slide:hover .text {
        box-shadow: 0 2px 5px 0 rgba(44, 62, 80, .35);
    }
    .works .col-md-12 h4 {
        line-height: 40px;
    }
    .works img{
        height:196.88px;
        object-fit: contain;
    }
    .whouse {
        background-color: #FAFAFA;
    }
    .whouse .col-md-12 {
        margin-bottom: 45px;
    }
    .whouse h4 {
        padding: 0 20px 10px 0;
        display: inline-block;
    }
    .whouse .col-md-3:nth-child(2) h4 {
        border-bottom: 2px solid #FE3266;
    }
    .whouse .col-md-3:nth-child(3) h4 {
        border-bottom: 2px solid #6CBD7D;
    }
    .whouse .col-md-3:nth-child(4) h4 {
        border-bottom: 2px solid #3977AD;
    }
    /*注册表单改为登录表单*/
    .form-login-box{
        color: #333;
        background-color: rgba(255, 255, 255, .5);
        padding: 30px 60px;
        box-shadow: 0px 4px 30px 0px rgba(19, 61, 112, .30);
    }
    .form-login-box a{
        color: #3977AD;
    }
    .form-login-box a.btn-primary{
        color: #FFF;
        margin: 20px 0;
    }
    .otherLogin {
        text-align: center;
    }
    .otherLogin .title{
        z-index: 1;
        position: relative;
        padding: 20px 0 35px;
        color: #333;
    }
    .otherLogin img{
        margin-bottom: 5px;
    }
    .otherLogin .title:before{
        content: "";
        width: 25%;
        height: 2px;
        background-color: #D6E6F4;
        position: absolute;
        left: 0;
        top: 40%;
        z-index: -1;
    }
    .otherLogin .title:after{
        content: "";
        width: 25%;
        height: 2px;
        background-color: #D6E6F4;
        position: absolute;
        right: 0;
        top: 40%;
        z-index: -1;
    }
    .otherLogin .login-way{
        display: flex;
        justify-content: space-around;
    }
    /*特性列表*/
    .bg-title h1{
        margin: 0 -50px;
    }
    .bg-title a{
        color: #3977AD;
    }
    .content-padding{
        padding: 0 50px;
    }

    /*第一次使用*/
    .newuser-container{
        background-color: rgba(255, 255, 255, .6);
        padding: 30px;
        box-shadow: 0px 4px 30px 0px rgba(19, 61, 112, .30);
        min-width: 400px;
    }
    .newuser-container .wiki-flex{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        font-size: 16px;
    }
    .newuser-container .text{
        margin-left: 16px;
    }
    .newuser-container .text > a{
        font-size: 16px;
        border-bottom: 1px solid;
    }
    .newuser-container h3{
        font-size: 24px;
        white-space:nowrap;
        color: #333;
        margin: 0 0 10px;
    }
    .newuser-container a{
        color: #3977AD;
    }
    .newuser-container .col-sm-6{
        cursor: pointer;
        position: relative;
        max-width: 210px;
    }
    .newuser-container .col-sm-6.no-padding-left .mask{
        left: 0;
        right: 15px;
    }
    .newuser-container .col-sm-6.no-padding-right .mask{
        left: 15px;
        right: 0;
    }
    .newuser-container .mask{
        height: 100px;
        position: absolute;
        top: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 100px;
        font-size: 40px;
        display: none;
    }
    .newuser-container .col-sm-6:hover > .mask{
        display: inline-block;
    }
    .newuser-container .col-sm-6 a{
        font-size: 12px;
    }
    .newuser-container .no-padding-left{
        padding-left:0;
    }
    .newuser-container .no-padding-right{
        padding-right:0;
    }
    .newuser-container .col-sm-6 > img{
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-bottom: 8px;
    }

    .web-message{
        background-color: #FFF;
        box-shadow: 0 2px 5px rgba(44, 62, 80, .35);
    }
    .web-message > .col-sm-6{
        display: flex;
        align-items: center;
        padding:4px 90px;
    }
    .web-message .col-sm-6.left-col{
        justify-content: flex-end;
    }
    .web-message .col-sm-6.right-col{
        justify-content: flex-start;
    }
    .web-message .text{
        margin-left: 20px;
    }
    .web-message .text p{
        white-space:nowrap;
    }

    .video-modal iframe{
        width: 100%;
        min-height:400px;
        display: block;
        border: none;
    }

    @media (max-width: 992px) {
        .paracraft, .banner {
            display: block;
        }
        .banner {
            padding: 50px 0;
            height: auto;
            position: relative;
        }
        .banner > img{
            height:100%;
            top:0;
        }

        h1.feature-title {
            font-size: 36px;
            margin: 20px 0;
            text-align: center;
        }
    }
    @media (min-width: 1200px){
        .form-login-box{
            max-width: 400px;
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        .works img{
            height:159.38px;
            object-fit: contain;
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        .works{
            max-height: 405px;
            overflow: hidden;
        }
        .works .col-sm-4{
            margin: 10px 0;
        }
        .works img{
            height:165px;
            object-fit: contain;
        }
    }
    @media (max-width: 768px) {
        .row{
            padding:10px 0 20px;
        }
        .row.works{
            padding-top: 0;
        }
        .works .col-xs-10{
            margin-bottom: 10px;
        }
        .form-login-box{
            padding:15px 20px;
        }
        .form-login-box .otherLogin .title{
            padding:0 0 15px;
        }

        /*特性列表*/
        .bg-title h1{
            font-size: 34px;
            margin: 0 -15px;
            padding-left: 15px;
        }
        .content-padding{
            padding: 0 15px;
        }

        .newuser-container{
            width: 100%;
            margin: 0 auto;
            max-width: 400px;
            min-width: 0;
            padding: 15px 30px;
        }
        .newuser-container h3{
            font-size: 20px;
        }

        .web-message .col-sm-6.left-col, .web-message .col-sm-6.right-col{
            padding:4px 30px;
            justify-content: left;
        }
    }
</style>

<div ng-controller="homeController">
	<div id="test"></div>
    <div class="banner clearfix">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 hidden-xs hidden-sm">
            <h1 translate="一网乾坤 个人作品网"></h1>
            <h2>KeepWork</h2>
            <p style="max-width: 37em;" translate="KeepWork是一个集成了众多创作工具的个人作品创作与分享平台。 学生、老师、企业可以用它制作网站，3D动画和应用软件; 并与成千上万的用户一起学习和创作。 我们致力研发免费易用的面向个人的创作工具和提供持久可靠的数据存储服务。"></p>
        </div>
        <div  ng-show="!isLogin && !isFeature" class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1 form-login-box">
            <form>
                <div class="form-group">
                    <span id="total-err" class="visible-hidden text-danger">*{{errMsg}}</span>
                    <label class="sr-only" translate="登录账号"></label>
                    <input type="text" class="form-control" name="username" placeholder="帐户名或Email或手机号" ng-model="username">
                </div>
                <div class="form-group">
                    <span id="pwd-err" class="visible-hidden text-danger">**</span>
                    <label class="sr-only" translate="密码"></label>
					<input type="password" style="display: none;" name="password" ng-if="!keepPassword">
                    <input type="password" class="form-control" name="password" placeholder="密码" ng-model="password">
                </div>
                <div class="checkbox clearfix">
					<label class="pull-left">
						<input class="pull-right" type="checkbox" checked="checked" ng-model="keepPassword" ng-change="changeKeepPassword()">{{ "记住密码" | translate }}
					</label>
                    <a ng-click="findPwd()" class="pull-right" translate="忘记密码？"></a>
                </div>
                <a ng-click="login()" class="btn btn-primary btn-block btn-lg" translate="登录"></a>
                <div class="form-group clearfix">
                    <div class="pull-right">
                        {{ "没有账号？点击" | translate }}<a ng-click="goRegisterPage()" class="text-primary" translate="注册"></a>
                    </div>
                </div>
                <div class="otherLogin">
                    <div class="title" translate="直接使用以下账号登录"></div>
                    <div class="login-way">
                        <a ng-click="qqLogin()">
                            <img ng-src="{{imgsPath+'icon/wiki_qq.png'}}" alt="">
                        </a>
                        <a ng-click="wechatLogin()">
                            <img ng-src="{{imgsPath+'icon/wiki_wechat.png'}}" alt="">
                        </a>
                        <a ng-click="sinaWeiboLogin()">
                            <img ng-src="{{imgsPath+'icon/wiki_sina_weibo.png'}}" alt="">
                        </a>
                        <a ng-click="githubLogin()">
                            <img ng-src="{{imgsPath+'icon/wiki_github_logo.png'}}" alt="">
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="isLogin || isFeature" class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1 newuser-container">
            <div class="wiki-flex">
                <div class="icon">
                    <img ng-src="{{getImageUrl('icon/wiki_media.png', imgsPath)}}" alt="">
                </div>
                <div class="text">
                    <h3 translate="第一次使用KeepWork？"></h3>
                    <a href="#" translate="观看教学视频"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 no-padding-left" ng-click="playVideo('https://player.vimeo.com/video/222399949')">
                <img ng-src="{{getImageUrl('wiki_works.jpg', imgsPath)}}" alt="">
                <a translate="KeepWork是什么？"></a>
                <div class="mask">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 no-padding-right" ng-click="playVideo('https://player.vimeo.com/video/222399949')">
                <img ng-src="{{getImageUrl('wiki_works.jpg', imgsPath)}}" alt="">
                <a translate="如何用KeepWork写网站？"></a>
                <div class="mask">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
            </div>
        </div>
        <img ng-src="{{imgsPath+'wiki_banner1.jpg'}}" alt="">
    </div>
    <div class="web-message clearfix">
        <div class="col-xs-12 col-sm-6 left-col">
            <div class="icon">
                <img ng-src="{{getImageUrl('icon/gongkai_icon.png',imgsPath)}}" alt="">
            </div>
            <div class="text">
                <h4 translate="公开网站"></h4>
                <p translate="免费：任意数量、大小，CDN加速"></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 right-col">
            <div class="icon">
                <img ng-src="{{getImageUrl('icon/vip_icon.png',imgsPath)}}" alt="">
            </div>
            <div class="text">
                <h4 translate="私有网站"></h4>
                <p translate="VIP包月"></p>
            </div>
        </div>
    </div>
    <h1 class="visible-xs visible-sm feature-title" translate="功能介绍"></h1>
    <div id="_featureList_"></div>

    <!--视频播放弹窗-->
    <div class="modal video-modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe ng-src="{{videoUrl}}"></iframe>
            </div>
        </div>
    </div>
</div>
