<link rel="stylesheet" type="text/css" href="assets/css/common.css">
<div ng-controller="kaitlynHeaderController">
    <header class="navbar-fixed-top">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">WIKICRAFT</a> -->
                    <div class="dropdown navbar-brand">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{isLogin}} WIKICRAFT <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">创作站</a></li>
                            <li><a href="#">内容站</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left" ng-show="isLogin">
                        <li><a href="#">User</a>/<a href="#">Project</a>/<a href="Page"></a></li>
                        <li class="hidden-xs">
                            <input type="text" class="form-control" placeholder="">
                            <span class="glyphicon glyphicon-search text-muted"></span>
                        </li>
                    </ul>
                    <ul ng-show="isLogin">
                        <li><a href="#" class="glyphicon glyphicon-edit"></a></li>
                        <li><a href="#" class="glyphicon glyphicon-share"></a></li>
                        <li><a href="#" class="glyphicon glyphicon-star-empty">34</a></li>
                        <li><a href="#"><img src="{{imgPahh+' wiki_header.png '}}" alt=""></a></li>
                        <li><a href="#">动态 <span>(23)</span></a></li>
                        <li><a href="#">收藏夹</a></li>
                        <li><a href="#">收藏夹</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="!isLogin">
                        <li class="hidden-xs">
                            <input type="text" class="form-control" placeholder="">
                            <span class="glyphicon glyphicon-search text-muted"></span>
                        </li>
                        <li><a href="#">VIP</a></li>
                        <li><a ng-click="goLoginPage()">登录</a></li>
                        <li><a ng-click="goRegisterPage()" class="btn btn-primary">注册</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
</div>
