
<div class="" ng-controller="moduleEditorController">
	<div class="container">
		<div ng-if='data.type == "text"'>
			<div>
				<div class="pull-left">{{data.name}}</div>
				<div class="pull-right" ng-click="click_hide(data)">{{data.is_hide ? "显示" : "隐藏"}}</div>
			</div>
			<div>
				<input class="form-control" ng-model="data.value"/>
			</div>
		</div>
		<div ng-if='data.type == "link"'>
			<div>
				<div class="pull-left">{{data.name}}</div>
				<div class="pull-right" ng-click="click_hide(data)">{{data.is_hide ? "显示" : "隐藏"}}</div>
			</div>
			<div>
				<div>LINK TEXT</div>
				<div>
					<input class="form-control" ng-model="data.value_text"/>
				</div>
			</div>
			<div>
				<div>LINK ADDRESS</div>
				<div>
					<input class="form-control" ng-model="data.value_href"/>
				</div>
			</div>
		</div>
		<div ng-if='data.type == "image"'>
			<div>
				<div class="pull-left">{{data.name || "URL"}}</div>
				<div class="pull-right" ng-click="click_hide(data)">{{data.is_hide ? "显示" : "隐藏"}}</div>
			</div>
			<div>
				<input class="form-control" ng-model="data.value"/>
			</div>
		</div>
	</div>

	<!-- wiki moduel 模拟-->
   <div style="margin:30px" class="kp_wiki_module“>
		<div style="display:flex; flex-direction:row;">
			<div>
				<div data-id="title" class="kp_module_editor_input_tag">{{params.title.value}}</div>
				<div data-id="subtitle" class="kp_module_editor_input_tag">{{params.subtitle.value}}</div>
				<div data-id="description" class="kp_module_editor_input_tag">{{params.description.value}}</div>
			</div>
			<div data-id="link" class="kp_module_editor_input_tag">
				<a ng-href="{{params.link.value_href}}">{{params.link.value_text}}</a>
			</div>
			<!--<div>-->
				<!--<img id="quote_img_url" ng-src="params.imgUrl"/>-->
			<!--</div>-->
		</div>
	</div>
</div>
