<style>
    .model-select{
        border: 1px solid #DCDCDC;
    }
    .model-select .tab-content{
        border-left: 1px solid #DCDCDC;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .step-content{
        min-height: 485px;
        padding: 65px 70px 0;
    }
    .step-footer{
        text-align: center;
        margin-bottom: 80px;
    }
    .step-footer .btn-primary{
        padding: 9px 42px;
    }
    .step-content .step2 .col-sm-7{
        display: flex;
        align-items: center;
        padding-left: 0;
    }
    .step-content .step2 .form-control{
        margin-bottom: 0;
        margin-right: 8px;
    }
    .step-content .label-selected{
        color: #3977AD;
        background-color: #DBDBDB;
        float: left;
        margin: 5px;
        padding: 6px 18px;
        font-size: 16px;
    }
    .labels-box{
        height: 130px;
        background-color: #F9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .labels-common-used{
        min-height: 190px;
        background-color: #f9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .labels-common-used span{
        margin: 5px 0;
        text-align: center;
        display: inline-block;
        min-width: 30%;
        font-size: 16px;
        color: #3977AD;
    }
    .website-model .label {
        background-color: rgba(0,0,0,.35);
        padding: 11px 18px;
        position: absolute;
        left: 15px;
        font-weight: normal;
        top: 0;
        font-size: 18px;
        border-radius: 0;
        color: #FFF;
    }
    .website-model .btn-group{
        background-color: #F9F9F9;
        box-shadow: 0 1px 3px 0 rgba(44,62,80,.35);
        padding:0;
    }
    .website-model .btn-group .btn-lg{
        font-size: 16px;
        border-radius: 0;
        margin:0;
    }
    .website-model .btn-group .btn-lg.active{
        background-color: #3977AD;
        color: #FFF;
    }
    .website-model img{
        width:100%;
    }
    .model-select .nav-tabs{
        border-bottom: none;
        color: black;
        padding-right: 0;
        padding-top: 35px;
    }
    .model-select .nav-tabs>li{
        text-align: center;
        width: 100%;
    }
    .model-select .nav-tabs>li.active>a{
        border: none;
        left: 0;
        background-color: #DCDCDC;
        margin-right: 0;
    }
    .confirm-msg .col-sm-12,.confirm-msg .col-sm-6{
        color: #3977AD;
        font-size: 16px;
        padding: 10px 0;
    }
    .confirm-msg .col-sm-12 span{
        color: #333;
        font-size: 14px;
    }
    .confirm-msg .label-img{
        display: inline-block;
        position: relative;
        vertical-align: text-top;
    }
    .confirm-msg .label-img .label{
        position: absolute;
        padding: 11px 18px;
        left: 0;
        top: 0;
        font-weight: normal;
        border-radius: 0;
        font-size: 18px;
        background-color: rgba(0,0,0,.35);
    }
    .congratulation{
        text-align: center;
    }
    .congratulation h4{
        font-weight: normal;
    }
    .congratulation a{
        color: #3977AD;
    }
</style>

<div ng-controller="newWebsiteController">
    <div class="col-md-10 main-content">
        <div class="panel-heading">
            新建网站
        </div>
        <div class="panel-body">
            <div class="step-content">
                <div ng-show="step == 1">
                    <form class="form-horizontal" role="form">
                        <div class="form-group sr-only">
                            <legend>新建网站第一步表单</legend>
                        </div>
                        <div class="form-group">
                            <label for="webName" class="control-label col-sm-2">站点名称</label>
                            <div class="col-sm-5">
                                <input id="webName" ng-change="checkWebsiteName()" ng-model="website.name" type="text" class="form-control">
                            </div>
                            <div class="col-sm-5">
                                <p class="info">为你的网站起个名字吧，这个名字将用来称呼你的网站。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="webIntro" class="control-label col-sm-2">网站介绍</label>
                            <div class="col-sm-5">
                                <textarea id="webIntro" ng-model="website.desc" rows="6"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="step == 2" class="step2">
                    <p>系统将会为你生成单独的访问地址名称，请设定：</p>
                    <div class="col-sm-7">
                        <input ng-model="website.domain" type="text" disabled class="form-control"> .paracraft.wiki
                    </div>
                    <div class="col-sm-4 info">
                        *创建网站后，可在网站设置页面中添加域名转发功能， 将其他域名制定到本网站。
                    </div>
                </div>
                <div ng-show="step == 3">
                    <div class="col-sm-6">
                        <p>本站标签：</p>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="tag">
                        </div>
                        <div class="col-sm-2">
                            <div class="btn btn-primary" ng-click="addTag(tag)">添 加</div>
                        </div>
                        <div class="col-sm-12 labels-box">
                            <div ng-repeat="tag in tags" class="label-selected">{{tag}}<span ng-click="removeTag(tag)" class="glyphicon glyphicon-remove text-danger"></span></div>
                        </div>
                        <p class="info col-sm-12">*为你的网站添加描述标签，这些标签会决定网站被如何搜索到, 你可以随时在网站设置中修改</p>
                    </div>
                    <div class="col-sm-6">
                        <p>常用标签：</p>
                        <div class="labels-common-used">
                            <span ng-click="addTag(tag)" ng-repeat="tag in commonTags" style="cursor: pointer">{{tag}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 4">
                    <h4>选择功能模板：</h4>
                    <div role="tabpanel" class="clearfix model-select">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs col-sm-2" role="tablist">
                            <li role="presentation" ng-repeat="category in categories" ng-class="getActiveStyleClass(category)">
                                <a ng-click="selectCategory(category)" aria-controls="personal-web" role="tab" data-toggle="tab">{{category.name}}</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content website-model col-sm-10">
                            <div role="tabpanel" class="tab-pane active clearfix" id="personal-web">
                                <div class="col-sm-5" ng-repeat="template in templates">
                                    <img ng-src="{{template.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                                    <div class="col-md-12 btn-group">
                                        <div class="btn col-sm-6 btn-lg" ng-click="previewTemplate(template)">预览</div>
                                        <div class="btn col-sm-6 btn-lg" ng-click="selectTemplate(template)">应用</div>
                                    </div>
                                    <span class="label">{{template.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 5">
                    <h4>选择美术效果</h4>
                    <div class="website-model">
                        <div class="col-sm-4" ng-repeat="style in styles">
                            <img ng-src="{{ style.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="col-md-12 btn-group">
                                <div class="btn col-sm-6 btn-lg" ng-click="goPreviewPage(style)">预览</div>
                                <div class="btn col-sm-6 btn-lg" ng-click="selectStyle(style)">应用</div>
                            </div>
                            <span class="label">{{style.name}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 6" class="confirm-msg">
                    <h4>信息确认：</h4>
                    <div class="col-sm-12">
                        站点名称：<span> MY网站</span>
                    </div>
                    <div class="col-sm-12">
                        网站介绍：<span> 作者对网站的简介</span>
                    </div>
                    <div class="col-sm-12">
                        URL：<span> user.wikicraft.cn</span>
                    </div>
                    <div class="col-sm-12">
                        标签：<span> #游戏#、#摄影#</span>
                    </div>
                    <div class="col-sm-6">
                        功能模板：
                        <div class="label-img">
                            <img ng-src="{{imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="label">3D</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        美术模板：
                        <div class="label-img">
                            <img ng-src="{{imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="label">空灵</div>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 7" class="congratulation">
                    <h4>恭喜你！成功创建了 WyWibsite 网站。 </h4>
                    <h4>可以通过<a href="user.wikicraft.cn" target="_blank">user.wikicraft.cn</a>来进行访问、编辑。</h4>
                </div>
            </div>
            <div class="step-footer">
                <button ng-show="step > 1 && step < 8" class="btn btn-primary" ng-click="prevStep()">上一步</button>
                <button ng-show="step < 8"class="btn btn-primary" ng-disabled="nextStepDisabled" ng-click="nextStep()">{{step == 7 ? '完成' : '下一步'}}</button>
            </div>
        </div>
    </div>
</div>
