<style>
    .model-select{
        border: 1px solid #DCDCDC;
    }
    .model-select .tab-content{
        border-left: 1px solid #DCDCDC;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .step-content {
        min-height: 325px;
        padding: 25px 70px 0;
    }
    .step-footer {
        text-align: center;
        margin: 40px 0;
    }
    .step-footer .btn-primary{
        padding: 9px 42px;
    }
    .step-footer .btn-prev{
        background-color: #FFF;
        color: #666;
        border-color: #666;
    }
    .step-footer .btn-prev:hover{
        background-color: #666;
        color: #FFF;
    }
    .step-content .step2 .col-sm-7{
        display: flex;
        align-items: center;
        padding-left: 0;
    }
    .step-content .step2 .form-control{
        margin-bottom: 0;
        margin-right: 8px;
    }
    .step-content .label-selected{
        color: #3977AD;
        background-color: #DBDBDB;
        float: left;
        margin: 5px;
        padding: 6px 18px;
        font-size: 16px;
    }
    .step-content .errorMsg{
        position: absolute;
        bottom:-10px;
    }
    .step-content .error-msg-box{
        padding-left: 0;
        line-height:34px;
    }
    .step-content .btn-tag{
        padding:0;
    }
    .labels-box{
        min-height: 130px;
        background-color: #F9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .labels-common-used{
        min-height: 190px;
        background-color: #f9f9f9;
        border: 1px solid #DCDCDC;
        padding: 6px 15px;
    }
    .labels-common-used span{
        margin: 5px 0;
        text-align: center;
        display: inline-block;
        min-width: 30%;
        font-size: 16px;
        color: #3977AD;
    }
    .website-model .label {
        background-color: rgba(0,0,0,.35);
        padding: 11px 18px;
        position: absolute;
        left: 15px;
        font-weight: normal;
        top: 0;
        font-size: 18px;
        border-radius: 0;
        color: #FFF;
    }
    .website-model .btn-group{
        background-color: #F9F9F9;
        box-shadow: 0 1px 3px 0 rgba(44,62,80,.35);
        padding:0;
    }
    .website-model .btn-group .btn-lg{
        font-size: 16px;
        border-radius: 0;
        margin:0;
    }
    .website-model .active>img{
        border: 1px solid #3977AD;
        border-bottom:none;
    }
    .website-model .active>.btn-group{
        border: 1px solid #3977AD;
        border-top: none;
    }
    .website-model .btn-group .btn-lg.active{
        background-color: #eee;
        color: #3977AD;
        box-shadow: none;
    }
    .website-model img{
        width:100%;
        height:180px;
        object-fit: cover;
        cursor: pointer;
    }
    .model-select .nav-tabs{
        border-bottom: none;
        color: black;
        padding-right: 0;
        padding-top: 35px;
    }
    .model-select .nav-tabs>li{
        text-align: center;
        width: 100%;
    }
    .model-select .nav-tabs>li.active>a{
        border: none;
        left: 0;
        background-color: #DCDCDC;
        margin-right: 0;
    }
    .confirm-msg .col-sm-12,.confirm-msg .col-sm-6{
        color: #3977AD;
        font-size: 16px;
        padding: 10px 0;
    }
    .confirm-msg .col-sm-12 span{
        color: #333;
        font-size: 14px;
    }
    .confirm-msg .label-img{
        display: inline-block;
        position: relative;
        vertical-align: text-top;
    }
    .confirm-msg .label-img>img{
        height:180px;
        object-fit: cover;
    }
    .confirm-msg .label-img .label{
        position: absolute;
        padding: 11px 18px;
        left: 0;
        top: 0;
        font-weight: normal;
        border-radius: 0;
        font-size: 18px;
        background-color: rgba(0,0,0,.35);
    }
    .congratulation{
        text-align: center;
    }
    .congratulation h4{
        font-weight: normal;
    }
    .congratulation a {
        color: #3977AD;
    }
    .no-padding-left{
        padding-left:0;
    }

</style>

<div ng-controller="newWebsiteController">
    <div class="col-md-10 main-content">
        <div class="panel-heading">
            新建网站
        </div>
        <div class="panel-body">
            <div class="step-content clearfix">
                <div ng-show="step == 1">
                    <form class="form-horizontal" role="form">
                        <div class="form-group sr-only">
                            <legend>新建网站第一步表单</legend>
                        </div>
                        <div class="form-group">
                            <label for="webName" class="control-label col-sm-2">站点名称：</label>
                            <div class="col-sm-5">
                                <input id="webName" ng-model="website.displayName" ng-change="checkWebsiteDisplayName()" type="text" class="form-control">
                                <p class="errorMsg text-danger">{{errMsg}}</p>
                            </div>
                            <div class="col-sm-5 info">
                                *为你的网站起一个名字吧，这个名字将用来称呼你的网站，可随时在网站设置中修改
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="webIntro" class="control-label col-sm-2">网站介绍：</label>
                            <div class="col-sm-5">
                                <textarea id="webIntro" ng-model="website.desc" rows="6"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="step == 2" class="step2">
                    <p>系统将会为你生成单独的访问地址名称，请设定：</p>
                    <div class="col-sm-7 form-group">
                        <input ng-model="website.name" ng-change="checkWebsiteName()" type="text" class="form-control">
                    </div>
                    <div class="col-sm-5 error-msg-box">
                        <p class="text-danger">{{errMsg}}</p>
                    </div>
                    <div class="col-sm-12">
                        <p>新建的网站可以使用以下地址访问：</p>
                        <h4>http://{{user.username}}-{{website.name}}.keepwork.com</h4>
                        <h4>http://keepwork.com/{{user.username}}/{{website.name}}</h4>
                    </div>

                    <div class="col-sm-12 info">
                        <p>*创建网站后，可在网站设置页面中添加域名转发功能， 将其他域名指定到本网站。</p>
                        <p>*您也可以向本站申请高级域名服务。获得类似： http://project.keepwork.com 这样的域名。<a href="#">马上申请</a></p>
                    </div>
                </div>
                <div ng-show="step == 3">
                    <div class="col-sm-6">
                        <p>本站标签：</p>
                        <div class="col-sm-10 no-padding-left">
                            <input type="text" class="form-control" ng-model="tag">
                        </div>
                        <div class="col-sm-2 btn-tag">
                            <div class="btn btn-primary btn-block" ng-click="addTag(tag)">添 加</div>
                        </div>
                        <div class="col-sm-12 labels-box">
                            <div ng-repeat="tag in tags" class="label-selected">#{{tag}}#<span ng-click="removeTag(tag)" class="glyphicon glyphicon-remove text-danger"></span></div>
                        </div>
                        <p class="info col-sm-12">*为你的网站添加描述标签，这些标签会决定网站被如何搜索到, 你可以随时在网站设置中修改</p>
                    </div>
                    <div class="col-sm-6">
                        <p>常用标签：</p>
                        <div class="labels-common-used">
                            <span ng-click="addTag(tag)" ng-repeat="tag in commonTags" style="cursor: pointer">#{{tag}}#</span>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 4">
                    <h4>选择功能模板：</h4>
                    <div role="tabpanel" class="clearfix model-select">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs col-sm-2" role="tablist">
                            <li role="presentation" ng-repeat="category in categories" ng-class="getActiveStyleClass(category)">
                                <a ng-click="selectCategory(category)" aria-controls="personal-web" role="tab" data-toggle="tab">{{category.name}}</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content website-model col-sm-10">
                            <div role="tabpanel" class="tab-pane active clearfix" id="personal-web">
                                <div class="col-sm-5" ng-repeat="template in templates" ng-class="website.templateId == template._id ? 'active' : ''">
                                    <img ng-src="{{template.logoUrl || imgsPath + 'wiki_works.jpg'}}" ng-click="selectTemplate(template)" alt="">
                                    <div class="col-md-12 btn-group">
                                        <div class="btn col-sm-6 btn-lg" ng-click="previewTemplate(template)">预览</div>
                                        <div class="btn col-sm-6 btn-lg" ng-click="selectTemplate(template)" ng-class="website.templateId == template._id ? 'active' : ''">选择</div>
                                        </div>
                                    <span class="label">{{template.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 5">
                    <h4>选择美术效果：</h4>
                    <div class="website-model">
                        <div class="col-sm-4" ng-repeat="style in styles" ng-class="website.styleId == style._id ? 'active' : ''">
                            <img ng-src="{{ style.logoUrl || imgsPath + 'wiki_works.jpg'}}" ng-click="selectTemplate(template)" alt="">
                            <div class="col-md-12 btn-group">
                                <div class="btn col-sm-6 btn-lg" ng-click="goPreviewPage(style)">预览</div>
                                <div class="btn col-sm-6 btn-lg" ng-click="selectStyle(style)" ng-class="website.styleId == style._id ? 'active' : ''">选择</div>
                            </div>
                            <span class="label">{{style.name}}</span>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 6" class="confirm-msg">
                    <h4>信息确认：</h4>
                    <div class="col-sm-12">
                        站点名称：<span>{{website.displayName}}</span>
                    </div>
                    <div class="col-sm-12">
                        网站介绍：<span>{{website.desc}}</span>
                    </div>
                    <div class="col-sm-12">
                        URL：<span>{{'/' + user.username + '/' + website.name + '/index'}}</span>
                    </div>
                    <div class="col-sm-12">
                        标签：<span>{{website.tags}}</span>
                    </div>
                    <div class="col-sm-6">
                        功能模板：
                        <div class="label-img">
                            <img ng-src="{{template.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="label">{{website.templateName}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        美术模板：
                        <div class="label-img">
                            <img ng-src="{{style.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="label">{{website.styleName}}</div>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 7" class="congratulation">
                    <h4>恭喜你！成功创建了 {{website.displayName}} 网站。 </h4>
                    <h4>
                        <p>可以通过<a ng-click="goWebsiteIndexPage()" target="_blank">{{'http://' + user.username + '-' + website.name + '.keepwork.com'}}</a>或者</p>
                        <p><a ng-click="goWebsiteIndexPage()" target="_blank">{{'http://keepwork.com/' + user.username + '/' + website.name}}</a>来进行访问、编辑。</p>
                    </h4>
                    <h4>您可以在 <a ng-click="goEditWebsitePage()">【网站设置】</a>中添加CNAME转发规则，将您拥有的其他域名定向到该网站 </h4>
                </div>
            </div>
            <div class="step-footer">
                <button ng-show="step > 1 && step < 7" class="btn btn-primary btn-prev" ng-click="prevStep()">上一步</button>
                <button ng-show="step < 7" class="btn btn-primary" ng-disabled="nextStepDisabled" ng-click="nextStep()">{{step == 6 ? '确认' : '下一步'}}</button>
                <button ng-show="step==7" class="btn btn-primary" ng-disabled="nextStepDisabled" ng-click="nextStep()">完成</button>
            </div>
        </div>
    </div>
</div>
