<style>
    body {
        background-color: white;
    }

    .notfound {
        text-align: center;
        /* padding: 60px 0; */
        color: #3977AD;
    }

    .notfound h1 {
        font-size: 28px;
        margin: 0 0 30px;
        color: #303133;
        font-weight: bold;
    }

    .notfound .background-image {
        position: absolute;
        width: 100%;
        z-index: -1;
        left: 0;
        padding-top: 5%;
        /* top: 240px; */
    }

    .notfound .background-image img {
        width: 20%;
        /* background-color: white; */
        height: auto;
        cursor: pointer;
    }

    .notfound .btns {
        display: flex;
        justify-content: center;
    }

    .notfound .btn-primary-outline {
        font-size: 14px;
        font-weight: 500;
        width: 110px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        border: 1px solid #337ab7;
        background-color: #337ab7;
        margin: 0 10px;
        border-radius: 100px;
        color: #FFF;
    }

    .notfound .btn-primary-outline:hover {
        background-color: #4e99d9;
        color: #FFF;
    }

    .notfound .fa {
        font-size: 16px;
        -webkit-text-stroke: 1px #F4F9FF;
    }

    .notfound .btn-primary-outline:hover .fa {
        font-size: 16px;
        -webkit-text-stroke: 1px #F4F9FF;
    }

    .text {
        padding-top: 28.5%
    }
</style>
<div ng-controller="notfoundController" class="notfound">
    <div class="background-image">
        <img ng-src="{{imgsPath+'404.png'}}" alt="">
    </div>
    <div class="text">
        <h1 translate="很抱歉！您访问的页面不存在!"></h1>
        <div class="btns">
            <div class="btn btn-primary-outline" ng-click="goBack()">
                返&nbsp&nbsp回
            </div>
            <!-- <div class="btn btn-primary-outline" ng-click="newPage()" ng-show="showNewPageBtn" translate="创建该页面"></div> -->
        </div>
    </div>
</div>