<style>
    body {
        background-color: #f2f2f2;
    }

    .pay-main {
        padding: 0;
        padding-top: 43px;
        padding-bottom: 50px;
    }

    .pay-main .goods-info {
        height: 80px;
        line-height: 80px;
        padding-left: 40px;
        font-size: 16px;
        color: #666666;
        background-color: #ffffff;
        font-weight: 600;
    }

    .pay-main .pay-main-outside {
        border: 1px solid #ebeef3;
        background-color: #ffffff;
    }

    .pay-main-page {
        margin-top: 60px;
        margin-bottom: 60px;
        display: box;
        box-pack: center;
        box-align: center;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    .pay-main-method .pay-item {
        height: 60px;
    }

    .pay-main-method .pay-item ul {
        list-style-type: none;
        padding: 0;
        height: 100%;
        margin: 0;
        border-bottom: 1px solid #f2f2f2;
    }

    .pay-main-method .pay-item ul li {
        height: 103%;
        font-size: 16px;
        text-align: center;
        padding: 0 20px;
        border-bottom: 1px solid #ffffff;
        margin-top: -1px;
        margin-left: -1px;
    }

    .pay-main-method .pay-item ul li span {
        position: relative;
        top: 30%;
    }

    .pay-main .wechat-pay-qrcode , .pay-main .alipay-pay-qrcode{
        display: none;
    }

    @media(max-width: 768px) {
        .pay-main-logo {
            width: 120px;
            margin: 0 auto;
        }

            .pay-main-logo .no-img {
                width: 120px;
                height: 120px;
                background-color: #333333;
            }

            .pay-main-logo img {
                width: 120px;
                height: 120px;
            }

            .pay-main-logo .username {
                width: 100%;
                text-align: center;
                margin-top: 7px;
                font-size: 18px;
                color: #333333;
            }

        .pay-main-method .pay-item ul li {
            text-align: center;
            margin-bottom: 25px;
        }
    }

    @media(min-width: 768px) {
        .pay-main{
        }

        .pay-main-user {
            width: 615px;
        }

        .pay-main-logo {
            width: 120px;
            margin-right: 55px;
            float: left;
        }

        .pay-main-logo img{
            width: 120px;
            height: 120px;
        }

        .pay-main-logo .username{
            width: 100%;
            text-align: left;
            margin-top: 7px;
            font-size: 18px;
            color: #333333;
        }

        .pay-main-field {
            float: left;
        }

        .pay-main-field .field-item {
            height: 40px;
            line-height: 40px;
            margin-bottom: 28px;
        }

        .pay-main-field .field-item .desc {
            float: left;
            font-size: 16px;
            width: 140px;
            text-align: right;
        }

        .pay-main-field .field-item input , .pay-main-field .field-item .price-field{
            margin-left: 145px;
            display: block;
        }

        .pay-main-field .field-item input[type="text"] {
            width: 290px;
            border-radius: 4px;
            padding: 0px;
            border: 0;
            border: 1px solid #dddddd;
            padding-left: 10px;
            color: #666666;
        }

        .pay-main-field .field-item input[name="price"] {
            float: left;
            margin-left: 0px;
            margin-right: 10px;
            width: 100px;
        }

        .pay-main-field .field-item .rules {
            font-size: 16px;
        }

        .pay-main-field .field-item .rules .light {
            color: #fe3266;
            font-size: 16px;
        }

        .pay-main-field .field-item .rules .light-bigger {
            font-size: 22px;
        }

        .pay-main-field .field-item input[type="button"] {
            width: 120px;
            height: 42px;
        }


        .pay-main-method .pay-item {

        }

        .pay-main-method .pay-item ul li {
            float: left;
            cursor: pointer;
        }

        .pay-main .alipay-pay-qrcode {
           position: relative;
        }

        .pay-main .wechat-pay-qrcode {
            width: 650px;
            height: 395px;
            background: url("/wiki/assets/imgs/pay-qrcode-wechat-bg.png") no-repeat center;
            padding: 23px;
        }

        .pay-main .wechat-pay-qrcode .wechat-qrcode {
            border: 1px solid #dddddd;
            width: 250px;
            height: 250px;
            padding: 23px;
        }

        .pay-main .wechat-pay-qrcode .wechat-qrcode img{
            display: inline;
            width: 200px;
            height: 200px;
        }

        .pay-main .alipay-pay-qrcode {
            text-align: center;
        } 

        .pay-main .alipay-pay-qrcode .qrcode-desc {
            text-align: center;
            font-size: 12px;
            color: #4D4D4D;
        }

        .pay-main .alipay-pay-qrcode .money {
            text-align: center;
            font-size: 26px;
            font-weight: 700;
            color: #f60;
            margin-bottom: 16px;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info {
            position: relative;
            height: auto;
            margin: 0 auto;
            padding: 6px;
            border: 1px solid #d3d3d3;
            -webkit-box-shadow: 1px 1px 1px #ccc;
            box-shadow: 1px 1px 1px #ccc;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info > img{
            width: 168px;
            width: 168px;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info .alipay-scan {
            padding: 10px 0 6px;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info .alipay-scan .alipay-scan-img {
            float: left;
            margin-left: 20px;
            margin-top: 5px;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info .alipay-scan .alipay-scan-info {
            font-size: 12px;
            float: left;
            margin-left: 10px;
            text-align: left;
            line-height: 18px;
            color: #4D4D4D;
        }

        .pay-main .alipay-pay-qrcode .qrcode-info .alipay-download a{
            font-size: 12px;
            color: #a6a6a6;
            text-decoration: underline;
        }

        .pay-main .alipay-pay-qrcode .alipay-notice {
            width: 204px;
            height: 183px;
            overflow: hidden;
            position: absolute;
            top: -25px;
            left: 195px;
            cursor: pointer;
        }
    }
</style>
<div ng-controller="payController">
    <div class="pay-main container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="goods-info">
                    您正在进行《魔法哈奇2》的金币充值，金币可在《魔法哈奇2》中购买商城物品与服务。
                </div>
            </div>
        </div>
        <div class="pay-main-outside">
            <div class="row">
                <div class="col-md-9 col-xs-12 col-sm-12">
                    <div class="pay-main-method">
                        <div class="pay-item">
                            <ul class="clearfix">
                                <li ng-class="{active: method == 'alipay'}" ng-click="alipay()">
                                    <span>支付宝充值</span>
                                </li>
                                <li ng-class="{active: method == 'wechat'}" ng-click="wechat()">
                                    <span>微信支付</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pay-main-page">
                        <div style="display:none" class="pay-main-user clearfix">
                            <div class="pay-main-logo">
                                <img ng-if="!userinfo.portrait" ng-src="{{imgsPath + 'wiki_default_profile.jpg'}}" class="no-img" />
                                <img ng-if="userinfo.portrait" ng-src="{{userinfo.portrait}}" />
                                <div class="username">{{userinfo.displayName}}</div>
                            </div>
                            <div class="pay-main-field">
                                <div class="field-item">
                                    <lable class="desc">Keepwork 账号：</lable>
                                    <input type="text" name="username" />
                                </div>
                                <div class="field-item">
                                    <lable class="desc">充值到数字账号：</lable>
                                    <input type="text" name="app_user_id" />
                                </div>
                                <div class="field-item">
                                    <lable class="desc">充值金额：</lable>
                                    <div class="price-field">
                                        <input type="text" name="price" />元
                                    </div>
                                </div>
                                <div class="field-item">
                                    <lable class="desc">兑换金币：</lable>
                                    <lable class="rules">
                                        <span class="light light-bigger">60</span>
                                        金币
                                        （
                                        <span class="light">1</span>
                                        人民币
                                        等于
                                        <span class="light">10</span>
                                        金币
                                        ）
                                    </lable>
                                </div>
                                <div class="field-item">
                                    <input class="btn btn-primary" type="button" value="立即充值" />
                                </div>
                            </div>
                        </div>
                        <div class="alipay-pay-qrcode">
                            <div class="qrcode-desc">
                                扫一扫付款（元）
                            </div>
                            <div class="money">
                                ￥{{price}}
                            </div>
                            <div class="qrcode-info">
                                <img ng-src="http://qr.topscan.com/api.php?m=0&text={{qr_url}}">
                                <div class="alipay-scan clearfix">
                                    <img class="alipay-scan-img" src="/wiki/assets/imgs/alipay_scan.png" alt="扫一扫标识" />
                                    <div class="alipay-scan-info">
                                        打开手机支付宝
                                        <br />
                                        扫一扫继续付款
                                    </div>
                                </div>
                                <div class="alipay-download">
                                    <a target="_blank" href="https://mobile.alipay.com/index.htm">首次使用请下载手机支付宝</a>
                                </div>
                            </div>
                            <div class="alipay-notice">
                                <img src="/wiki/assets/imgs/alipay_operate_a.png" alt="Alternate Text" />
                            </div>
                        </div>
                        <div style="display:block" class="wechat-pay-qrcode">
                            <div class="money">
                                支付金额： ￥{{price}} 元
                            </div>
                            <div class="wechat-qrcode">
                                <img ng-src="http://qr.topscan.com/api.php?m=0&text={{qr_url}}">
                            </div>
                        </div>
                        <div class="pay-result">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">热门服务</div>
            </div>
        </div>
    </div>
</div>