<div style="padding: 30px 0px" ng-controller="registerCtrl">
    <div class="row">
        <div class="col-md-offset-5 col-md-2" style="display: flex; justify-content: center">
            <h2>注册</h2>
        </div>
    </div>
    <div>
        <form name="RegisterForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group row">
                <label for="username" class="col-md-offset-4 col-md-1 control-label">用户名：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="username" ng-model="user.username" required>
                </div>
                <div style="color:red;padding: auto;display: inline" ng-show="RegisterForm.username.$dirty && RegisterForm.username.$invalid">
                    <span ng-show="RegisterForm.username.$error.required">用户名是必须的。</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-offset-4 col-md-1 control-label">email：</label>
                <div class="col-md-2">
                    <input type="email" class="form-control" name="email" ng-model="user.email" required>
                </div>
                <div style="color:red;padding: auto;display: inline"
                     ng-show="RegisterForm.email.$dirty && RegisterForm.email.$invalid">
                    <span ng-show="RegisterForm.email.$error.required">Email是必须的。</span>
                    <span ng-show="RegisterForm.email.$invalid">邮箱不合法</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-md-offset-4 col-md-1 control-label">手机：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="phone" ng-model="user.phone"
                           ng-pattern="/^1(3|4|5|7|8)\d{9}$/" required>
                </div>
                <div style="color:red; padding: auto; display: inline"
                     ng-show="RegisterForm.phone.$dirty && RegisterForm.phone.$invalid">
                    <span ng-show="RegisterForm.phone.$error.required">手机号是必须的。</span>
                    <span ng-show="RegisterForm.phone.$invalid">手机号码无效</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-offset-4 col-md-1 control-label">密码：</label>
                <div class="col-md-2">
                    <input type="password" class="form-control" name="password" ng-model="user.password" required>
                </div>
                <div style="color:red;padding: auto;display: inline"
                     ng-show="RegisterForm.password.$dirty && RegisterForm.password.$invalid">
                    <span ng-show="RegisterForm.password.$error.required">密码是必须的。</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-2">
                    <input type="checkbox" />申请即视为同意《Wikicraft用户协议》
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-5 col-md-2" style="display: flex; justify-content: center">
                    <button type="submit" ng-click="register()" class="btn btn-default" style="width: 120px; margin-top: 20px"
                            ng-disabled="(RegisterForm.username.$dirty && RegisterForm.username.$invalid) ||
                        (RegisterForm.email.$dirty && RegisterForm.email.$invalid) || (RegisterForm.phone.$dirty && RegisterForm.phone.$invalid) ||
                        (RegisterForm.password.$dirty && RegisterForm.password.$invalid) || RegisterForm.username.$error.required ||
                    RegisterForm.email.$error.required || RegisterForm.phone.$error.required || RegisterForm.password.$error.required">
                        注册
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2" style="display: flex;justify-content: space-between">
            <a>github登录</a>
            <a ng-click="goLoginPage()">已有账号，请登录</a>
        </div>
    </div>
</div>