<style>
    /*消费记录*/
    .mypay-panel {
        margin: 0;
        padding: 0;
    }
    .mypay-panel .text-success {
        color: #3FCE42;
        vertical-align: sub;
    }
    .mypay-panel .text-danger {
        font-size: 22px;
        vertical-align: sub;
    }
    .mypay-table {
        border: none;
    }
    .mypay-table > tbody > tr > td {
        border: none;
        width: 25%;
        vertical-align: middle;
    }
    .mypay-table tr {
        border-bottom: 1px solid #DDD;
        height: 100px;
        text-align: center;
    }
    .mypay-table .icon {
        color: #FF8633;
        font-size: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .mypay-table .money {
        color: #FF8633;
        font-weight: bold;
    }

    /*我的VIP*/
    .myvip .panel-body {
        padding: 0 0 20px 0;
    }
    .myvip .col-sm-4 {
        text-align: center;
        line-height: 34px;
    }
    .myvip .vipinfo {
        padding: 53px 0;
        border-bottom: 1px solid #DCDCDC;
    }
    .myvip .compares {
        width: 600px;
        margin: 30px auto 0;
    }
    .myvip .feature-box {
        float: left;
        width: 280px;
        margin: 0 10px;
        padding: 16px 22px 36px 36px;
        text-align: center;
        border: 1px solid #DCDCDC;
        color: #808080;
    }
    .myvip .vip-feature {
        color: #FF7200;
    }
    .myvip .feature-box ul {
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .myvip .feature-box ul > li {
        list-style: none;
        font-size: 16px;
        position: relative;
        color: #666;
        padding-left: 30px;
        line-height: 40px;
        white-space: nowrap;
    }
    .myvip .feature-box .glyphicon-ok {
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #6BBC7D;
        border-radius: 50%;
        font-size: 12px;
        color: #FFF;
    }
    .myvip .feature-box .text-muted {
        color: #DDD;
    }
    /*订单中心*/
    .orders-table {
        width: 620px;
        margin: 50px auto 0;
    }
    .orders-table > thead > tr > th {
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }
    .orders-table > tbody > tr > td {
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
    }
    .orders-table .btn-primary {
        font-size: 16px;
        padding: 4px 23px;
    }
</style>
<style>
    @media  (max-width: 680px){
        .myvip .row{
            padding:0;
            border-bottom: none;
        }
        .myvip h3{
            margin-bottom: 15px;
        }
        .myvip .compares {
            width: 100%;
        }
        .myvip .feature-box{
            width: 50%;
            padding: 0 10px;
            margin: 0;
            border: 0;
        }
        .myvip .feature-box h2{
            font-size: 16px;
            margin: 10px 0;
        }
        .myvip .feature-box ul > li{
            font-size: 12px;
            padding-left: 17px;
            line-height: 30px;
        }
        .myvip .feature-box .glyphicon-ok{
            width:15px;
            height:15px;
            line-height:15px;
            top:6px;
        }
        .myvip .gopay-btn{
            margin: 10px 0;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            width: 80px;
        }
    }
    @media (max-width: 768px) {
        .myvip .vipinfo{
            padding:15px 0;
            text-align: center;
        }
    }
</style>
<div ng-controller="servicesController">
    <!--消费记录-->
    <div ng-show="showItem == 'myPay'" class="col-md-10 main-content panel">
        <div class="panel-heading clearfix">
            <div style="float:left" translate="消费记录"></div>
            <div style="float:right">{{ "余额" | translate }}{{balance/100 || "0"}}{{ "元" | translate }}</div>
        </div>
        <div class="panel-body mypay-panel">
            <div class="empty-box" ng-hide="myPays.length > 0">
                <span class="iconfont icon-kongbaiyemian"></span>
                <p translate="暂无消费记录..."></p>
            </div>
            <table class="table mypay-table" ng-show="myPays.length > 0">
                <tr ng-repeat="item in myPays">
                    <td class="icon-time">
                        <span class="icon iconfont" ng-class="{true:'icon-shangdian1', false: 'icon-xiaofeidaikuan'}[item.method == 'spend']"></span>
                        <span class="time">{{item.create_date}}</span>
                    </td>
                    <td>{{item.subject}}</td>
                    <td class="money">{{item.method == 'Spend' ? "-" : "+"}} &yen; {{item.price < 0 ? -item.price/100 : item.price/100}}</td>
                    <td>{{payStatus[item.status]}}</td>
                    <!--<td ng-show="item.code == 0">兑换成功 <sapn class="iconfont icon-check-mark text-success"></sapn></td>
                    <td ng-show="item.code != 0">兑换失败 <sapn class="text-danger">&times;</sapn></td>-->
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="showItem == 'orders'" class="col-md-10 main-content panel">
        <div class="panel-heading" translate="订单中心"></div>
        <div class="panel-body">
            <div class="empty-box" ng-hide="serviceList.length > 0">
                <span class="iconfont icon-kongbaiyemian"></span>
                <p translate="暂无订单记录..."></p>
            </div>
            <table class="table orders-table" ng-show="serviceList.length > 0">
                <thead>
                    <tr>
                        <th translate="服务"></th>
                        <th translate="状态"></th>
                        <th translate="到期时间"></th>
                        <th translate="操作"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in serviceList">
                        <td>{{item.content}}</td>
                        <td>{{item.state}}</td>
                        <td>{{item.endDate}}</td>
                        <td><span class="btn btn-primary" ng-click="renew(item)" translate="续费"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="showItem == 'myVIP'" class="col-md-10 panel main-content myvip">
        <div class="panel-heading" translate="我的VIP"></div>
        <div class="panel-body">
            <div class="vipinfo clearfix">
                <div class="col-sm-4" ng-show="user.vipInfo.endDate">{{ "您的VIP特权将在" | translate }}<span class="text-danger">{{user.vipInfo.endDate}}</span>{{ "到期" | translate }}</div>
                <div class="col-sm-4" ng-show="!user.vipInfo.endDate" translate="您还不是VIP用户。"></div>
                <div class="col-sm-3">
                    <div class="btn btn-primary" ng-click="goPayPage()">{{(user.vipInfo.endDate ? "追加续费" : "成为VIP") | translate}}</div>
                </div>
            </div>
            <div class="clearfix compares">
                <div class="feature-box">
                    <h2 translate="免费账户"></h2>
                    <p class="info" translate="免费"></p>
                    <ul>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "免费创建网站" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "多平台在线编辑器" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "页面功能模块支持" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "子域名" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "网站CDN访问加速" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "设置VIP才可以访问" | translate }}</li>
                        <li class="text-muted" translate="cname 转发"></li>
                        <li class="text-muted" translate="私有网站（额外权限管理）"></li>
                        <li class="text-muted" translate="组织网站模板"></li>
                    </ul>
                </div>
                <div class="feature-box vip-feature">
                    <h2 translate="VIP账号"></h2>
                    <p class="info" translate="30RMB/月"></p>
                    <ul>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "免费创建网站" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "多平台在线编辑器" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "页面功能模块支持" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "子域名" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "网站CDN访问加速" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "设置VIP才可以访问" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "cname 转发" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "私有网站（额外权限管理）" | translate }}</li>
                        <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "组织网站模板" | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="showItem == 'qiniuPan'" class="col-md-10">
        <div id="qiniuPan"></div>
    </div>
</div>
