<div ng-controller="userCenterCtrl">
    <div style="display:flex; justify-content: center; margin: 30px 0px">
        <div style=" border-top: 1px solid grey">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#userCenterBaseInfo" data-toggle="tab" ng-click="clickBaseInfo()">我的资料</a></li>
                <li><a href="#userCenterAccountSafe" data-toggle="tab" ng-click="clickAccountSaft()">账号安全</a></li>
                <li><a href="#userCenterMyFavorite" data-toggle="tab" ng-click="clickMyFavorite()">我的收藏</a></li>
                <li><a href="#userCenterMyHistory" data-toggle="tab" ng-click="clickMyHistory()">我的历史</a></li>
                <li><a href="#userCenterMyFans" data-toggle="tab" ng-click="clickMyFans()">我的粉丝</a></li>
                <li><a href="#userCenterRealAuth" data-toggle="tab">实名验证</a></li>
                <li><a href="#userCenterInviteRegister" data-toggle="tab">邀请注册</a></li>
                <li><a href="#userCenterVIP" data-toggle="tab">VIP</a></li>
                <li><a href="#userCenterDataSource" data-toggle="tab">数据源</a></li>
            </ul>
        </div>
        <div class="tab-content"  style="flex-grow: 1; border-top: 1px solid grey;">
            <div class="tab-pane fade in active" id="userCenterBaseInfo">
                <div class="panel panel-default">
                    <div class="panel-heading">我的资料</div>
                    <div class="panel-body" style="display: flex">
                        <div>
                            <div style="display: flex; justify-content: center">
                                <img src='/wiki/assets/imgs/ManPortrait.jpg' id='portraitImg' class="img-rounded", style="width: 80px; height: 80px">
                            </div>
                            <div style="display: flex; justify-content: center; margin: 10px">
                                <input type="file" accept='image/*' class="btn" id="uploadPortraitBtn">
                            </div>
                        </div>
                        <div style="flex-grow: 1;">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-3">昵称：</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="user.username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">性别：</label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" value="M" ng-model="user.sex" checked="{{user.sex == 'M' ? 'checked' : ''}}" >男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" value="F" ng-model="user.sex" checked="{{user.sex == 'F' ? 'checked' : ''}}">女
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" value="N" ng-model="user.sex" checked="{{user.sex != 'F' && user.sex != 'M' ? 'checked' : ''}}">保密
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">位置：</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="user.location">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-3">个人简介：</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="4" ng-model="user.comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-8">
                                        <button class="btn btn-default" ng-click="modifyUserBaseInfo()">提交</button>
                                        <span style="color:red;" class="glyphicon " ng-class='{"glyphicon-ok":modifyUserInfoOk==1,"glyphicon-remove":modifyUserInfoOk==2}'>{{tipInfo}}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterAccountSafe">
                <div class="panel panel-default">
                    <div class="panel-heading">修改密码</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-3">旧密码</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" ng-model="passwordObj.oldPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">新密码</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" ng-model="passwordObj.newPassword1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">确认新密码</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" ng-model="passwordObj.newPassword2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button class="btn btn-default" ng-click="modifyPassword()">修改</button>
                                    <span style="color: red" class="glyphicon " ng-class='{"glyphicon-ok":modifyPasswordOk==1,"glyphicon-remove":modifyPasswordOk==2}'>{{tipInfo}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">安全验证</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-3">验证邮箱</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default">验证</button>
                                    <span class="glyphicon " ng-class='{"glyphicon-ok":checkEamilOk,"glyphicon-remove":!checkEamilOk}'></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">验证手机</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default">验证</button>
                                    <span class="glyphicon " ng-class='{"glyphicon-ok":checkPhoneOk,"glyphicon-remove":!checkPhoneOk}'></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterMyFavorite">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">作品</div>
                        <div class="panel-body">
                            <div style="display: flex; flex-wrap: wrap">
                                <div ng-repeat="user in favoriteUserList" style="margin-left: 10px">
                                    <img ng-src='{{user.portrait || "/wiki/assets/imgs/test.jpg"}}' class="img-rounded", style="width: 80px; height: 80px">
                                    <p>{{user.username}}</p>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <a>上一页</a>
                                <a>下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">作者</div>
                    <div class="panel-body">
                        <div style="display: flex; flex-wrap: wrap">
                            <div ng-repeat="site in favoriteWebsiteList" style="display: flex; border: 1px solid silver; padding: 10px; margin: 10px">
                                <div>
                                    <img ng-src='{{site.logoUrl || "/wiki/assets/imgs/test.jpg"}}' class="img-rounded", style="width: 80px; height: 80px">
                                </div>
                                <div style="margin-left: 10px">
                                    <div>{{site.name}}</div>
                                    <div>作者:{{site.userInfo && site.userInfo.username}}</div>
                                    <div>简介:{{site.desc}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterMyHistory">
                <div class="panel panel-default">
                    <div class="panel-heading">我的历史</div>
                    <div class="panel-body">
                        <div ng-repeat="site in websiteList" style="margin: 20px; border: 1px solid silver;padding: 10px">
                            <h4>{{site.name}}</h4>
                            <p>{{site.desc}}</p>
                            <div style="display: flex; justify-content: space-between;">
                                <a>详情</a>
                                <span>{{site.createDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterMyFans">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">我的粉丝</div>
                        <div class="panel-body">
                            <div style="padding: 10px; display: flex; border-bottom: 1px solid silver">
                                <span>作品选择: </span>
                                <select ng-change="selectFansWebsite(fansWebsiteId)" ng-model="fansWebsiteId" style="width: 120px">
                                    <option value="0">全部</option>
                                    <option ng-repeat="site in websiteList" value="{{site._id}}">{{site.name}}</option>
                                </select>
                                <span style="margin-left: 20px">粉丝数量:{{fans.total}}</span>
                            </div>
                            <div style="display: flex; flex-wrap: wrap">
                                <div ng-repeat="user in fans.fansList" style="margin: 10px">
                                    <img ng-src='{{user.protrait || "/wiki/assets/imgs/test.jpg"}}' class="img-rounded", style="width: 80px; height: 80px">
                                    <div>{{user.username}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterRealAuth">
                <div>实名认证</div>
            </div>

            <div class="tab-pane fade in" id="userCenterInviteRegister">
                <div class="panel panel-default">
                    <div class="panel-heading">邀请注册</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2">好友EMail：</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <button class="btn btn-default">邀请</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="userCenterVIP">
                <div>VIP</div>
            </div>

            <div class="tab-pane fade in" id="userCenterDataSource">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">绑定数据源</div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-md-3">github账号：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">github密码：</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6">
                                        <button class="btn btn-default">绑定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">已绑定数据源</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>账号</th>
                                <th>设为默认</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    765485868@qq.com
                                </td>
                                <td>
                                    <button class="btn btn-default">设为默认</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
