<style>
    body{
        min-width:1170px;
    }
    .row {
        padding: 30px 0;
    }
    .row img {
        width: 100%;
    }
    body{
        background-color: #F1F1F1;
    }
    .ellipsis-1{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .subnav {
        padding: 20px 40px;
        background-color: #FFF;
        width: 24%;
        margin-right: 1%;
    }
    .subnav .message-row{
        border-top: 1px solid #DCDCDC;
        padding: 20px 0;
    }
    img.icon{
        width: 20px;
        margin-right: 10px;
    }
    .subnav a.text-primary{
        color:#3977AD;
        font-size: 12px;
    }
    .subnav ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .subnav ul>li{
        line-height: 28px;
    }

    .main-content{
        background-color: #FFF;
        padding: 0 0 40px 0;
    }
    .main-content .nav-tabs>li.active>a{
        border-top: 1px solid transparent;
    }
    .main-content .nav-tabs>li:first-child.active>a{
        border-left: none;
    }
    .main-content h3.title{
        padding-left: 10px;
        border-left: 4px solid #3977AD;
        margin: 20px 0;
    }
    .main-content h3.title>a{
        color: #3977AD;
        font-size: 14px;
        font-weight: normal;
    }
    .main-content .tab-content{
        padding-top: 20px;
    }
    .img-text{
        display: flex;
        align-items: center;
        background-color: #F9F9F9;
        border: 1px solid #e5e7e9;
        padding: 0;
        width: 48%;
        margin: 0 1% 20px;
    }
    .img-text .text{
        flex: 1;
    }
    .main-content .img-text img{
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
    .main-content .img-text .text{
        padding: 0 5px 0 15px;
        max-height: 140px;
        overflow: hidden;
    }
    .main-content .img-text .col-md-12,.main-content .img-text .col-md-6{
        padding: 0;
        line-height: 32px;
    }
    .main-content .img-text p{
        margin-bottom: 0;
        line-height: 32px;
    }
    .main-content svg{
        margin-bottom: 10px;
    }
    .main-content .active-row{
        height: 80px;
        line-height: 80px;
    }
    .main-content .active-row-box{
        border: 1px solid #DCDCDC;
    }
    .main-content .btn-outline{
        border: 1px solid #DCDCDC;
        margin-top: 20px;
        padding: 12px 0;
        border-radius: 0;
    }
    .main-content .active-row>img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }
    .main-content .user-activation{
        border: 1px solid #DCDCDC;
        padding: 20px 15px;
    }
    .main-content .legend{
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .main-content .legend>li{
        float: left;
        width: 10px;
        height: 10px;
        list-style: none;
    }

    .main-content .fans{
        margin-top: -20px;
        padding: 0;
    }
    .fans-row{
        padding: 23px 80px;
        border: 1px solid #DCDCDC;
        display: flex;
        align-items: center;
        border-bottom: none;
    }
    .fans-row:last-child{
        border-bottom: 1px solid #DCDCDC;
    }
    .fans-row > img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 13px;
    }
    .fans-row .intro{
        flex: 1;
    }
    .fans-row .btn{
        font-size: 16px;
        padding: 6px 21px;
    }
    .fans-row img.icon{
        width: 13px;
    }
    .info{
        font-size: 12px;
        color: #666;
        font-weight:normal;
    }
    .bar-nav{
        margin-bottom: 20px;
        text-align: center;
        padding: 30px 60px 30px 35px;
        position: relative;
    }
    .bar-nav .col-xs-4{
        cursor: pointer;
    }
    .bar-nav img{
        width: auto;
    }
    .bar-nav p{
        margin-bottom: 0;
        line-height: 40px;
        height: 30px;
    }
    .bar-nav p.help{
        position: absolute;
        right: 40px;
        top: 1px;
        color: #999;
        cursor: pointer;
    }
    .bar-nav span.icon{
        display: inline-block;
        width:18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        border: 1px solid;
        border-radius: 50%;
    }
    @media (max-width: 1200px){
        .container {
            width: 100%;
        }
    }
    .contributeCalendar{
        position: relative;
    }
    .contributeCalendar:before{
        content: "";
        display: inline-block;
        width: 1px;
        height: 50px;
        background-color: #DCDCDC;
        position: absolute;
        left: 62px;
        top: 65px;
        z-index: 2;
    }
    .contributeCalendar:after{
        content: '';
        display: inline-block;
        width: 45px;
        height: 50px;
        left: 42px;
        top: 65px;
        background-color: #FFF;
        position: absolute;
        z-index: 1;
    }
    .userinfo-introduce{
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-all;
    }
    .userinfo-location{
        word-break: break-all;
    }
</style>
<style>
    @media (max-width: 768px) {
        body{
            min-width: unset;
        }
        .row{
            padding: 0;
        }
        .row > .col-xs-12{
            padding: 0;
        }
        .bar-nav{
            padding: 20px 0;
        }
        .bar-nav img{
            width: 100%;
        }
        .img-text{
            width: 100%;
            margin: 5px 0;
        }
        .main-content .user-activation{
            overflow-x: auto;
        }
        .contributeCalendar:before, .contributeCalendar:after{
            display: none;
        }
        .main-content .active-row-box{
            padding: 0;
        }
        .main-content .active-row {
            height: 55px;
            line-height: 55px;
        }
        .fans-row{
            padding: 20px 15px;
            border-width: 0 0 1px 0;
        }
    }
</style>
<div class="container" ng-controller="userController">
    <div class="row">
        <div class="col-md-3 subnav col-sm-3 hidden-xs">
            <img class="profile" ng-src="{{userinfo.portrait || imgsPath+'wiki_default_profile.jpg'}}" alt="">
            <h3 class="clearfix ellipsis-1" title="{{userinfo.displayName || userinfo.username}}">{{userinfo.displayName || userinfo.username}}</h3>
            <p class="info clearfix ellipsis-1">
                <span title="{{userinfo.displayName || userinfo.username}}">{{userinfo.displayName || userinfo.username}}</span>
                <span class="pull-right">{{ "注册于" | translate }}{{userinfo.joindate || ""}}</span>
            </p>
            <p class="userinfo-introduce">{{userinfo.introduce}}</p>
            <div class="btn btn-block btn-primary" ng-click="favoriteUser(userinfo, 'fansOpt')">{{userinfo.concerned?translate("取消关注"):translate("关 注")}}</div>
            <div class="message-row">
                <p class="userinfo-location"><img ng-src="{{imgsPath+'icon/wiki_location.png'}}" alt="" class="icon">{{userinfo.location}}</p>
                <p><img ng-src="{{imgsPath+'icon/wiki_mail.png'}}" alt="" class="icon"><a href="mailto:{{userinfo.email}}" target="_blank" class="text-primary">{{userinfo.email}}</a></p>
                <p class="ellipsis-1" title="http://keepwork.com/{{userinfo.username}}"><img ng-src="{{imgsPath+'icon/wiki_link.png'}}" alt="" class="icon">{{"http://keepwork.com/" + userinfo.username}}</p>
            </div>
            <div class="message-row">
                <h4 translate="创建的组织："></h4>
                <p ng-show="selfOrganizationCount==0" translate="暂未创建组织"></p>
                <ul class="list-item">
                    <li ng-repeat="x in selfOrganizationList">
                        <a href="{{'/'+x.username+'/'+x.name+'/index'}}" class="text-muted">{{x.displayName}}</a>
                    </li>
                </ul>
            </div>
            <div class="message-row">
                <h4 translate="加入的组织："></h4>
                <p ng-show="(joinOrganizationCount-selfOrganizationCount)==0 || !joinOrganizationCount" translate="暂未加入组织"></p>
                <ul class="list-item">
					<li class="ellipsis-1" ng-repeat="x in joinOrganizationList" ng-hide="userinfo._id == x.siteinfo.userId || x.isDelete">
                        <a href="{{'/' + x.siteinfo.username + '/' + x.siteinfo.name + '/index'}}" class="text-muted pull-left">{{x.siteinfo.displayName}}</a>
                        <a class="pull-right" ng-click="exitOrg(x)" ng-show="user._id==userinfo._id" translate="退出"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="main-content clearfix bar-nav" ng-show="user._id==userinfo._id">
                <div class="col-xs-4" ng-click="goNewWebsitePage()">
                    <img ng-src="{{imgsPath + 'icon/wiki_new_site.png'}}" alt="">
                    <p translate="新建网站"></p>
                </div>
                <div class="col-xs-4" ng-click="goWebsitePage()">
                    <img ng-src="{{imgsPath + 'icon/wiki_site_manage.png'}}" alt="">
                    <p translate="网站管理"></p>
                </div>
                <div class="col-xs-4" ng-click="goEditorPage()">
                    <img ng-src="{{imgsPath + 'icon/wiki_editor.png'}}" alt="">
                    <p translate="页面编辑器"></p>
                </div>
                <!--<p class="help" ng-click="goHelpPage()"><span class="icon">?</span> 知识库</p>-->
            </div>
            <div class="main-content" style="min-height: 490px;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#wiki_preview" aria-controls="preview" role="tab" data-toggle="tab" translate="概况"></a>
                    </li>
                    <li role="presentation">
                        <a href="#wiki_concern" aria-controls="wiki_concern" role="tab" data-toggle="tab" translate="关注"></a>
                    </li>
                    <li role="presentation">
                        <a href="#wiki_fans" aria-controls="wiki_fans" role="tab" data-toggle="tab">{{ "粉丝" | translate }}<span class="info">({{fansCount || 0}})</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active clearfix" id="wiki_preview">
                        <div class="col-xs-12">
                            <h3 class="title" translate="创建的网站"></h3>
                            <p ng-show="allSiteTotal==0" translate="暂未创建网站"></p>
                            <div class="img-text col-md-6 col-xs-12" ng-repeat="x in allSiteList" ng-hide="x.visibility == 'private' && user._id != userinfo._id">
                                <img ng-src="{{x.logoUrl || getImageUrl('wiki_cover.jpg',imgsPath)}}" alt="">
                                <div class="text">
                                    <h4><a ng-click="goUserSite(x)">{{x.displayName || x.name}}</a></h4>
                                    <p>作者：{{x.username}} </p>
                                    <p class="ellipsis-1" title="{{x.desc}}">{{x.desc}}</p>
                                    <div class="col-md-12 info">
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-eye-open"></span> {{ "浏览量" | translate }}{{x.visitCount}}
                                        </div>
                                        <div class="col-md-6">
                                            <span class="iconfont icon-dianzan text-danger"></span> {{x.favoriteCount}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="title" translate="参与的网站"></h3>
                            <p ng-show="joinSiteTotal==0 || !joinSiteTotal" translate="暂无参与的网站"></p>
                            <div class="img-text col-md-6" ng-repeat="x in joinSiteList">
                                <img ng-src="{{x.logoUrl || getImageUrl('wiki_cover.jpg',imgsPath)}}" alt="">
                                <div class="text">
                                    <h4><a ng-click="goUserSite(x)">{{x.name}}</a></h4>
                                    <p>作者：{{x.username}} </p>
                                    <p class="ellipsis-1" title="{{x.desc}}">{{x.desc || translate("暂无简介")}}</p>
                                    <div class="col-md-12 info">
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-eye-open"></span> {{ "浏览量" | translate }}{{x.visitCount}}
                                        </div>
                                        <div class="col-md-6">
                                            <span class="iconfont icon-dianzan text-danger"></span> {{x.favoriteCount}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="title" translate="活跃度"></h3>
                            <div id="contributeCalendar" class="contributeCalendar col-md-12 user-activation">
                                <div class="col-md-12" id="calendarSibling">
                                    <div class="pull-left hidden-xs">
                                        <a title="在编辑器页面点击保存一次即为一条统计数据" translate="查看数据统计方法"></a>
                                    </div>
                                    <div class="pull-right hidden-xs">
                                        {{ "弱" | translate }}
                                        <ul class="legend clearfix">
                                            <li style="background-color: #eee"></li>
                                            <li style="background-color: #E8D8F8"></li>
                                            <li style="background-color: #B5CdE6"></li>
                                            <li style="background-color: #77A4D0"></li>
                                            <li style="background-color: #3977AD"></li>
                                        </ul>
                                        {{ "强" | translate }}
                                    </div>
                                    <div class="pull-left visible-xs">
                                        {{ "弱" | translate }}
                                        <ul class="legend clearfix">
                                            <li style="background-color: #eee"></li>
                                            <li style="background-color: #E8D8F8"></li>
                                            <li style="background-color: #B5CdE6"></li>
                                            <li style="background-color: #77A4D0"></li>
                                            <li style="background-color: #3977AD"></li>
                                        </ul>
                                        {{ "强" | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="title" translate="活动"></h3>
                            <p ng-show="trendsCount==0" translate="暂无活动"></p>
                            <div ng-show="trendsCount>0" class="active-row-box col-xs-12">
                                <div class="col-xs-12 active-row" ng-repeat="x in trendsList">
                                    <img ng-src="{{userinfo.portrait || imgsPath+'default_portrait.png'}}" alt="">{{x.desc}}
                                    <span class="pull-right hidden-xs">{{x.updateDate}}</span>
                                </div>
                            </div>
                            <div ng-show="trendsCount>0" class="btn btn-block btn-outline col-xs-12" ng-click="loadActivity()">{{ "查看更多活动" | translate }}</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane clearfix" id="wiki_concern">
                        <div class="col-xs-12">
                            <h3 class="title" translate="关注的作者"></h3>
                            <p ng-show="followUserTotal==0" translate="暂未关注他人"></p>
                            <div class="img-text col-md-6" ng-repeat="x in followUserList">
                                <img ng-src="{{x.logoUrl || getImageUrl('wiki_cover.jpg',imgsPath)}}" alt="">
                                <div class="text">
                                    <h4><a ng-click="goUserIndexPage(x.userinfo.username)">{{x.userinfo.displayName}}</a></h4>
                                    <p>{{ "作者：" | translate }} <a class="text-muted" ng-click="goUserIndexPage(x.userinfo.username)">{{x.userinfo.username}}</a></p>
                                    <p class="ellipsis-1" title="{{x.userinfo.desc}}">{{x.userinfo.desc || translate("暂无简介")}}</p>
                                    <div class="col-md-12 info">
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-eye-open"></span> {{ "浏览量" | translate }}{{x.userinfo.visitCount || 0}}
                                        </div>
                                        <div class="col-md-6">
                                            <span class="iconfont icon-dianzan text-danger"></span> {{x.userinfo.favoriteCount || 0}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="title" translate="喜欢的网站"></h3>
                            <p ng-show="followSiteTotal==0" translate="暂无喜欢的网站"></p>
                            <div class="img-text col-md-6" ng-repeat="x in followSiteList">
                                <img ng-src="{{x.logoUrl || getImageUrl('wiki_cover.jpg',imgsPath)}}" alt="">
                                <div class="text">
                                    <h4><a ng-click="goUserSite(x)">{{x.name || translate("作品名未知")}}</a></h4>
                                    <p>作者：{{x.username || translate("作者未知")}} </p>
                                    <p title="x.desc" class="ellipsis-1">{{x.desc || translate("暂无描述")}}</p>
                                    <div class="col-md-12 info">
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-eye-open"></span> {{ "浏览量" | translate }}{{x.visitCount || 0}}
                                        </div>
                                        <div class="col-md-6">
                                            <span class="iconfont icon-dianzan text-danger"></span> {{x.favoriteCount || 0}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane clearfix fans" id="wiki_fans">
                        <p ng-show="fansCount==0" style="text-align: center;margin-top: 40px;" translate="暂无粉丝"></p>
                        <div class="col-md-12 fans-row" ng-repeat="x in fansList" ng-hide="x.isDelete">
                            <img ng-src="{{x.userinfo.portrait || getImageUrl('wiki_default_profile.jpg',imgsPath)}}" alt="">
                            <div class="intro">
                                <h4><a ng-click="goUserIndexPage(x.userinfo.username)">{{x.userinfo.displayName}}</a></h4>
                                <p><img ng-src="{{imgsPath+'icon/wiki_location.png'}}" alt="" class="icon">{{x.userinfo.location}}</p>
                            </div>
                            <div class="btn btn-primary" ng-disabled="x.fansUserId == user._id" ng-click="favoriteUser(x.userinfo)">{{x.userinfo.concerned?translate("取消关注"):translate("关 注")}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
