<style>
    /*左侧菜单栏*/
    .subnav {
        text-align: center;
    }
    .subnav > .list-group > .list-group-item{
        padding: 0;
        margin-bottom: 10px;
    }
    .subnav .panel{
        margin-bottom: 0;
        border-radius: 0;
    }
    .subnav .panel-heading{
        border-radius: 0;
        cursor: pointer;
    }
    .subnav .panel-body{
        padding: 0;
    }
    .subnav .list-group{
        margin-bottom: 0;
    }
    .subnav .list-group .list-group-item{
        border: none;
    }
    .subnav .list-group .list-group-item.active{
        background-color: #E0E3E9;
        color: #3977AD;
    }
    .subnav .glyphicon{
        display: none;
    }
    .subnav .list-group .list-group-item.active .glyphicon{
        display:inline-block;
    }
    .subscribe{
        font-size: 12px;
    }

    .main-content{
        border:1px solid #DEE1E5;
        padding: 0;
        min-height: 515px;
    }
    .main-content .panel-heading{
        border-bottom: 2px solid #F1F1F1;
        color: #3977AD;
        font-size: 16px;
    }

    .main-content .tab-content{
        padding-top: 40px;
    }
    .main-content .form-control{
        margin-bottom: 25px;
    }
    .main-content .nav-tabs>li[role="presentation"]>a{
        font-size: 16px;
    }
    .main-content .nav-tabs>li.active>a, .main-content .nav-tabs>li.active>a:focus, .main-content .nav-tabs>li.active>a:hover {
        left: -1px;
        top: 0px;
        border-top: 0px;
        padding: 11px 15px;
        border-radius: 0px;
        border-bottom: 0px;
        color: #3977AD;
    }
    .img-text{
        display: flex;
        align-items: center;
        background-color: #F9F9F9;
        border: 1px solid #e5e7e9;
        margin-bottom: 20px;
    }
    .img-text .text{
        flex: 1;
    }
    .main-content .img-text img{
        width: 280px;
        height: 180px;
        object-fit: cover;
    }
    .main-content .img-text .text{
        padding: 0 45px;
        max-height: 180px;
    }
    .main-content .img-text .col-md-12,.tab-content .img-text .col-md-4{
        padding: 0;
        line-height: 75px;
    }
    .main-content .img-text p{
        margin-bottom: 0;
        line-height: 32px;
    }
    .pagination-box{
        text-align: center;
    }
</style>

<div ng-controller="userCenterController" class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-2 subnav">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" name="userProfile">
                            个人中心
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <a ng-repeat="item in userProfileItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item" >{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" name="myVIP">
                            VIP
                        </div>
                        <div class="panel-body sr-only">
                            <ul class="list-group">
                                <a ng-repeat="item in vipItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" name="websiteManager">
                            网站管理
                        </div>
                        <div class="panel-body sr-only">
                            <ul class="list-group">
                                <a ng-repeat="item in websiteMangerItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" name="dataSource">
                            数据源
                        </div>
                        <div class="panel-body sr-only">
                            <ul class="list-group">
                                <a ng-repeat="item in dataSourceItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div id="userCenterSubPage"></div>
    </div>
</div>