<style>
    .btn-md {
        padding: 9px 41px;
        font-size: 16px;
    }
    .form-horizontal .form-group-lg .control-label {
        font-size: 16px;
        font-weight: normal;
        padding-right: 0;
    }
    .form-group-lg .form-control {
        height: 42px;
        font-size: 16px;
    }
    .break-all{
        word-break: break-all;
    }
    /*我的资料页*/
    .form-horizontal.sr-only {
        height: 0;
        min-height: 0;
    }

    .data-form .form-control {
        margin-bottom: 0;
    }
    textarea {
        resize: none;
        width: 100%;
    }

    .preview-zone {
        text-align: center;
    }

    .preview-zone .preview {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 20px;
        overflow: hidden;
    }

    .preview-zone .change-profile {
        text-align: center;
        position: relative;
    }

    .preview-zone input[type="file"] {
        position: absolute;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
    @media (max-width: 768px) {
        .cropper-zone{
            max-width: 100%;
            max-height: 100%;
        }
        .cropper-bg{
            max-height: 313px;
        }
    }

    /*账户安全*/
    .bind-form p.form-control{
        border: 0;
        box-shadow: none;
        padding-left: 0;
    }
    .bind-form .btn-outline,.phone-model .btn-outline, .email-model .btn-outline{
        color: #666;
        border: 1px solid;
    }
    .bind-form .btn-outline:hover,.phone-model .btn-outline:hover{
        background-color: #666;
        color: #FFF;
    }
    .phone-model .modal-dialog{
        width: 600px;
        margin: 270px auto 0;
    }
    .phone-model .modal-header{
        border-bottom: none;
    }
    .phone-model .modal-body, .email-model .modal-body{
        padding: 30px 80px;
    }
    .phone-model .control-label{
        padding: 0;
        text-align: right;
    }
    .phone-model .verify-btn, .email-model .verify-btn{
        padding-left: 0;
    }
    .phone-model .verify-btn .btn-block, .email-model .verify-btn .btn-block{
        color: #FFF;
        padding:10px 0;
        font-size: 14px;
    }
    .phone-model .verify-btn .btn-default, .email-model .verify-btn .btn-default{
        background-color: #999;
    }
    /*我的动态*/
    .main-content.my-status-main-content .tab-content {
        padding-top: 15px;
    }
    .tab-content .status-row{
        padding:0;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 15px;
    }
    .tab-content .status-row:last-child{
        border-bottom: none;
    }
    .tab-content .status-row .col-xs-12{
        /* height: 160px; */
        padding-left: 50px;
        padding-bottom: 42px;
        /* line-height: 130px; */
    }
    .tab-content .status-row .glyphicon{
        width: 35px;
        height: 35px;
        border: 3px solid;
        text-align: center;
        line-height: 29px;
        border-radius: 50%;
        font-size: 20px;
        margin-right: 10px;
    }
    .tab-content .status-row .inline-img{
        width:40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 50%;
    }
    .tab-content .collect-row{
        border-top: 1px solid #DCDCDC;
        padding: 40px 40px 40px 80px;
    }
    .tab-content .collect-row:first-child{
        padding-top:0;
        border-top: none;
    }
    .collect-row p{
        font-size: 16px;
    }
    .collect-row img{
        width: 100px;
        height:100px;
        object-fit: cover;
        margin-right: 20px;
    }
    .myworks-row{
        padding:30px 30px 30px 60px;
        border-top:1px solid #DCDCDC;
    }
    .myworks-row:first-child{
        border-top: none;
        padding-top: 0;
    }
    .myworks-row img{
        width:100px;
        height:100px;
        margin-left: 50px ;
        object-fit: cover;
    }
    .myworks-row p{
        font-size: 16px;
        line-height: 40px;;
    }
    .myworks-row .inline-img{
        width:40px;
        height: 40px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 50%;
        margin-left:0;
    }
    @media (max-width: 768px) {
        .main-content .pt-0{
            padding-top: 0;
        }
        .tab-content .status-row .col-xs-12{
            height: auto;
            line-height: inherit;
            padding: 0;
            float: left;
        }
        .tab-content .status-row{
            margin: 0;
            padding: 10px 0;
        }
        .tab-content .status-row .glyphicon{
            width: 20px;
            height: 20px;
            line-height: 15px;
            font-size: 12px;
        }
    }
    /*我的关注*/
    .tab-content .img-text-box {
        width: 90%;
        margin: 0 auto;
    }
    .tab-content .img-text-box .col-sm-12{
        min-height:325px;
    }
    .collection-pane img.icon{
        width: 23px;
        height: auto;
        vertical-align: text-bottom;
        margin-right: 5px;
    }

    .img-text .info {
        line-height: 19px;
        font-weight: normal;
        color: #999;
        font-size: 12px;
    }

    .img-text .col-md-6 {
        padding: 0;
    }
    .img-text span.icon-dianzan{
        font-size: 20px;
        line-height: 1;
    }

    /*我的历史*/
    .timeline {
        position: relative;
        margin: 35px 0;
        padding: 0 210px;
    }

    .timeline:before {
        content: "";
        display: inline-block;
        width: 186.5px;
        height: 100%;
        border-right: 1px solid #3977AD;
        left: 0;
        z-index: 1;
        position: absolute;
    }

    .timeline .img-text {
        position: relative;
    }

    .timeline .info .col-sm-6 {
        padding: 0;
        text-align: left;
    }

    .timeline .info .glyphicon {
        padding-left: 0;
        font-size: 21px;
        vertical-align: text-bottom;
    }

    .timeline .time {
        position: absolute;
        width: 210px;
        height: 100%;
        left: -235px;
        text-align: right;
        padding-right: 20px;
    }

    .timeline span {
        padding: 0 0 0 15px;
    }

    .timeline .time:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #3977AD;
        border-radius: 50%;
        position: absolute;
        right: -6px;
        top: 0;
        z-index: 2;
    }
    /*.timeline .img-text:hover .rubbish{*/
        /*visibility: visible;*/
    /*}*/
    .timeline .rubbish {
        padding: 0 42px;
        text-align: center;
        visibility: hidden;
        cursor: pointer;
    }

    .timeline .rubbish img {
        width: 22px;
        height: auto;
        display: block;
    }
    .timeline img.icon{
        width: 23px;
        height: auto;
        vertical-align: text-bottom;
        margin-right: 5px;
    }
    .timeline .ellipsis-1{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    @media (max-width: 768px) {
        .timeline{
            padding: 0 15px;
            margin:15px 0 0;
        }
        .timeline:before{
            display: none;
        }
        .timeline .img-text{
            margin-bottom: 10px;
        }
    }

    /*我的粉丝*/
    .fans-profile {
        width: 14.285714%;
        float: left;
        padding: 0 20px;
        margin-bottom: 40px;
    }

    .fans-profile img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    /*数据源配置*/
    .data-source {
        padding: 15px 80px;
    }
    .data-source h4{
        margin: 30px 0 20px;
    }
    .data-source .form-group-md .control-label {
        width: 111px;
        padding: 7px 0 0 15px;
        font-size: 16px;
        font-weight: normal;
    }
    .data-source .form-group-md select.form-control,.data-source .form-group-md input.form-control {
        height: 42px;
        line-height: 42px;
    }
    .bottom-boder{
        border-bottom:1px solid #DCDCDC;
    }
    .data-source .btn-submit{
        text-align: center;
    }
    .data-source .btn-primary{
        padding:10px 45px;
    }
    .data-source table{
        table-layout: fixed;
    }
    .data-source .table>tbody>tr>td, .data-source .table>tbody>tr>th, .data-source .table>tfoot>tr>td, .data-source .table>tfoot>tr>th, .data-source .table>thead>tr>td, .data-source .table>thead>tr>th{
        text-align: center;
        vertical-align: middle;
        -ms-word-wrap:break-word;
        word-wrap:break-word;
    }
    .data-source .set-width{
        width: 130px;
    }
    .realname-verified-info{
        padding-left: 15px;
    }

    @media (max-width:768px) {
        .data-source{
            padding: 0 15px;
            margin-bottom: 15px;
        }
        .data-source .form-group-md select.form-control, .data-source .form-group-md input.form-control{
            line-height: 36px;
            height: 36px;
            margin-bottom: 0;
        }
        .data-source .form-group-md .control-label{
            font-size: 14px;
        }
        .data-source .form-group-md .col-xs-7{
            padding: 0;
        }
    }

    /*弹窗*/
    .modal .titleinfo{
        font-weight: normal;
        color: #666;
    }
    /*验证码*/
    .form-group-lg .captcha{
        display: flex;
        height: 42px;
        align-items: center;
        padding:0 15px 0 0;
    }
    .captcha > img{
        flex:1;
        height:36px;
        margin-right: 5px;
    }
    .captcha > span{
        cursor: pointer;
    }

    .tab-pane .empty-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 400px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .panel-body, .col-sm-9{
            padding:0;
        }
        .preview-zone{
            margin: 20px;
        }
        .preview-zone .preview{
            width: 100px;
            height: 100px;
        }
    .collection-pane .img-text.col-sm-12{
            width:100%;
            min-height: unset;
            padding:0;
        }
    }
    @media (min-width: 992px) {
        .panel-body{
            margin-top: 20px;
        }
        .mypay-panel{
            margin-top: 0;
        }
        .tab-content .collection-pane{
            width:100%;
        }
        .collection-pane .img-text.col-sm-12{
            width:100%;
            min-height: unset;
        }
        .collection-pane .img-text.col-md-6 {
             width: 48%;
            margin-left: 1%;
             margin-right: 1%;
             padding: 0;
         }
    }
    @media(max-width: 768px){
        .preview-zone .preview{
            width: 80px;
            height:80px;
        }
        .safety-panel .btn-primary{
            margin-bottom: 30px;
        }
        .safety-panel .form-group{
            margin-bottom:0;
        }
    }
    @media (min-width: 1200px) {
        .tab-content .collection-pane{
            width:90%;
        }
    }
</style>

<div ng-controller="userProfileController" class="col-sm-9 col-md-10">
    <div ng-show="showItem == 'myProfile'" class="panel main-content col-xs-12">
        <div class="panel-heading" translate="我的资料"></div>
        <div class="panel-body">
            <div class="col-md-3 preview-zone">
                <div class="preview">
                    <img id='userPortraitId' ng-src="{{ user.portrait || imgsPath + 'wiki_default_profile.jpg'}}" alt=""
                         style="width: 100%;height: 100%;">
                </div>
                <p class="change-profile">{{ "修改头像" | translate }}<input onchange="angular.element(this).scope().fileUpload(event)"
                                                     type="file"></p>
                <a id="finish" class="btn btn-primary sr-only" translate="确 定"></a>
            </div>
            <div class="col-md-9">
                <div id="cropper" class="cropper-zone sr-only visible-hidden" style="width: 500px; height: 340px;">
                    <!--img ng-src="{{imgsPath + 'wiki_header.png'}}" alt=""-->
                </div>
                <form id="data-form" name="userProfileForm" class="form-horizontal col-md-12 data-form" role="form">
                    <div class="form-group sr-only">
                        <legend translate="完善资料"></legend>
                    </div>
                    <div class="form-group">
                        <label for="displayName" class="col-sm-2 control-label" translate="昵称："></label>
                        <div class="col-sm-10">
                            <input id='displayName' type="text" class="form-control" ng-model="user.displayName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="性别："></label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="M"
                                       ng-model="user.sex" checked="{{user.sex == 'M' ? 'checked' : ''}}"> {{ "男" | translate }}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="F"
                                       ng-model="user.sex" checked="{{user.sex == 'F' ? 'checked' : ''}}"> {{ "女" | translate }}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N"
                                       ng-model="user.sex"
                                       checked="{{user.sex != 'F' && user.sex != 'M' ? 'checked' : ''}}"> {{ "保密" | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label" translate="位置："></label>
                        <div class="col-sm-10">
                            <input id='location' type="text" class="form-control" name="userLocation" ng-model="user.location" maxutf8length="locationMaxUtf8Length">
                            <!--select name="" id="">省
                                <option value="广东" translate="广东省"></option>
                            </select>
                            <select name="" id="">省
                                <option value="广东" translate="广东省"></option>
                            </select>
                            <select name="" id="">省
                                <option value="广东" translate="广东省"></option>
                            </select-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="intro" class="col-sm-2 control-label" translate="个人简介："></label>
                        <div class="col-sm-10">
                            <textarea name="intro" rows="6" ng-model="user.introduce" maxutf8length="introMaxUtf8Length"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <p class="text-danger" ng-show="formErr">{{formErr}}</p>
                            <p class="text-danger" ng-show="userProfileForm.userLocation.$error.maxutf8length" translate="位置字数超过限制。"></p>
                            <p class="text-danger" ng-show="userProfileForm.intro.$error.maxutf8length" translate="个人简介字数超过限制。"></p>
                            <button ng-click="saveProfile()" class="btn btn-primary btn-md" ng-disabled="userProfileForm.$invalid" translate="保 存"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--账号安全-->
    <div ng-show="showItem == 'accountSafe'" class="col-xs-12 main-content">
        <div role="tabpanel col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#change" aria-controls="change" role="tab" data-toggle="tab" translate="修改密码"></a>
                </li>
                <li role="presentation">
                    <a href="#verify" aria-controls="verify" role="tab" data-toggle="tab" translate="账号绑定"></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-lg-7 col-sm-10 col-xs-12">
                <div role="tabpanel" class="tab-pane safety-panel active" id="change">
                    <form class="form-horizontal" role="form">
                        <div class="form-group sr-only">
                            <legend translate="修改密码表单"></legend>
                        </div>
                        <div class="form-group">
                            <label for="old" class="control-label col-sm-3" translate="旧密码："></label>
                            <div class="col-sm-9">
                                <input type="password" id="old" class="form-control" ng-model="passwordObj.oldPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new" class="control-label col-sm-3" translate="新密码："></label>
                            <div class="col-sm-9">
                                <input type="password" id="new" class="form-control"
                                       ng-model="passwordObj.newPassword1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reNew" class="control-label col-sm-3" translate="重复新密码："></label>
                            <div class="col-sm-9">
                                <input type="password" id="reNew" class="form-control"
                                       ng-model="passwordObj.newPassword2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button ng-click="modifyPassword()" class="btn btn-primary btn-md" translate="修 改"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane safety-panel" id="verify">
                    <form class="form-horizontal bind-form" role="form">
                        <div class="form-group sr-only">
                            <legend translate="安全验证表单"></legend>
                        </div>
                        <div class="form-group"><div class="col-sm-6 col-sm-offset-3 text-danger">{{emailErrMsg}}</div></div>
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-3" translate="邮箱绑定："></label>
                            <div class="col-sm-6">
                                <input type="text" id="email" class="form-control" ng-model="userEmail" ng-show="!isBind('email')">
                                <p ng-show="isBind('email')" class="form-control">{{user.email}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block btn-primary" ng-click="bindEmail()" ng-hide="isBind('email')" translate="绑定"></div>
                                <div class="btn btn-block btn-outline" ng-click="bindEmail()" ng-show="isBind('email')" translate="解绑"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-3" translate="手机绑定："></label>
                            <div class="col-sm-6">
                                <input type="text" id="phone" class="form-control" ng-model="userPhone" ng-show="!isBind('phone')">
                                <p ng-show="isBind('phone')" class="form-control">{{user.cellphone}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block btn-primary" ng-click="showBindPhone()" ng-hide="isBind('phone')" translate="绑定"></div>
                                <div class="btn btn-block btn-outline" ng-click="showBindPhone()" ng-show="isBind('phone')" translate="解绑"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-3" translate="QQ绑定："></label>
                            <div class="col-sm-6">
                                <p class="form-control">{{getServiceUsername("qq")}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block " ng-class="getBindServiceClass('qq')" ng-click="bindThreeService('qq')">{{isBindThreeService("qq") ? translate("解绑") : translate("绑定")}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-3" translate="微信绑定："></label>
                            <div class="col-sm-6">
                                <p class="form-control">{{getServiceUsername("weixin")}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block" ng-class="getBindServiceClass('weixin')" ng-click="bindThreeService('weixin')">{{isBindThreeService("weixin") ? translate("解绑") : translate("绑定")}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-3" translate="微博绑定："></label>
                            <div class="col-sm-6">
                                <p class="form-control">{{getServiceUsername("xinlangweibo")}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block" ng-class="getBindServiceClass('xinlangweibo')" ng-click="bindThreeService('xinlangweibo')">{{isBindThreeService("xinlangweibo") ? translate("解绑") : translate("绑定")}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-3" translate="Github绑定："></label>
                            <div class="col-sm-6">
                                <p class="form-control">{{getServiceUsername("github")}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn btn-block" ng-class="getBindServiceClass('github')" ng-click="bindThreeService('github')">{{isBindThreeService("github") ? translate("解绑") : translate("绑定")}}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--我的动态-->
    <div ng-show="showItem == 'myTrends'" class="ccol-xs-12 main-content my-status-main-content">
        <div role="tabpanel col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="trendsType == 'organization' ? 'active' : ''">
                    <a href="#userTrends" ng-click="selectTrendsType('organization')" aria-controls="userTrends" role="tab" data-toggle="tab" translate="组织"></a>
                </li>
                <li role="presentation" ng-class="trendsType == 'favorite' ? 'active' : ''">
                    <a href="#userTrends" ng-click="selectTrendsType('favorite')" aria-controls="userTrends" role="tab" data-toggle="tab" translate="关注"></a>
                </li>
                <li role="presentation" ng-class="trendsType == 'works' ? 'active' : ''">
                    <a href="#userTrends" ng-click="selectTrendsType('works')" aria-controls="userTrends" role="tab" data-toggle="tab" translate="作品"></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content clearfix">
                <div role="tabpanel" class="tab-pane active col-xs-12" id="wiki_organize">
                    <div class="empty-box" ng-show="isShowTrendsEmpty()">
                        <span class="iconfont icon-kongbaiyemian"></span>
                        <p translate="暂无相关内容..."></p>
                    </div>
                    <div class="status-row col-xs-12" ng-repeat="x in trendsList" ng-show="isShowTrend(x)">
                        <p class="pull-right info">{{x.updateDate}}</p>
                        <div class="col-xs-12 break-all">
                            <span class="glyphicon glyphicon-ok status text-success"></span>{{x.desc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--我的关注-->
    <div ng-show="showItem == 'myCollection'" class="col-xs-12 main-content">
        <div role="tabpanel col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a ng-click="clickCollectionUser()" href="#wiki_user" aria-controls="user" role="tab"
                       data-toggle="tab" translate="作者"></a>
                </li>
                <li role="presentation">
                    <a ng-click="clickCollectionWorks()" href="#wiki_works" aria-controls="works" role="tab"
                       data-toggle="tab" translate="网站"></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active img-text-box collection-pane" id="wiki_user">
                    <div class="empty-box" ng-hide="userList.length > 0">
                        <span class="iconfont icon-kongbaiyemian"></span>
                        <p translate="暂无相关内容..."></p>
                    </div>
                    <div class="col-sm-12" ng-show="userList.length > 0">
                        <div class="img-text col-md-6 col-sm-12" ng-repeat="x in userList">
                            <img ng-src="{{x.userinfo.portrait || imgsPath + 'default_portrait.png'}}" alt="">
                            <div class="text">
                                <h4>
                                    <a ng-click="goUserPage(x.userinfo.username)">{{x.userinfo.displayName || x.userinfo.username}}</a>
                                    <!--<span class="pull-right info" translate="关注于2017-03-02"></span>-->
                                </h4>
                                <p>作者：{{x.userinfo.username}}</p>
                                <p>说明：{{x.siteinfo.desc || translate("暂无说明")}}</p>
                                <div class="col-md-12 info">
                                    <div class="col-md-6">
                                        <img ng-src="{{imgsPath+'icon/wiki_pageview.png'}}" class="icon" alt="">{{ "浏览量" | translate }}{{x.userinfo.visitCount || 0}}
                                    </div>
                                    <div class="col-md-6">
                                        <span class="iconfont icon-dianzan text-danger"></span> {{x.userinfo.fansCount || 0}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-box" ng-show="userList.length > 0">
                        <ul uib-pagination ng-change="collectionPageChanged()" items-per-page='pageSize' previous-text="previous-text="{{ '上一页' | translate }}""
                            next-text="{{ '下一页' | translate }}" total-items="totalItems" ng-model="currentPage" max-size="5"
                            class="pagination-sm" boundary-link-numbers="true">
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane img-text-box collection-pane" id="wiki_works">
                    <div class="empty-box" ng-hide="siteList.length > 0">
                        <span class="iconfont icon-kongbaiyemian"></span>
                        <p translate="暂无相关内容..."></p>
                    </div>
                    <div class="col-sm-12" ng-show="siteList.length > 0">
                        <div class="img-text col-md-6 col-sm-12" ng-repeat="x in siteList">
                            <img ng-src="{{x.siteinfo.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                            <div class="text">
                                <h4>
                                    <a ng-click="goSitePage(x.siteinfo.username, x.siteinfo.name)">{{x.siteinfo.displayName || x.siteinfo.name || translate("站点名未知")}}</a>
                                    <!--<span class="pull-right info" translate="关注于2017-03-02"></span>-->
                                </h4>
                                <p>作者：{{x.siteinfo.username || translate("作者未知")}}</p>
                                <p>说明：{{x.siteinfo.desc || translate("暂无简介")}}</p>
                                <div class="col-md-12 info">
                                    <div class="col-md-6">
                                        <img ng-src="{{imgsPath+'icon/wiki_pageview.png'}}" class="icon" alt="">{{ "浏览量" | translate }}{{x.siteinfo.visitCount || 0}}
                                    </div>
                                    <div class="col-md-6">
                                        <span class="iconfont icon-dianzan text-danger"></span> {{x.siteinfo.favoriteCount || 0}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-box" ng-show="siteList.length > 0">
                        <ul uib-pagination ng-change="collectionPageChanged()" items-per-page='pageSize' previous-text="previous-text="{{ '上一页' | translate }}""
                            next-text="{{ '下一页' | translate }}" total-items="totalItems" ng-model="currentPage" max-size="5"
                            class="pagination-sm" boundary-link-numbers="true">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--我的历史-->
    <div ng-show="showItem == 'myHistory'" class="col-xs-12 main-content panel">
        <div class="panel-heading" translate="我的历史"></div>
        <div class="panel-body" ng-hide="visitHistoryList.length > 0">
            <div class="empty-box">
                <span class="iconfont icon-kongbaiyemian"></span>
                <p translate="暂无相关内容..."></p>
            </div>
        </div>
        <div class="panel-body timeline" ng-show="visitHistoryList.length > 0">
            <div class="img-text" ng-repeat="site in visitHistoryList" ng-show="site.siteinfo">
                <img ng-src="{{site.siteinfo.logoUrl || imgsPath + 'wiki_works.jpg'}}" alt="">
                <div class="text">
                    <h4 class="ellipsis-1"><a href="{{site.url}}">{{site.siteinfo.name}}</a></h4>
                    <p class="ellipsis-1"><a ng-href="{{'/'+site.siteinfo.username}}"></a>作者：{{site.siteinfo.displayName || site.siteinfo.username}}</p>
                    <!--<p class="ellipsis-1">页数：{{site.siteinfo.pageCount || 1}}</p>-->
                    <div class="col-md-12 info">
                        <div class="col-sm-6">
                            <img ng-src="{{imgsPath+'icon/wiki_pageview.png'}}" class="icon" alt="">{{ "浏览量" | translate }}{{site.siteinfo.visitCount}}
                        </div>
                        <div class="col-sm-6">
                            <span class="iconfont icon-dianzan text-danger"></span> {{site.siteinfo.favoriteCount}}
                        </div>
                    </div>
                </div>
                <div class="time hidden-xs"><span>{{site.updateDate}}</span><span></span></div>
                <div class="rubbish hidden-xs" ng-click="deleteHistory(site)"><img ng-src="{{imgsPath + 'wiki_rubbish.png'}}" alt="">{{ "删除" | translate }}</div>
            </div>
        </div>
        <div class="pagination-box" ng-show="visitHistoryList.length > 0">
            <ul uib-pagination ng-change="getUserVisitHistory()" items-per-page='pageSize' previous-text="previous-text="{{ '上一页' | translate }}""
                next-text="{{ '下一页' | translate }}" total-items="totalItems" ng-model="currentPage" max-size="5"
                class="pagination-sm" boundary-link-numbers="true"></ul>
        </div>
    </div>

    <!--我的粉丝-->
    <div ng-show="showItem == 'myFans'" class="col-xs-12 main-content">
        <div class="panel-heading" translate="我的粉丝"></div>
        <div class="clearfix panel-body">
            <div>
                <div class="fans-profile" ng-repeat="x in fansUserList">
                    <img ng-src="{{x.userinfo.portrait || imgsPath + 'wiki_default_profile.jpg'}}" alt="">
                    <p>{{x.userinfo.username}}</p>
                </div>
            </div>
            <div class="empty-box" ng-hide="fansUserList && fansUserList.length>0">
                <span class="iconfont icon-kongbaiyemian"></span>
                <p translate="暂无粉丝..."></p>
            </div>
        </div>
    </div>

    <!--实名认证-->
    <div ng-show="showItem == 'realName'" class="col-md-10 main-content">
        <div class="panel-heading" translate="手机认证"></div>
        <div class="tab-content col-lg-7 col-sm-10 col-xs-12">
            <div role="tabpanel" class="tab-pane safety-panel active">
                <div ng-show="user.realNameInfo.verified && user.realNameInfo.cellphone" class="realname-verified-info">
                    <p translate="认证状态：已经认证"></p>
                    <p>认证号码：{{ cellphone2UI(user.realNameInfo.cellphone) }}</p>
                </div>
                <form ng-hide="user.realNameInfo.verified && user.realNameInfo.cellphone" class="form-horizontal" role="form">
                    <div class="form-group sr-only">
                        <legend translate="手机认证表单"></legend>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="输入手机号："></label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="realNameInfo.cellphone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" translate="短信验证码："></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="realNameInfo.SMSCode">
                        </div>
                        <div class="col-sm-4 verify-btn">
                            <div
                                class="btn btn-block"
                                ng-class="{
                                    true: 'btn-default',
                                    false: 'btn-primary'
                                }[realNameCellPhoneSMSCodeWait>0]"
                                ng-disabled="realNameCellPhoneSMSCodeWait > 0"
                                ng-click="sendRealNameCellPhoneSMSCode()"
                            >{{(realNameCellPhoneSMSCodeWait == 0) ? translate("发送验证码") : "重新发送(" + realNameCellPhoneSMSCodeWait + "s)"}}</div>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3">
                            <p class="text-danger">{{errorMsg}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button ng-click="submitRealnameInfo()" class="btn btn-primary btn-md" translate="确认"></button>
                        </div>
                    </div>
                </form>


                
                


            </div>
        </div>
    </div>

    <!--数据源-->
    <div ng-show="showItem == 'dataSource'" class="col-md-10 panel main-content">
        <div class="panel-heading" translate="数据源配置"></div>
        <div class="panel-body data-source bottom-boder">
            <form role="form" class="form-horizontal">
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="默认数据源："></label>
                    <div class="col-xs-7">
                        <select class="form-control" ng-model="defaultDataSourceName" ng-change="changeDefaultDataSource()">
                            <option ng-repeat="x in dataSourceList" value="{{x.name}}">{{(x.name || '内置gitlab') | translate}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <h4 translate="已配置的数据源"></h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th translate="数据源名"></th>
                    <th translate="类型"></th>
                    <th class="hidden-xs">apiBaseUrl</th>
                    <th class="hidden-xs">rawBaseUrl</th>
                    <th class="hidden-xs">Token</th>
                    <th translate="状态"></th>
                    <th class="set-width" translate="操作"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in dataSourceList" ng-hide="x.isDelete">
                    <td>{{x.name}}</td>
                    <td>{{x.type}}</td>
                    <td class="hidden-xs">{{x.apiBaseUrl}}</td>
                    <td class="hidden-xs">{{x.rawBaseUrl}}</td>
                    <td class="hidden-xs">{{x.dataSourceToken}}</td>
                    <td>{{x.dataSourceUserId ? translate("有效") : translate("无效")}}</td>
                    <td>
                        <div>
                            <a class="btn" ng-click="clickModifyDataSource(x)" translate="修改"></a>
                            <a class="btn" ng-click="clickDeleteDataSource(x)" translate="删除"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body data-source">
            <h4 translate="增改数据源"></h4>
            <form role="form" class="form-horizontal">
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="数据源类型："></label>
                    <div class="col-xs-7">
                        <select class="form-control" ng-model="newDataSource.type">
                            <option ng-repeat="x in dataSourceTypeList" value="{{x}}">{{x}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label" translate="数据源名:"></label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.name" type="text" class="form-control" placeholder="github">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">ApiBaseUrl:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.apiBaseUrl" type="text" class="form-control" placeholder="https://api.github.com">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">RawBaseUrl:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.rawBaseUrl" type="text" class="form-control" placeholder="https://raw.githubusercontent.com">
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <label class="col-xs-2 control-label">Token:</label>
                    <div class="col-xs-7">
                        <input ng-model="newDataSource.dataSourceToken" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group form-group-md btn-submit">
                    <button class="btn btn-primary" ng-click="clickNewDataSource()" translate="提交"></button>
                    <span style="color: red">{{errMsg}}</span>
                </div>
            </form>
        </div>
    </div>

    <!--消费记录-->
    <!--<div ng-show="showItem == 'myPay'" class="col-xs-12 main-content panel">-->
    <!--<div class="panel-heading clearfix">-->
    <!--<div style="float:left" translate="消费记录"></div>-->
    <!--<div style="float:right">余额{{balance/100 || "0"}}元</div>-->
    <!--</div>-->
    <!--<div class="panel-body mypay-panel">-->
    <!--<table class="table mypay-table">-->
    <!--<tr ng-repeat="item in myPays">-->
    <!--<td class="icon-time">-->
    <!--<span class="icon iconfont" ng-class="{true:'icon-shangdian1', false: 'icon-xiaofeidaikuan'}[item.method == 'spend']"></span>-->
    <!--<span class="time">{{item.create_date}}</span>-->
    <!--</td>-->
    <!--<td>{{item.subject}}</td>-->
    <!--<td class="money">{{item.method == 'Spend' ? "-" : "+"}} &yen; {{item.price < 0 ? -item.price/100 : item.price/100}}</td>-->
    <!--<td>{{payStatus[item.status]}}</td>-->
    <!--&lt;!&ndash;<td ng-show="item.code == 0">兑换成功 <sapn class="iconfont icon-check-mark text-success"></sapn></td>-->
    <!--<td ng-show="item.code != 0">兑换失败 <sapn class="text-danger">&times;</sapn></td>&ndash;&gt;-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->

    <!--邀请注册-->
    <!--<div ng-show="showItem == 'invite'" class="col-md-10 panel main-content">-->
    <!--<div class="panel-heading">-->
    <!--邀请注册-->
    <!--</div>-->
    <!--<div class="panel-body">-->
    <!--<form class="form-horizontal" role="form">-->
    <!--<div class="form-group sr-only form-group-lg">-->
    <!--<legend translate="邀请注册表单"></legend>-->
    <!--</div>-->
    <!--<div class="form-group form-group-lg">-->
    <!--<label for="email" class="control-label col-sm-2" translate="好友email："></label>-->
    <!--<div class="col-sm-4">-->
    <!--<input type="email" ng-model="friendMail" class="form-control">-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<div ng-click="inviteFriend()" class="btn btn-primary btn-md" translate="邀 请"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->

    <!--邮箱绑定弹窗-->
    <div class="modal  email-model" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="emailModalLabel">{{isBind("email") ? translate("邮箱解绑") : translate("邮箱绑定")}} <span class="titleinfo"> > {{userEmail}}</span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-sm-3" translate="邮箱验证码："></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="emailVerifyCode">
                            </div>
                            <div class="col-sm-3 verify-btn">
                                <div class="btn btn-block" ng-class="{true:'btn-default', false:'btn-primary'}[emailWait>0]" ng-disabled="wait > 0" ng-click="sendEmail(userEmail.trim())">{{(emailWait == 0) ? translate("发送验证码") : "重新发送(" + emailWait + "s)"}}</div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="text-danger">{{errorMsg}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmEmailBind()" translate="确定"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate="取消"></button>
                </div>
            </div>
        </div>
    </div>

    <!--手机绑定弹窗-->
    <div class="modal  phone-model" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="phoneModalLabel">{{isBind("phone") ? translate("手机解绑") : translate("手机绑定")}} <span class="titleinfo"> > {{userPhone}}</span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            {{ "每个手机号码每天最多发送5条短信，超出将被锁定，第二天自动解除，请谨慎操作。" | translate }}<br/><br/>
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="control-label col-sm-3" translate="图片验证码："></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="imageCode">
                            </div>
                            <div class="col-sm-3 captcha">
                                <img ng-src="{{imageCodeUrl}}" alt="验证码">
                                <span class="glyphicon glyphicon-repeat" ng-click="refreshImageCode()" title="刷新"></span>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="text-danger">{{imageCodeErrMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="control-label col-sm-3" translate="短信验证码："></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="smsCode">
                            </div>
                            <div class="col-sm-3 verify-btn">
                                <div class="btn btn-block" ng-class="{true:'btn-default', false:'btn-primary'}[wait>0]" ng-disabled="wait > 0" ng-click="bindPhone()">{{(wait == 0) ? translate("发送验证码") : "重新发送(" + wait + "s)"}}</div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="text-danger">{{errorMsg}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmPhoneBind()" translate="确定"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate="取消"></button>
                </div>
            </div>
        </div>
    </div>
</div>
