<style>
    body{
        background-color: #F1F1F1;
    }
    /*左侧菜单栏*/
    .subnav {
        text-align: center;
    }
    .subnav > .list-group > .list-group-item{
        padding: 0;
        margin-bottom: 10px;
    }
    .subnav .panel{
        margin-bottom: 0;
        border-radius: 0;
    }
    .subnav .panel-heading{
        border-radius: 0;
        cursor: pointer;
    }
    .subnav .panel-body{
        padding: 0;
    }
    .subnav .list-group{
        margin-bottom: 0;
    }
    .subnav .list-group .list-group-item{
        border: none;
    }
    .subnav .panel-body .list-group-item{
        padding:10px 15px;
    }
    .subnav .list-group .list-group-item.active{
        background-color: #E0E3E9;
        color: #3977AD;
    }
    .subnav .glyphicon{
        display: none;
    }
    .subnav .list-group .list-group-item.active .glyphicon{
        display:inline-block;
    }
    .subscribe{
        font-size: 12px;
    }
    .main-content{
        border:1px solid #DEE1E5;
        background-color: #FFF;
        padding: 0;
        min-height: 515px;
    }
    .main-content .panel-heading{
        border-bottom: 2px solid #F1F1F1;
        color: #3977AD;
        font-size: 16px;
    }
    .main-content .tab-content{
        padding-top: 40px;
    }
    .main-content .form-control{
        margin-bottom: 25px;
    }
    .main-content .nav-tabs>li[role="presentation"]>a{
        font-size: 16px;
        color: #333;
    }
    .main-content .nav-tabs>li[role="presentation"]>a>span{
        color: #666;
    }
    /*.main-content .nav-tabs>li.active>a, .main-content .nav-tabs>li.active>a:focus, .main-content .nav-tabs>li.active>a:hover {*/
        /*left: -1px;*/
        /*top: 0px;*/
        /*border-top: 0px;*/
        /*padding: 11px 15px;*/
        /*border-radius: 0px;*/
        /*border-bottom: 0px;*/
        /*color: #3977AD;*/
    /*}*/
    .img-text{
        display: flex;
        align-items: center;
        background-color: #F9F9F9;
        border: 1px solid #e5e7e9;
        margin-bottom: 20px;
    }
    .img-text .text{
        flex: 1;
    }
    .main-content .img-text img{
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
    .main-content .img-text .text{
        padding: 0 5px 0 15px;
        max-height: 140px;
        overflow: hidden;
    }
    .main-content .img-text .col-md-12,.tab-content .img-text .col-md-4{
        padding: 0;
        line-height: 32px;
    }
    .main-content .img-text p{
        margin-bottom: 0;
        line-height: 32px;
    }
    .pagination-box{
        text-align: center;
    }
    .tab-content p.info{
        font-size: 12px;
        color: #999;;
    }
    .subnav .panel-body{
        margin-top: 0;
    }
    @media(max-width: 768px){
        .subnav .list-group-item:first-child .list-group-item{
            padding: 10px 5px;
            float: left;
            width: 25%;
        }
        .subnav .list-group .list-group-item.active .glyphicon{
            display: none;
        }
        .main-content{
            min-height: auto;
        }
    }
</style>

<div ng-controller="userCenterController" class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-2 subnav col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-click='selectContentType("userProfile")'>
                            设置中心
                        </div>
                        <div class="panel-body" ng-class='getExpandClass("userProfile")'>
                            <ul class="list-group">
                                <a ng-repeat="item in userProfileItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item" >{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-click='selectContentType("websiteManager")'>
                            网站管理
                        </div>
                        <div class="panel-body" ng-class='getExpandClass("websiteManager")'>
                            <ul class="list-group">
                                <a ng-repeat="item in websiteMangerItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-click='selectContentType("services")'>
                            服务中心
                        </div>
                        <div class="panel-body " ng-class='getExpandClass("services")'>
                            <ul class="list-group">
                                <a ng-repeat="item in servicesItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-click='selectContentType("invite")'>
                            邀请注册
                        </div>
                        <div class="panel-body " ng-class='getExpandClass("invite")'>
                            <ul class="list-group">
                                <a ng-repeat="item in invitesItemList"
                                   ng-click="clickUserCenterItem(item)"
                                   ng-class="getActiveStyleClass(item)"
                                   class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <!--<li class="list-group-item">-->
                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading" ng-click='selectContentType("dataSource")'>-->
                            <!--数据源-->
                        <!--</div>-->
                        <!--<div class="panel-body" ng-class='getExpandClass("dataSource")'>-->
                            <!--<ul class="list-group">-->
                                <!--<a ng-repeat="item in dataSourceItemList"-->
                                   <!--ng-click="clickUserCenterItem(item)"-->
                                   <!--ng-class="getActiveStyleClass(item)"-->
                                   <!--class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading" ng-click='selectContentType("VIP")'>-->
                            <!--VIP-->
                        <!--</div>-->
                        <!--<div class="panel-body " ng-class='getExpandClass("VIP")'>-->
                            <!--<ul class="list-group">-->
                                <!--<a ng-repeat="item in vipItemList"-->
                                   <!--ng-click="clickUserCenterItem(item)"-->
                                   <!--ng-class="getActiveStyleClass(item)"-->
                                   <!--class="list-group-item">{{item.name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        <div id="userCenterSubPage"></div>
    </div>
</div>