<style>
    .vip-container .row{
        padding:30px 0;
        text-align: center;
    }
    .vip-container h3{
        text-align: center;
        margin-bottom: 60px;
    }
    .vip-container h3 span{
        border-bottom: 4px solid #3977AD;
        padding-bottom: 6px;
    }
    .vip-container .publicity{
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
    }
    .vip-container .publicity img{
        width: auto;
        max-width: 80%;
    }
    .vip-container .compares{
        width: 600px;
        margin: 30px auto 0;
    }
    .vip-container .feature-box {
        float: left;
        width: 280px;
        margin: 0 10px;
        padding: 16px 22px 36px 36px;
        text-align: center;
        border: 1px solid #DCDCDC;
        color: #808080;
    }
    .vip-container .vip-feature{
        color: #FF7200;
    }
    .vip-container .feature-box ul{
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .vip-container .feature-box ul > li{
        list-style: none;
        font-size: 16px;
        position: relative;
        color: #666;
        padding-left: 30px;
        line-height: 40px;
        white-space: nowrap;
    }
    .vip-container .feature-box .glyphicon-ok{
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #6BBC7D;
        border-radius: 50%;
        font-size: 12px;
        color: #FFF;
    }
    .vip-container .feature-box .text-muted{
        color: #DDD;
    }
    .s-container{
        width: 680px;
        margin: 0 auto;
    }
    .vip-price{
        text-align: center;
        display: flex;
        width: 200px;
        margin: 0 auto;
        min-height: 100px;
        align-items: center;
        cursor: pointer;
        border: 1px solid #DCDCDC;
    }
    .vip-price:hover, .vip-price.active{
        outline: 2px solid #FD3265;
    }
    .vip-price .price{
        flex: 1;
        font-size: 28px;
        color: #FD3265;
    }
    .vip-price .price span{
        font-size: 14px;
    }
    .vip-price .time{
        background-color: #DCDCDC;
        padding: 19px 12px;
    }
    .vip-container .pay-box.active {
        padding: 45px 35px;
        align-items: center;
        display: flex;
        text-align: center;
    }
    .vip-container .pay-box .code-box{
        margin-right: 45px;
    }
    .vip-container .pay-box img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 6px;
    }
    .vip-container .pay-box .pay-msg span{
        font-size: 28px;
        color: #FD3265;
    }
    .vip-container .gopay-btn{
        width: 120px;
        height: 42px;
        line-height: 42px;
        padding: 0;
        font-size: 16px;
        margin-top: 40px;
    }
    
    @media (max-width: 680px) {
        .vip-container .row{
            padding:0;
            border-bottom: none;
        }
        .vip-container h3{
            margin-bottom: 15px;
        }
        .vip-container .compares {
            width: 100%;
        }
        .vip-container .feature-box{
            width: 50%;
            padding: 0 10px;
            margin: 0;
            border: 0;
        }
        .vip-container .feature-box h2{
            font-size: 16px;
            margin: 10px 0;
        }
        .vip-container .feature-box ul > li{
            font-size: 12px;
            padding-left: 17px;
            line-height: 30px;
        }
        .vip-container .feature-box .glyphicon-ok{
            width:15px;
            height:15px;
            line-height:15px;
            top:6px;
        }
        .vip-container .gopay-btn{
            margin: 10px 0;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            width: 80px;
        }

        .s-container{
            width: 100%;
        }
        .s-container .col-xs-4{
            padding: 0 5px;
            margin-top: 5px;
        }
        .vip-price{
            min-height: 80px;
            width: auto;
        }
        .vip-price .time{
            padding: 10px 5px;
        }
    }
</style>
<div class="container vip-container" ng-controller="vipController">
    <div class="row publicity">
        <h3><span translate="VIP账号特权"></span></h3>
        <img ng-src="{{imgsPath+'wiki_vip.png'}}" alt="">
        <div class="clearfix compares">
            <div class="feature-box">
                <h2 translate="免费账户"></h2>
                <p class="info" translate="免费"></p>
                <ul>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "免费创建网站" | translate }}</span></li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "多平台在线编辑器" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "页面功能模块支持" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "子域名" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "网站CDN访问加速" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "设置VIP才可以访问" | translate }}</li>
                    <li class="text-muted" translate="cname 转发"></li>
                    <li class="text-muted" translate="私有网站（额外权限管理）"></li>
                    <li class="text-muted" translate="组织网站模板"></li>
                </ul>
            </div>
            <div class="feature-box vip-feature">
                <h2 translate="VIP账号"></h2>
                <p class="info" translate="30RMB/月"></p>
                <ul>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "免费创建网站" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "多平台在线编辑器" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "页面功能模块支持" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "子域名" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "网站CDN访问加速" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "设置VIP才可以访问" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "cname 转发" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "私有网站（额外权限管理）" | translate }}</li>
                    <li><span class="glyphicon glyphicon-ok text-success"></span>{{ "组织网站模板" | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row s-container">
        <h3><span translate="VIP购买付费"></span></h3>
        <div class="col-sm-4 col-xs-4" ng-repeat="item in vips" ng-click="selectPrice(item)">
            <div class="vip-price" ng-class="{true:'active'}[item.price == selectedVip.price]">
                <div class="price"><span>￥</span>{{item.price}}</div>
                <div class="time">{{item.month}}</br>{{ "个" | translate }}</br>{{ "月" | translate }}</div>
            </div>
        </div>
        <div class="btn btn-primary gopay-btn" ng-click="goPayPage(selectedVip)" translate="立即充值"></div>
    </div>
    <!--<div class="row s-container">-->
        <!--<div role="tabpanel">-->
            <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
            <!--<ul class="nav nav-tabs" role="tablist">-->
                <!--<li role="presentation" class="active">-->
                    <!--<a href="#wexin" aria-controls="wexin" role="tab" data-toggle="tab" translate="微信支付"></a>-->
                <!--</li>-->
                <!--<li role="presentation">-->
                    <!--<a href="#phone" aria-controls="phone" role="tab" data-toggle="tab" translate="手机支付"></a>-->
                <!--</li>-->
                <!--<li role="presentation">-->
                    <!--<a href="#card" aria-controls="card" role="tab" data-toggle="tab" translate="银行卡支付"></a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
            <!--<div class="tab-content">-->
                <!--<div role="tabpanel" class="tab-pane active pay-box" id="wexin">-->
                    <!--<div class="code-box">-->
                        <!--<img src="" alt="二维码">-->
                        <!--<p translate="扫二维码轻松支付"></p>-->
                    <!--</div>-->
                    <!--<div class="pay-msg">-->
                        <!--<p>应付金额：<span translate="15元"></span></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div role="tabpanel" class="tab-pane" id="phone" translate="手机支付"></div>-->
                <!--<div role="tabpanel" class="tab-pane" id="card" translate="银行卡支付"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
