<style>
    .vip-container .row{
        padding:30px 0;
    }
    .vip-container h3{
        text-align: center;
        margin-bottom: 60px;
    }
    .vip-container h3 span{
        border-bottom: 4px solid #3977AD;
        padding-bottom: 6px;
    }
    .vip-container .publicity{
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
    }
    .vip-container .publicity img{
        width: 80%;
    }
    .s-container{
        width: 680px;
        margin: 0 auto;
    }
    .vip-price{
        text-align: center;
        display: flex;
        width: 200px;
        margin: 0 auto;
        min-height: 100px;
        align-items: center;
        cursor: pointer;
        border: 1px solid #DCDCDC;
    }
    .vip-price:hover, .vip-price.active{
        outline: 2px solid #FD3265;
    }
    .vip-price .price{
        flex: 1;
        font-size: 28px;
        color: #FD3265;
    }
    .vip-price .price span{
        font-size: 14px;
    }
    .vip-price .time{
        background-color: #DCDCDC;
        padding: 19px 12px;
    }
    .vip-container .pay-box.active {
        padding: 45px 35px;
        align-items: center;
        display: flex;
        text-align: center;
    }
    .vip-container .pay-box .code-box{
        margin-right: 45px;
    }
    .vip-container .pay-box img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 6px;
    }
    .vip-container .pay-box .pay-msg span{
        font-size: 28px;
        color: #FD3265;
    }
</style>
<div class="container vip-container" ng-controller="VIPController">
    <div class="row publicity">
        <h3><span>VIP账号特权</span></h3>
        <img ng-src="{{imgsPath+'wiki_vip.png'}}" alt="">
    </div>
    <div class="row s-container">
        <h3><span>VIP购买付费</span></h3>
        <div class="col-sm-4" ng-repeat="item in vips" ng-click="selectPrice(item)">
            <div class="vip-price" ng-class="{true:'active'}[item.price == payPrice]">
                <div class="price"><span>￥</span>{{item.price}}</div>
                <div class="time">{{item.month}}</br>个</br>月</div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="btn btn-block btn-primary" ng-click="">立即充值</div>
        </div>
    </div>
    <!--<div class="row s-container">-->
        <!--<div role="tabpanel">-->
            <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
            <!--<ul class="nav nav-tabs" role="tablist">-->
                <!--<li role="presentation" class="active">-->
                    <!--<a href="#wexin" aria-controls="wexin" role="tab" data-toggle="tab">微信支付</a>-->
                <!--</li>-->
                <!--<li role="presentation">-->
                    <!--<a href="#phone" aria-controls="phone" role="tab" data-toggle="tab">手机支付</a>-->
                <!--</li>-->
                <!--<li role="presentation">-->
                    <!--<a href="#card" aria-controls="card" role="tab" data-toggle="tab">银行卡支付</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
            <!--<div class="tab-content">-->
                <!--<div role="tabpanel" class="tab-pane active pay-box" id="wexin">-->
                    <!--<div class="code-box">-->
                        <!--<img src="" alt="二维码">-->
                        <!--<p>扫二维码轻松支付</p>-->
                    <!--</div>-->
                    <!--<div class="pay-msg">-->
                        <!--<p>应付金额：<span>15元</span></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div role="tabpanel" class="tab-pane" id="phone">手机支付</div>-->
                <!--<div role="tabpanel" class="tab-pane" id="card">银行卡支付</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>