<style>
    .website-flex{
        padding: 0;
    }
    .website-flex .title{
        text-align: left;
        display: flex;
        align-items: center;
        padding:0 60px 0 85px;
        margin: 30px 0;
        font-weight: normal;
    }
    .website-flex .title > span{
        flex: 1;
    }
    .website-flex .fthead, .website-flex .ftbody-item{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 60px;
        color: #666;
    }
    .website-flex .fthead{
        height: 46px;
        background-color: #B1D4F3;
        font-size: 16px;
    }
    .website-flex .ftbody-item{
        height: 50px;
        border-bottom: 1px solid #E9E9E9;
        font-size: 14px;
    }
    .website-flex .ftbody-item > div, .website-flex .fthead > div{
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .website-flex .ftbody-item > div:first-child, .website-flex .fthead > div:first-child{
        text-align: left;
        padding-left: 25px;
        position: relative;
    }
    .website-flex .ftbody-item .icon-lock{
        position: absolute;
        left: 0;
        top: -2px;
        color: #B1B1B1;
    }
    .website-flex .ftbody-item a{
        color: #666;
    }
    .website-flex .ftbody-item a:hover{
        color: #3977AD;
    }
    .website-flex .ftbody-item > .site-link, .website-flex .fthead > .site-link{
        flex: 2;
    }
    .website-flex .ftbody-item .iconfont:not(.icon-lock){
        font-size: 24px;
        width: 36px;
        height: 36px;
        display: inline-block;
        color: #1E94EC;
        background-color: #D3EAFF;
    }
    .website-flex .ftbody-item .iconfont.text-danger{
        color: #EC1E1E;
        background-color: #FFD3D3;
    }
    .new-web-btn {
        font-size: 16px;
        padding: 9px 27px;
    }
    .delete-website-confirm-modal label {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
    }
    .delete-website-confirm-modal label span {
        font-weight: normal;
    }
    .delete-website-confirm-modal label input {
        margin: 0 5px 0 0;
    }
    .delete-website-confirm-modal .delete-website-confirm-msg {
        display: flex;
        align-items: center;
    }
    .delete-website-confirm-modal .icon-exclamation-circle {
        margin-left: -15px;
        margin-right: 10px;
        font-size: 40px;
        font-weight: 100;
    }
</style>
<style>
    @media (max-width: 768px) {
        .new-web-btn{
            font-size: 14px;
            padding: 6px 12px;
        }
        .website-flex .title{
            padding: 0 15px;
            font-size: 14px;
            margin: 12px 0;
        }
        .website-flex .fthead, .website-flex .ftbody-item{
            padding: 0 15px;
        }
        .website-flex .ftbody-item .iconfont:not(.icon-lock){
            width: 28px;
            height: 28px;
            font-size: 20px;
        }
    }
</style>

<div ng-controller="websiteController">
    <div class="col-md-10 panel main-content">
        <div class="panel-heading" translate="我的站点"></div>
        <div class="panel-body website-flex">
            <h3 class="title clearfix">
                <span>{{"网站数量：" | translate}}<span class="text-primary">{{websites.count}}</span></span>
                <a class="btn btn-primary pull-right new-web-btn" ng-click="goNewWebsitePage()" translate="新建网站"></a>
            </h3>
            <div class="flex-table">
                <div class="fthead">
                    <div translate="站点名称"></div>
                    <div class="hidden-xs site-link" translate="站点地址"></div>
                    <div class="hidden-xs" translate="创建时间"></div>
                    <div translate="操作"></div>
                </div>
                <div class="empty-box" ng-hide="websites.count > 0">
                    <span class="iconfont icon-kongbaiyemian"></span>
                    <p translate="暂无相关内容..."></p>
                </div>
                <div class="ftbody-item" ng-repeat="website in websites" ng-hide="website.isDelete">
                    <div>
                        <span class="iconfont icon-lock" ng-show="website.visibility == 'private'"></span>
                        {{website.displayName || website.name}}
                    </div>
                    <div class="site-link hidden-xs">
                        <a ng-href="/{{user.username}}/{{website.name}}" target="_blank">keepwork.com/{{user.username}}/{{website.name}}</a>
                    </div>
                    <div class="hidden-xs">{{website.createDate}}</div>
                    <div>
                        <a class="iconfont icon-bianjiqi-dakai" ng-href="/{{user.username}}/{{website.name}}" target="_blank" title="{{ '打开' | translate }}"></a>
                        <a class="iconfont icon-bianjiqi-bianji" ng-href="/wiki/wikieditor#/{{user.username}}/{{website.name}}/index" title="{{ '编辑' | translate }}"></a>
                        <a class="iconfont icon-bianjiqi-shezhi"  ng-click="goEditWebsitePage(website)" title="{{ '设置' | translate }}"></a>
                        <a class="iconfont icon-bianjiqi-shanchu text-danger" ng-click="deleteWebsite(website)" title="{{ '删除' | translate }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--删除网站-->
    <div class="modal delete-website-confirm-modal" id="deleteWebsiteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteWebsiteConfirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteWebsiteConfirmModalLabel">{{ "删除提醒" | translate }}</h4>
                </div>
                <div class="modal-body" style="padding: 30px 80px;">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <h4 class="delete-website-confirm-msg"><i class="iconfont icon-exclamation-circle text-danger"></i><span>{{ deleteWebsiteConfirmMsg }}</span></h4>
                            <label><input type="checkbox" ng-model="deleteWebsiteWithGitlabData" /><span>{{ "同时清空全部数据" | translate }}</span></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="confirmDeleteWebsite(deleteWebsiteConfirmSite)">{{ "确定" | translate }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "取消" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
