<div ng-controller="websiteController" class="container">
    <div>
        <div>
            <div class="pull-left">
                <h3><b>网站管理</b></h3>
            </div>
            <div class="pull-right" style="margin: 30px 0px">
                <button class="btn btn-default" ng-click="goCreateWebsitePage()"><span class="glyphicon glyphicon-plus"></span>新建网站</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div style="margin: 30px 0px">
        <table class="table table-hover table-striped">
            <caption style="text-align: center"><h4>我的站点</h4></caption>
            <thead>
            <tr>
                <td>站点名称</td>
                <td>站点备注</td>
                <td>独立域名</td>
                <td>类型</td>
                <td>模板</td>
                <td>样式</td>
                <td>标签</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="website in websites">
                <!--<td><a href='{{"/" + website.name}}' target="_blank">{{website.name}}</a></td>-->
                <td><a ng-click="goWebsiteIndexPage(website.name)">{{website.name}}</a></td>
                <td>{{website.desc}}</td>
                <td><a href='{{website.domain ? (website.domain + ".wikicraft.cn") : ""}}' target="_blank">{{website.domain ? (website.domain + '.wikicraft.cn') : ""}}</a></td>
                <td>{{website.categoryName}}</td>
                <td>{{website.templateName}}</td>
                <td>{{website.styleName}}</td>
                <td>{{website.tags}}</td>
                <td>{{website.createDate}}</td>
                <td>
                    <button class="btn btn-default" data-toggle="tooltip" title="编辑网站页面" ng-click="goEditWebsitePagePage(website)"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="修改站点" ng-click="goEditWebsitePage(website)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-default" data-toggle="tooltip" title="删除站点" ng-click="deleteWebsite(website._id)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
