<div id='wikiEditorPageContainer' style="position: absolute; top:0; bottom: 0; left: 0; right: 0;">
    <div class="container-fluid" style="padding: 0;">
        <div class="row" style="margin: 0">
            <div id="wikiEditor" ng-controller="wikiEditorController">
                <div id="toolbarview" class="well well-sm nopadding wiki-toolbar" style="z-index:99;">
                    <div id="codeToolbar" class="btn-toolbar" role="toolbar" ng-show="!full">
                        <div class="btn-group brand-btn-group">
                            <!--<div class="dropdown toolbar-brand">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<img ng-src="{{imgsPath+'icon/logo.svg'}}" alt="">-->
                                    <!--<span class="caret show-md"></span>-->

                                <!--</a>-->
                                <!--<ul class="dropdown-menu nodot-dropdown">-->
                                    <!--<li><a ng-click="goHomePage()">keepwork.com</a></li>-->
                                    <!--<li><a ng-click="goUserPage()" translate="我的主页"></a></li>-->
                                    <!--<li><a ng-click="goModPackagePage()" translate="Mod扩展"></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <a ng-if="isLogin" ng-click="goUserPage()" class="toolbar-avatar">
                                <img ng-src="{{user.portrait || imgsPath+'wiki_default_profile.jpg'}}" alt="">
                            </a>
                            <a ng-if="!isLogin" ng-click="goHomePage()" class="toolbar-avatar">
                                <img ng-src="{{imgsPath+'default_portrait_anonymous.png'}}" alt="">
                            </a>
                        </div>

                        <div class="btn-group show-md">
                            <div type="button" class="btn btn-default btn-sm"  ng-click="cmd_savepage()" title="保存（Ctrl+S）">
                                <img ng-src="{{imgsPath+'icon/wiki_save.png'}}" alt=""> {{ "保存" | translate }}
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_newpage()" title="新建页（Shift+Ctrl+N）">
                                <img ng-src="{{imgsPath+'icon/wiki_newPage.png'}}" alt=""> {{ "新建页" | translate }}
                            </div>
                        </div>
                        <div class="btn-group">
                            <div type="button" class="btn btn-default btn-sm show-sm"  ng-click="cmd_savepage()" title="保存（Ctrl+S）">
                                <img ng-src="{{imgsPath+'icon/wiki_save.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm show-sm"  ng-click="cmd_newpage()" title="新建页（Shift+Ctrl+N）">
                                <img ng-src="{{imgsPath+'icon/wiki_newPage.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_undo()" title="撤销（Ctrl+Z）">
                                <img ng-src="{{imgsPath+'icon/wiki_revoked.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_redo()" title="重做（Ctrl+Y）">
                                <img ng-src="{{imgsPath+'icon/wiki_redo.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_find()" title="查找（Ctrl+F）">
                                <img ng-src="{{imgsPath+'icon/wiki_search.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_replace()" title="替换（Shift+Ctrl+F）">
                                <img ng-src="{{imgsPath+'icon/wiki_replace.png'}}" alt="">
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm" ng-click="cmd_headline(1)" title="标题1（Shift+Ctrl+1）" style="font-weight:bold;">
                                <img ng-src="{{imgsPath+'icon/wiki_H1.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm" ng-click="cmd_headline(2)" title="标题2（Shift+Ctrl+2）" style="font-weight:bold;">
                                <img ng-src="{{imgsPath+'icon/wiki_H2.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm" ng-click="cmd_headline(3)" title="标题3（Shift+Ctrl+3）" style="font-weight:bold;">
                                <img ng-src="{{imgsPath+'icon/wiki_H3.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm" title="加粗（Ctrl+B）"  ng-click="cmd_bold()">
                                <img ng-src="{{imgsPath+'icon/wiki_bold.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm" title="斜体（Ctrl+I）" ng-click="cmd_italic()">
                                <img ng-src="{{imgsPath+'icon/wiki_italic.png'}}" alt="">
                            </div>
                            <!--<div class="btn btn-default btn-sm" title="下划线" ng-click="cmd_underline()">
                                <img ng-src="{{imgsPath+'icon/wiki_underline.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm" title="删除线" ng-click="cmd_strikethrough()">
                                <img ng-src="{{imgsPath+'icon/wiki_deleteline.png'}}" alt="">
                            </div>-->
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm"  ng-click="cmd_listul()" title="无序列表（Ctrl+.）">
                                <img ng-src="{{imgsPath+'icon/wiki_disorder.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_listol()" title="有序列表（Ctrl+/）">
                                <img ng-src="{{imgsPath+'icon/wiki_order.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_blockqote()" title="引用内容（Ctrl+]）">
                                <img ng-src="{{imgsPath+'icon/wiki_quots.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_tabel()" title="表格（Shift+Ctrl+T）">
                                <img ng-src="{{imgsPath+'icon/wiki_table.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_horizontal()" title="水平分隔线（Ctrl+H）">
                                <img ng-src="{{imgsPath+'icon/wiki_segment.png'}}" alt="">
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm"  ng-click="cmd_link()" title="链接（Alt+L）">
                                <img ng-src="{{imgsPath+'icon/wiki_link.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_image()" title="图片（Alt+P）">
                                <img ng-src="{{imgsPath+'icon/wiki_img.png'}}" alt="">
                            </div>
                            <!--<div class="btn btn-default btn-sm"  ng-click="cmd_video()" title="视频（Alt+V）">-->
                                <!--<img ng-src="{{imgsPath+'icon/wiki_video.png'}}" alt="">-->
                            <!--</div>-->
                            <div class="btn btn-default btn-sm"  ng-click="cmd_bigfile()" title="文件">
                                <img ng-src="{{imgsPath+'icon/wiki_file_upload.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="cmd_code()" title="代码（Alt+C）">
                                <img ng-src="{{imgsPath+'icon/wiki_code.png'}}" alt="">
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default btn-sm" title="模块" ng-click="openWikiBlock()"><img ng-src="{{imgsPath+'icon/wiki_model.png'}}" alt=""> {{ "模块" | translate }}</div>
                        </div>
                        <div class= "btn-group  pull-right">
                            <div class="btn btn-default toolbar-page-version wiki-btn" title="版本" translate="版本"></div>
                            <div class="btn btn-default toolbar-page-hotkey wiki-btn" title="热键表" translate="热键"></div>
                            <a class="btn btn-default toolbar-page-knowledge wiki-btn" title="知识库" ng-href="http://keepwork.com/official/help/index" target="_blank" translate="知识库"></a>
                        </div>
                    </div>

                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group state-change">
                            <div class="btn btn-default btn-sm toolbar-page-file active" title="文件" ng-click="toggleFile()">
                                <img ng-src="{{imgsPath+'icon/wiki_scan.png'}}" alt="">
                                <img ng-src="{{imgsPath+'icon/wiki_scan_active.png'}}" alt=""> {{ "浏览" | translate }}
                            </div>
                            <div class="btn btn-default toolbar-new-site btn-sm active" title="新建网站" ng-click="newWebsite()">
                                <img ng-src="{{imgsPath+'icon/wiki_newWebsite.png'}}" alt="">
                                <img ng-src="{{imgsPath+'icon/wiki_newWebsite.png'}}" alt=""> {{ "新建网站" | translate }}
                            </div>
                        </div>
                        <div class="btn-group state-change">
                            <div class="btn btn-default btn-sm toolbar-page-code" title="代码" ng-click="showCodeView()">
                                <img ng-src="{{imgsPath+'icon/wiki_code.png'}}" alt="">
                                <img ng-src="{{imgsPath+'icon/wiki_code_active.png'}}" alt=""> {{ "代码" | translate }}</div>
                            <div class="btn btn-default btn-sm toolbar-page-slide active hidden-xs" title="拆分" ng-click="codeAndPreview()">
                                <img ng-src="{{imgsPath+'icon/wiki_split.png'}}" alt="">
                                <img ng-src="{{imgsPath+'icon/wiki_split_active.png'}}" alt=""> {{ "拆分" | translate }}</div>
                            <div class="btn btn-default btn-sm toolbar-page-design" title="预览" ng-click="showPreview()">
                                <img ng-src="{{imgsPath+'icon/wiki_preview.png'}}" alt="">
                                <img ng-src="{{imgsPath+'icon/wiki_preview_active.png'}}" alt=""> {{ "预览" | translate }}</div>
                            </div>
                        <div class= "btn-group">
                            <input id="btUrl" class="btn btn-link btn-sm toolbar-page-preview" title="URL" style="border:1px solid #ccc; border-bottom-left-radius: 5px;border-top-left-radius: 5px; background: #fff;text-align: left;">
                            <!--&lt;!&ndash;button type="button" class="btn btn-default btn-sm toolbar-page-copyurl" title="复制网址"><i class="fa fa-external-link" ></i>&nbsp;复制网址</button>-->
                            <div type="button" class="btn btn-default btn-sm" title="打开git文件" ng-click="openGitFile()">
                                <img ng-src="{{imgsPath+'icon/wiki_origin.png'}}" alt="">
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn btn-default btn-sm" ng-click="adaptive()" title="自适应">
                                <img ng-src="{{imgsPath+'icon/wiki_adaptive.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm toolbar-page-preview" title="新窗口">
                                <img ng-src="{{imgsPath+'icon/wiki_newwin.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="fullScreen()" title="全屏">
                                <img ng-src="{{imgsPath+'icon/wiki_fullscreen.png'}}" alt="" ng-show="!full">
                                <img ng-src="{{imgsPath+'icon/wiki_eixtfullscreen.png'}}" alt="" ng-show="full">
                            </div>
                        </div>
                        <div class="btn-group pull-right hidden-xs">
                            <div class="btn btn-default btn-sm"  ng-click="scale()" title="缩小" ng-disabled="forbidScale">
                                <img ng-src="{{imgsPath+'icon/wiki_scale.png'}}" alt="">
                            </div>
                            <div class="btn btn-default btn-sm"  ng-click="enlarge()" title="放大" ng-disabled="forbidEnlarge">
                                <img ng-src="{{imgsPath+'icon/wiki_enlarge.png'}}" alt="">
                            </div>
                            <select ng-init="scaleSelect = scales[0]" ng-model="scaleSelect" ng-options="scales.showValue for scales in scales" ng-change="changeScale(scaleSelect)" class="form-control resize-view">
                            </select>
                        </div>
                    </div>
                    <div class="progress progress-striped active" ng-show="progressbar.show">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;">
                            <span class="sr-only">{{progressbar.percent}}%</span>
                        </div>
                    </div>
                </div>
                <div id="wikiEditorContainer">
                    <div id="treeview" class="treeview-container full-height nopadding nomargin" style="height: 100%; overflow-y: auto">
						<!-- <div id="moduleEditorContainer" style="position:absolute; width:100%; height: 100%; background:white; z-index:3">
							<div id="moduleEditor"></div>
						</div> -->
                        <div class="opened treeview" id="openedTree">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="icon expand-icon fa fa-chevron-down"></span>
                                    {{ "已打开" | translate }}
                                    <span class="badge" ng-hide="isEmptyObject(opens)">
                                        <img class="show-parent" ng-click="cmd_closeAll()" ng-src="{{imgsPath+'icon/wiki_closeAll.png'}}" title="关闭全部">
                                        <img class="show-parent" ng-click="cmd_saveAll()" ng-src="{{imgsPath+'icon/wiki_saveAll.png'}}" title="保存全部">
                                    </span>
                                </li>
                                <li class="list-group-item" id="{{nodeItem.itemId}}" ng-repeat="(nodeId, nodeItem) in opens" ng-click="clickOpenPage(nodeItem)">
                                    <span class="indent"></span>
                                    <span class="icon glyphicon"></span>
                                    <span class="icon node-icon fa" ng-class="{false: 'fa-edit', true: 'fa-file-o'}[!nodeItem.isModify]"></span>
                                    {{nodeItem.pagename}}({{nodeItem.sitename}})<span ng-show="nodeItem.isConflict">!</span>
                                    <span class="badge"><span class="close-icon" ng-click="cmd_close(nodeItem.url)" title="关闭">×</span></span>
                                    <span class="badge">
                                        <span class="show-empty-node glyphicon glyphicon-trash" ng-click="cmd_remove(nodeItem.url)" title="删除"></span>
                                        <span class="show-empty-node glyphicon glyphicon-repeat" ng-click="cmd_refresh(nodeItem.url)" title="刷新"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <div id="myTree"></div>
                        </div>
                        <div class="treeview joined-treeview" style="border-top: 1px solid #DCDCDC;margin-bottom: 20px;">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="icon expand-icon fa fa-chevron-down"></span>
                                    {{ "参与的项目" | translate }}
                                </li>
                            </ul>
							<div id="editableTree"></div>
                        </div>
                        <div class="treeview temp-treeview" style="border-top: 1px solid #DCDCDC;">
                            <ul class="list-group" style="margin-bottom:0px;">
                                <li class="list-group-item">
                                    <span class="icon expand-icon fa fa-chevron-down"></span>
                                    {{ "临时的项目" | translate }}
                                </li>
                            </ul>
                            <div id="readableTree"></div>
                        </div>
                    </div>
                    <div class="code-view col-xs-12 full-height" style="height: 100%;overflow-y: hidden;">
                        <div id="srcview" class="col-xs-6 full-noAttr-height">
                            <button id="qiniuUploadBtn" style="display: none;"></button>
                            <div class="demo-control" style="display: none;"><a href="#" class="source-clear" translate="清除"></a></div>
                            <textarea id="source" name="source" class="source full-noAttr-height" TextMode="MultiLine"></textarea>
                            <div id="resize-bar" class="border"></div>
                        </div>
                        <section id="preview" class="col-xs-6 full-noAttr-height" style="z-index:2;max-height: 100%; height: 100%;overflow-y: auto;overflow-x: auto;padding: 0;">
                            <div class="tpl-header-container"></div>
                            <div class="result-html"></div>
                            <pre class="hljs result-src full-noAttr-height"><code class="result-src-content full-noAttr-height"></code></pre>
                            <pre class="hljs result-debug full-noAttr-height"><code class="result-debug-content full-noAttr-height"></code></pre>
                        </section>
                        <div id="moduleEditorContainer" class="col-xs-12 module-editor-container">
							<div id="moduleEditor"></div>
						</div>
                    </div>
                </div>
            </div>
            <div class="modal " id="hotkeyModal" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" translate="热键表"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="clearfix">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item text-center active" translate="操作"></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">A</span><span style="display: inline-block;float:right;" translate="全选"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">U</span><span style="display: inline-block;float:right;" translate="下划线"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">U</span><span style="display: inline-block;float:right;" translate="重新选中"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">Home</span><span style="display: inline-block;float:right;" translate="文档开头"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">End</span><span style="display: inline-block;float:right;" translate="文档末尾"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">Left</span><span style="display: inline-block;float:right;" translate="当前行首"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">Right</span><span style="display: inline-block;float:right;" translate="当前行尾"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">D</span><span style="display: inline-block;float:right;" translate="删除一行"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">Backspace</span><span style="display: inline-block;float:right;" translate="删除单词"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">Z</span><span style="display: inline-block;float:right;" translate="撤销"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">Y</span><span style="display: inline-block;float:right;" translate="重做"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">F</span><span style="display: inline-block;float:right;" translate="查找"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">G</span><span style="display: inline-block;float:right;" translate="查找下一个"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">G</span><span style="display: inline-block;float:right;" translate="查找上一个"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">F</span><span style="display: inline-block;float:right;" translate="替换"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">R</span><span style="display: inline-block;float:right;" translate="全部替换"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">N</span><span style="display: inline-block;float:right;" translate="新建页"></span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item text-center active" translate="编辑"></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">S</span><span style="display: inline-block;float:right;" translate="保存"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">B</span><span style="display: inline-block;float:right;" translate="加粗"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">I</span><span style="display: inline-block;float:right;" translate="斜体"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">-</span><span style="display: inline-block;float:right;" translate="删除线"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">[</span><span style="display: inline-block;float:right;" translate="上标"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">]</span><span style="display: inline-block;float:right;" translate="下标"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">1-6</span><span style="display: inline-block;float:right;" translate="标题"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">.</span><span style="display: inline-block;float:right;" translate="无序列表"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">/</span><span style="display: inline-block;float:right;" translate="有序列表"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">]</span><span style="display: inline-block;float:right;" translate="引用内容"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Shift</span>&nbsp;+&nbsp;<span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">T</span><span style="display: inline-block;float:right;" translate="表格"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">H</span><span style="display: inline-block;float:right;" translate="水平分割线"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">L</span><span style="display: inline-block;float:right;" translate="链接"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">P</span><span style="display: inline-block;float:right;" translate="图片"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>  +  <span class="label label-default">V</span><span style="display: inline-block;float:right;" translate="视频"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Alt</span>&nbsp;+&nbsp;<span class="label label-default">C</span><span style="display: inline-block;float:right;" translate="代码"></span></li>
                                        <li class="list-group-item"><span class="label label-default">Ctrl</span>&nbsp;+&nbsp;<span class="label label-default">M</span><span style="display: inline-block;float:right;" translate="模块"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>
