<style>
    .wikiblock-modal-body {
        padding-bottom: 50px;
    }
    .wikitabpanel{
        border: 1px solid #DCDCDC;
        padding: 0;
        overflow: hidden;
    }
    .wikitabpanel .empty-box {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* vertical divider */
    .wikitabpanel .wikiblock-tab::before {
        display: block;
        content: '';
        height: 10000px;
        width: 1px;
        background: #DCDCDC;
        position: absolute;
        top: 0;
    }
    .wikitabpanel .nav-sidebar {
        padding-right: 0;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .wikitabpanel li a {
        color: initial;
        padding-left: 30px;
        position: relative;
    }

    .wikitabpanel li[class^="wiki-mod-nav-"] a:hover,
    .wikitabpanel li[class^="wiki-mod-nav-"] a:focus,
    .wikitabpanel li[class^="wiki-mod-nav-"].active a{
        background-color: #0081ba;
        color: white;
    }
    .wikitabpanel li[class^="wiki-mod-nav-"] a img {
        position: absolute;
        top: 11px;
        left: 7px;
    }
    .wikitabpanel li[class^="wiki-mod-nav-"] a .img-selected {
        display: none;
    }
    .wikitabpanel li[class^="wiki-mod-nav-"] a .img-unselected {
        display: block;
    }
    .wikitabpanel li[class^="wiki-mod-nav-"] a:hover .img-selected,
    .wikitabpanel li[class^="wiki-mod-nav-"] a:focus .img-selected,
    .wikitabpanel li[class^="wiki-mod-nav-"].active a .img-selected {
        display: block;
    }
    .wikitabpanel li[class^="wiki-mod-nav-"] a:hover .img-unselected,
    .wikitabpanel li[class^="wiki-mod-nav-"] a:focus .img-unselected,
    .wikitabpanel li[class^="wiki-mod-nav-"].active a .img-unselected {
        display: none;
    }

    .wikitabpanel li.has-sub-classifies a.classify-name img{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 11px;
        left: 8px;
    }
    
    .wikitabpanel li > a {
        border-radius: 0;
    }
    .wikitabpanel li a.active {
        background-color: #eee;
    }
    .wikitabpanel li a.sub-classify-name {
        display: none;
        left: 1.5em;
    }
    .wikitabpanel li.show-sub-classify-name a.sub-classify-name {
        display: block;
    }
    .wikiblock-tab {
        overflow-y: auto;
        padding-top: 20px;
    }
    .wikiblock-tab .tab-pane{
        min-height:438px;
        max-height: 580px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .wikiblock-tab .col-md-4{
        margin-bottom: 20px;
    }
    .wikiblock-tab .img-hover{
        position: relative;
    }
    .wikiblock-tab .img-hover:hover p.code{
        opacity:1;
        bottom:0;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .wikiblock-tab .img-hover>img{
        width: 100%;
        height:80px;
        object-fit: cover;
    }
    .wikiblock-tab .img-hover p.code{
        background-color: rgba(0,0,0,.5);
        height: 30px;
        line-height: 30px;
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        bottom: -3px;
        color: #FFF;
        text-align: center;
        opacity:0;
    }
    .wikiblock-tab .text {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #DCDCDC;
        border-top: none;
    }
    .wikiblock-tab .text h4{
        margin: 0;
        line-height: 32px;
    }
    .wikiblock-tab .text h4 a:not(.btn) {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .wikiblock-tab .text h4 .btn{
        padding:4px 25px;
    }
    .wikiblock-tab .text p{
        line-height:33px;
        margin-bottom:0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .wikiblock-tab .text span.glyphicon{
        line-height: 30px;
        right: 25px;
        font-size: 20px;
    }
    .wikiblock-tab .pagination-box{
        text-align: center;
    }
    .wikiblock-tab .pagination{
        margin: 0;
    }
    .wiki-searchbar {
        padding-right: 0;
    }
    .wiki-searchbar > span {
        position: absolute;
        right: 25px;
        top: 10px;
    }
    .wikiblock-mod-item {
        position: relative;
    }
    .wikiblock-mod-id-label {
        position: absolute;
        top: 0;
        left: 15px;
        padding: 5px 15px;
        z-index: 1;
        background: rgba(0,0,0,.5);
        color: white;
        font-weight: 600;
    }
    @media (max-width: 1200px) {
        .modal-lg {
            width: 900px;
        }
        .wikiblock-tab {
            /* max-height: 340px; */
        }
    }
    @media (min-width: 1200px) {
        .modal-lg {
            width: 1170px;
        }
        .modal-lg .tab-pane{
            /* width:840px; */
            margin:0 auto;
        }
        .wikiblock-tab .col-md-4{
            /* width: 280px; */
        }
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" translate="WIKI模块"></h4>
    </div>

    <div class="modal-body wikiblock-modal-body">
        <div class="container-fluid">
            <div class="row">
                <form role="form">
                    <div class="form-group clearfix">
                        <label class="control-label sr-only" translate="搜索模块"></label>
                        <div class="col-xs-4 col-xs-offset-8 col-md-4 col-md-offset-7 wiki-searchbar">
                            <input id="modelSearch" type="text" ng-model="moduleQueryStr" ng-keyup="queryInputKeyup($event)" class="form-control" placeholder="输入搜索内容" ng-model-options="{debounce: 300}">
                            <span ng-click="searchWikiBlock()" class="glyphicon glyphicon-search text-muted"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div role="tabpanel" class="col-md-10 col-md-offset-1 wikitabpanel">

                    <!-- Nav tabs -->
                    <ul class="col-sm-3 col-md-2 sidebar nav nav-sidebar">
                        <li class="wiki-mod-nav-favorite" ng-class="{active: filterNavType=='favorite'}">
                            <a href="javascript:;" ng-click="showFavorite()"><img 
                                class="img-selected" ng-src="{{imgsPath+'icon/wiki_mod_block_nav_favorite_selected.png'}}" alt=""><img 
                                class="img-unselected" ng-src="{{imgsPath+'icon/wiki_mod_block_nav_favorite_unselected.png'}}" alt=""
                            >{{ "关注" | translate }}</a>
                        </li>
                        <li class="wiki-mod-nav-all" ng-class="{active: filterNavType=='all'}">
                            <a href="javascript:;" ng-click="showAll()"><img
                                class="img-selected" ng-src="{{imgsPath+'icon/wiki_mod_block_nav_all_selected.png'}}" alt=""><img 
                                class="img-unselected" ng-src="{{imgsPath+'icon/wiki_mod_block_nav_all_unselected.png'}}" alt=""
                            >{{ "全部" | translate }}</a>
                        </li>
                        <li 
                            ng-repeat="classify in modClassifyList"
                            ng-class="{
                                'has-sub-classifies': classify.children.length,
                                'show-sub-classify-name': subClassifyShowTurnOn[classify.name]
                            }"
                        >
                            <a  class="classify-name"
                                ng-click="showByClassifyName(classify.name)"
                                ng-class="{
                                    active: filterNavType==classify.name
                                }"
                                href="javascript:;"
                            ><img 
                                ng-if="classify.children.length && subClassifyShowTurnOn[classify.name]" 
                                ng-src="{{imgsPath+'icon/wiki_mod_block_nav_classify_open.png'}}" alt=""><img 
                                ng-if="classify.children.length && !subClassifyShowTurnOn[classify.name]" 
                                ng-src="{{imgsPath+'icon/wiki_mod_block_nav_classify_close.png'}}" alt=""
                            >{{classify.name}}</a>
                            <a  class="sub-classify-name"
                                ng-repeat="subClassify in classify.children"
                                ng-class="{
                                    active: filterNavType == (classify.name + '>' + subClassify.name)
                                }"
                                ng-click="showByClassifyName(classify.name, subClassify.name)"
                                href="javascript:;"
                            >{{subClassify.name}}</a>
                        </li>

                        <!--
                            <li class="active">
                                <a href="javascript:;" ng-click="getHot()" translate="热门"></a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="getAll()" translate="排行榜"></a>
                            </li>
                        -->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content wikiblock-tab" id="js-module-container">
                        <div role="tabpanel" class="tab-pane active clearfix" id="wikiBlockListView">
                            <div class="col-md-4 wikiblock-mod-item" ng-repeat="wikiBlock in wikiBlockListFilteredToDisplay">
                                <div class="wikiblock-mod-id-label">#{{wikiBlock._id}}</div>
                                <div class="img-hover">
                                    <img ng-src="{{getWikiBlockLogoUrl(wikiBlock)}}" alt="">
                                    <p class="code">{{wikiBlock.wikiCmdName}}</p>
                                </div>
                                <div class="text">
                                    <h4>
                                        <a ng-click="selectWikiBlock(wikiBlock)">{{wikiBlock.name}}</a>
                                        <a class="btn btn-primary pull-right" ng-click="selectWikiBlock(wikiBlock)" translate="添加"></a>
                                    </h4>
                                    <p class="info">
                                        {{ '热度：' | translate }}{{wikiBlock.useCount}}
                                        <span ng-click="favoriteWikiBlock(wikiBlock._id)" class="pull-right glyphicon  text-danger" ng-class="wikiBlock.myfavorite ? 'glyphicon-star' : 'glyphicon-star-empty'"></span>
                                    </p>
                                    <p title="{{wikiBlock.desc}}">{{wikiBlock.desc || "这里有内容，显示mod说明文字"}}</p>
                                </div>
                            </div>`
                            <div class="empty-box" ng-if="!wikiBlockListFilteredToDisplay.length">
                                <span class="iconfont icon-kongbaiyemian"></span>
                                <p translate="暂无相关内容..."></p>
                            </div>
                        </div>

                        <!-- <div class="pagination-box">
                            <ul uib-pagination ng-change="sitePageChanged()" items-per-page='pageSize' previous-text="previous-text="{{ '上一页' | translate }}""
                                next-text="{{ '下一页' | translate }}" total-items="totalItems" ng-model="currentPage" max-size="5"
                                class="pagination-sm" boundary-link-numbers="true"></ul>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="no()" translate="否"></button>-->
    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="yes()" translate="是"></button>-->
    <!--</div>-->
</div>