<style>
    .wikitabpanel{
        border: 1px solid #DCDCDC;
        padding: 0;
    }
    .wikitabpanel .nav-tabs > li > a {
        border-radius: 0;
    }
    .dropdown-toggle a {
        line-height: 1.42857143;
        display: block;
        padding: 10px 15px;
    }
    .wikiblock-tab {
        max-height: 500px;
        overflow-y: auto;
        padding-top: 20px;
    }
    .wikiblock-tab .tab-pane{
        min-height:438px;
    }
    .wikiblock-tab .col-md-4{
        margin-bottom: 20px;
    }
    .wikiblock-tab .img-hover{
        position: relative;
    }
    .wikiblock-tab .img-hover:hover p.code{
        opacity:1;
        bottom:0;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .wikiblock-tab .img-hover>img{
        width: 100%;
        height:80px;
        object-fit: cover;
    }
    .wikiblock-tab .img-hover p.code{
        background-color: rgba(0,0,0,.5);
        height: 30px;
        line-height: 30px;
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        bottom: -3px;
        color: #FFF;
        text-align: center;
        opacity:0;
    }
    .wikiblock-tab .text {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #DCDCDC;
        border-top: none;
    }
    .wikiblock-tab .text h4{
        margin: 0;
        line-height: 32px;
    }
    .wikiblock-tab .text h4 .btn{
        padding:4px 25px;
    }
    .wikiblock-tab .text p{
        line-height:33px;
        margin-bottom:0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .wikiblock-tab .text span.glyphicon{
        line-height: 30px;
        right: 25px;
        font-size: 20px;
    }
    .wikiblock-tab .pagination-box{
        text-align: center;
    }
    .wikiblock-tab .pagination{
        margin: 0;
    }
    .wiki-searchbar > span {
        position: absolute;
        right: 25px;
        top: 10px;
    }
    @media (max-width: 1200px) {
        .modal-lg {
            width: 900px;
        }
        .wikiblock-tab {
            max-height: 340px;
        }
    }
    @media (min-width: 1200px) {
        .modal-lg {
            width: 1170px;
        }
        .modal-lg .tab-pane{
            width:840px;
            margin:0 auto;
        }
        .wikiblock-tab .col-md-4{
            width: 280px;
        }
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">WIKI模块</h4>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <form role="form">
                    <div class="form-group clearfix">
                        <label class="control-label sr-only">模块名称</label>
                        <div class="col-xs-4 col-xs-offset-4 wiki-searchbar">
                            <input id="modelSearch" type="text" ng-model="moduleName" class="form-control" placeholder="模块名">
                            <span ng-click="getByName()" class="glyphicon glyphicon-search text-muted"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div role="tabpanel" class="col-md-10 col-md-offset-1 wikitabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#wikiBlockListView" ng-click="getHot()" aria-controls="wikiBlockListView" role="tab" data-toggle="tab">热门</a>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Mod分类 <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                                <li><a href="#wikiBlockListView" ng-click="getClassify()" role="tab" data-toggle="tab" aria-controls="wikiBlockListView" aria-expanded="true">全部</a></li>
                                <li ng-repeat="classify in moduleClassifyList">
                                    <a href="#wikiBlockListView" ng-click="getClassify(classify.name)" role="tab" data-toggle="tab" aria-controls="wikiBlockListView" aria-expanded="false">{{classify.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation">
                            <a href="#wikiBlockListView" ng-click="getAll()" aria-controls="wikiBlockListView" role="tab" data-toggle="tab">排行榜</a>
                        </li>
                        <li role="presentation">
                            <a href="#wikiBlockListView" ng-click="getFavorite()" aria-controls="wikiBlockListView" role="tab" data-toggle="tab">关注</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content col-md-12 wikiblock-tab" id="js-module-container">
                        <div role="tabpanel" class="tab-pane active clearfix" id="wikiBlockListView">
                            <div class="col-md-4" ng-repeat="wikiBlock in wikiBlockList">
                                <div class="img-hover">
                                    <img ng-src="{{getWikiBlockLogoUrl(wikiBlock)}}" alt="">
                                    <p class="code">{{wikiBlock.wikiCmdName}}</p>
                                </div>
                                <div class="text">
                                    <h4>
                                        <a ng-click="selectWikiBlock(wikiBlock)">{{wikiBlock.name}}</a>
                                        <a class="btn btn-primary pull-right" ng-click="selectWikiBlock(wikiBlock)">添加</a>
                                    </h4>
                                    <p class="info">
                                        热度：{{wikiBlock.useCount}}
                                        <span ng-click="favoriteWikiBlock(wikiBlock._id)" class="pull-right glyphicon  text-danger" ng-class="labelItem == 'favorite' ? 'glyphicon-star' : 'glyphicon-star-empty'"></span>
                                    </p>
                                    <p title="{{wikiBlock.desc}}">{{wikiBlock.desc || "这里有内容，显示mod说明文字"}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="pagination-box">
                            <ul uib-pagination ng-change="sitePageChanged()" items-per-page='pageSize' previous-text="上一页"
                                next-text="下一页" total-items="totalItems" ng-model="currentPage" max-size="5"
                                class="pagination-sm" boundary-link-numbers="true"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="no()">否</button>-->
    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="yes()">是</button>-->
    <!--</div>-->
</div>