<style>
    .add-certification-modal {
        font-size: 16px;
    }

    .add-certification-modal .modal-body {
        padding: 20px 78px 20px 15px;
    }

    .add-certification-modal .form-horizontal .control-label {
        text-align: right;
    }

    .add-certification-modal .form-group-md {
        margin-bottom: 20px;
    }

    .add-certification-modal .form-group-md .control-label {
        font-size: 16px;
        font-weight: normal;
        padding-top: 10px;
    }

    .add-certification-modal .form-group-md .form-control {
        padding: 10px 11px;
        height: 42px;
        font-size: 16px;
    }

    .add-certification-modal .modal-footer .btn {
        font-size: 16px;
        width: 80px;
        height: 42px;
        margin: 0 0 0 17px;
        border-radius: 4px;
    }

    .add-certification-modal .modal-footer .btn-default {
        color: #666;
    }

    .add-certification-modal .datapicker-starter {
        display: block;
        position: absolute;
        height: 100%;
        left: 15px;
        right: 15px;
        cursor: pointer;
    }

    .add-certification-modal .uib-datepicker-popup.dropdown-menu{
        left: 15px;
        right: 15px;
    }
</style>
<div id="addCertificationModal">
    <div class="modal-header">
        <button type="button" class="close"  ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{(editing ? "修改认证" : "新增认证") | translate}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group form-group-md">
                <label for="inputTitle" class="col-sm-3 control-label">{{'简介' | translate}}：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="addingCertification.title" id="inputTitle">
                </div>
            </div>
            <div class="form-group form-group-md">
                <label for="inputLink" class="col-sm-3 control-label">{{'展示网址' | translate}}：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="addingCertification.link" id="inputLink" placeholder="{{'请输入网址' | translate}}">
                </div>
            </div>
            <div class="form-group form-group-md">
                <label for="inputGetDate" class="col-sm-3 control-label">{{'获得时间' | translate}}：</label>
                <div class="col-sm-9">
                    <span class="datapicker-starter" ng-click="setDatePickVissibility()"></span>
                    <input type="text" class="form-control" 
                        uib-datepicker-popup 
                        is-open="isGetDatePickerShow" 
                        popup-placement="bottom-left" 
                        show-button-bar="false" 
                        ng-model="addingCertification.getDate"
                    >
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="text-danger">{{errMsg}}</span>
        <button type="button" class="btn btn-primary" ng-click="submitaddingCertification()">{{(editing ? "保存" : "添加") | translate}}</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">{{'取消' | translate}}</button>
    </div>
</div>