<div id="addWorkModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{(editing ? "修改作品" : "新增作品") | translate}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group form-group-md">
                <label class="col-sm-3 control-label">{{'作品封面' | translate}}：</label>
                <div class="col-sm-9 upload-zone">
                    <div id="preview" class="preview-zone">
                        <div id="cropper" class="cropper-zone sr-only visible-hidden">
                        </div>
                        <div class="result-img-box" ng-show="addingWork.logoUrl">
                            <img class="result-img" ng-src="{{addingWork.logoUrl}}" alt="">
                        </div>
                        <p id="control-box" class="upload-info" ng-class="{true:'have-img'}[addingWork.logoUrl.length > 0]">
                            <input type="file" name="upload-input" ng-model="addingWork.logoUrl" onchange="angular.element(this).scope().cropperImage(event)">
                            <span class="icon-add">+</span>
                            <span class="info">{{'上传封面' | translate}}</span>
                        </p>
                    </div>
                    <div id="finishCrop" class="btn btn-primary sr-only">{{'确定' | translate}}</div>
                </div>
            </div>
            <div class="form-group form-group-md">
                <label for="inputName" class="col-sm-3 control-label">{{'作品名' | translate}}：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="addingWork.title" id="inputName">
                </div>
            </div>
            <div class="form-group form-group-md">
                <label for="inputLink" class="col-sm-3 control-label">{{'作品链接' | translate}}：</label>
                <div class="col-sm-9">
                    <ui-select ng-model="addingWork.workLink" reset-search-input="false" on-select="urlSelected($item, $model)">
                        <ui-select-match allow-clear="false" placeholder="{{addingWork.workLink}}">{{addingWork.workLink}}</ui-select-match>
                        <ui-select-choices repeat="link in (linkList | filter: $select.search) track by $index" refresh-delay="0" refresh="userInputLink($select)">
                            <span ng-bind="link.url"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group form-group-md">
                <label for="inputDesc" class="col-sm-3 control-label">{{'作品简介' | translate}}：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="addingWork.desc" id="inputDesc">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="text-danger">{{errMsg}}</span>
        <button type="button" class="btn btn-primary" ng-click="submitAddingWork()">{{(editing ? "保存" : "添加") | translate}}</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">{{'取消' | translate}}</button>
    </div>
</div>