
<div class="kp_treeview_container">
	<div ng-repeat="node in node.nodes">
		<div style="display:flex;" ng-click="clickItem(node)" ng-mouseenter="mouseEnterItem(node)" ng-mouseleave="mouseLeaveItem(node)" ng-style="node.$kp_style">
			<div class="kp_treeview_item_left_container" id="{{node.$kp_itemLeftContainerId}}">
			</div>
			<div>
				<i ng-hide="node.$kp_hideIcon" ng-class="node.icon || rootNode.icon" aria-hidden="true"></i>
				<i ng-hide="node.$kp_hideExpandIcon" ng-click="clickExpand(node, $event)" ng-class="node.$kp_expanded ? (node.expandIcon || rootNode.expandIcon) : (node.unexpandIcon || rootNode.unexpandIcon)" aria-hidden="true"></i>
				<span>{{node.text}}</span>
			</div>
			<div class="kp_treeview_item_right_container" style="flex-grow:1" id="{{node.$kp_itemRightContainerId}}">
			</div>
		</div>
		<div ng-show="node.$kp_expanded">
			<div data-treenode="node"></div>
		</div>
	</div>
</div>
