#__WikiPageContentContainer__{
	width: auto;
	padding:0;
}
body{
	font-family: "微软雅黑";
	padding-top: 52px;
}
h1{
	font-size: 48px;
	font-weight: bold;
}
h2{
	font-size: 24px;
	font-weight: bold;
}
h3{
	font-size: 18px;
	font-weight: bold;
}
h4{
	font-size: 16px;
	font-weight: bold;
}
header{
	box-shadow: 0 2px 5px rgba(44,62,80,.35);
}
footer{
	background-color: #FAFAFA;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
footer a{
	margin: 0 25px;
	padding: 0 5px 5px;
	color: #3977ad;
}
footer a:focus,footer a:hover{
	text-decoration: none;
	border-bottom: 2px solid #3977AD;
}
.navbar-default {
	background-color: #FFF;
	border-color: #FFF;
	margin-bottom: 0;
}
a{
	color: #666;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}
h4 a.title{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
h4 a.title:focus,h4 a.title:hover{
	color: #3977ad;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,a:focus,a:hover{
	color: #3977ad;
	text-decoration: none;
}
.btn-primary{
	background-color: #3977ad;
	border: 1px solid #3977ad;
	color: #FFF;
}
.btn-primary:active,.navbar-default .navbar-nav a.btn-primary:active{
	background-color: #2F6391;
	border: 1px solid #2F6391;
	color: #FFF;
}
.btn-primary:hover,.navbar-default .navbar-nav a.btn-primary:hover{
	background-color: #4187C2;
	border: 1px solid #4187C2;
	color: #FFF;
}
.btn-primary:focus,.navbar-default .navbar-nav a.btn-primary:focus{
	background-color: #2F6391;
	border: 1px solid #2F6391;
	color: #FFF;
}
.navbar-default .navbar-nav a.btn-primary{
	color: #FFF;
	margin-top: 9px;
	padding: 6px 12px;
	border-radius: 2px;
}
a.text-muted{
	color: #666;
	font-size: 14px;
	font-weight: lighter;
}
.navbar-default .form-control{
	margin-top: 10px;
	width: 200px;
	height: 30px;
	background-color: #FAFAFA;
}
.navbar-default .form-control + span{
	position: absolute;
	right: 10px;
	top: 18px;
}
.navbar-default .dropdown-menu>li>a:focus,.navbar-default .dropdown-menu>li>a:hover{
	color: #3977AD;
	background-color: #DDD;
}
.form-control{
	height: 40px;
}
.row{
	padding: 30px 0;
}
.row img{
	width: 100%;
}
.info{
	font-size: 12px;
	color: #666;
}
.visible-hidden{
	visibility: hidden;
}

.hover-slide:hover{
	transform: translate3d(0,-3px,0);
	transition: all .2s linear;
}
