@import "../../js/lib/highlight/default.css";
@import "../../js/lib/codemirror/lib/codemirror.css";
@import "../../js/lib/codemirror/addon/dialog/dialog.css";
@import "../../js/lib/codemirror/addon/search/matchesonscrollbar.css";
@import "../../js/lib/codemirror/addon/display/fullscreen.css";
@import "../../js/lib/codemirror/addon/fold/foldgutter.css";
@import "../../js/lib/codemirror/addon/lint/lint.css";
@import "../../js/lib/fontawesome/css/font-awesome.min.css";

html,
body,
.full-height {
    height: auto;
}

.emoji {
    height: 1.2em;
}
.demo-options {
    margin-bottom: 30px;
}
.opt__strict .not-strict {
    opacity: 0.3;
}
.checkbox {
    margin-right: 10px;
}
.source {
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    padding: 2px;
}
.result-html {
    overflow: visible;
    padding: 19px 0;
}
.result-src,
.result-debug {
    display: none;
}
.result-src-content,
.result-debug-content {
    white-space: pre;
}
.result-as-html .result-html {
    display: block;
}
.result-as-html .result-src,
.result-as-html .result-debug {
    display: none;
}
.result-as-src .result-src {
    display: block;
    border-radius: 0;
}
.result-as-src .result-html,
.result-as-src .result-debug {
    display: none;
}
.result-as-debug .result-debug {
    display: block;
}
.result-as-debug .result-html,
.result-as-debug .result-src {
    display: none;
}
.demo-control {
    position: absolute;
    right: 5px;
    top: -17px;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    /*background-color: #ddd;*/
}
.demo-control a {
    padding: 5px 20px;
}

.hljs {
    padding: 9.5px;
}
.hljs code {
    white-space: pre;
}
.footnotes {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.footnotes-list {
    padding-left: 2em;
}
.warning {
    background-color: #ff8;
    padding: 20px;
    border-radius: 6px;
}
.gh-ribbon {
    display: block;
    position: absolute;
    right: -60px;
    top: 44px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 230px;
    z-index: 10000;
    white-space: nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #686868;
    box-shadow: 0 0 2px rgba(102,102,102,0.4);
    padding: 1px 0;
}
.gh-ribbon a {
    text-decoration: none !important;
    border: 1px solid #ccc;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    outline: medium none;
    padding: 4px 50px 2px;
    text-align: center;
}
.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.btn-toolbar{
    margin: 0;
    padding: 5px 60px 15px;
}

.nopadding{
    padding: 0;
}

.nomargin{
    margin:0;
}

.noborder{
    border: none;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.CodeMirror {
    border: 1px solid #eee;
    font-size: 14px;
    height: auto;
}

.container{
    /*width: auto;*/
}

#wikimain{
    width: auto;
}

.list-group-item {
    padding: 3px 8px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.well{
    margin-bottom: auto;
}

.CodeMirrorFold {
    background-color: #ffe193;
}

.wiki-toolbar{
    padding:0;
}
.wiki-toolbar .btn-toolbar:nth-child(2){
    padding-bottom: 0;
    background-color: #FFF;
}
.wiki-toolbar .btn-group{
    margin-left: 10px;
    margin-top: 10px;
}
.wiki-toolbar .btn-group:first-child{
    margin-left: 0;
}
.wiki-toolbar .btn-default{
    border: 1px solid #DCDCDC;
}
.wiki-toolbar .btn-link{
    padding:8px 12px;
}
.wiki-toolbar .wiki-btn{
    padding: 7px 25px;
}
.btn-toolbar .btn-default.active{
    background-color: #3977Ad;
    color: #FFF;
    box-shadow: none;
}

.CodeMirror-wrap{
    margin-right: 9px;
}
.border{
    width: 10px;
    height: 100%;
    background-color: #FFF;
    z-index: 6;
    position: absolute;
    right: 0;
    top: 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;

    cursor: col-resize;
}
.treeview .badge{
    background-color: transparent;
    padding: 0;
    font-size: 15px;
    min-width: 0;
    line-height:20px;
}
.treeview .badge .close-icon{
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 18px;
}
.treeview .list-group-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*height:38px;*/
    /*line-height: 30px;*/
}
.treeview li:not(.node-selected) .badge{
    display: none;
}
.treeview .list-group-item:hover .badge{
    display: inline-block;
}
.treeview .list-group-item .badge>img.show-parent{
    width: 16px;
    height: auto;
    background-color: #E6E6E6;
    width: 24px;
    position: absolute;
    right: 0;
    margin: 0;
    top: 1px;
}
.treeview .list-group-item .badge>img.show-parent:nth-child(1){
    right: 0;
}
.treeview .list-group-item .badge>img.show-parent:nth-child(2){
    right: 24px;
}
.treeview .list-group-item .badge>img.show-parent:nth-child(3){
    right: 48px;
}
.treeview img.show-parent{
    width: 16px;
    height: auto;
    margin-left: 5px;
    margin-bottom: 1px;
}
.treeview .badge > .show-empty-node{
    position: absolute;
    background-color: #3977ad;
    z-index: 0;
}
.treeview .badge > .show-empty-node:nth-child(1){
    right: 0;
    top: 0;
    padding: 5px 4px;
    font-size: 16px;
}
.treeview .badge > .show-empty-node:nth-child(2){
    right: 24px;
    top: 0;
    padding: 5px 4px;
    font-size: 16px;
}
.treeview .list-group-item:hover .badge>.show-empty-node{
    background-color: #E6E6E6;
}
.treeview .node-selected:hover .badge>.show-empty-node{
    background-color: #3977AD;
}
.treeview .icon.fa-chevron-down{
    color: #333;
}
.treeview .icon.fa-chevron-right{
    color: #999;
}
.treeview .fa-edit{
    position: relative;
}
.treeview .fa-edit::after{
    content: "*";
    position: absolute;
    left: -19px;
    font-size: 23px;
    top: 0;
    color: #FE3266;
}
/*.treeview .node-parent .show-empty-node{*/
    /*display: none;*/
/*}*/
/*.treeview .node-empty .show-parent{*/
    /*display: none;*/
/*}*/
select.resize-view {
    width: auto;
    height: 36px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toolbar-avatar {
}
.toolbar-avatar img {
    width: 46px;
    height: 46px;
    border: 2px transparent solid;
    position: relative;
    margin-top: -5px;
    border-radius: 50%;
}
.toolbar-avatar img:hover {
    border: 2px #3977ad solid;
    box-shadow: 0 0 2px #2c3e50;
}

.toolbar-brand{
    padding:6px 12px;
    background-color: #FFF;
    border: 1px solid #DCDCDC;
    display: block;
}
.toolbar-brand img.show-md{
    width:114px;
}
.toolbar-brand img.show-sm{
    width: 24px;
    box-shadow: 0 0 10px rgba(57, 119, 173, .35);
}
.toolbar-brand .caret{
    position: absolute;
    border-top: 6px dashed #3977ad;
    right: 3px;
    bottom: 10px;
}
.treeview-container{
    max-height: 100%;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    left:0;
    z-index: 1;
}
.code-view{
    padding-left: 285px;
    padding-right: 0;
}
.code-view.nofile{
    padding-left: 0;
}
.state-change .active img:first-child{
    display: none;
}
.state-change .btn-default:not(.active) img:last-child{
    display: none;
}
.state-change .toolbar-new-site{
    display: none;
}
.state-change .toolbar-new-site.active{
    display: inline-block;
    background-color: transparent;
    color: #333;
}
.toolbar-new-site.active{
    margin-right: 202px;
}

#srcview{
    padding-right: 0;
    padding-left:0;
}
#editableTree .list-group-item .badge>img.setting-icon{
    display: none;
}
#editableTree .list-group-item:hover .badge>img.show-parent:nth-child(2){
    right:0;
}
#editableTree .list-group-item:hover .badge>img.show-parent:nth-child(3){
    right:24px;
}
#readableTree .list-group-item .badge > img.show-parent{
    display: none;
}
#readableTree .badge > .show-empty-node{
    display: none;
}

.opened,.joined-treeview, .temp-treeview{
    color: #3977AD;
}
.opened .list-group, .joined-treeview .list-group, .temp-treeview .list-group{
    margin-bottom: 0;
}
.opened .list-group-item, .joined-treeview .list-group-item, .temp-treeview .list-group-item{
    border: none;
}
.opened .list-group-item:not(.node-selected):hover, .joined-treeview .list-group-item:not(.node-selected):hover, .temp-treeview .list-group-item:not(.node-selected):hover{
    background-color: #E6E6E6;
}
.opened .node-selected, .joined-treeview .node-selected, .temp-treeview .node-selected{
    background-color: #3977AD;
    color: #FFF;
}
.opened .list-group-item:first-child .badge{
    display: inline-block;
}
.opened .list-group-item:first-child .badge > img.show-parent{
    background-color: transparent;
}

.bg-title h1{
    position: relative;
    color: #FFF;
    height: 540px;
    padding: 440px 0 0 50px;
    margin: 0;
    /*background-color: rgba(57, 119, 173, .5);*/
    background-color: rgba(0,0,0,.6);
}
.bg-title h1 > img{
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    width:100%;
    height:100%;
    object-fit:cover;
}

.wikiEditor .mod-container{
    /* border: 2px dashed transparent; */
    position: relative;
}
.wikiEditor .mod-container.active{
    position: relative;
    border: 2px dashed #69B9FF;
}
.wikiEditor .mod-container.active .fake-icon{
    display: inline-block;
}
.wikiEditor .fake-icon{
    display: none;
    width: 38px;
    height: 38px;
    background-color: #7FC3FF;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    font-size: 30px;
    position: absolute;
    left: 271px;
    z-index: 11;
    cursor: pointer;
}
.wikiEditor .fake-icon:hover{
    transform: scale(1.211);
}
.wikiEditor .fake-icon.add-before{
    top: -19px;
    bottom: auto;
}
.wikiEditor .fake-icon.add-after{
    top: auto;
    bottom: -19px;
}

.tpl-header-container{
    font-size: 14px;
    background-color: #F5F5F5;
    color: #999;
    padding: 3px 25px;
}

.tpl-header-container .iconfont{
    margin-left: 10px;
    vertical-align: middle;
    color: #3977AD;
    cursor: pointer;
    font-weight: bold;
}

.tpl-header-container .pull-right{
    cursor: pointer;
}

.tpl-header-container .pull-right:hover{
    color: #3977AD;
}

.module-editor-container {
    padding: 0;
}

.editingLine{
    border-right: 4px solid #FFAC36;
}
p.file-large-info{
    padding: 0 35px;
    font-size: 16px;
    line-height: 36px;
}
p.file-large-info > .filename{
    font-weight: bold;
    padding: 5px;
}

@media (max-width: 768px) {
    .bg-title h1{
        height: 340px;
        padding: 260px 0 0 30px;
    }
}

@media(max-width: 992px){
    .show-sm{
        display: inline-block;
    }
    .show-md{
        display: none;
    }
    .wiki-toolbar .btn-link{
        width: 155px;
    }
    .btn-group-sm>.btn, .btn-sm{
        padding:3px;
    }
    .btn-toolbar{
        padding:5px 10px 10px;
    }
    .toolbar-brand img.show-sm {
        width: 32px;
    }
    .toolbar-brand{
        padding:0;
        margin-right: 10px;
    }
    .wiki-toolbar .wiki-btn {
        padding: 5px 7px;
    }
    .wiki-toolbar .btn-group:nth-child(3){
        margin-right: 10px;
    }
    .wiki-toolbar .btn-link{
        width: 165px;
        padding:6px 12px;
    }
    .toolbar-new-site.active{
        margin-right: 0;
    }
    .code-view{
        padding-left: 155px;
    }
    .treeview-container{
        width: 155px;
    }
    select.resize-view{
        height:32px;
    }

    .wiki-toolbar{
        max-width:100%;
        overflow-x: auto;
    }
    .btn-toolbar{
        min-width: 992px;
    }
    .wiki-toolbar .btn-group{
        margin-left: 0;
    }
    .wiki-toolbar .wiki-btn {
        padding: 5px 7px;
    }
    .code-view.col-xs-12{
        margin: 0;
        padding: 0 15px;
    }
    .code-view > .col-xs-6{
        width: 100%;
        padding: 0;
    }
    .treeview-container{
        z-index: 5;
        width: 100%;
        min-height: 100%;
        background-color: #FFF;
    }
    .CodeMirror-gutters,.CodeMirror-gutter-wrapper,.border{
        display: none;
    }
    #srcview{
        display: none;
        padding-right: 0;
    }
    .result-html{
        width: 100% !important;
    }
    .result-html .wikiEditor{
        transform: scale(1) !important;
    }
}
@media(min-width: 992px) {
    .show-sm{
        display: inline-block;
    }
    .show-md{
        display: none;
    }
    .btn-toolbar{
        padding:5px 10px 10px;
    }
    .btn-group-sm>.btn, .btn-sm{
        padding:3px;
    }
    .wiki-toolbar .wiki-btn {
        padding: 5px 7px;
    }
    .toolbar-brand img.show-sm {
        width: 32px;
    }
    .toolbar-brand{
        padding:0;
        margin-right: 10px;
    }
    .wiki-toolbar .btn-group{
        margin-left: 0;
    }
    .wiki-toolbar .state-change:first-child{
        margin-right: 10px;
    }
    .wiki-toolbar .btn-group:nth-child(3){
        margin-right: 10px;
    }
    .wiki-toolbar .btn-link{
        width: 165px;
        padding:6px 12px;
    }
    .toolbar-new-site.active{
        margin-right: 0px;
    }
    .code-view{
        padding-left: 155px;
    }
    .treeview-container{
        width: 155px;
    }
    select.resize-view{
        height:32px;
    }
}
@media(min-width: 1024px) {
    .wiki-toolbar .btn-group{
        margin-left: 10px;
    }
    .wiki-toolbar .state-change:first-child{
        margin-right: 0;
    }
    .wiki-toolbar .btn-group:nth-child(3) {
        margin-right: 0px;
    }
    .toolbar-brand{
        margin-right: 0;
    }
    .toolbar-new-site.active{
        margin-right: 32px;
    }
    .code-view{
        padding-left: 195px;
        padding-right: 0;
    }
    .treeview-container{
        width: 195px;
    }
    .wiki-toolbar .btn-link{
        width: 212px;
    }
}
@media(min-width: 1280px){
    .show-sm{
        display: none;
    }
    .show-md{
        display: inline-block;
    }

    .btn-group-sm>.btn, .btn-sm{
        padding:4px;
    }
    .wiki-toolbar .wiki-btn{
        padding: 6px 7px;
    }
    .wiki-toolbar .btn-link {
        padding: 7px 12px;
        width:315px;
    }
    select.resize-view{
        height: 34px;
    }
    .btn-toolbar{
        padding:5px 15px 10px;
    }
    .toolbar-new-site.active{
        margin-right: 63px;
    }
    .code-view{
        padding-left: 235px;
    }
    .treeview-container{
        width: 235px;
    }
    .toolbar-brand {
        padding: 6px 12px;
        background-color: #FFF;
        border: 1px solid #DCDCDC;
    }
}
@media(min-width: 1400px){
    .btn-group-sm>.btn, .btn-sm{
        padding:4px 5px;
    }
    .wiki-toolbar .wiki-btn{
         padding: 6px 16px;
     }
    .wiki-toolbar .btn-link{
        width:355px;
    }
    .toolbar-new-site.active{
        margin-right: 79px;
    }
    .code-view{
        padding-left: 255px;
        padding-right:0;
    }
    .treeview-container{
        width: 255px;
    }
}
@media(min-width: 1600px){
    .btn-group-sm>.btn, .btn-sm{
        padding:5px 9px;
    }
    .wiki-toolbar .wiki-btn{
        padding: 7px 19px;
    }
    .btn-toolbar{
        padding:5px 30px 10px;
    }
    .toolbar-brand {
        padding: 7px 12px;
    }
    select.resize-view {
        height: 36px;
    }
    .wiki-toolbar .btn-link{
        width:370px;
    }
    .wiki-toolbar .btn-link {
        padding: 8px 12px;
    }
    .toolbar-new-site.active{
        margin-right: 68px;
    }
    .code-view{
        padding-left: 275px;
    }
    .treeview-container{
        width: 275px;
    }
}