body{
	background-color: #F2F2F2;
}
.login-form{
	background-color: #FAFAFA;
	box-shadow: 0 4px 30px 0 rgba(19,61,112,.35);
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 40px 0 60px;
}
.login-form form{
	width:68%;
	margin:0 auto;
}
.login-form .btn-primary{
	margin: 20px 0;
}
.otherLogin {
	text-align: center;
}
.otherLogin .title{
	z-index: 1;
	position: relative;
	margin: 40px 0;
}
.otherLogin img{
	margin-bottom: 5px;
}
.otherLogin .title:before{
	content: "";
	width: 25%;
	height: 1px;
	background-color: #DDD;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: -1;
}
.otherLogin .title:after{
	content: "";
	width: 25%;
	height: 1px;
	background-color: #DDD;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -1;
}
a.text-primary{
	color: #3977AD;
	border-bottom: 1px solid #3977AD;
}