@import "../../js/lib/bootstrap/css/bootstrap.min.css";
@import "../../js/lib/angular-ui-select/select.min.css";
@import "../../js/lib/angular-toggle-switch/style/default/angular-toggle-switch.css";
@import "editor.css";
@import "markdownit.css";

a:hover {
    cursor: pointer;
}
.modal-dialog.modal-xxl {
    width:90%;
}

#__WikiPageContentContainer__{
    width: auto;
    padding:0;
}
body{
    font-family: "微软雅黑";
    padding-top: 52px;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}