@import "../../js/lib/bootstrap/css/bootstrap.min.css";
@import "../../js/lib/angular-ui-select/select.min.css";
@import "../../js/lib/angular-toggle-switch/style/default/angular-toggle-switch.css";
@import "editor.css";
@import "markdownit.css";

a:hover {
    cursor: pointer;
}
.modal-dialog.modal-xxl {
    width:90%;
}