
table {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;

    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    border: 1px solid #dddddd;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td, th {
    display: table-cell;
    border: 1px solid #dddddd;
}