
<style>
.kp_preview_row {
	border: 2px solid red;
}

.kp_preview_col {
	border: 2px solid red;
	margin: 2px;
}

.full-height {
	height:100%;
}

.kp_block {
	display:inline-block;
	margin:0px;
	padding:0px;
}

.kp_box {
	display:flex;
}
</style>

<div class="full-height">
	<div ng-if="mode != 'preview'">
		templateContent
		<!--<div ng-repeat="row in params.rows track by $index" ng-class="row.class" ng-style='row.style'>-->
			<!--<div ng-repeat="col in row.cols track by $index" ng-class="col.class" ng-style='col.style'>-->
				<!--<wikipage ng-if="!col.is_main_content" content="col.content" contentUrl="col.contentUrl"></wikipage>-->
				<!--<div ng-if="col.is_main_content" class="kp_wiki_template_main_content">-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<div ng-if="mode == 'preview'" class="full-height">
		<div ng-if="params.design == 'style1'" class="full-height">
			<div class="full-height" style="background-color:gray;"></div>
		</div>
		<div ng-if="params.design == 'style2'" class="full-height">
			<div style="height:100%; margin:0 10%; background-color:gray;"></div>
		</div>
		<div ng-if="params.design == 'style3'" class="full-height kp_box">
			<div class="full-height" style="width:20%; background-color:#f2f2f2;"></div>
			<div class="full-height" style="width:80%; background-color:gray;"></div>
		</div>
		<div ng-if="params.design == 'style4'" class="full-height kp_box">
			<div class="full-height" style="width:80%; background-color:gray;"></div>
			<div class="full-height" style="width:20%; background-color:#f2f2f2;"></div>
		</div>
	</div>
</div>
