<style>
    .blog-main{
        padding-bottom:40px;
        background-color: #F5F5F5;
    }
    .blog-main .header{
        position: relative;
        overflow: hidden;
        padding:0;
    }
    .blog-main .header .btn{
        position: absolute;
        right: 10%;
        top: 20px;
        border-radius: 10px;
        padding: 11px 32px;
    }
    .blog-main .blog-list{
        padding:0;
    }
    .blog-main .blog-item{
        box-shadow: 0 0 10px 0 rgba(0,92,133,.35);
        margin-top: 40px;
        padding:40px;
        background-color: #FFF;
    }
    .blog-main .blog-item h2{
        margin-top: 0;
    }
    .blog-main .blog-item .item-header{
        display: flex;
        align-items:center;
        margin-bottom: 20px;
    }
    .blog-main .blog-item .title{
        flex: 1;
    }
    .blog-main .blog-item .icon{
        padding-left: 40px;
    }
    .blog-main .blog-item .icon p{
        margin-bottom: 0;
        margin-top: 5px;
    }
    .blog-main .blog-item .item-footer {
        padding-top: 20px;
        border-top: 1px solid #DCDCDC;
        margin-top: 10px;
    }
    @media(max-width:768px){
        .blog-main{
            padding-bottom: 15px;
        }
        .blog-main .header > img{
            width: 100%;
            height: 42px;
            object-fit: cover;
        }
        .blog-main .header .btn{
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 4px;
            top: 5px;
        }
        .blog-main .blog-item{
            margin-top: 15px;
            padding: 15px;
        }
        .blog-main .blog-item .item-header p{
            margin-bottom: 0;
        }
        .blog-main .blog-item .icon{
            padding-left: 15px;
        }
        .blog-main .blog-item .item-footer{
            padding-top: 5px;
        }
    }
</style>
<style>
    .blog-main1{
        background-color: #D9E2E6;
    }
    .blog-main1 .main-content{
        max-width: 1000px;
        margin: 0 auto;
    }
    .blog-main1 .col-sm-4{
        padding:0;
    }
    .blog-main1 .col-sm-8{
        padding-left: 0;
    }
    .blog-main1 .blog-item {
        padding: 45px 65px;
        background-color: #FFF;
        margin: 20px 0;
    }
    .blog-main1 .blog-item p{
        font-size: 14px;
        color: #6E6E6E;
    }
    .blog-main1 .contacts{
        background-color: #FFF;
        padding: 40px 20px;
        margin:20px 0;
    }
    .blog-main1 .contacts > div{
        position: relative;
        height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #DCDCDC;
        padding-left: 40px;
        color: #6E6E6E;
        font-size: 14px;
    }
    .blog-main1 .contacts > div > img{
        position: absolute;
        left: 0;
        top: 13px;
    }
    .blog-main1 .introduces{
        background-color: #FFF;
        padding:40px 20px;
        min-height:345px;
    }
    .blog-main1 .introduces h1{
        color: #6E6E6E;
        font-size: 28px;
        margin: 0 0 30px 0;
    }
    .blog-main1 .introduces h1 > .info{
        font-size: 16px;
    }
    .blog-main1 .introduces > div{
        padding-left: 40px;
        position: relative;
        color: #6E6E6E;
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 25px;
    }
    .blog-main1 .introduces > div > img{
        position: absolute;
        left: 0;
        top: 0;
    }
    @media (max-width: 768px) {
        .blog-main1 .col-sm-8{
            padding-left: 15px;
        }
        .blog-main1 .blog-item{
            padding:15px;
        }
    }
</style>
<div ng-controller="blogMainController">
    <div class="blog-main clearfix template-theme" ng-class="themeClass" ng-show="modParams.moduleKind=='blogMain' || !modParams.moduleKind">
        <div class="header col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
            <img ng-src="{{imgsPath+'blog_writingBtnBg.jpg'}}" alt="" ng-show="!modParams.theme">
            <img ng-src="{{imgsPath+'blog_writingBtnBg_'+modParams.theme+'.jpg'}}" alt="" ng-show="modParams.theme">
            <div class="btn btn-lg theme-font-color theme-btn-outline">写日志</div>
        </div>
        <div class="blog-list col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
            <div class="blog-item">
                <div class="item-header">
                    <div class="title">
                        <h2>我的第一篇博客</h2>
                        <p class="info">2017年3月22日 16:51</p>
                    </div>
                    <div class="icon">
                        <img ng-src="{{imgsPath+'icon/blog_collection.png'}}" alt="关注数" ng-show="!modParams.theme">
                        <img ng-src="{{imgsPath+'icon/blog_collection_'+modParams.theme+'.png'}}" alt="关注数" ng-show="modParams.theme">
                        <p>263</p>
                    </div>
                    <div class="icon">
                        <img ng-src="{{imgsPath+'icon/blog_comment.png'}}" alt="评论数" ng-show="!modParams.theme">
                        <img ng-src="{{imgsPath+'icon/blog_comment_'+modParams.theme+'.png'}}" alt="评论数" ng-show="modParams.theme">
                        <p>263</p>
                    </div>
                    <div class="icon">
                        <img ng-src="{{imgsPath+'icon/blog_goodicon.png'}}" alt="点赞数" ng-show="!modParams.theme">
                        <img ng-src="{{imgsPath+'icon/blog_goodicon_'+modParams.theme+'.png'}}" alt="点赞数" ng-show="modParams.theme">
                        <p>263</p>
                    </div>
                </div>
                <div class="item-content">
                    我是只化身孤岛的蓝鲸,有着最巨大的身影鱼虾在身侧穿行也有飞鸟在背上停,我路过太多太美的奇景如同伊甸般的仙境,而大海太平太静多少故事无人我爱地中海的天晴,爱西伯利亚的雪景,爱万丈高空的鹰,
                    爱肚皮下的藻荇我在尽心尽力地多情,直到那一天,你的衣衫破旧而歌声却温柔陪我漫无目的四处漂流，我的背脊如荒丘而你却微笑摆首把它当成整个宇宙,
                    你与太阳挥手也同海鸥问候陪我爱天爱地四处风流只是遗憾你终究无法躺在我胸口欣赏夜辽阔的不朽，把星子放入眸...
                </div>
                <div class="item-footer clearfix">
                    <a class="pull-right">{{ "查看更多" | translate }}》</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="modParams.moduleKind=='blogMain1'" class="blog-main1">
        <div class="main-content clearfix">
            <div class="col-sm-8">
                <div class="blog-item" ng-repeat="blog in modParams.blogs">
                    <p ng-repeat="content in blog.contents">{{content.content}}</p>
                    <a href="{{blog.link}}">{{modParams.moreText}}</a>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <div class="contacts">
                    <div ng-show="modParams.location">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503908710920.png" alt="">
                        <span>{{modParams.location}}</span>
                    </div>
                    <div ng-show="modParams.phone">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503908715096.png" alt="">
                        <span>{{modParams.phone}}</span>
                    </div>
                    <div ng-show="modParams.email">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503904911795.png" alt="">
                        <span>{{modParams.email}}</span>
                    </div>
                </div>
                <div class="introduces">
                    <h1>简介 <span class="info">INTRODUCTION</span></h1>
                    <div ng-show="modParams.usermessage">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503908719028.png" alt="">
                        <span>{{modParams.usermessage}}</span>
                    </div>
                    <div ng-show="modParams.education">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503908727511.png" alt="">
                        <span>{{modParams.education}}</span>
                    </div>
                    <div ng-show="modParams.reward">
                        <img src="http://git.keepwork.com/gitlab_rls_kaitlyn/keepworkdatasource/raw/master/kaitlyn_images/img_1503908723676.png" alt="">
                        <span>{{modParams.reward}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>