<style>
    .leftImg {
        background-color: #1E94EC;
        color: #FFF;
    }
    .leftImg h1{
        font-size: 54px;
        font-weight: normal;
        margin: 0;
    }
    .leftImg img{
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .leftImg a{
        color: #FFF;
    }
    .leftImg > .container{
        display: flex;
        align-items: stretch;
        padding: 100px 90px 60px;
    }
    .leftImg p.detail{
        font-size: 16px;
        margin-top: 30px;
    }
    .leftImg .text{
        position: relative;
    }
    .leftImg p.info{
        font-size: 16px;
        margin-top: 60px;
    }
    .leftImg .info > a{
        margin-left: 40px;
    }

    @media (max-width: 1200px) {
        .leftImg h1{
            font-size: 40px;
        }
        .leftImg p.info{
            margin-top: 30px;
        }
    }
    @media (max-width: 992px) {
        .leftImg > .container{
            padding:60px 15px 30px;
        }
        .leftImg h1{
            font-size: 36px;
        }
    }
    @media (max-width: 768px) {
        .leftImg > .container{
            display: block;
            padding: 15px;
        }
        .leftImg h1{
            font-size: 32px;
        }
        .leftImg .text{
            padding-bottom: 25px;
        }
        .leftImg p.detail{
            font-size: 14px;
            margin-top: 15px;
        }
        .leftImg p.info{
            font-size: 14px;
        }
    }
</style>
<style>
    .left-right .container{
        padding: 50px 90px;
    }
    .left-right .left-col{
        text-align: center;
    }
    .left-right h1{
        font-size: 30px;
        color: #666;
        margin: 0;
    }
    .left-right h2{
        font-size: 24px;
        color: #1E94EC;
    }
    .left-right h2.info{
        font-size: 12px;
    }
    .left-right .info{
        font-size: 14px;
        color: #828282;
    }
    .left-right .left-col .btn{
        background-color: #2294EA;
        border-radius: 18px;
        color: #FFF;
        padding: 6px 36px;
        font-size: 16px;
        margin-top: 25px;
    }
    .left-right .left-col .btn > img{
        width: 15px;
        height: auto;
        margin-right: 2px;
    }
    .left-right .right-col{
        padding-left: 0;
    }
    .left-right .right-col p{
        font-size: 14px;
        color: #666;
        margin-bottom: 3px;
    }
    .left-right .otherway{
        margin: 20px 0;
    }
    @media (max-width: 768px) {
        .left-right h1{
            font-size: 20px;
            margin: 15px 0;
        }
        .left-right .container{
            padding: 15px;
        }
        .left-right .left-col .btn{
            margin-top: 0;
        }
        .left-right .otherway{
            margin: 10px 0;
        }
    }
</style>
<style>
    .left-right1{
        background-color: #E8F5FF;
        text-align: center;
    }
    .left-right1 .container{
        padding: 40px 90px;
    }
    .left-right1 .left-col{
        padding-right: 0;
    }
    .left-right1 h1{
        font-size: 24px;
        color: #1E94EC;
        margin:15px 0;
        font-weight: normal;
    }
    .left-right1 h2{
        color: #1E94EC;
        font-weight: normal;
        margin: 15px 0;
        font-size: 16px;
        padding-bottom: 3px;
    }
    .left-right1 h2 > a{
        color: #1E94EC;
        border-bottom: 1px solid;
    }
    .left-right1 p{
        color: #666;
        line-height: 25px;
        font-size: 14px;
    }
    @media (max-width: 768px) {
        .left-right1 .container{
            padding: 15px;
        }
    }
</style>
<div ng-controller="layoutsController">
    <div class="leftImg" ng-show="!modParams.moduleKind || modParams.moduleKind == 'leftImg'">
        <div class="container">
            <div class="col-sm-6 col-xs-12">
                <img ng-src="{{modParams.img}}" alt="" class="pull-right">
            </div>
            <div class="col-sm-6 col-xs-12 text">
                <h1>{{modParams.title}}</h1>
                <p class="detail">{{modParams.detail}}</p>
                <a ng-show="modParams.link" href="{{modParams.link}}" class="pull-right">{{modParams.moreText || "查看更多>>"}}</a>
                <p class="info">{{modParams.info}}
                    <a href="{{link.url}}" ng-repeat="link in modParams.infoLinks">{{link.text}}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="left-right" ng-show="modParams.moduleKind == 'PCDownload'">
        <div class="container">
            <div class="col-sm-4 left-col">
                <img ng-src="{{modParams.imgUrl}}" alt="">
                <h2>{{modParams.title}} <span class="info">{{modParams.titleInfo}}</span></h2>
                <p class="info">{{modParams.info}}</p>
                <div class="btn">
                    <img ng-src="{{modParams.iconImg}}" alt="">
                    {{modParams.btnText}}
                </div>
            </div>
            <div class="col-sm-8 right-col">
                <h1>{{modParams.rightTitle}}</h1>
                <div class="otherway" ng-repeat="item in modParams.details">
                    <p>{{item.text}}</p>
                    <p>{{item.info}} <a href="{{item.link}}">{{item.linkText}}</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="left-right1" ng-show="modParams.moduleKind == 'AndroidIOS'">
        <div class="container">
            <div class="col-sm-4 col-xs-12 left-col">
                <img ng-src="{{modParams.device1.img}}" alt="">
                <h1>{{modParams.device1.title}}</h1>
                <h2 ng-show="modParams.device1.link"><a href="{{modParams.device1.link}}">{{modParams.device1.info}}</a></h2>
                <h2 ng-show="!modParams.device1.link">{{modParams.device1.info}}</h2>
                <p>{{modParams.device1.detail}}</p>
            </div>
            <div class="col-sm-4 col-sm-offset-4 col-xs-12 right-col">
                <img ng-src="{{modParams.device2.img}}" alt="">
                <h1>{{modParams.device2.title}}</h1>
                <h2 ng-show="modParams.device2.link"><a href="{{modParams.device2.link}}">{{modParams.device2.info}}</a></h2>
                <h2 ng-show="!modParams.device2.link">{{modParams.device2.info}}</h2>
                <p>{{modParams.device2.detail}}</p>
            </div>
        </div>
    </div>
</div>