<style>
    .org-team{
        background-color: #F9F9F9;
        margin-bottom: 80px;
    }
    .org-team a{
        color: inherit;
    }
    .org-team a:hover{
        color: #3977AD;
    }
    .org-team h1{
        font-size: 36px;
        font-weight: normal;
        margin: 60px 0 0;
        color: #333;
        padding-bottom: 25px;
        position: relative;
    }
    .org-team h1:before{
        content: '';
        display: inline-block;
        width: 2em;
        height:1px;
        background-color: #333;
        position: absolute;
        left:0;
        bottom:0;
    }
    .org-team .team{
        position: relative;
    }
    .org-team .navigation{
        text-align: right;
        position: absolute;
        top: -15px;
        right: 0;
    }
    .org-team .navigation a{
        padding:0 5px;
    }
    .org-team .members{
        display: flex;
        margin: 0 -10px;
        padding-top:30px;
    }
    .org-team .member-item{
        flex:1;
        padding:0 10px;
        font-size: 14px;
        color: #333;
    }
    .org-team .member-item img{
        width: 100%;
        margin-bottom: 10px;
    }
    .org-team .member-item .info{
        font-size: 12px;
        color: #999;
    }
</style>
<div class="org-team" ng-controller="orgTeamController">
    <div class="container">
        <h1>PARACRAFT小组成员</h1>
        <div class="team">
            <div class="navigation">
                <a>1</a>
                <a>2</a>
                <a>3</a>
                <a>>></a>
            </div>
            <div class="members">
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <a ng-click="goUserIndexPage">LixiZhi <span class="pull-right info">创建者</span></a>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <a ng-click="goUserIndexPage">LixiZhi <span class="pull-right info">管理员</span></a>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">管理员</span></p>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">管理员</span></p>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">成员</span></p>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">成员</span></p>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">成员</span></p>
                </div>
                <div class="member-item">
                    <img ng-src="{{imgsPath+'personsal_header_profile.jpg'}}" alt="">
                    <p>LixiZhi <span class="pull-right info">成员</span></p>
                </div>
            </div>
        </div>
    </div>
</div>