<style>
    .resume-detail {
        position: relative;
    }
    .resume-detail h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 30px;
    }
    .resume-detail h3 p {
        color: #3977AD;
        font-size: 14px;
    }
    .resume-detail h3 span {
        font-size: 10px;
        text-align: center;
        border: 1px solid;
        padding: 3px;
        border-radius: 3px;
    }
    .resume-detail p {
        margin-bottom: 0;
    }
    .resume-detail .item {
        padding-right: 30px;
    }
    .resume-detail .kind {
        margin: 70px 0;
    }
    .resume-detail .timeline {
        position: relative;
        padding-left: 20px;
    }
    .resume-detail .timeline:before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        left: 5px;
        background-color: #DCDCDC;
    }
    .resume-detail .timeline .node {
        position: relative;
    }
    .resume-detail .timeline .node:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #CCC;
        position: absolute;
        left: -20px;
        top: 6px;
    }
    .resume-detail .timeline .node.active:before {
        background-color: #3977AD;
    }
    .resume-detail .timeline .intro {
        margin-top: 20px;
        color: #666;
    }
</style>
<div ng-controller="resumeDetailController" class="clearfix">
    <div class="resume-detail">
        <div class="kind">
            <h3>工作经历</h3>
            <div class="timeline" ng-repeat="x in modParams.workList">
                <h4 class="node active">{{x.company}}<span class="info">{{x.time}}</span></h4>
                <p class="info node">{{x.job}}</p>
                <div class="intro node">
                    <p>{{x.desc}}</p>
                </div>
            </div>
        </div>
        <div class="kind">
            <h3>教育经历</h3>
            <div class="timeline" ng-repeat="x in modParams.educationList">
                <h4 class="node active">{{x.schoolName}}<span class="info">{{x.graduationDate}}</span></h4>
                <p class="info node">{{x.desc}}</p>
            </div>
        </div>
        <div class="kind">
            <h3>期望工作</h3>
            <div class="info clearfix" ng-repeat="x in modParams.expectWorkList">
                <div class="item pull-left">
                    <img ng-src="{{imgsPath+'icon/resume_job.png'}}" alt="">{{x.job}}
                </div>
                <div class="item pull-left">
                    <span class="glyphicon glyphicon-edit"></span> {{x.workType || "全职"}}
                </div>
                <div class="item pull-left">
                    <span class="glyphicon glyphicon-edit"></span> {{x.salary || "面议"}}
                </div>
                <div class="item pull-left">
                    <span class="glyphicon glyphicon-edit"></span> {{x.position || "深圳"}}
                </div>
            </div>
        </div>
    </div>
</div>
