<style>
    .site-btn-group {
        padding: 30px 0 3px;
        text-align: center;
        background-color: #FFFDFA;
    }
    .site-btn-group .large-btn{
        border: 2px solid #F57270;
        padding: 14.5px 61px;
        font-size: 24px;
        margin-right: 60px;
        border-radius: 5px;
        color: #F57270;
        background-color: transparent;
        display: inline-block;
    }
</style>

<div ng-controller="siteManageController">
    <div class="site-btn-group" ng-show='modParams.moduleKind == "siteManage" || !modParams.moduleKind'>
        <a ng-show="modParams.memberManage" class="btn btn-primary large-btn" ng-click="goMemberManagePage()">{{modParams.memberManageText || "成员管理"}}</a>
        <a ng-show="modParams.worksManage" class="btn btn-primary large-btn" ng-click="goWorksManagePage()">{{modParams.worksManageText || "作品管理"}}</a>
        <a ng-show="modParams.worksApply"  class="btn btn-primary large-btn" ng-click="goSubmitWorksPage()">{{modParams.worksApplyText || "提交作品"}}</a>
        <a ng-show="modParams.memberApply" class="btn btn-primary large-btn" ng-click="goMemberApplyPage()">{{modParams.memberApplyText || "申请加入"}}</a>
    </div>

    <div class="site-btn-group" ng-show='modParams.moduleKind == "siteManageDemo"'>
        <a ng-show="modParams.memberManage" class="btn btn-primary large-btn" ng-click="goMemberManagePage()">{{modParams.memberManageText || "成员管理"}}</a>
        <a ng-show="modParams.worksManage" class="btn btn-primary large-btn" ng-click="goWorksManagePage()">{{modParams.worksManageText || "作品管理"}}</a>
        <a ng-show="modParams.worksApply"  class="btn btn-primary large-btn" ng-click="goSubmitWorksPage()">{{modParams.worksApplyText || "提交作品"}}</a>
        <a ng-show="modParams.memberApply" class="btn btn-primary large-btn" ng-click="goMemberApplyPage()">{{modParams.memberApplyText || "申请加入"}}</a>
        <a ng-show="modParams.tutorialVideo" class="btn btn-primary large-btn" ng-click="goMemberApplyPage()">{{modParams.tutorialVideoText || "教学视屏"}}</a>
    </div>
</div>