<style>
    .org-manage .breadcrumb{
        max-width: 750px;
        width: 70%;
        margin: 60px auto 0;
        background-color: transparent;
        padding-left: 0;
        font-size: 16px;
    }
    .org-manage .breadcrumb img{
        vertical-align: text-bottom;
        margin-right: 5px;
    }
    .org-manage .panel{
        background-color: #FFF;
        box-shadow: 0 4px 30px 0 rgba(19,61,112,.35);
        margin: 0 auto 80px;
        max-width: 750px;
        width: 70%;
    }
    .org-manage .panel-heading{
        font-weight: bold;
        font-size: 16px;
        color: #666;
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        border-bottom: 1px solid #DCDCDC;
    }
    .org-manage .panel-body{
        padding: 0;
        margin-top: -1px;
    }
    .org-manage .panel-body .nav-tabs{
        font-size: 16px;
        margin-left: -2px;
    }
    .org-manage .panel-body .nav-tabs>li>a{
        border-radius: 0;
    }
    .org-manage .tab-pane{
        height: 360px;
        overflow-y: auto;
    }
    .org-manage .tab-content{
        padding-bottom:35px;
    }
    .org-manage .tab-content a{
        color: inherit;
    }
    .org-manage .tab-content a:hover{
        color: #3977AD;
    }
    .org-manage .notify-item{
        display: flex;
        align-items: center;
        color: #666;
        padding:20px 30px;
    }
    .org-manage .notify-item:nth-child(2n){
        background-color: #F9F9F9;
    }
    .org-manage .notify-msg{
        flex:1;
        font-weight: bold;
    }
    .org-manage .info{
        color: #5C5F64;
    }
    .org-manage .btn{
        padding: 9px 23px;
        font-size: 16px;
        margin: 0 10px;
    }
    .org-manage .btn-outline{
        color: #666;
        border: 1px solid;
    }
    .org-manage .btn-outline:hover{
        background-color: #666;
        color: #FFF;
    }
    .org-manage .profile{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin:0 15px;
    }
    .org-manage .member-item .user-msg{
        flex: 1;
    }
    .org-manage .user-msg{
        padding-right:30px;
    }
    .org-manage .user-msg h4{
        margin: 10px 0 15px;
    }
    .org-manage .user-msg p{
        margin: 0;
    }
    .org-manage .user-msg img{
        vertical-align: text-top;
    }
    .org-manage .pagination-box{
        text-align: center;
    }
    .org-manage .pagination > .active > a{
        color: #FFF;
    }
    .org-manage .pagination > .disabled > a{
        color: #777;
    }
    @media (max-width: 768px){
        .org-manage .breadcrumb{
            width: 100%;
            margin: 0;
        }
        .org-manage .panel{
            margin: 0;
            width: 100%;
            max-width: 100%;
            box-shadow: none;
            min-width: inherit;
        }
        .org-manage .notify-item{
            margin: 6px 0;
            padding: 6px 15px;
        }
        .org-manage .profile{
            margin-left: 0;
        }
        .org-manage .user-msg{
            padding-right: 15px;
            flex: 1;
        }
        .org-manage .user-msg h4{
            max-width: 82px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .org-manage .btn {
            font-size: 12px;
            padding: 6px 12px;
            margin: 0 5px;
        }
        .org-manage .notify-msg{
            font-size: 12px;
            padding-right: 6px;
        }
    }
</style>
<div class="org-manage clearfix" ng-controller="siteMemberManageController">
    <ol class="breadcrumb">
        <li><a ng-click="goHomePage()"><img ng-src="{{getImageUrl('icon/left_icon.png',imgsPath)}}" alt="">首页</a></li>
        <li>成员管理</li>
    </ol>
    <div class="panel">
        <div class="panel-heading">成员管理</div>
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#member" ng-click="clickMember()" aria-controls="member" role="tab" data-toggle="tab">成员列表</a></li>
                <li role="presentation"><a href="#notify" ng-click="clickApply()" aria-controls="notify" role="tab" data-toggle="tab">申请通知</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="member">
                    <div ng-repeat="member in memberList">
                        <div ng-hide="member.isDelete" class="notify-item member-item">
                            <img ng-src="{{member.userLogo || imgsPath+'personsal_header_profile.jpg'}}" alt="" class="profile">
                            <div class="user-msg">
                                <h4><a ng-click="goUserPage(member.username)">{{member.username}}</a></h4>
                                <p><img ng-src="{{imgsPath+'icon/blog_location.png'}}" alt=""> <span class="info">{{member.location}}</span></p>
                            </div>
                            <div class="btn btn-primary" ng-click="setManager(member)">{{ isManager(member) ? '取消管理员' : '设定管理员'}}</div>
                            <div class="btn btn-outline" ng-click="removeMember(member)">删除</div>
                        </div>
                    </div>
                    <div class="pagination-box">
                        <ul uib-pagination ng-change="clickMember()" items-per-page='pageSize' previous-text="previous-text="{{ '上一页' | translate }}""
                            next-text="{{ '下一页' | translate }}" total-items="memberTotal" ng-model="currentPage" class="pagination-sm" boundary-link-numbers="true"></ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="notify">
                    <div ng-repeat="apply in applyList">
                        <div ng-hide="apply.isDelete" class="notify-item">
                            <img ng-src="{{apply.userLogo || imgsPath+'personsal_header_profile.jpg'}}" alt="" class="profile">
                            <div class="user-msg">
                                <h4><a ng-click="goUserPage(apply.username)">{{apply.username}}</a></h4>
                                <p><img ng-src="{{imgsPath+'icon/blog_location.png'}}" alt=""> <span class="info">{{apply.location}}</span></p>
                            </div>
                            <p class="notify-msg">申请加入{{siteinfo.displayName}}</p>
                            <div class="btn btn-primary" ng-click="clickAgreeMemeber(apply)">同意</div>
                            <div class="btn btn-outline" ng-click="clickRefuseMember(apply)">拒绝</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>