<style>
    .personal-works-list{
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .personal-works-list .carousel-item {
        float: left;
        width: 29%;
        border: 1px solid #DCDCDC;
        margin: 0 2%;
    }
    .personal-works-list .carousel-item>img{
        width: 100%;
        object-fit: cover;
    }
    .personal-works-list .control{
        position: absolute;
        top: 60%;
        color: #DCDCDC;
    }
    .personal-works-list .msg{
        padding: 20px 30px;
    }
    .personal-works-list h4{
        margin: 0;
        font-weight: bold;
        text-align: left;
    }
    .personal-works-list .work-msg{
        line-height: 40px;
        color: #666;
    }
    .personal-works-list .work-msg img{
        vertical-align: text-bottom;
    }
    @media(min-width: 768px){
        .personal-works-list{
            width: 700px;
        }
        .personal-works-list .control{
            font-size: 30px;
        }
        .personal-works-list .control.left{
            left: -25px;
        }
        .personal-works-list .control.right{
            right: -25px;
        }
        .personal-works-list .header-img{
            margin: 30px 0;
        }
        .personal-works-list .carousel-item>img{
            height: 110px;
        }
        .personal-works-list .msg{
            padding: 12px 10px 0;
        }
    }
    @media(min-width: 992px){
        .personal-works-list{
            width: 800px;
        }
        .personal-works-list .control{
            font-size: 40px;
        }
        .personal-works-list .control.left{
            left: -55px;
        }
        .personal-works-list .control.right{
            right: -55px;
        }
        .personal-works-list .header-img{
            margin: 60px 0;
        }
        .personal-works-list .carousel-item>img{
            height: 170px;
        }
        .personal-works-list .msg{
            padding: 20px 30px;
        }
    }
    @media(min-width: 1170px){
        .personal-works-list{
            width: 1035px;
        }
        .personal-works-list .control{
            font-size: 60px;
        }
        .personal-works-list .control.left{
            left: -60px;
        }
        .personal-works-list .control.right{
            right: -60px;
        }
    }
    @media (max-width: 768px) {
        .personal-works-list{
            width: 100%;
        }
        .personal-works-list .header-img{
            margin: 10px 0 0;
            width: 180px;
        }
        .personal-works-list .carousel-item{
            width: 100%;
            margin: 10px 0;
        }
    }
</style>


<div class="container-fluid" ng-controller="workslistController">
    <div class="personal-works-list">
        <h3>我的作品</h3>
        <!--<img class="header-img" ng-src="{{imgsPath+'personal_workslist_header.png'}}" alt="我的作品">-->
        <div class="carousel-content clearfix">
            <div class="carousel-item" ng-repeat="x in siteList">
                <img ng-src="{{x.logoUrl || imgsPath+'personal_workslist_banner.jpg'}}" alt="作品名">
                <div class="msg">
                    <h4>{{x.name}}</h4>
                    <div class="clearfix work-msg">
                        <div class="pull-left">作者：{{x.username}}</div>
                        <div class="pull-right">
                            <img ng-src="{{imgsPath+'personal_workslist_star_empty.png'}}" alt="">
                            <span>收藏 {{x.favoriteCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control left">
            <span class="glyphicon glyphicon-chevron-left" style="cursor: pointer" ng-click="getSiteList(requestParams.page-1)"></span>
        </div>
        <div class="control right">
            <span class="glyphicon glyphicon-chevron-right" style="cursor: pointer" ng-click="getSiteList(requestParams.page+1)"></span>
        </div>
    </div>
</div>


