
<div ng-controller="modEditSimpleController">
	<div ng-if="params.design.text == 'style1'">
		<div ng-click="viewEditorClick(params, $event)">
			<h3>style1</h3>
			<div ng-click="viewEditorClick(params.title, $event)" ng-hide="params.title.is_mod_hide">
				<div style="background-color:red">
					{{params.title.text}}
				</div>
			</div>
		</div>
	</div>
	<div ng-if="params.design.text == 'style2'">
		<div ng-click="viewEditorClick(params, $event)">
			<h3>style2</h3>
			<div ng-click="viewEditorClick(params.title, $event)" ng-hide="params.title.is_mod_hide">
				<div style="background-color:blue">
					{{params.title.text}}
				</div>
			</div>
		</div>
	</div>
</div>
