<style>
    .tags-container{
        background-color: #FFF;
    }
    .tags-header {
        color: #3977AD;
        padding: 10px 15px;
    }

    .tags-header li {
        float: left;
    }

    .tags-header .tag-item {
        background-color: #F1F1F1;
        margin-right: 10px;
        padding: 4px 11px;
        font-size: 14px;
    }

    .tags-header .iconfont {
        font-size: 20px;
        display: inline-block;
        line-height: 1;
        font-weight: bold;
        vertical-align: super;
        cursor: pointer;
    }

    .tags-header .ui-select-multiple.ui-select-bootstrap {
        box-shadow: none;
        margin-right: 11px;
        padding: 3px 7px 0;
    }

    .tags-header .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
        font-size: 14px;
        color: #3977AD;
        background-color: #F1F1F1;
        border: none;
        margin-right: 5px;
        padding: 3px 7px;
    }

    .tags-header .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 18px;
        line-height: 18px;
        border-left: 1px solid #DADADA;
        margin-left: 13px;
        opacity: 1;
        color: #DADADA;
    }

    .tags-header .editing-tag {
        display: flex;
        margin-top: -1px;
    }

    .tags-header .btn-primary {
        font-size: 16px;
        padding: 5px 21px;
    }

    .tags-header .showing-tag .nav {
        display: inline-block;
    }
</style>
<div class="tags-container" ng-controller="pageTagsCtrl" ng-hide="params.is_mod_hide || (pageTags.tags.length <= 0 && !isSelf)">
    <div class="tags-header container">
        <div class="showing-tag" ng-hide="tagEditing">
            <ul class="nav" ng-hide="pageTags.tags.length <= 0">
                <li class="tag-item" ng-repeat="tag in pageTags.tags">{{tag}}</li>
            </ul>
            <span ng-click="editTags(true)" ng-show="isSelf" class="iconfont icon-bianji"></span>
        </div>

        <div class="editing-tag" ng-show="tagEditing">
            <ui-select multiple limit="{{maxTagsCount}}" tagging tagging-label="false" ng-model="pageTags.tags" theme="bootstrap" title="请输入标签...">
                <ui-select-match placeholder="请输入标签(最多支持5个)...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in pageTags.tags | filter:$select.search">
                    {{tag}}
                </ui-select-choices>
            </ui-select>
            <div class="btn btn-primary" ng-click="editTags(false)">完 成</div>
        </div>
    </div>
</div>