<div style="height: 100%; display: flex; flex-direction:column; min-height: 600px; padding:0;">

    <style scoped>
        .course-tips {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 14px;
            height: 20px;
        }

        .course-tips,
        .sort-tip, .footer-txt {
            word-break: keep-all;
            /* 不换行 */
            white-space: nowrap;
            /* 不换行 */
            overflow: hidden;
            /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow: ellipsis;
            /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        }

        .course-title,
        .course-title input {
            height: 73px;
            line-height: 73px;
            width: 100%;
        }

        .course-title {
            margin-bottom: 10px;
        }

        .course-title input {
            text-align: center;
            border: 1px solid #d0d0d0;
            font-size: 28px;
            border-radius: 4px;
        }

        .course-content {
            position: absolute;
            top: 123px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 1px solid #d0d0d0;
            border-radius: 4px;
        }

        .course-content:hover {
            box-shadow: 4px 4px 4px #d0d0d0;
        }

        .chapter-stag {
            overflow: hidden;
        }

        .course-content .chapter-stag {
            background-color: rgba(242, 242, 242, 1);
            border-bottom: 1px solid #d0d0d0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .course-content .chapter-stag>div {
            padding: 0 10px;
            line-height: 35px;
        }

        .course-content .chapter-list {
            position: absolute;
            top: 35px;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px;

            overflow-y: auto;
        }

        .switch-txt {
            padding-right: 10px;
        }
        /* switch btn start*/

        .switch-btn {
            min-width: 80px;
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            overflow: hidden;
            height: 22px;
            line-height: 22px;
            cursor: pointer;
            margin-top: 6px;
            font-size: 13px;
        }

        .switch-btn .switch-animate {
            width: 150%;
            height: 20px;
            line-height: 20px;
            position: relative;
        }

        .switch-left,
        .switch-middle,
        .switch-right {
            width: 33%;
            display: inline-block;
            text-align: center;
        }

        .switch-left {
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #41a7c5;
            background-image: -moz-linear-gradient(top, #2f96b4, #5bc0de);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f96b4), to(#5bc0de));
            background-image: -webkit-linear-gradient(top, #2f96b4, #5bc0de);
            background-image: -o-linear-gradient(top, #2f96b4, #5bc0de);
            background-image: linear-gradient(to bottom, #2f96b4, #5bc0de);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f96b4', endColorstr='#ff5bc0de', GradientType=0);
            border-color: #5bc0de #5bc0de #28a1c5;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            *background-color: #5bc0de;
            /* Darken IE7 buttons by default so they stand out more given they won't have borders */
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .switch-right {
            color: #333333;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            background-color: #f0f0f0;
            background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
            background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
            background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
            background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
            border-color: #ffffff #ffffff #d9d9d9;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            *background-color: #ffffff;
            /* Darken IE7 buttons by default so they stand out more given they won't have borders */
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .switch-middle {
            z-index: 100;
            width: 34%;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #f5f5f5;
            background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
            background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
            background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
            background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
            border-color: #e6e6e6 #e6e6e6 #bfbfbf;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            *background-color: #e6e6e6;
            /* Darken IE7 buttons by default so they stand out more given they won't have borders */
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .switch-on {
            left: 0%;
        }

        .switch-off {
            left: -50%;
        }

        .switch-animate {
            -webkit-transition: left 0.2s ease-out;
            -moz-transition: left 0.2s ease-out;
            -o-transition: left 0.2s ease-out;
            transition: left 0.2s ease-out;
        }
        /* switch btn end*/
        /*课程列表没添加的时候的遮罩 start*/
        /*文字垂直居中*/

        .add-new {
            height: 100%;
            text-align: center;
            font-size: 18px;
            color: #8e8e8e;
            border-radius: 4px;
            cursor: pointer;
        }

        .add-new::after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
        /*end*/
        /*课程 start*/

        .chapter-no-stage {
            border-top: 1px solid #d0d0d0;
            height: 100%;
        }

        .chapter {
            border-top: 0;
            border-left: 1px solid #d0d0d0;
            border-right: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
        }

        .chapter-no-stage>div,
        .stage-box>div,
        .stage-list>div {
            line-height: 36px;
            padding: 5px 0;
        }

        .stage-list>div {
            padding-bottom: 0;
        }

        .stage-box {
            padding: 0;
        }

        .chapter-stage-title {
            border-top: 1px solid #d0d0d0;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #41a7c5;
            background-image: -moz-linear-gradient(left, #2f96b4, #5bc0de);
            background-image: -webkit-gradient(linear, 0 50%, 100% 50%, from(#2f96b4), to(#5bc0de));
            background-image: -webkit-linear-gradient(left, #2f96b4, #5bc0de);
            background-image: -o-linear-gradient(left, #2f96b4, #5bc0de);
            background-image: linear-gradient(to left, #2f96b4, #5bc0de);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f96b4', endColorstr='#ff5bc0de', GradientType=0);
            *background-color: #5bc0de;
            color: white;
        }

        .chapter-btn-group {
            font-size: 20px;
            line-height: 26px;
            float: right;
            margin-right: 5px;
        }

        .chapter-btn-group i:hover {
            color: #5bc0de;
        }

        .chapter-btn-group>div {
            width: 45%;
            display: inline-block;
        }

        .chapter-btn-group>i {
            cursor: pointer;
            margin: 0 5px;
            line-height: 36px;
        }

        .add-new-btn {
            border-left: 1px dashed #d0d0d0;
            border-right: 1px dashed #d0d0d0;
            border-bottom: 1px dashed #d0d0d0;
            text-align: center;
            line-height: 46px;
            font-size: 18px;
        }

        .add-new-btn:hover {
            cursor: pointer;
        }

        .edit-box {
            padding-bottom: 5px;
        }

        .edit-txt,
        .ui-select-container input,
        .ui-select-container span.btn.btn-default.form-control.ui-select-toggle,
        .ui-select-container div.btn-default-focus {
            text-align: left;
            border: 0;
            border-bottom: 1px solid #66afe9;
            outline: none;
            box-shadow: none;
            display: block;
            width: 100% !important;
            height: 34px;
            font-size: 14px;
            line-height: 1.42857143;
            padding-left: 1px;
            color: #555;
            border-radius: 0;
            background-color: #fff;
            background-image: none;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .edit-txt::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #8e8e8e;
        }

        .edit-txt::-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #8e8e8e;
        }

        .edit-txt::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #8e8e8e;
        }

        .edit-txt::-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #8e8e8e;
        }

        .edit-txt:focus,
        .ui-select-container input:focus {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-color: #003d79;
            outline: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 1px 0 rgba(102, 175, 233, .6);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 1px 0 rgba(102, 175, 233, .6)
        }

        .edit-btn {
            width: 100%;
        }

        .stage-chp-add {
            margin-bottom: 20px;
        }

        .add-new-stage {
            margin-top: 30px;
            min-height: 200px;
            border: 1px dashed #d0d0d0;
            font-size: 20px;
            cursor: pointer;
            color: #8e8e8e;
        }

        .add-new-stage::after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
        /*end*/
        /*拖动使用 start*/

        .unselect-element {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .chapter-sort-mask {
            background-color: #f3f3f3;
        }
        /*拖动使用 end*/

        @media screen and (min-width:100px) and (max-width:460px) {
            .swith-group {
                float: left !important;
            }

            .course-content .chapter-list {
                top: 70px;
            }

            .footer-txt{
                width: 200px;
            }
        }

        @media screen and (min-width:100px) and (max-width:991px) {
            .chapter-btn-group {
                float: left;
                padding-left: 15px;
            }

            .stage-edit-btn-group,
            .edit-btn-group {
                float: left;
                width: 100%;
                text-align: center;
                padding-top: 5px;
            }

            .stage-edit-btn-group {
                padding-left: 0px;
            }
        }

        .stage-name {
            background-color: inherit !important;
            border-bottom-color: white;
            color: white;
        }

        .ui-select-choices-group {
            cursor: not-allowed;
        }

        .footer-txt{
            float: left;
            line-height: 34px;
        }


    </style>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">课程目录</h4>
    </div>
    <div class="modal-body" style="flex: 1;">
        <div class="course-tips" data-drag="true">
            <!-- <span>为了优化您的教学体验，请在添加课程目录模块的同时，添加词条模块。</span> -->
            <span>请先添加词条模块后使用该模块.</span>
        </div>

        <div class="course-title">
            <input type="text" name="" value="" placeholder="+标题" ng-model="course.title.title" maxlength="100">
        </div>

        <div class="course-content unselect-element">
            <div class="chapter-stag">
                <div class="pull-left sort-tip">
                    <span>拖动小节进行排序调整</span>
                </div>
                <div class="pull-right swith-group">
                    <span class="switch-txt">分阶段教学</span>
                    <div class="switch-btn pull-right" ng-click="action.switchType()">
                        <div class="switch-animate" ng-class="{ true: 'switch-on', false: 'switch-off'}[switch]">
                            <div class="switch-left pull-left">ON</div>
                            <div class="switch-middle pull-left">&nbsp;</div>
                            <div class="switch-right pull-left">OFF</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chapter-list" ng-mousedown="drag.start($event)" ng-mousemove="drag.move($event)" ng-mouseup="drag.end($event)"
                ng-mouseleave="drag.end($event)">

                <div class="add-new" ng-show="course.chapter.length === 0" ng-click="action.initAdd()">
                    +添加小节
                </div>

                <!--阶段的章节 start-->
                <div class="chapter-stage" ng-show="course.chapter.length !== 0 && switch" data-drop="true">
                    <div ng-repeat="(key, chps) in course.chapterWithStage" class="stage-box col-xs-12" data-drag="true" data-siblings="stage">

                        <div class="chapter chapter-stage-title col-xs-12">
                            <div class="col-md-5 col-xs-12" data-drag="false">
                                <input type="text" class="edit-txt stage-name" ng-model="course.stage[key]" id="{{'stage' + key}}" ng-change="action.setStageName(key)"
                                    maxlength="100" ng-keyup="action.enter($event, 'stage', key)">
                            </div>
                            <div class="chapter-btn-group">
                                <i class="fa fa-angle-double-down" aria-hidden="true" ng-click="action.moveStage(key, 1)"></i>
                                <i class="fa fa-angle-double-up" aria-hidden="true" ng-click="action.moveStage(key, -1)"></i>
                                <i class="fa fa-trash-o" aria-hidden="true" ng-click="action.delStage(key)"></i>
                            </div>
                        </div>

                        <!--升序显示-->
                        <div ng-repeat="chp in chps | orderBy : 'chapter_order'" class="stage-list chapter col-xs-12" data-drag="true" data-siblings="stageChapter">

                            <div class="col-xs-12 edit-box">
                                <div class="chapter-title col-md-4 col-xs-12" data-drag="false">
                                    <!-- <input type="text" class="edit-txt" placeholder="小节标题" ng-model="chp.title" id="{{ key + 'ch' + $index }}" maxlength="100"
                                        ng-keyup="action.enter($event, 'chapter', chp)"> -->
                                    <input type="text" class="edit-txt" placeholder="小节标题" ng-model="chp.title" id="{{ key + 'ch' + $index }}" maxlength="100">
                                </div>
                                <div class="col-md-5 col-xs-12" data-drag="false">
                                    <ui-select ng-model="chp.chapter_url " uis-open-close="action.selectCloseOrOpen(isOpen, chp)" on-select="action.selectItem($item, chp)">
                                        <ui-select-match placeholder="链接地址" allow-clear="true">
                                            <span ng-bind="chp.chapter_url"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (select.selectArray | filter: {'choice': false} | filter: $select.search) track by $index" style="min-width: 300px"
                                            ui-disable-choice="item.choice">
                                            <span ng-bind="item.url" title="{{item.url}}"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="chapter-btn-group">
                                    <i class="fa fa-angle-double-down" aria-hidden="true" ng-click="action.moveItem(true, chp, 1)"></i>
                                    <i class="fa fa-angle-double-up" aria-hidden="true" ng-click="action.moveItem(true, chp, -1)"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="action.delItem(chp)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="add-new-btn stage-chp-add col-xs-12" ng-click="action.addItem(true, key)">
                            +小节
                        </div>
                    </div>

                    <div class="add-new-stage add-new-btn col-xs-12" ng-click="action.addStage()">
                        +阶段
                    </div>
                </div>
                <!--阶段的章节 end-->

                <!--非阶段的章节 start-->
                <div class="chapter-no-stage" ng-show="course.chapter.length !== 0 && !switch" data-drop="true">
                    <!--升序显示-->
                    <div class="chapter col-xs-12" ng-repeat="chp in course.chapter | orderBy: 'chapter_order' track by $index" data-drag="true"
                        data-siblings="chapter">
                        <div class="chapter-title col-md-4 col-xs-12" data-drag="false">
                            <!-- <input type="text" class="edit-txt" placeholder="小节标题" ng-model="chp.title" id="chp{{$index}}" maxlength="100" ng-keyup="action.enter($event, 'chapter', chp)"> -->
                            <input type="text" class="edit-txt" placeholder="小节标题" ng-model="chp.title" id="{{ key + 'ch' + $index }}" maxlength="100">
                        </div>
                        <div class="col-md-5 col-xs-12" data-drag="false">
                            <ui-select ng-model="chp.chapter_url " uis-open-close="action.selectCloseOrOpen(isOpen, chp)" on-select="action.selectItem($item, chp)">
                                <ui-select-match placeholder="链接地址" allow-clear="true">
                                    <span ng-bind="chp.chapter_url"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (select.selectArray | filter: {'choice': false} | filter: $select.search) track by $index" style="min-width: 300px"
                                    ui-disable-choice="item.choice">
                                    <span ng-bind="item.url" title="{{item.url}}"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="chapter-btn-group">
                            <i class="fa fa-angle-double-down" aria-hidden="true" ng-click="action.moveItem(false, chp, 1)"></i>
                            <i class="fa fa-angle-double-up" aria-hidden="true" ng-click="action.moveItem(false, chp, -1)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" ng-click="action.delItem(chp)"></i>
                        </div>
                    </div>

                    <div class="add-new-btn col-xs-12" ng-click="action.addItem(false)">
                        +小节
                    </div>
                </div>
                <!--非阶段的章节 end-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-txt">
            添加了词条模块的页面，才能被设置为链接地址.
        </div>

        <div>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
            <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal" ng-click="save()">确定</button>
        </div>
    </div>

</div>