<style>
    .modal-dialog.modal-full .wangEditor-container{
        display: flex;
        flex-direction: column;
    }
</style>

<div style="height: 100%; display: flex;flex-direction: column;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <h4 class="modal-title">富文本编辑器</h4>
    </div>
    <div class="modal-body" style="flex: 1;display: flex;">
        <div id="richEditor" style="border: 1px solid #CCC;width: 100%; flex: 1;"></div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn"  data-dismiss="modal">取消</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">取消</button>
        <!-- SUBMIT BUTTON -->
        <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal" ng-click="confirm()">确定</button>
    </div>
</div>