.notification-indicator .mail-status {
    position:relative;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 2;
    display: none;
    width: 14px;
    height: 14px;
    color: #fff;
    background-image: -webkit-linear-gradient(#7aa1d3, #4078c0);
    background-image: linear-gradient(#7aa1d3, #4078c0);
    background-clip: padding-box;
    border: 2px solid #000000;
    border-radius: 50%;
}
.notification-indicator .mail-status.unread {
    display: inline-block;
}
.mailicon {
    float:left;
    width: 16px;
    margin-top: 8px;
    text-align: left;
    color:#808080;
}
.navbar .btn {
    margin-top:8px;
    padding:5px 10px;
}
.navbar .btn-subscribe {
    padding:5px 5px;
}
.wiki .navbar-inverse .navbar-brand{
    /*color: #17aa1c;*/
    font-weight: bold;
}
.wiki .navbar-inverse a:hover {
    text-decoration:none;
    cursor:pointer;
}
.navbar{
    border-radius: 0;
}
.navbar .indexbartrue {
    background-color: #4078c0;
}
.navbar .indexbartrue:hover {
    background-color: #3068b0;
}
.wiki .navbar {
    /*background-color:#006600;
    border-color:#005500;*/
    margin-bottom: 0px;
}
.wiki-content{
    margin-top:5px;
}
.wiki-page{
}
.wiki-sidebar{
    border: 1px solid #cccccc;
    padding-left:5px;
    padding-right:5px;
}
.wiki-indexbar{
    background-color: #daeefa;
    padding-left:0px;
    padding-right:0px;
}
.wiki-indexbar ul{
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.wiki-indexbar ul li a {
    display: block;
    padding: 3px 5px;
    clear: both;
    white-space: nowrap;
    border-bottom: 0;
}
.wiki-indexbar ul li a:hover {
    background-color: #7aa1d3;
}
.wiki-form .has-error {
    border-color: red;
}
.wiki img{
    max-width: 100%;
    height: auto;
}
.loginbox {
    color: #355368;
}
.menubox {
    padding:10px;
}
.loginbox .box {
    float:left; 
    width:250px;
    padding-left:10px;
    padding-right:10px;
}
.box-separator{
    float:left;
    background-color: #d3d3d3;
    width: 1px;
    height:150px;
}
#wikitop.container-fluid {
    padding-left:0px;
    padding-right:0px;
}
.boxed-group {
    display: block;
    position: relative;
    margin-bottom: 30px;
    border-radius: 3px;
}
.boxed-group-inner {
    padding: 10px;
    font-size: 13px;
    color: #666;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.boxed-group>h3, .boxed-group .heading {
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.boxed-group.dangerzone>h3 {
    color: #fff;
    text-shadow: 0 -1px 0 #900;
    background-color: #df3e3e;
    border: 1px solid #a00;
}
.boxed-group.dangerzone .boxed-group-inner {
    border-top: 0;
}
.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #767676;
}
.form-group .form-control {
    width: 440px;
    max-width: 100%;
}
.btn-start {
    font-size: 19px;
    transition-delay: .3s;
    line-height: 54px;
    padding: 0 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    border-radius: 50px;
    background-color: #fff;
    color: #363636;
    text-shadow: none;
}
.carousel-frontpage {
    text-align:center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-frontpage a {
    color: #9cddfe;
}
.carousel-frontpage a.btn-start {
    color: #333;
}
.carousel-fp-bg {
    min-height:360px;
    padding-top:50px;
    padding-bottom:40px;
}
.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.featurette-sm {
    padding: 0 25%;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-1 {
    margin-top: 6px !important;
}
.mb-1 {
    margin-bottom: 6px !important;
}
.mt-2 {
    margin-top: 12px !important;
}
.mb-2 {
    margin-bottom: 12px !important;
}
.mb-4 {
    margin-bottom: 24px !important;
}
.mt-4 {
    margin-top: 24px !important;
}
.mt-5 {
    margin-top: 36px !important;
}
.shade-gray {
    background-color: #f5f5f5;
}
.tile-block {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.tile-bordered:not(:last-child) {
    border-right: 1px solid #e5e5e5;
    border-bottom: 0;
}
.triband-hr {
    height: 1px;
    clear: both;
    background-image: -webkit-linear-gradient(left, #b8e1ff 33.3333%, #fcd2c5 33.3333%, #fcd2c5 66.6666%, #e0c5eb 66.6666%);
    background-image: linear-gradient(to right, #b8e1ff 33.3333%, #fcd2c5 33.3333%, #fcd2c5 66.6666%, #e0c5eb 66.6666%);
    border: 0;
}
.btn-partner {
    margin:5px;
}
.octicon-right {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    vertical-align: middle;
}