<div style="border: 1px solid; padding-top: 20px">
    <div class="row">
        <div class="col-md-offset-1 col-md-2" style="display: flex; flex-direction: column">
            <p>关于:</p>
            <a>关于我们</a>
        </div>
        <div class="col-md-2">
            <p>支持:</p>
            <a>联系方式</a>
        </div>
        <div class="col-md-2">
            <p>合作伙伴:</p>
            <a>Paracraft</a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <p class="col-md-offset-3">备案号：</p>
    </div>
</div>