<div class="project_create">
    <h1>Create your new project</h1>
    <div class="form">
        <div class="item">
            <label>Project name</label>
            <div><input value=""/></div>
        </div>
        <div class="item">
            <label>Description</label>
            <div><input value="" /></div>
        </div>
        <div class="item">
            <label>Git URL</label>
            <div><input value="" /></div>
        </div>
    </div>
    <button>Confirm</button>
</div>