<div style="margin: 20px 120px; border: 1px solid;display: flex">
    <!--- 左侧栏 -->
    <div style="width:400px; padding: 20px; border: 1px solid">
        <!--个人信息展示 -->
        <div style="border: 1px solid">
            <div class="row">
                <img src="imgs/09-014623_68.jpg"
                     class="center-block img-rounded img-thumbnail"
                     style="width: 140px; height: 140px; padding: 20px auto">
                <div style="text-align: center">用户昵称</div>
                <!-- 浏览他人网站时才出现-->
                <button type="button" class="center-block btn">添加关注</button>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    <div>关注:8</div>
                    <div>注册:2016.06.12</div>
                </div>
                <div class="col-md-5">
                    <div>粉丝:4</div>
                    <div>位置:深圳</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10" style="padding: 20px 0px">
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人简介个人简介个人简介个人简介个人简介个人简介个人简介
                        个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介</h4>
                </div>
            </div>
        </div>

        <!-- 关注 -->
        <div style="border: 1px solid; margin-top: 30px">
            <h4>关注：8</h4>
            <div>
                <div class="row" style="margin: 10px 20px">
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                </div>
                <div class="row" style="margin: 10px 20px">
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                </div>
            </div>
        </div>

        <!-- 粉丝 -->
        <div style="border: 1px solid; margin-top: 30px">
            <h4>粉丝：8</h4>
            <div>
                <div class="row" style="margin: 10px 20px">
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                </div>
                <div class="row" style="margin: 10px 20px">
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                    <div class="col-md-6">
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="60px" height="60px">user1
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="border: 1px solid; margin:0px 40px; flex-grow: 1">
        <div style="display: flex; justify-content: flex-end">
            <button>添加页面</button>
            <button>网站管理</button>
            <button>全部作品</button>
        </div>
        <h4>最近更新</h4>
        <div>
            <div style="display: flex; justify-content: space-around">
                <div>
                    <div>
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="140px" height="180px">
                    </div>
                    <div>
                        三国志
                    </div>
                </div>
                <div>
                    <div>
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="140px" height="180px">
                    </div>
                    <div>
                        三国志
                    </div>
                </div>
            </div>
        </div>

        <h4>全部作品</h4>
        <div>
            <div style="display: flex; justify-content: space-around">
                <div>
                    <div>
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="140px" height="180px">
                    </div>
                    <div>
                        三国志
                    </div>
                </div>
                <div>
                    <div>
                        <img src="imgs/09-014623_68.jpg" alt="头像" width="140px" height="180px">
                    </div>
                    <div>
                        三国志
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>