<style>
    .confirm-dialog .modal-body{
        max-height: 530px;
        overflow-y: auto;
    }
    .confirm-dialog h3{
        text-align: center;
        font-weight: normal;
    }
    .confirm-dialog span.icon{
        width: 32px;
        height: 32px;
        border: 2px solid;
        display: inline-block;
        border-radius: 50%;
        line-height: 30px;
        margin-right: 10px;
        font-weight: bold;
    }
    .confirm-dialog .icon.text-danger{
        color: #ED381C;
    }
    .confirm-dialog .icon.text-success{
        color: #3C763D;
        font-weight: normal;
    }
    .confirm-dialog .titleinfo{
        font-weight: normal;
        color: #666;
    }
</style>
<div>
    <form class="confirm-dialog" name="linkForm" role="form" ng-submit="$close()" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
            <h4 class="modal-title">{{confirmObj.title}}<span class="titleinfo"> {{confirmObj.titleInfo}}</span></h4>
        </div>
        <div class="modal-body">
            <h3>
                <span class="icon text-danger" ng-show="confirmObj.theme == 'danger'">!</span>
                <span class="icon text-success glyphicon glyphicon-ok" ng-show="confirmObj.theme == 'success'"></span>
                {{confirmObj.content}}
            </h3>
            <p ng-bind-html="confirmObj.contentHtml"></p>
        </div>
        <div class="modal-footer">
            <button ng-show="confirmObj.confirmBtn" type="submit" class="btn btn-fill {{confirmObj.confirmBtnClass || 'btn-primary'}}" translate="确定"></button>
            <button ng-show="confirmObj.cancelBtn" type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()" translate="取消"></button>
            <button ng-repeat="btnObj in confirmObj.operationBtns" class="btn {{btnObj.class || 'btn-fill btn-primary'}}" 
                    ng-click="btnClickHandler(btnObj)"
                    id="{{btnObj.id}}"
                    translate="{{btnObj.text}}">
                {{btnObj.text}}
            </button>
        </div>
    </form>
</div>
