<div ng-controller="_wikiBlockInputController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="no()">&times;</button>
        <h4 class="modal-title">内嵌页编辑</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="10" ng-model="content"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="no()">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="yes()">完成</button>
    </div>
</div>